<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light">
                    <div class="card-body clearfix">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p class="h5 m-t-0">本月目标（元）</p>
                                <p class="h3 m-b-0">0.00元</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p class="h6">同比<span style="color:green;"><i class="mdi mdi-menu-up mdi-18px"></i>0.00%</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p class="h6">去年同期:<span style="line-height: 30px;">0.00元</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                    <div class="card-body clearfix">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p class="h5 m-t-0">本月实际完成（元）</p>
                                <p class="h3 m-b-0">0.00元</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p class="h6">同比<span style="color:green;"><i class="mdi mdi-menu-up mdi-18px"></i>0.00%</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p class="h6">去年同期:<span style="line-height: 30px;">0.00元</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                    <div class="card-body clearfix">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p class="h5 m-t-0">本月达标率（%）</p>
                                <p class="h3 m-b-0">0.00</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p class="h6">同比<span style="color:green;"><i class="mdi mdi-menu-up mdi-18px"></i>0.00%</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p class="h6">去年同期:<span style="line-height: 30px;">0.00%</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 text-right">
                <label class="control-label" style="line-height: 20px;">时间进度：</label>
            </div>
            <div class="col-md-10" style="margin-top: 4px;">
                <div class="progress progress-lg">
                    <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                        <span class="h6" style="line-height: 17px; color: #fff;">经过7.5天</span>
                    </div>
                    <div class="progress-bar progress-bar-lighter" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                        <span class="h6" style="line-height: 17px;">尚余22.5天</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="control-label" style="line-height: 20px;">GMV完成进度：</label>
            </div>
            <div class="col-md-10" style="margin-top: 4px;">
                <div class="progress progress-lg">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 20.65%">
                        <span style="line-height: 18px;"></span>
                        <span class="h6" style="line-height: 17px; color: #fff;">完成3,600元</span>
                    </div>
                    <div class="progress-bar progress-bar-lighter" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                        <span class="h6" style="line-height: 17px;">尚余15,000元</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr class="active"><td>本月GMV环比（%）</td><td>去年同期GMV值（元）</td><td>本年完成率（%）</td><td>去年同期完成率差（%）</td></tr>
                    <tr><td>25%</td><td>24</td><td>45%</td><td>12%</td></tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="height:auto;">
            <div class="card-header bg-primary">
                <h5>本月预警及合理化建议</h5>
                <ul class="card-actions">
                    <li>
                        <button type="button"><i class="mdi mdi-more"></i></button>
                    </li>
                </ul>
            </div>
            <!--overflow-y:scroll;-->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <span class="iconfont" style="color:red;">&#xe6aa;</span><span>警告</span>
                        <div class="row">
                            <div class="col-md-12">
                                <!--<p>本月GMV完成的进度跑赢了时间的进度，完成目标概率较大。但是新客数量完成的不太理想。</p>-->
                                <p>
                                    1.目标的完成度为0.00%；尚有业绩0.00元需要完成；
                                </p>
                                <p>
                                    2.已经过的时间尚有0.00元业绩缺口；没有完成目标的单位周期有N个，分别是a、b；
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 本月和去年同期GMV值的对比-->
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <h5>本月GMV和去年同期对比图</h5>
        <hr style="margin-top: 0px;margin-bottom: 5px;"/>
        <div id="gmvChart" style="height: 300px;"></div>
    </div>
</div>
<!-- 跨月长趋势和环比增长率-->
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <h5>跨月环比增长率</h5>
        <hr style="margin-top: 0px;margin-bottom: 5px;"/>
        <div class="text-center">
            <form class="form-inline">
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="startDate" name="startDate" data-date-format="yyyy-mm-dd" value="2019-05-01"/>
                </div>
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="endDate" name="endDate" data-date-format="yyyy-mm-dd" value="2019-05-11"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary m-b-10" type="button" onclick="javascript:void(0)"><i class="mdi mdi-magnify"></i>查询</button>
                </div>
            </form>
        </div>
        <div id="chart_period" style="height: 300px;"></div>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <h5>日变异系数</h5>
        <hr style="margin-top: 0px;margin-bottom: 5px;"/>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table id="table1" class="table text-nowrap table-bordered">
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 利润率 -->
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <h5>利润率</h5>
        <hr style="margin-top: 0px;margin-bottom: 5px;"/>
        <div class="row">
            <div class="col-md-4 text-center">
                <div id="profitChart" style="height:180px;"></div>
                <h5>本月利润率</h5>
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
                <table class="table table-hover table-bordered">
                    <tr><td class="active">销售收入（元）</td><td>50000</td></tr>
                    <tr><td class="active">成本（元）</td><td>45000</td></tr>
                    <tr><td class="active">利润率（%）</td><td>4%</td></tr>
                    <tr><td class="active">预警线（%）</td><td>3%</td></tr>
                </table>
            </div>
            <div class="col-md-4 text-center">
                <span class="iconfont" style="font-size: 100px;color:#15c377;">&#xec80;</span>
                <h5>健康</h5>
            </div>
        </div>
    </div>
</div>
