<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h5 text-dark m-t-0">本年目标（元）</p>
                            <p class="h3 text-dark m-b-0">200,000</p>
                        </div>
                        <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><span class="iconfont panel-icon">&#xe604;</span></span> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h5 text-dark m-t-0">本年实际完成（元）</p>
                            <p class="h3 text-dark m-b-0">102,125.00</p>
                        </div>

                        <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><span class="iconfont panel-icon">&#xe62e;</span></span> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h5 text-dark m-t-0">本年达标率（%）</p>
                            <p class="h3 text-dark m-b-0">51.65%</p>
                        </div>
                        <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><span class="iconfont panel-icon">&#xeb63;</span></span> </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--<div class="row">-->
                    <!--<div class="col-md-3 text-right">-->
                        <!--<label class="control-label" style="line-height: 20px;">GMV完成进度：</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-9" style="margin-top: 4px;">-->
                        <!--<div class="progress progress-lg">-->
                            <!--<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 20.65%">-->
                                <!--<span style="line-height: 18px;"></span>-->
                                <!--<span class="h6" style="line-height: 17px; color: #fff;">完成3,600元</span>-->
                            <!--</div>-->
                            <!--<div class="progress-bar progress-bar-lighter" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 75%">-->
                                <!--<span class="h6" style="line-height: 17px;">尚余15,000元</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-3 text-right">-->
                        <!--<label class="control-label" style="line-height: 20px;">GMV累计完成进度：</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-9" style="margin-top: 4px;">-->
                        <!--<div class="progress progress-lg">-->
                            <!--<div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%">-->
                                <!--<span style="line-height: 18px;"></span>-->
                                <!--<span class="h6" style="line-height: 17px; color: #fff;">完成3335,600元</span>-->
                            <!--</div>-->
                            <!--<div class="progress-bar progress-bar-lighter" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 40%">-->
                                <!--<span class="h6" style="line-height: 17px;">尚余235,600元</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="row" style="margin-top:20px;">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tr class="active"><td>本年GMV环比（%）</td><td>去年同期GMV（元）</td><td>本年完成率（%）</td><td>去年同期完成率差（%）</td></tr>
                            <tr><td>61%</td><td>80%</td><td>14%</td><td>25%</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="height: 235px;">
            <div class="card-header bg-primary">
                <h5>本年预警及合理化建议</h5>
                <ul class="card-actions">
                    <li>
                        <button type="button"><i class="mdi mdi-more"></i></button>
                    </li>
                </ul>
            </div>
            <div class="card-body" style="overflow-y:scroll;height:180px;">
                <div class="row">
                    <div class="col-md-12">
                        <span class="iconfont" style="color:red;">&#xe6aa;</span><span>警告</span>
                        <div class="row">
                            <div class="col-md-12">
                                <p>1.全年还有50万业绩需要完成、已经过月份的完成度为58%；
                                    <br/>
                                    2.已经过的月份中尚有20万销售缺口；没有完成目标的月份有2个，分别是2月、4月；</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <span class="iconfont" style="color:#1E90FF;">&#xe60b;</span><span>建议</span>
                        <div class="row">
                            <div class="col-md-12">
                                <p>多使用一些流量品类进行拉新。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h5>本年各月目标GMV和实际GMV对比图</h5>
        <hr style="margin-top: 0px;margin-bottom: 5px;"/>
        <div id="chart2" style="width:100%;height: 400px;"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>本年、去年各月GMV折线图</h5>
        <hr style="margin-top: 0px;margin-bottom: 5px;"/>
        <div id="chart1" style="height: 370px;"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>跨年长趋势与环比增长率</h5>
        <hr style="margin-top: 0px;margin-bottom: 5px;"/>
        <div class="text-center">
            <form class="form-inline">
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="startDate1" name="startDate1" data-date-format="yyyy-mm" value="2019-01"/>
                </div>
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="endDate1" name="endDate1" data-date-format="yyyy-mm" value="2019-05"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary m-b-10" type="button" onclick="javascript:void(0)"><i class="mdi mdi-magnify"></i>查询</button>
                </div>
            </form>
        </div>
        <div id="chart0" style="width:100%;height: 300px;"></div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <h5>月变异系数</h5>
        <hr style="margin-top: 0px;margin-bottom: 5px;"/>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered" id="table2">
                    <tr class="active"><td>月份</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td></tr>
                    <tr><td>本年</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td></tr>
                    <tr><td>去年</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td><td>0.25</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 利润率 -->
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <h5>利润率</h5>
        <hr style="margin-top: 0px;margin-bottom: 5px;"/>
        <div class="row">
            <div class="col-md-4 text-center">
                <div id="chart3" style="height:180px;"></div>
                <h5>本年利润率</h5>
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
                <table class="table table-hover table-bordered">
                    <tr><td class="active">销售收入（元）</td><td>500,000</td></tr>
                    <tr><td class="active">成本（元）</td><td>450,000</td></tr>
                    <tr><td class="active">利润率（%）</td><td>22%</td></tr>
                    <tr><td class="active">预警线（%）</td><td>10%</td></tr>
                </table>
            </div>
            <div class="col-md-4 text-center">
                <span class="iconfont" style="font-size: 100px;color:#ff0000;">&#xe63a;</span>
                <h5>低于预警线</h5>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <h5>本年各月利润率变化曲线</h5>
        <hr style="margin-top: 0px;margin-bottom: 5px;"/>
        <div id="chart4" style="height:400px;">
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <h5>目标完成情况一览图</h5>
        <hr style="margin-top: 0px;margin-bottom: 5px;"/>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="select1">切换视图：</label>
                        <div class="col-md-3">
                            <select name="" id="select1" class="selectpicker form-control" onchange="selectOnchang(this)">
                                <option value="1">GMV</option>
                                <option value="2">利润率</option>
                            </select>
                        </div>

                        <label class="col-md-3 control-label" for="select2">选择年份：</label>
                        <div class="col-md-3">
                            <select name="" id="select2" class="selectpicker form-control">
                                <option value="1">2019</option>
                                <option value="2">2018</option>
                                <option value="2">2017</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-primary" style="vertical-align: middle;margin-top: 89px;">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h5 text-white m-t-0">2019业绩目标</p>
                            <p class="h3 text-white m-b-0">500万</p>
                        </div>
                        <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-airplane-takeoff fa-1-5x"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" id="gmv">
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>01月</h5></div>
                                    <div class="text-right" style="float:right;"><span class="mdi mdi-circle mdi-18px" style="color: #f96868"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>02月</h5></div>
                                    <div class="text-right" style="float:right;"><span class="mdi mdi-circle mdi-18px" style="color: #15c377"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>03月</h5></div>
                                    <div class="text-right" style="float:right;"><span class="mdi mdi-circle mdi-18px" style="color: #faa64b"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>04月</h5></div>
                                    <div class="text-right" style="float:right;"><span class="mdi mdi-airplane mdi-18px" style="color: #48b0f7"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>05月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>06月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>07月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>08月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>09月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>10月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>11月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>12月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="profit" style="display: none;">
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>01月</h5></div>
                                    <div class="text-right" style="float:right;"><span class="mdi mdi-circle mdi-18px" style="color: #f96868"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>02月</h5></div>
                                    <div class="text-right" style="float:right;"><span class="mdi mdi-circle mdi-18px" style="color: #15c377"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>03月</h5></div>
                                    <div class="text-right" style="float:right;"><span class="mdi mdi-circle mdi-18px" style="color: #faa64b"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>04月</h5></div>
                                    <div class="text-right" style="float:right;"><span class="mdi mdi-airplane mdi-18px" style="color: #48b0f7"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>05月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>06月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>07月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>08月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>09月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>10月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>11月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card bg-lighter">
                            <div class="card-body clearfix">
                                <div class="row">
                                    <div class="text-left" style="float:left;"><h5>12月</h5></div>
                                    <div class="text-right" style="float:right;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <h5>达标 <span class="mdi mdi-circle mdi-18px" style="color: #15c377"></span></h5>
                </div>
                <div class="col-md-2">
                    <h5>未达标 <span class="mdi mdi-circle mdi-18px" style="color: #f96868"></span></h5>
                </div>
                <div class="col-md-2">
                    <h5>警告 <span class="mdi mdi-circle mdi-18px" style="color: #faa64b"></span></h5>
                </div>
                <div class="col-md-2">
                    <h5>进行中 <span class="mdi mdi-airplane mdi-18px" style="color: #48b0f7"></span></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    init_date_begin("startDate1","endDate1", "yyyy-mm", 1,2,1);
    init_date_end("startDate1","endDate1", "yyyy-mm", 1,2,1);
</script>