<!--左侧导航-->
<aside class="lyear-layout-sidebar">
    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="#"><img data-th-src="@{/images/logo.jpg}" title="LightYear" alt="LightYear" /></a>
    </div>
    <div class="lyear-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item active"> <a href="index.html"><i class="mdi mdi-home"></i> 后台首页</a> </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-palette"></i>概览</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/stateJudge/index">用户概览</a> </li>
                        <li> <a href="/retention/index">留存分析</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-collage"></i>目标定制与分解</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/gmvplan/index">运营目标</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-webhook"></i>核心指标概况</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/page/coreindicators">月/年指标</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-collage"></i>原因探究</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/reason/gotoIndex">原因探究</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!--End 左侧导航-->