<!--左侧导航-->
<aside class="lyear-layout-sidebar">
    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="#"><img data-th-src="@{/images/logo.jpg}" title="linksteady" alt="linksteady" /></a>
    </div>
    <div class="lyear-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item"> <a href="/page/index"><i class="mdi mdi-home"></i> 首页</a> </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-palette"></i>概览</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/page/stateJudge">用户概览</a> </li>
                        <li> <a href="/page/retention">留存分析</a> </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/page/gmvplan"><i class="mdi mdi-collage"></i>目标定制与分解</a>
                </li>
                <li class="nav-item">
                    <a href="/page/coreindicators"><i class="mdi mdi-webhook"></i>核心指标概况</a>
                </li>
                <li class="nav-item">
                    <a href="/page/diagnosis/list"><i class="mdi mdi-beaker"></i>用户运营诊断</a>
                </li>
                <li class="nav-item">
                    <a href="/reason/gotoIndex"><i class="mdi mdi-fingerprint"></i>原因探究</a>
                </li>
                <li class="nav-item">
                    <a href="/page/kpimonitor"><i class="mdi mdi-chart-areaspline"></i>指标监测</a>
                </li>

                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-recycle"></i>用户运营</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/lifecycle/catlist">品类</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!--End 左侧导航-->