<link rel="stylesheet" data-th-href="@{/css/common.css}"/>
<link rel="icon" data-th-href="@{/images/favicon.ico}" type="image/x-icon"/>
<link rel="stylesheet" data-th-href="@{/plugins/bootstrap-select/bootstrap-select.min.css}">
<link href="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.css" rel="stylesheet">
<!-- 加载公共组件 -->
<script data-th-src="@{/js/common/jquery.min.js}"></script>
<script data-th-src="@{/js/common/bootstrap.min.js}"></script>
<script data-th-src="@{/js/common/perfect-scrollbar.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-select/defaults-zh_CN.min.js}"></script>
<script src="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.js"></script>
<script data-th-src="@{/js/common/main.min.js}"></script>
<script data-th-src="@{/js/common/common.js}"></script>
