<link rel="icon" data-th-href="@{/images/favicon.ico}" type="image/x-icon"/>
<link rel="stylesheet" data-th-href="@{/plugins/bootstrap-select/bootstrap-select.min.css}">
<!--时间选择插件-->
<link rel="stylesheet" data-th-href="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css}">
<!--日期选择插件-->
<link rel="stylesheet" data-th-href="@{/plugins/bootstrap-datepicker/bootstrap-datepicker3.css}">
<link rel="stylesheet" data-th-href="@{/plugins/toastr/toastr.css}">
<link rel="stylesheet" data-th-href="@{/css/common.css}"/>

<!-- 加载公共组件 -->
<script data-th-src="@{/js/common/jquery.min.js}"></script>
<script data-th-src="@{/js/common/bootstrap.min.js}"></script>
<script data-th-src="@{/js/common/perfect-scrollbar.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-select/defaults-zh_CN.min.js}"></script>

<!--时间选择插件-->
<script data-th-src="@{/plugins/bootstrap-datetimepicker/moment.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-datetimepicker/locale/zh-cn.js}"></script>
<!--日期选择插件-->
<script data-th-src="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>

<script data-th-src="@{/plugins/toastr/toastr.min.js}"></script>
<script data-th-src="@{/js/common/main.min.js}"></script>
<script data-th-src="@{/js/common/lightyear.js}"></script>
<script data-th-src="@{/js/common/common.js}"></script>