<!--左侧导航-->
<aside class="lyear-layout-sidebar">
    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="#"><img data-th-src="@{/images/logo.jpg}" title="" alt="linksteady" /></a>
    </div>
    <div class="lyear-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer"></ul>
        </nav>
    </div>
    <div class="sidebar-footer text-center fixed">
        <span class="h6" style="color: #838383">LinkSteady 版权所有&nbsp;&nbsp;</span>
        <!--<span class="h6" style="color: #838383">当前版本&nbsp;:&nbsp;<span id="version" th:text="${version}"></span></span>-->
    </div>
</aside>
<!--End 左侧导航-->
<!--<script>-->
    <!--initVersionInfo();-->
    <!--function initVersionInfo() {-->
        <!--$.get("/sysinfo", {}, function (r) {-->
            <!--var version = r.data.version;-->
            <!--$("#version").html("").html("v" + version);-->
        <!--});-->
    <!--}-->
<!--</script>-->