<link rel="icon" data-th-href="@{/images/favicon.ico}" type="image/x-icon"/>
<link rel="stylesheet" data-th-href="@{/plugins/bootstrap-select/bootstrap-select.min.css}">
<!--时间选择插件-->
<link rel="stylesheet" data-th-href="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css}">
<!--日期选择插件-->
<link rel="stylesheet" data-th-href="@{/plugins/bootstrap-datepicker/bootstrap-datepicker3.css}">

<!-- bootstrapTable -->
<link rel="stylesheet" data-th-href="@{/plugins/bootstrap-table/bootstrap-table.min.css}">
<link rel="stylesheet"  data-th-href="@{/plugins/confirm/jquery-confirm.min.css}">
<link rel="stylesheet" data-th-href="@{/plugins/jqTreeGrid/jquery.treegrid.css}">
<link rel="stylesheet" data-th-href="@{/plugins/autocomplete/autocomplete.css}">
<link rel="stylesheet" data-th-href="@{/plugins/jsTree/style.min.css}">
<link rel="stylesheet" data-th-href="@{/css/common.css}"/>

<link rel="stylesheet" data-th-href="@{/plugins/font-awesome-4.7.0/css/font-awesome.css}"/>
<link rel="stylesheet"  data-th-href="@{/plugins/daterangepicker/daterangepicker.css}">
<!--------------------------------------------------------------------------------------------->
<!-- 加载公共组件 -->
<script data-th-src="@{/js/common/jquery.min.js}"></script>