
<script data-th-src="@{/js/common/bootstrap.min.js}"></script>
<script data-th-src="@{/js/common/perfect-scrollbar.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-select/defaults-zh_CN.min.js}"></script>
<!--时间选择插件-->
<script data-th-src="@{/plugins/bootstrap-datetimepicker/moment.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-datetimepicker/locale/zh-cn.js}"></script>
<!--日期选择插件-->
<script data-th-src="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
<!-- bootstrapTable -->
<script data-th-src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script data-th-src="@{/plugins/jquery-validate/jquery.validate.min.js}"></script>
<script data-th-src="@{/plugins/jquery-validate/additional-methods.min.js}"></script>
<script data-th-src="@{/plugins/jquery-validate/messages_zh.min.js}"></script>
<!--daterangepicker -->
<script data-th-src="@{plugins/daterangepicker/moment.min.js}"></script>
<script data-th-src="@{plugins/daterangepicker/daterangepicker.js}"></script>

<!--notify -->
<script data-th-src="@{/js/common/bootstrap-notify.min.js}"></script>
<script data-th-src="@{/plugins/jqTreeGrid/jquery.treegrid.js}"></script>
<script data-th-src="@{/plugins/jqTreeGrid/jquery.treegrid.extension.js}"></script>
<script data-th-src="@{/plugins/jsTree/jstree.js}"></script>
<script data-th-src="@{/plugins/autocomplete/autocomplete.js}"></script>
<script data-th-src="@{/plugins/autocomplete/autocomplete_weather.js}"></script>
<script data-th-src="@{/js/common/lightyear.js}"></script>
<script data-th-src="@{/plugins/confirm/jquery-confirm.min.js}"></script>
<script data-th-src="@{/js/common/accounting.min.js}"></script>
<script data-th-src="@{/js/app/common.js}"></script>
<script data-th-src="@{/js/app/init.js}"></script>
<script data-th-src="@{/js/common/main.min.js}"></script>