<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <div class="btn btn-info" onclick="add()"><span class="zmdi zmdi-plus"></span>新增目标</div>
                </div>
                <div id="data-table_filter" class="dataTables_filter"></div>
                <table id="gmvPlanTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/operate/gmvplan/index.js}"></script>