<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>用户成长系统</title>
    <th:block th:include="common/include :: common-css" />
    <th:block th:include="common/include::jstree-css" />
    <th:block th:include="common/include::bootstrap-table-css" />
    <th:block th:include="common/include::jquery-confirm-css" />
    <script data-th-src="@{/plugins/clipboard.min.js}"></script>
    <style>
        .tag {
            border: none;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            display: block;
            float: left;
            padding: 2px 5px;
            text-decoration: none;
            background: #33cabb;
            color: #fff;
            margin-right: 5px;
            margin-bottom: 5px;
            font-family: 'Microsoft yahei', Roboto, sans-serif;
            font-size: 13px;
            line-height: 18px;
        }
    </style>
</head>

<body class="gray-bg">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div data-th-include="common/aside"></div>
        <!-- 头部信息 -->
        <div data-th-include="common/header"></div>
        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-div ui-layout-center">
                <div class="row">
                    <div class="col-sm-12 search-collapse">
                            <div class="row">
                                <h5 class="navbar-page-title">渠道活码</h5>
                            </div>
                           <div class="row">
                                <div class="col-md-12">
                                    <hr class="hr m-t-0 m-b-5"/>
                                </div>
                        </div>
                        <form id="user-form">
                            <div class="select-list">
                                <ul>
                                    <li>
                                        渠道：<input type="text" name="qstate" id="qstate"/>
                                    </li>
                                    <li>
                                        <a class="btn btn-primary btn-rounded btn-sm" id="btn_query"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                        <a class="btn btn-warning btn-rounded btn-sm" onclick="resetQuery()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 select-table table-striped">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn-group-sm" id="toolbar" role="group">
                                    <a class="btn btn-success btn-edit" id="btn_add">
                                        <i class="fa fa-pencil"></i> 新增
                                    </a>
                                    <a class="btn btn-primary" id="btn_edit">
                                        <i class="fa fa-edit"></i> 修改
                                    </a>
                                    <a class="btn btn-danger btn-view" id="btn_delete">
                                        <i class="fa fa-close"></i> 删除
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-sm-12">
                                <table id="contactWayTable" class="table  table-striped table-bordered"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<th:block th:include="common/include::footer" />
<th:block th:include="common/include::perfect-scrollbar" />
<th:block th:include="common/include::jquery-validate-js" />
<th:block th:include="common/include::common-js" />
<th:block th:include="common/include::jstree-js" />
<th:block th:include="common/include::bootstrap-table-js" />
<th:block th:include="common/include::jquery-confirm-js" />
<script data-th-src="@{/js/app/qywx/common/template.js}"></script>
<script data-th-src="@{/js/app/qywx/contactWay/list.js}"></script>
</body>
</html>
