<div class="row m-t-10">
    <div class="col-md-12">
        <div class="select-list">
            <ul class="pull-left">
                <li>
                    价值：
                    <select name="userValue" id="userValue">
                        <option value="">所有</option>
                        <option value="ULC_01">重要</option>
                        <option value="ULC_02">主要</option>
                        <option value="ULC_03">普通</option>
                        <option value="ULC_04">长尾</option>
                    </select>
                </li>
                <li>
                    活跃度：
                    <select name="pathActive" id="pathActive">
                        <option value="" selected>所有</option>
                        <option value="UAC_01">高度活跃</option>
                        <option value="UAC_02">中度活跃</option>
                        <option value="UAC_03">流失预警</option>
                    </select>
                </li>
                <li>
                    品牌广度：
                    <select name="brandDeep" id="brandDeep">
                        <option value="">所有</option>
                        <option value="SINGLE_SPU">单一SPU</option>
                        <option value="MULTI_SPU">多种SPU</option>
                    </select>
                </li>
                <li>
                    预计连带率：
                    <select name="joinRate" id="joinRate">
                        <option value="" selected>所有</option>
                        <option value="UAC_01">连带率=1</option>
                        <option value="UAC_02">连带率>1.6</option>
                    </select>
                </li>
            </ul>
            <ul class="pull-right">
                <li>
                    <a class="btn btn-primary btn-rounded btn-sm" id="btn_search"><i
                            class="fa fa-search"></i>&nbsp;搜索</a>
                    <a class="btn btn-warning btn-rounded btn-sm" id="btn_reset"><i
                            class="fa fa-refresh"></i>&nbsp;重置</a>
                    <a class="btn btn-primary btn-edit btn-sm" id="btn_next" onclick="step2()">
                        <i class="fa fa-arrow-right"></i> 下一步
                    </a>
                    <a class="btn btn-secondary btn-sm" href="/page/member">
                        <i class="fa fa-reply"></i> 返回
                    </a>
                </li>
            </ul>
            <table id="userListTable" class="table  table-striped table-bordered text-nowrap"></table>
        </div>
    </div>
</div>
