<div class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="template_desc_modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">模板说明</h4>
            </div>
            <div class="modal-body">
                <ul id="myTab1" class="nav nav-tabs">
                    <li class="active">
                        <a href="#DESC_A" data-toggle="tab" id="A-tab1" class="templateother">4P方法论</a>
                    </li>
                    <li><a href="#DESC_B" data-toggle="tab" id="B-tab1" class="templateother">其它方法论</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="DESC_A">
                        <p>关于4P方法论的介绍。</p>
                    </div>
                    <div class="tab-pane fade" id="DESC_B">
                        <p>关于其它方法论的介绍。</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>