<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加企业微信客服</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/weui/css/weui.css"/>
    <link rel="stylesheet" href="/weui/css/weuix.css"/>
    <link rel="stylesheet" href="/weui/css/common.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap-table/bootstrap-table.min.css">
    <script src="/static/plugins/bootstrap/jquery.min.js"></script>
    <script src="/weui/js/zepto.min.js"></script>
    <script src="/weui/js/zepto.weui.js"></script>
    <script src="/weui/js/iscroll-lite.js"></script>
</head>
<body ontouchstart class="page-bg">
<div class="page-hd" style="padding-bottom: 0px;">
    <div class="tcenter">
        <img width="320" height="150" src="/images/qywx/bg.jpg"/>
    </div>
</div>
<div style="padding-left: 10px;padding-right: 10px;">
    <p class="page-hd-desc" style="text-align: center;">过去、现在、未来，我们始终如一、坚守责任、坦诚相待 专注全家营养！</p>
</div>
<div class="page-hd" style="padding-bottom: 0px;">
    <div class="tcenter"><img width="240" height="240"
                              th:src="${qrCode}">
        <p class="page-hd-desc" style="text-align: center;">添加企业微信客服，为您提供专业服务，并有专属福利！</p>
    </div>
</div>
<div class="page-hd" style="padding-bottom: 0px;padding-left: 10px;padding-right: 10px;">
    <div class="tcenter">
        <img src="/images/qywx/add_method.gif" width="320" height="320"/>
    </div>
</div>
</body>
</html>