<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>导购助手</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/weui/css/weui.css"/>
    <link rel="stylesheet" href="/weui/css/weuix.css"/>
    <link rel="stylesheet" href="/weui/css/common.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap-table/bootstrap-table.min.css">
    <script src="/js/common/jquery.min.js"></script>
    <script src="/weui/js/zepto.min.js"></script>
    <script src="/weui/js/zepto.weui.js"></script>
    <script src="/weui/js/iscroll-lite.js"></script>
</head>
<body ontouchstart class="page-bg">
<!--<body ontouchstart class="page-bg" style="background:url('/images/qywx/16591595384854_.pic_hd.jpg');background-size: cover;-webkit-background-size: cover;-o-background-size: cover;background-position: center 0;">-->
<!--<div class="container" style="background:url('/images/qywx/16591595384854_.pic_hd.jpg');background-size: cover;-webkit-background-size: cover;-o-background-size: cover;background-position: center 0;">-->
<div class="page-hd" style="padding-bottom: 0px;">
    <div class="tcenter">
        <img src="/images/qywx/16581595384851_.pic_hd.jpg"/>
    </div>
</div>
<div style="padding-left: 10px;padding-right: 10px;">
    <p class="page-hd-desc" style="text-align: center;">添加企业微信客户人员，为您提供更贴心的优质服务！您的购物满意，是我们的服务宗旨，感谢您的信任！</p>
</div>
<div class="page-hd" style="padding-bottom: 0px;">
    <div class="tcenter"><img width="240" height="240"
            src="/images/qywx/16571595384843_.pic_hd.jpg">
        <p class="page-hd-desc" style="text-align: center;">扫一扫添加企业微信客服</p>
    </div>
</div>
<div class="page-hd" style="padding-bottom: 0px;padding-left: 10px;padding-right: 10px;">
    <div class="tcenter">
        <img width="100%" height="auto" src="/images/qywx/16591595384854_.pic_hd.jpg"/>
    </div>
</div>
</body>
</html>