<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <title>添加企业微信二维码</title>
</head>
<body>
   <div class="content">
       <div class="add_box">
           <img class="brand_logo" data-th-src="@{/images/logo.jpg}" alt="荷兰乳牛" />
           <div class="brand_title">
               <p>过去、现在、未来，我们始终如一、坚守责任、坦诚相待 专注全家营养!</p>
           </div>
           <div class="add_qrcode">
               <img th:src='${qrCode}' alt="扫码支持" title="扫一扫" />
           </div>
           <div class="brand_explain">添加荷兰乳牛企业微信客服，为您提供专业的服务！更可领取专属优惠！
           </div>
           <div class="brand_info">
               <p>如无法识别，请先保存二维码图片到手机，</br>然后使用微信 扫一扫，选择刚才保存的二维码进行识别。</p>
           </div>
       </div>
   </div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
</html>