/*::-webkit-scrollbar {*/
/*    display: none*/
/*}*/
/** 表格查询数据 **/
.table-striped {
    min-height: 75%;
}

.table-striped .bootstrap-table {
    border: 0px!important;
}

.table-striped .table, .table-striped .table, .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-bottom: 1px solid #e7eaec!important;
    background-color: transparent;
    border: 0px;
    font-size: 13px;
    text-align: center;
}

.fixed-table-footer {
    border-top: 0px solid #ddd;
}

.fixed-table-container {
    border: 0px solid #ddd;
}

.table-striped .table>thead>tr>th, .table-striped .table>tbody>tr>th {
    border-bottom: 1px solid #ccc!important;
    border-top: 0px!important;
}

.table-striped .table>thead:first-child>tr:first-child>th {
    font-weight: normal;
    font-size: 13px
}
table thead {
    background-color: #eff3f8;
}

.table-bordered td,.table-bordered th {
    border: 1px solid #ddd!important
}

.fixed-table-container thead th  >.both{
    display: inline-block
}

.editable-input .input-sm {
    height: 32px!important;
}

/** 表格冻结列样式 **/
.left-fixed-table-columns, .left-fixed-body-columns {
    position: absolute;
    background-color: #fff;
    display: none;
    box-sizing: border-box;
    overflow: hidden;
}

.left-fixed-table-columns .table, .left-fixed-body-columns .table {
    border-right: 1px solid #ddd;
}

.left-fixed-table-columns .table.table-no-bordered, .left-fixed-body-columns .table.table-no-bordered {
    border-right: 1px solid transparent;
}

.left-fixed-body-columns table {
    position: absolute;
    animation: none;
}

.bootstrap-table .table-hover > tbody > tr.hover > td {
    background-color: #f5f5f5;
}

.th-inner {
    font-weight: normal;
    font-size: 13px;
}

table > thead > tr > th {
    text-align: center;
}

.fixed-table-container{
    border: 0 !important;
}

.right-fixed-table-columns{
    position: absolute;
    right:63px;
    border-left:1px solid #ddd;
    display: none;
    z-index:100;
}
/*table {*/
/*    table-layout: fixed;*/
/*    width: 100%;*/
/*    height: auto;*/
/*    !*border-bottom: 1px solid #e6e7f1;*!*/
/*    float: left*/
/*}*/

/*table tr td {*/
/*    line-height: 20px;*/
/*    padding: 5px;*/
/*    border-top: 1px solid #e6e7f1;*/
/*    border-right: 1px solid #e6e7f1;*/
/*    text-align: center;*/
/*    background: #fff;*/
/*    color: #505050;*/
/*    font-size: 12px*/
/*}*/

/*table tr .dark {*/
/*    border-left: 1px solid #e7e7e7;*/
/*    border-right: 1px solid #e7e7e7*/
/*}*/

/*table td, table th {*/
/*    border: none;*/
/*    white-space: nowrap;*/
/*    word-break: keep-all;*/
/*    width: 1px;*/
/*    word-wrap: break-word;*/
/*    padding: 0 2px;*/
/*}*/

/*table tr th {*/
/*    font-weight: 400;*/
/*    line-height: 40px;*/

/*    text-align: center;*/
/*    color: #000;*/
/*    background: #eff3f8;*/
/*    font-size: 12px*/
/*}*/

/*table tr .noborder {*/
/*    border-left: none !important;*/
/*    border-right: none !important*/
/*}*/

/*table tr td font {*/
/*    color: #e13b6d;*/
/*    font-size: 12px*/
/*}*/

.weui-comment-reply::before {
    border-top: 0px;
}