<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <title>企业微信</title>
    <th:block th:include="common/include::common-css"/>
    <th:block th:include="common/include::bootstrap-table-css"/>
    <th:block th:include="common/include::jquery-confirm-css"/>
    <th:block th:include="common/include::bootstrap-year-calendar-css"/>
    <th:block th:include="common/include::datepicker-css"/>
    <link rel="stylesheet" th:href="@{/css/emoji.css}" type="text/css">
    <style>
        .send {
            position: absolute;
            max-width: 250px;
            width: auto;
            height: auto;
            background: #fff;
            border-radius: 5px; /* 圆角 */
            margin-top: 30px;
            margin-left: 20px;
            padding: 10px;
            font-size: 12px;
            color: #000;
            word-wrap: break-word;
            text-align: left;
        }

        .send .arrow {
            position: absolute;
            top: 9px;
            left: -16px; /* 圆角的位置需要细心调试哦 */
            width: 0;
            height: 0;
            font-size: 0;
            border: solid 8px;
            border-color: rgb(235, 235, 235) #fff rgb(235, 235, 235) rgb(235, 235, 235);
        }
    </style>
</head>

<body class="gray-bg">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div data-th-include="common/aside"></div>
        <!-- 头部信息 -->
        <div data-th-include="common/header"></div>
        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-div ui-layout-center">
                <div class="row">
                    <div class="col-sm-12 search-collapse">
                        <div class="row">
                            <h5 class="navbar-page-title">编辑欢迎语</h5>
                        </div>
                    </div>
                    <div class="col-md-12 select-table table-striped">
                        <div class="row m-t-10">
                            <div class="col-md-6">
                                <form class="form-horizontal" id="welcomeFormData">
                                    <input type="hidden" th:value="${welcome.id}" name="id"/>
                                    <div class="form-group">
                                        <label class="col-xs-12" style="font-weight: bold;">欢迎语名称</label>
                                        <div class="col-xs-12">
                                            <input class="form-control" type="text" name="welcomeName" th:value="${welcome.welcomeName}"/>
                                        </div>
                                    </div>
                                <!--    <div class="form-group">
                                        <label class="col-xs-12" style="font-weight: bold;">欢迎语配置策略</label>
                                        <div class="col-xs-12">
                                            <label class="radio-inline">
                                                <input type="radio"  disabled="disabled" th:checked="${welcome.policyType eq 'M'} ? true:false" value="M" onclick="policyClick()" checked="checked">
                                                <input type="radio" style="display: none"  name="policyType" th:checked="${welcome.policyType eq 'M'} ? true:false" value="M" checked="checked">
                                                自定义
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" disabled="disabled" th:checked="${welcome.policyType eq 'M'} ? false:true" value="A" onclick="policyClick()">
                                                <input type="radio" name="policyType" style="display: none"  th:checked="${welcome.policyType eq 'M'} ? false:true" value="A">
                                                智能策略
                                            </label>
                                        </div>
                                    </div>-->
                                <!--    <div class="form-group" id="intelPolicy" th:if="!${welcome.policyType eq 'M'}">
                                        <label class="col-xs-12" style="font-weight: bold;">智能策略配置方案</label>
                                        <div class="col-xs-12">
                                            <label class="radio-inline">
                                                <input type="radio"  disabled="disabled" value="COUPON" th:checked="${welcome.policyType eq 'COUPON'} ? true:false">
                                                <input type="radio" name="policyTypeTmp" style="display:none"  value="COUPON" th:checked="${welcome.policyType eq 'COUPON'} ? true:false">
                                                派发领券页
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio"  disabled="disabled" value="PRODUCT" th:checked="${welcome.policyType eq 'PRODUCT'} ? true:false">
                                                <input type="radio" name="policyTypeTmp" style="display:none" value="PRODUCT" th:checked="${welcome.policyType eq 'PRODUCT'} ? true:false">
                                                派发商品页
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="intelPolicy" th:if="${welcome.policyType eq 'M'}" style="display: none;">
                                        <label class="col-xs-12" style="font-weight: bold;">智能策略配置方案</label>
                                        <div class="col-xs-12">
                                            <label class="radio-inline">
                                                <input type="radio" name="policyTypeTmp" value="COUPON" th:checked="${welcome.policyType eq 'COUPON'} ? true:false">
                                                派发领券页
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="policyTypeTmp" value="PRODUCT" th:checked="${welcome.policyType eq 'PRODUCT'} ? true:false">
                                                派发商品页
                                            </label>
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <label class="col-xs-12" style="font-weight: bold;">欢迎语素材</label>
                                        <div class="col-md-12">
                                            <div id="myTabContent" class="tab-content" style="height: auto;">
                                                <!--文本-->
                                                <div class="row" id="text">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">文本：</label>
                                                        <div class="col-md-9">
                                                            <textarea th:text="${welcome.content}" class="form-control" name="content" rows="6" placeholder="请输入欢迎语内容" id="textContent1" data-emojiable="true" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="form-group" style="margin-top: 10px;">
                                                        <label class="col-xs-3 control-label" >选择消息类型：</label>
                                                        <div class="col-xs-9"  style="margin-top: 5px;">
                                                            <label class="radio-inline">
                                                                <input type="radio" checked='checked' name="msgType" value="applets" th:checked="${welcome.msgType eq 'applets'} ? true:false"  onclick="selectType('miniprogram')"><span>小程序</span>
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio"  name="msgType" value="image" th:checked="${welcome.msgType eq 'image'} ? true:false" onclick="selectType('image')"><span>图片</span>
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="msgType" value="web" th:checked="${welcome.msgType eq 'web'} ? true:false" onclick="selectType('web')"><span>网页</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--图片-->
                                                <div class="row" id="image" style="display: none">
                                                    <div class="form-group">
                                                        <label class="col-md-3  control-label">图片地址：</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" th:value="${welcome.picUrl}" readonly="readonly" name="picUrl" id="picUrl"/>
                                                        </div>
                                                        <a id='addMediaImage' style="cursor:pointer;color: #409eff !important;" onclick="chooseMediaImg()"><i class="fa fa-plus-circle" style="margin-top:12px;"></i>选择</a>
                                                    </div>
                                                </div>
                                                <div  class="row" id="web" style="display: none">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label ">消息标题：</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="linkTitle" th:value="${welcome.linkTitle}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label ">消息描述：</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="linkDesc" th:value="${welcome.linkDesc}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label ">消息地址：</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="linkUrl" th:value="${welcome.linkUrl}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom: 2px;">
                                                        <label class="col-md-3 control-label ">封面地址：</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="linkPicurl" th:value="${welcome.linkPicurl}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" id="miniprogram">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label ">小程序标题：</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control"  name="miniprogramTitle" id="minititle" th:value="${welcome.miniprogramTitle}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom: 2px;">
                                                        <label class="col-md-3 control-label ">小程序地址：</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control"  name="miniprogramPage" id="miniaddress" th:value="${welcome.miniprogramPage}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-top: 10px;">
                                                        <label class="col-md-3 control-label">小程序封面名称：</label>
                                                        <div class="col-md-7">
                                                            <input name="miniprogramImageName" id="miniprogramImageName"  readonly="readonly" class="form-control" th:value="${welcome.miniprogramImageName}"/>
                                                            <input name="miniprogramImagePath" id="miniprogramImagePath" type="hidden"  readonly="readonly" class="form-control" th:value="${welcome.miniprogramImagePath}"/>
                                                        </div>
                                                        <a id='addShopDiscountBtn' style="cursor:pointer;color: #409eff !important;" onclick="uploadMediaImg()"><i class="fa fa-plus-circle" style="margin-top:12px;"></i>上传</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <ul style="color: #666; font-size: 12px;margin-left: 25%;">
                                                <li><i class="fa fa-angle-double-right"></i>&nbsp;文本、图片、网页和小程序四者不能同时为空；</li>
                                                <li><i class="fa fa-angle-double-right"></i>&nbsp;文本与另外三者可以同时发送，此时将会以两条消息的形式触达客户</li>
                                                <li><i class="fa fa-angle-double-right"></i>&nbsp;图片、网页和小程序只能有一个，如果三者同时填，则按图片、网页、小程序的优先顺序取参，也就是说，如果图片和网页同时传值，则只有图片生效。</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 text-center">
                                            <button class="btn btn-primary btn-sm" type="button" onclick="saveDataWel(this)" name='update'><i
                                                    class="fa fa-save"></i>&nbsp;更新
                                            </button>
                                          <!--  <button th:if="!${welcome.policyType eq 'M'}" class="btn btn-primary btn-sm" type="button" onclick="getViewData()" id="configBtn"><i
                                                    class="fa fa-cog"></i>&nbsp;去配置
                                            </button>
                                            <button th:if="${welcome.policyType eq 'M'}" class="btn btn-primary btn-sm" type="button" onclick="getViewData()" id="configBtn" style="display: none;"><i
                                                    class="fa fa-cog"></i>&nbsp;去配置
                                            </button>-->
                                            <button class="btn btn-secondary btn-sm" type="button"
                                                    onclick="window.location.href='/page/qywxWelcome'"><i
                                                    class="fa fa-reply"></i>&nbsp;返回
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6" style="margin-top: 10px;">
                                <div style="height:530px;width:295px;border-radius: 10px;" class="text-center">
                                    <div style="height: 50px;width: 100%;background-color: rgb(49,46,51);border-top-right-radius: 10px;border-top-left-radius: 10px;"
                                         class="text-center">
                                        <p style="color: #fff;line-height: 50px;">linksteady</p>
                                    </div>
                                    <div id='wxChat' style="height: 300px;width: 100%;background-color: rgb(235,235,235);border-bottom-left-radius: 10px;border-bottom-right-radius: 10px">
                                        <div class="send" id="preview">
                                            <div class="arrow"></div>
                                            <span id="wxPreview" th:text="${welcome.content}" style="word-break:normal;width:auto;display:block;white-space:pre-wrap;word-wrap:break-word;overflow:hidden;">请输入消息内容</span>
                                        </div>

                                        <div id="chatDiv">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div data-th-include="qywx/chooseMediaImg/chooseMediaImg"></div>
<div data-th-include="qywx/welcome/otherModal"></div>
<th:block th:include="common/include::footer"/>
<th:block th:include="common/include::datepicker-js" />
<th:block th:include="common/include::perfect-scrollbar"/>
<th:block th:include="common/include::jquery-validate-js"/>
<th:block th:include="common/include::common-js"/>
<th:block th:include="common/include::bootstrap-table-js"/>
<th:block th:include="common/include::jquery-confirm-js"/>
<script data-th-src="@{/js/app/qywx/common/template.js}"></script>
<script data-th-src="@{/plugins/imageUpload/cupload.js}"></script>
<script data-th-src="@{/js/app/qywx/welcome/emoji-picker.js}"></script>
<script data-th-src="@{/js/app/qywx/welcome/add.js}"></script>
<script data-th-src="@{/js/app/qywx/chooseMediaImg/chooseMediaImg.js}"></script>

<script>
    $(function() {
        emojiPicker = new EmojiPicker.EmojiPicker({
            emojiable_selector: '[data-emojiable=true]',
            assetsPath: '/images/emoji/',
        });
        emojiPicker.discover();
    });
    var msgType = '[[${msgType}]]';
    selectType(msgType)
</script>
</body>
</html>
