<h5>概览</h5>
<hr style="margin-top: 5px;margin-bottom: 5px;"/>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" action="#">
            <div class="form-group">
                <div class="col-md-1"></div>
                <label class="col-md-1 control-label">时间：</label>
                <div class="col-md-2" id="startDate">
                    <input class="form-control js-datepicker m-b-10" type="text" id="dateItem1" name="dateItem" value="2019-01"/>
                </div>
                <div class="col-md-2" id="endDate">
                    <input class="form-control js-datepicker m-b-10" type="text" id="dateItem2" name="dateItem" value="2019-04"/>
                </div>
                <label class="col-md-1 control-label" for="source">来源：</label>
                <div class="col-md-2">
                    <select name="" id="source" class="selectpicker form-control">
                        <option value="">所有</option>
                        <optgroup label="线上">
                            <option>天猫</option>
                            <option>京东</option>
                        </optgroup>
                        <optgroup label="线下">
                            <option>望京门店</option>
                            <option>朝阳门店</option>
                            <option>丰台门店</option>
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" type="button"><i class="mdi mdi-magnify"></i>查询</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="card bg-light">
            <div class="card-body clearfix">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="h5 m-t-0">销售额</p>
                        <p class="h3 m-b-0" id="totalGmv">0.00元</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="h6" id="totalGmvYny">同比<span style="color:green;"><i class="mdi mdi-menu-up mdi-18px"></i>0.00%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-light">
            <div class="card-body clearfix">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="h5 m-t-0">交易用户数</p>
                        <p class="h3 m-b-0" id="tradeUser">0人</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p class="h6" id="tradeUserYny">同比<span style="color:green;"><i class="mdi mdi-menu-up mdi-18px"></i>0.00%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-light">
            <div class="card-body clearfix">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="h5 m-t-0">平均客单价</p>
                        <p class="h3 m-b-0" id="avgPrice">0元</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p class="h6" id="avgPriceYny">同比<span style="color:green;"><i class="mdi mdi-menu-up mdi-18px"></i>0.00%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h5>GMV</h5>
<hr style="margin-top: 5px;margin-bottom: 5px;"/>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <form class="form-inline" action="lyear_forms_elements.html" method="post" onsubmit="return false;">
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="startDate1" name="startDate1" value="2019-01-01"/>
                </div>
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="endDate1" name="endDate1" value="2019-05-01"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary m-b-10" type="button" onclick="search()"><i class="mdi mdi-magnify"></i>查询</button>
                </div>
            </form>
        </div>
        <div id="chart1" style="width: 100%; height: 400px;"></div>
    </div>
</div>

<h5>交易用户数&平均客单价</h5>
<hr style="margin-top: 5px;margin-bottom: 5px;"/>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <form class="form-inline" action="lyear_forms_elements.html" method="post" onsubmit="return false;">
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="startDate2" name="startDate1" data-date-format="yyyy-mm-dd" value="2019-01-01"/>
                </div>
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="endDate2" name="endDate1" data-date-format="yyyy-mm-dd" value="2019-05-01"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary m-b-10" type="button" onclick="search()"><i class="mdi mdi-magnify"></i>查询</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="chart2" style="width: 100%; height: 400px;"></div>
            </div>
            <div class="col-md-6">
                <div id="chart3" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
</div>

<h5>平均订单价<i class="mdi mdi-cursor-pointer" style="color:#33cabb;"></i>&平均订单数</h5>
<hr style="margin-top: 5px;margin-bottom: 5px;"/>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <form class="form-inline" action="lyear_forms_elements.html" method="post" onsubmit="return false;">
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="startDate3" name="startDate1" data-date-format="yyyy-mm-dd" value="2019-01-01"/>
                </div>
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="endDate3" name="endDate1" data-date-format="yyyy-mm-dd" value="2019-05-01"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary m-b-10" type="button" onclick="search()"><i class="mdi mdi-magnify"></i>查询</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="chart4" style="width: 100%; height: 400px;"></div>
            </div>
            <div class="col-md-6">
                <div id="chart5" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
</div>