<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ReasonMapper">

    <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.Reason">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="RN" jdbcType="INTEGER" property="rn" />
        <result column="REASON_ID" jdbcType="INTEGER" property="reasonId" />
        <result column="REASON_NAME" jdbcType="VARCHAR" property="reasonName" />
        <result column="STATUS" jdbcType="VARCHAR" property="status" />
        <result column="PROGRESS" jdbcType="INTEGER" property="progress" />
        <result column="BEGIN_DT" jdbcType="VARCHAR" property="beginDt" />
        <result column="END_DT" jdbcType="VARCHAR" property="endDt" />
        <result column="CREATE_DT" jdbcType="VARCHAR" property="createDt" />
        <result column="UPDATE_DT" jdbcType="VARCHAR" property="updateDt" />
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
        <result column="KPI_CODE" jdbcType="VARCHAR" property="kpiCode" />
        <result column="PERIOD_TYPE" jdbcType="VARCHAR" property="periodType" />
        <result column="PERIOD_NAME" jdbcType="VARCHAR" property="periodName" />
        <result column="KPI_NAME" jdbcType="VARCHAR" property="kpiName" />
        <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    </resultMap>

    <resultMap id="reasonResultMap" type="com.linksteady.operate.domain.ReasonKpisSnp">
        <result column="REASON_ID" jdbcType="INTEGER" property="reasonId" />
        <result column="TEMPLATE_CODE" jdbcType="VARCHAR" property="templateCode" />
        <result column="REASON_KPI_CODE" jdbcType="VARCHAR" property="reasonKpiCode" />
        <result column="REASON_KPI_NAME" jdbcType="VARCHAR" property="reasonKpiName" />
        <result column="TEMPLATE_NAME" jdbcType="VARCHAR" property="templateName" />
        <result column="RELATE_VALUE" jdbcType="DECIMAL" property="relateValue" />
        <result column="TEMPLATE_ORDER" jdbcType="VARCHAR" property="templateOrder" />
        <result column="REASON_KPI_ORDER" jdbcType="VARCHAR" property="reasonKpiOrder" />
    </resultMap>

    <select id="getReasonTotalCountByUserName" resultType="int">
     select count(*) from UO_REASON_LIST where CREATE_BY = #{username}
   </select>

    <select id="getReasonTotalCount" resultType="int">
     select count(*) from UO_REASON_LIST
   </select>

    <select id="getReasonList" resultMap="BaseResultMap">
   SELECT * FROM(
    SELECT A.*,ROWNUM RN FROM
      (SELECT
         RL.REASON_ID,
         RL.REASON_NAME,
         RL.STATUS,
         RL.PROGRESS,
         RL.BEGIN_DT,
         RL.END_DT,
         TO_CHAR(RL.CREATE_DT,'YYYY-MM-DD HH24:MI:ss') CREATE_DT,
         TO_CHAR(RL.UPDATE_DT,'YYYY-MM-DD HH24:MI:ss') UPDATE_DT,
         RL.CREATE_BY,
         RL.UPDATE_BY,
         RL.KPI_CODE,
         RL.PERIOD_TYPE,
         KL.KPI_NAME,
         RL.SOURCE
    FROM UO_REASON_LIST RL,UO_KPI_LIST_CONFIG KL WHERE RL.KPI_CODE=KL.KPI_CODE(+) AND RL.CREATE_BY = #{username} ORDER BY CREATE_DT DESC) A  WHERE ROWNUM &lt;=#{endRow}
    ) WHERE RN &gt;=#{startRow}

  </select>

    <select id="getReasonPrimaryKey" resultType="int">
       SELECT UO_REASON_LIST_SEQ.NEXTVAL FROM DUAL
   </select>

    <insert id="saveReasonData">
        INSERT INTO UO_REASON_LIST
            (
                REASON_ID,
                REASON_NAME,
                STATUS,
                PROGRESS,
                BEGIN_DT,
                END_DT,
                CREATE_DT,
                UPDATE_DT,
                CREATE_BY,
                UPDATE_BY,
                KPI_CODE,
                PERIOD_TYPE,
                SOURCE
            )VALUES
            (
                #{reasonId,jdbcType=INTEGER},
                #{reasonName},
                #{status},
                #{progress,jdbcType=INTEGER},
                #{beginDt},
                #{endDt},
                to_date(#{createDt},'yyyy-mm-dd hh24:mi:ss') ,
                to_date(#{updateDt},'yyyy-mm-dd hh24:mi:ss') ,
                #{createBy},
                #{updateBy},
                #{kpiCode},
                #{periodType},
                #{source}
            )
    </insert>

    <insert id="saveReasonDetail">
        INSERT INTO UO_REASON_DETAIL
            (
                REASON_ID,
                DIM_CODE,
                DIM_VALUES,
                DIM_DISPLAY_VALUE
            )VALUES
            (
                #{primaryKey,jdbcType=INTEGER},
                #{dimCode},
                #{dimValues},
                #{dimDisplay}
            )
    </insert>

    <delete id="deleteReasonDetail">
        delete  from UO_REASON_DETAIL t where t.reason_id=#{reasonId}
    </delete>

    <delete id="deleteReasonKpisSnp">
        delete from UO_REASON_KPIS_SNP t where t.reason_id=#{reasonId}
    </delete>

    <delete id="deleteReasonById">
        delete from UO_REASON_LIST t where t.reason_id=#{reasonId}
    </delete>

    <delete id="deleteReasonResultById">
        delete from UO_REASON_RESULT where reason_id=#{reasonId}
    </delete>

    <update id="updateProgressAndStatusById">
        update UO_REASON_LIST set Update_Dt=SYSDATE,STATUS=#{status},Progress=#{progress,jdbcType=INTEGER} where reason_id=#{reasonId}
    </update>

    <select id="getReasonInfoById" resultMap="BaseResultMap">
        SELECT
            T.REASON_ID,
            T.KPI_CODE,
            T.REASON_NAME,
            T.BEGIN_DT,
            T.END_DT,
            DECODE(T.PERIOD_TYPE,'D','天','月') PERIOD_NAME,
            T.KPI_CODE,
            KL.KPI_NAME,
            T.SOURCE
        FROM UO_REASON_LIST T,
             UO_KPI_LIST_CONFIG KL
        WHERE T.KPI_CODE=KL.KPI_CODE(+)
          AND T.REASON_ID=#{reasonId}
    </select>

    <select id="getReasonDetailById" resultType="map">
        select DIM_DISPLAY_VALUE from UO_REASON_DETAIL t where reason_id=#{reasonId}
    </select>

    <select id="getReasonKpisSnp" resultMap="reasonResultMap">
        select     T.REASON_ID,
                   T.TEMPLATE_CODE,
                   T.REASON_KPI_CODE,
                   T.REASON_KPI_NAME,
                   T.RELATE_VALUE,
                   T.REASON_KPI_ORDER
        from UO_REASON_KPIS_SNP t
        WHERE
            T.TEMPLATE_CODE=#{templateCode}
          AND T.REASON_ID=#{reasonId}
        ORDER BY REASON_KPI_ORDER ASC
    </select>

    <select id="getResultTraceCount" resultType="int">
        SELECT COUNT(*) FROM UO_REASON_CONCERN WHERE REASON_RESULT_ID=#{reasonResultId}
    </select>

    <insert id="addResultToTrace">
        INSERT INTO UO_REASON_CONCERN(REASON_ID,REASON_RESULT_ID,CREATE_DT) VALUES (#{reasonId},#{reasonResultId},SYSDATE)
    </insert>

    <delete id="deleteResultToTrace">
        delete UO_REASON_CONCERN  WHERE REASON_RESULT_ID=#{reasonResultId}
    </delete>

    <delete id="deleteReasonTrace">
        delete UO_REASON_CONCERN  WHERE REASON_ID=#{reasonId}
    </delete>
</mapper>
