<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.TgtDismantMapper">
  <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.TgtDismant">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PERIOD_TYPE" jdbcType="VARCHAR" property="periodType" />
    <result column="PERIOD_DATE" jdbcType="VARCHAR" property="periodDate" />
    <result column="ACTUAL_VAL" jdbcType="DECIMAL" property="actualVal" />
    <result column="COMPUTE_DT" jdbcType="TIMESTAMP" property="computeDt" />
    <result column="TGT_ID" jdbcType="DECIMAL" property="tgtId" />
    <result column="TGT_VAL" jdbcType="DECIMAL" property="tgtVal" />
    <result column="TGT_PERCENT" jdbcType="DECIMAL" property="tgtPercent" />
    <result column="TGT_WEIGHT_IDX" jdbcType="DECIMAL" property="tgtWeightIdx"/>
    <result column="ACTUAL_VAL_LAST" jdbcType="DECIMAL" property="actualValLast" />
    <result column="GROWTH_RATE" jdbcType="DECIMAL" property="growthRate" />
    <result column="PAST_FLAG" jdbcType="VARCHAR" property="pastFlag" />
    <result column="FINISH_FLAG" jdbcType="VARCHAR" property="finishFlag" />
  </resultMap>

  <insert id="saveTargetDismant" parameterType="list">
        <selectKey resultType ="java.lang.Integer" keyProperty= "id"  order= "BEFORE">
          SELECT seq_tgt_dismant_id.NEXTVAL from DUAL
        </selectKey >
      insert into UO_TGT_DISMANT
      (ID, PERIOD_TYPE, PERIOD_DATE, ACTUAL_VAL,COMPUTE_DT,TGT_ID,TGT_VAL,TGT_PERCENT,TGT_WEIGHT_IDX)
      SELECT seq_tgt_dismant_id.NEXTVAL, m.* FROM(
        <foreach collection="list" item="item" index="index" separator="union all">SELECT
            #{item.periodType},
            #{item.periodDate},
            #{item.actualVal},
            #{item.computeDt},
            #{item.tgtId},
            #{item.tgtVal},
            #{item.tgtPercent},
            #{item.tgtWeightIdx}
            FROM DUAL
        </foreach >
         ) m
  </insert>

    <select id="findByTgtId" resultMap="BaseResultMap">
      select PERIOD_DATE,TGT_VAL,TGT_PERCENT,TGT_WEIGHT_IDX, ACTUAL_VAL, ACTUAL_VAL_LAST, GROWTH_RATE from UO_TGT_DISMANT where TGT_ID = #{targetId} order by PERIOD_DATE asc
    </select>

    <update id="updateTgtDismantBatch">
        <foreach collection="collection" item="item" index="index"  open="begin" close=";end;" separator=";">
           update UO_TGT_DISMANT set
            ACTUAL_VAL=#{item.actualVal},
            COMPUTE_DT=#{item.computeDt,jdbcType=DATE},
            ACTUAL_VAL_LAST=#{item.actualValLast}
         where
            TGT_ID=#{item.tgtId}
         and PERIOD_DATE=#{item.periodDate}
        </foreach>
    </update>

    <update id="updateTgtDismantPastFlag">
        UPDATE UO_TGT_DISMANT T SET T.PAST_FLAG='Y' WHERE T.PERIOD_DATE &lt;#{currentDt} AND T.TGT_ID=#{targetId}
    </update>

    <update id="updateTgtDismantFinishFlag">
        UPDATE UO_TGT_DISMANT T SET T.Finish_Flag='Y' WHERE T.ACTUAL_VAL>=T.TGT_VAL AND T.TGT_ID=#{targetId} AND T.PAST_FLAG='Y'
    </update>

    <select id="getPastDismantInfo" resultMap="BaseResultMap">
        select ID,ACTUAL_VAL  from UO_TGT_DISMANT where TGT_ID = #{targetId} AND PAST_FLAG='Y' order by PERIOD_DATE asc
    </select>

    <update id="updateGrowthRate">
        <foreach collection="collection" item="item" index="index"  open="begin" close=";end;" separator=";">
            update UO_TGT_DISMANT set
            GROWTH_RATE=#{item.growthRate}
            where ID=#{item.id}
        </foreach>
    </update>

    <delete id="deleteTgtDismantById">
        DELETE FROM UO_TGT_DISMANT where TGT_ID IN
        <foreach collection="list" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
</mapper>