<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.CacheMapper">
    <select id="getDiagKpis" resultType="map">
        SELECT T.KPI_CODE, T.KPI_NAME, T.DISMANT_FORMULA,T.DISMANT_FLAG
        FROM UO_KPI_LIST_CONFIG T
        WHERE T.DIAG_FLAG = 'Y'
    </select>

    <select id="getDismantKpis" resultType="map">
        SELECT KPI_CODE,
               KPI_NAME,
               DISMANT_PART1_CODE,
               DISMANT_PART1_NAME,
               DISMANT_PART2_CODE,
               DISMANT_PART2_NAME
        FROM UO_KPI_DISMANT_CONFIG
        WHERE KPI_CODE =#{kpiCode}
    </select>

    <select id="getDiagDims" resultType="map">
        SELECT DIM_CODE, DIM_NAME, VALUE_TYPE, VALUE_SQL
        FROM UO_DIM_LIST_CONFIG
        WHERE DIAG_FLAG = 'Y' ORDER BY ORDER_NO ASC
    </select>

    <select id="getReasonDims" resultType="map">
        SELECT DIM_CODE, DIM_NAME, VALUE_TYPE, VALUE_SQL
        FROM UO_DIM_LIST_CONFIG
        WHERE REASON_FLAG = 'Y' ORDER BY ORDER_NO ASC
    </select>

    <select id="getDimValuesBySql"  parameterType="string" resultType="java.util.LinkedHashMap">
        ${_parameter}
    </select>

    <select id="getDimValuesDirect" resultType="java.util.LinkedHashMap">
        SELECT VALUE_CODE,VALUE_DESC FROM  UO_DIM_VALUES_CONFIG WHERE DIM_CODE=#{dimCode} ORDER BY ORDER_NO DESC
    </select>

 </mapper>
