<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.CacheMapper">

    <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.ReasonTemplateInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="TEMPLATE_CODE" jdbcType="VARCHAR" property="templateCode" />
        <result column="TEMPLATE_NAME" jdbcType="VARCHAR" property="templateName" />
        <result column="REASON_KPI_CODE" jdbcType="VARCHAR" property="reasonKpiCode" />
        <result column="REASON_KPI_NAME" jdbcType="VARCHAR" property="reasonKpiName" />
        <result column="REASON_KPI_ORDER" jdbcType="DECIMAL" property="reasonKpiOrder" />
        <result column="TEMPLATE_ORDER" jdbcType="DECIMAL" property="templateOrder" />
    </resultMap>

    <resultMap id="KpiConfigMap" type="com.linksteady.operate.domain.KpiConfigInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="KPI_CODE" jdbcType="VARCHAR" property="kpiCode" />
        <result column="KPI_NAME" jdbcType="VARCHAR" property="kpiName" />
        <result column="REASON_FLAG" jdbcType="VARCHAR" property="reasonFlag" />
        <result column="DISMANT_FLAG" jdbcType="VARCHAR" property="dismantFlag" />
        <result column="DIAG_FLAG" jdbcType="VARCHAR" property="diagFlag" />
        <result column="DISMANT_FORMULA" jdbcType="VARCHAR" property="dismantFormula" />
    </resultMap>

    <resultMap id="KpiDismantMap" type="com.linksteady.operate.domain.KpiDismantInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="KPI_CODE" jdbcType="VARCHAR" property="kpiCode" />
        <result column="KPI_NAME" jdbcType="VARCHAR" property="kpiName" />
        <result column="DISMANT_PART1_CODE" jdbcType="VARCHAR" property="dismantPart1Code" />
        <result column="DISMANT_PART1_NAME" jdbcType="VARCHAR" property="dismantPart1Name" />
        <result column="DISMANT_PART2_CODE" jdbcType="VARCHAR" property="dismantPart2Code" />
        <result column="DISMANT_PART2_NAME" jdbcType="VARCHAR" property="dismantPart2Name" />
    </resultMap>

    <select id="getKpiList" resultMap="KpiConfigMap">
        SELECT T.KPI_CODE, T.KPI_NAME, T.DISMANT_FORMULA,T.DISMANT_FLAG,T.DIAG_FLAG,T.REASON_FLAG
        FROM UO_KPI_LIST_CONFIG T
    </select>

    <select id="getDismantKpis" resultMap="KpiDismantMap">
        SELECT KPI_CODE,
               KPI_NAME,
               DISMANT_PART1_CODE,
               DISMANT_PART1_NAME,
               DISMANT_PART2_CODE,
               DISMANT_PART2_NAME
        FROM UO_KPI_DISMANT_CONFIG
        WHERE KPI_CODE =#{kpiCode}
    </select>

    <select id="getDiagDims" resultType="map">
        SELECT DIM_CODE, DIM_NAME, VALUE_TYPE, VALUE_SQL
        FROM UO_DIM_LIST_CONFIG
        WHERE DIAG_FLAG = 'Y' ORDER BY ORDER_NO ASC
    </select>

    <select id="getReasonDims" resultType="map">
        SELECT DIM_CODE, DIM_NAME, VALUE_TYPE, VALUE_SQL
        FROM UO_DIM_LIST_CONFIG
        WHERE REASON_FLAG = 'Y' ORDER BY ORDER_NO ASC
    </select>

    <select id="getDimValuesBySql"  parameterType="string" resultType="java.util.LinkedHashMap">
        ${_parameter}
    </select>

    <select id="getDimValuesDirect" resultType="java.util.LinkedHashMap">
        SELECT VALUE_CODE,VALUE_DESC FROM  UO_DIM_VALUES_CONFIG WHERE DIM_CODE=#{dimCode} ORDER BY ORDER_NO DESC
    </select>

    <select id="getReasonRelateKpis" resultMap="BaseResultMap">
        SELECT TEMPLATE_CODE,
               TEMPLATE_NAME,
               REASON_KPI_CODE,
               REASON_KPI_NAME,
               REASON_KPI_ORDER,
               TEMPLATE_ORDER
        FROM UO_REASON_TEMPLATE_CONFIG
    </select>

 </mapper>
