<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.CommonSelectMapper">

    <resultMap id="CollectorMap" type="com.linksteady.operate.domain.DiagComnCollector">
        <result column="PERIOD_NAME" jdbcType="VARCHAR" property="periodName" />
        <result column="GMV" jdbcType="DECIMAL" property="gmv" />
        <result column="UCNT" jdbcType="DECIMAL" property="ucnt" />
        <result column="UPRICE" jdbcType="DECIMAL" property="uprice" />
        <result column="PRICE" jdbcType="DECIMAL" property="price" />
        <result column="PCNT" jdbcType="DECIMAL" property="pcnt" />
        <result column="JOINRATE" jdbcType="DECIMAL" property="joinrate" />
        <result column="SPRICE" jdbcType="DECIMAL" property="sprice" />
        <result column="SPRICE2" jdbcType="DECIMAL" property="sprice2" />
        <result column="DISRATE" jdbcType="DECIMAL" property="disrate" />
        <result column="TSPAN" jdbcType="DECIMAL" property="tspan" />
        <result column="FREQ" jdbcType="DECIMAL" property="freq" />
    </resultMap>

    <resultMap id="AddCollectorMap" type="com.linksteady.operate.domain.DiagAddDataCollector">
        <result column="DIM_VALUE" jdbcType="VARCHAR" property="dimValue" />
        <result column="PERIOD_NAME" jdbcType="VARCHAR" property="periodName" />
        <result column="VALUE" jdbcType="DECIMAL" property="value" />
    </resultMap>

    <select id="selectOnlyDoubleValue" parameterType="string" resultType="double">
        ${_parameter}
    </select>

    <select id="selectCollectorDataBySql" resultMap="CollectorMap" parameterType="string">
        ${_parameter}
    </select>

    <select id="selectStringBySql" resultType="String" parameterType="string">
        ${_parameter}
    </select>

    <select id="selectAddData" resultMap="AddCollectorMap" parameterType="string">
        ${_parameter}
    </select>
 </mapper>
