<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.DiagConditionMapper">
  <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.DiagCondition">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="DIAG_ID" jdbcType="DECIMAL" property="diagId" />
    <result column="NODE_ID" jdbcType="DECIMAL" property="nodeId" />
    <result column="DIM_CODE" jdbcType="VARCHAR" property="dimCode" />
    <result column="DIM_VALUES" jdbcType="VARCHAR" property="dimValues" />
    <result column="DIM_VALUE_DISPLAY" jdbcType="VARCHAR" property="dimValueDisplay" />
    <result column="INHERIT_FLAG" jdbcType="VARCHAR" property="inheritFlag"></result>
  </resultMap>

  <insert id="save">
    insert into UO_DIAG_CONDITION(DIAG_ID, NODE_ID, DIM_CODE, DIM_VALUES, DIM_VALUE_DISPLAY, INHERIT_FLAG)
    select m.* from
    <foreach collection="list" item="t" separator="union all" open="(" close=")">
      select #{t.diagId, jdbcType=NUMERIC}, #{t.nodeId, jdbcType=NUMERIC},#{t.dimCode, jdbcType=VARCHAR},#{t.dimValues, jdbcType=VARCHAR},#{t.dimValueDisplay, jdbcType=VARCHAR}, #{t.inheritFlag, jdbcType=VARCHAR}
      from dual
    </foreach>
    m
  </insert>

  <select id="findByDiagId" resultMap="BaseResultMap">
    select * from UO_DIAG_CONDITION where DIAG_ID = #{diagId}
  </select>

  <delete id="deleteByDiagId">
    delete from UO_DIAG_CONDITION where DIAG_ID = #{diagId}
  </delete>
</mapper>