<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.DiagMapper">
  <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.Diag">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="DIAG_ID" jdbcType="DECIMAL" property="diagId" />
    <result column="DIAG_NAME" jdbcType="VARCHAR" property="diagName" />
    <result column="PERIOD_TYPE" jdbcType="VARCHAR" property="periodType" />
    <result column="BEGIN_DT" jdbcType="VARCHAR" property="beginDt" />
    <result column="END_DT" jdbcType="VARCHAR" property="endDt" />
  </resultMap>

  <select id="getList" resultMap="BaseResultMap">
    select * from (select ROWNUM rn, t.* from
    (select DIAG_ID, DIAG_NAME, PERIOD_TYPE, BEGIN_DT, END_DT  from UO_DIAG_LIST
      order by DIAG_ID DESC ) t where ROWNUM &lt;=#{endRow}) where rn &gt;=#{startRow}
  </select>

  <select id="getTotalCount" resultType="Long">
    select count(1) from UO_DIAG_LIST
  </select>

  <insert id="save">
    <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="diagId">
      select seq_diag_id.nextval from dual
    </selectKey>
    insert into UO_DIAG_LIST(DIAG_ID, DIAG_NAME, PERIOD_TYPE, BEGIN_DT, END_DT)
    values(#{diagId}, #{diagName}, #{periodType}, #{beginDt}, #{endDt})
  </insert>

  <select id="findByDiagId" resultMap="BaseResultMap">
    select * from UO_DIAG_LIST where DIAG_ID = #{diagId}
  </select>
</mapper>