<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.GmvPlanMapper">
  <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.GmvPlan">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="PLAN_ID" jdbcType="DECIMAL" property="planId" />
    <result column="YEAR_ID" jdbcType="DECIMAL" property="yearId" />
    <result column="GMV_TARGET" jdbcType="DECIMAL" property="gmvTarget" />
    <result column="TARGET_RATE" jdbcType="DECIMAL" property="targetRate" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="FORECAST_GMV" jdbcType="DECIMAL" property="forecastGmv" />
    <result column="FORECAST_RATE" jdbcType="DECIMAL" property="forecastRate" />
    <result column="CREATE_DT" jdbcType="TIMESTAMP" property="createDt" />
    <result column="UPDATE_DT" jdbcType="TIMESTAMP" property="updateDt" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>

  <select id="getPredictData" resultMap="BaseResultMap">
    select GMV_TARGET, TARGET_RATE from UO_GMV_PLAN where YEAR_ID = #{year}
  </select>
</mapper>