<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.LifeCycleMapper">
    <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.LcSpuInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="SPU_WID" jdbcType="DECIMAL" property="spuWid" />
        <result column="SPU_NAME" jdbcType="VARCHAR" property="spuName" />
        <result column="STOCK_NUM" jdbcType="DECIMAL" property="stockNum" />
        <result column="SALES_NUM" jdbcType="DECIMAL" property="salesNum" />
        <result column="TIME_TO_MARKET" jdbcType="TIMESTAMP" property="timeToMarket" />
        <result column="STOCKBYSALES" jdbcType="DECIMAL" property="stockbysales" />
        <result column="ONSALE_DURATION" jdbcType="DECIMAL" property="onsaleDuration" />
        <result column="SALE_BEGIN_DT" jdbcType="TIMESTAMP" property="saleBeginDt" />
        <result column="SALE_END_DT" jdbcType="TIMESTAMP" property="saleEndDt" />
        <result column="REAL_FEE" jdbcType="DECIMAL" property="gmvTotal" />
    </resultMap>

    <select id="getSpuList" resultMap="BaseResultMap">
        with g1 as
        (
                SELECT
                SPU.SPU_WID,
                SUM(T.PRICE*T.QUANTITY-T.DISCOUNT) REAL_FEE
                FROM W_ORDER_DETAILS T,W_DATE DT,(SELECT PRODUCT_ID,SPU_WID FROM W_PRODUCT) spu
                WHERE
                T.ORDER_DT_WID=DT.ROW_WID
                AND T.PRODUCT_ID=SPU.PRODUCT_ID
                AND T.VALID_STATUS=1
                AND DT.row_wid &gt;=#{startDt}
                AND DT.row_wid &lt;=#{endDt}
                GROUP BY SPU.SPU_WID
                )
                select
                UO_LC_SPU_LIST.SPU_WID,
                SPU_NAME,
                STOCK_NUM,
                SALES_NUM,
                TIME_TO_MARKET,
                STOCKBYSALES,
                ONSALE_DURATION,
                SALE_BEGIN_DT,
                SALE_END_DT,
                REAL_FEE
        from UO_LC_SPU_LIST JOIN  g1 on  g1.spu_wid=UO_LC_SPU_LIST.spu_wid
    </select>


 </mapper>
