<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.OrderCntMapper">

    <!--获取年月日不同周期的用户数-->
    <select id="getKpiOfDifferPeriod" resultType="Double">
        SELECT SUM(COUNT(W_ORDERS.ID)) TOTAL_CNT
        FROM
        W_ORDERS
        JOIN W_DATE ON W_ORDERS.ORDER_DT_WID = W_DATE.ROW_WID
        WHERE
        W_ORDERS.VALID_STATUS = 1
        AND TRUNC(W_DATE.CALENDAR_DATE, #{truncFormat}) &gt;= TRUNC(TO_DATE(#{startDt}, #{format}), #{truncFormat})
        AND TRUNC(W_DATE.CALENDAR_DATE, #{truncFormat}) &lt;= TRUNC(TO_DATE(#{endDt}, #{format}), #{truncFormat})
        GROUP BY
        W_DATE.DAY_SHORT_NAME
    </select>

    <!--查询起止时间段内的GMV值-->
    <select id="getDatePeriodData" resultType="com.linksteady.operate.vo.KpiInfoVo">
        SELECT COUNT(W_ORDERS.ID) kpiVal,
        to_char(W_DATE.CALENDAR_DATE, '${format}') kpiDate
        FROM
        W_ORDERS
        JOIN W_DATE ON W_ORDERS.ORDER_DT_WID = W_DATE.ROW_WID
        WHERE
        W_ORDERS.VALID_STATUS = 1
        AND TRUNC(W_DATE.CALENDAR_DATE, '${truncFormat}') &gt;= TRUNC(TO_DATE(#{start}, '${format}'), 'mm')
        AND TRUNC(W_DATE.CALENDAR_DATE, '${truncFormat}') &lt;= TRUNC(TO_DATE(#{end}, '${format}'), 'mm')
        GROUP BY
        to_char(W_DATE.CALENDAR_DATE, '${format}')
        order by
        to_char(W_DATE.CALENDAR_DATE, '${format}') asc
    </select>

    <select id="getSpAndFpKpi" resultType="com.linksteady.operate.vo.KpiInfoVo">
        SELECT COUNT(W_ORDERS.ID) kpiVal,
            TO_CHAR(W_DATE.CALENDAR_DATE, '${format}') kpiDate,
            COUNT(DISTINCT CASE WHEN W_ORDERS.IS_FP='Y' THEN W_ORDERS.ID END) fpKpiVal,
            COUNT(DISTINCT CASE WHEN W_ORDERS.IS_FP='N' THEN W_ORDERS.ID END) spKpiVal
            FROM
            W_ORDERS
            JOIN W_DATE ON W_ORDERS.ORDER_DT_WID = W_DATE.ROW_WID
            WHERE
            W_ORDERS.VALID_STATUS = 1
            AND TRUNC(W_DATE.CALENDAR_DATE, '${truncFormat}') &gt;= TRUNC(TO_DATE(#{start}, '${format}'), 'mm')
            AND TRUNC(W_DATE.CALENDAR_DATE, '${truncFormat}') &lt;= TRUNC(TO_DATE(#{end}, '${format}'), 'mm')
            GROUP BY
            TO_CHAR(W_DATE.CALENDAR_DATE, '${format}')
            order by
            TO_CHAR(W_DATE.CALENDAR_DATE, '${format}') asc
    </select>

    <select id="getSpAndFpKpiTotal" resultType="com.linksteady.operate.vo.KpiInfoVo">
        SELECT
            SUM(COUNT(W_ORDERS.ID)) kpiVal,
            SUM(COUNT(DISTINCT CASE WHEN W_ORDERS.IS_FP='Y' THEN W_ORDERS.ID END)) fpKpiVal,
            SUM(COUNT(DISTINCT CASE WHEN W_ORDERS.IS_FP='N' THEN W_ORDERS.ID END)) spKpiVal
            FROM
            W_ORDERS
            JOIN W_DATE ON W_ORDERS.ORDER_DT_WID = W_DATE.ROW_WID
            WHERE
            W_ORDERS.VALID_STATUS = 1
            AND TRUNC(W_DATE.CALENDAR_DATE, '${truncFormat}') &gt;= TRUNC(TO_DATE(#{start}, '${format}'), 'mm')
            AND TRUNC(W_DATE.CALENDAR_DATE, '${truncFormat}') &lt;= TRUNC(TO_DATE(#{end}, '${format}'), 'mm')
            GROUP BY
            TO_CHAR(W_DATE.CALENDAR_DATE, '${format}')
            order by
            TO_CHAR(W_DATE.CALENDAR_DATE, '${format}') asc
    </select>
    <select id="getSpOrFpKpiVal" resultType="com.linksteady.operate.vo.KpiInfoVo">
        SELECT
        TO_CHAR(W_DATE.CALENDAR_DATE, '${format}') kpiDate,
        COUNT(DISTINCT CASE WHEN W_ORDERS.IS_FP='${isFp}' THEN W_ORDERS.ID END) kpiVal
        FROM
        W_ORDERS
        JOIN W_DATE ON W_ORDERS.ORDER_DT_WID = W_DATE.ROW_WID
        WHERE
        W_ORDERS.VALID_STATUS = 1
        AND TRUNC(W_DATE.CALENDAR_DATE, '${truncFormat}') &gt;= TRUNC(TO_DATE(#{start}, '${format}'), 'mm')
        AND TRUNC(W_DATE.CALENDAR_DATE, '${truncFormat}') &lt;= TRUNC(TO_DATE(#{end}, '${format}'), 'mm')
        GROUP BY
        TO_CHAR(W_DATE.CALENDAR_DATE, '${format}')
        order by
        TO_CHAR(W_DATE.CALENDAR_DATE, '${format}') asc
    </select>
</mapper>
