<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.PlanDetailMapper">
  <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.PlanDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="PLAN_DETAIL_ID" jdbcType="DECIMAL" property="planDetailId" />
    <result column="PLAN_ID" jdbcType="DECIMAL" property="planId" />
    <result column="YEAR_ID" jdbcType="DECIMAL" property="yearId" />
    <result column="MONTH_ID" jdbcType="DECIMAL" property="monthId" />
    <result column="GMV_VALUE" jdbcType="DECIMAL" property="gmvValue" />
    <result column="GMV_PCT" jdbcType="DECIMAL" property="gmvPct" />
    <result column="GMV_TB" jdbcType="DECIMAL" property="gmvTb" />
    <result column="GMV_TB_RATE" jdbcType="DECIMAL" property="gmvTbRate" />
    <result column="CREATE_DT" jdbcType="TIMESTAMP" property="createDt" />
    <result column="UPDATE_DT" jdbcType="TIMESTAMP" property="updateDt" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="IS_HISTORY" jdbcType="VARCHAR" property="isHistory"/>
  </resultMap>

  <select id="getPlanDetail" resultMap="BaseResultMap">
    select * from UO_GMV_PLAN_DETAIL where YEAR_ID = #{year} order by MONTH_ID asc
  </select>

  <select id="getPlanDetailId">
    select seq_uo_plan_detail_id.nextval from dual
  </select>

  <insert id="addPlanDetails">
    insert into UO_GMV_PLAN_DETAIL(PLAN_DETAIL_ID, PLAN_ID, YEAR_ID, MONTH_ID, GMV_VALUE, GMV_PCT, GMV_TB, GMV_TB_RATE, IS_HISTORY,CREATE_DT,UPDATE_DT)
    select seq_uo_plan_detail_id.nextval, m.* from
    <foreach collection="list" item="pl" separator="union all" open="(" close=")">
      select #{pl.planId,jdbcType=DECIMAL},
             #{pl.yearId,jdbcType=DECIMAL},
             #{pl.monthId,jdbcType=DECIMAL},
             #{pl.gmvValue,jdbcType=DECIMAL},
             #{pl.gmvPct,jdbcType=DECIMAL},
             #{pl.gmvTb,jdbcType=DECIMAL},
             #{pl.gmvTbRate,jdbcType=DECIMAL},
             #{pl.isHistory, jdbcType=VARCHAR},
             #{pl.createDt, jdbcType=TIMESTAMP},
             #{pl.updateDt, jdbcType=TIMESTAMP}
      from dual
    </foreach>
    m
  </insert>

  <update id="updateDetail">
     update UO_GMV_PLAN_DETAIL t set GMV_VALUE = ${gmvValue} where t.month_id = ${monthId}
  </update>

  <delete id="deleteDataByYear">
    delete from UO_GMV_PLAN_DETAIL where YEAR_ID = #{year}
  </delete>
</mapper>