<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ReasonMapper">

   <resultMap id="relatedkpimap" type="com.linksteady.operate.domain.ReasonKpis">
       <result column="REASON_ID" property="reasonId"/>
       <result column="TEMPLATE_CODE" property="templateCode"/>
       <result column="REASON_KPI_CODE" property="reasonKpiCode"/>
       <result column="CONFIG_INFO1" property="chartType"/>
       <result column="CONFIG_INFO2" property="configInfo2"/>
       <result column="PERIOD_TYPE" property="periodType"/>
       <result column="REASON_KPI_NAME" property="reasonKpiName"/>
   </resultMap>

   <select id="getReasonTotalCount" resultType="int">
     select count(*) from UO_REASON_LIST
   </select>

  <select id="getReasonList" resultType="map">
   SELECT * FROM(
    SELECT A.*,ROWNUM RN FROM
      (SELECT
         RL.REASON_ID,
         RL.REASON_NAME,
         RL.STATUS,
         RL.PROGRESS,
         TO_CHAR(RL.BEGIN_DT,'YYYY-MM-DD') BEGIN_DT,
         TO_CHAR(RL.END_DT,'YYYY-MM-DD') END_DT,
         TO_CHAR(RL.CREATE_DT,'YYYY-MM-DD') CREATE_DT,
         TO_CHAR(RL.UPDATE_DT,'YYYY-MM-DD') UPDATE_DT,
         RL.CREATE_BY,
         RL.UPDATE_BY,
         RL.KPI_CODE,
         RL.PERIOD_TYPE,
         KL.KPI_NAME,
         RL.SOURCE
    FROM UO_REASON_LIST RL,UO_KPI_LIST_CONFIG KL WHERE RL.KPI_CODE=KL.KPI_CODE(+) ORDER BY REASON_ID DESC) A  WHERE ROWNUM &lt;=#{endRow}
    ) WHERE RN &gt;=#{startRow}

  </select>

   <select id="getReasonPrimaryKey" resultType="int">
       SELECT UO_REASON_LIST_SEQ.NEXTVAL FROM DUAL
   </select>

    <insert id="saveReasonData">
        INSERT INTO UO_REASON_LIST
            (
                REASON_ID,
                REASON_NAME,
                STATUS,
                PROGRESS,
                BEGIN_DT,
                END_DT,
                CREATE_DT,
                UPDATE_DT,
                CREATE_BY,
                UPDATE_BY,
                KPI_CODE,
                PERIOD_TYPE,
                SOURCE
            )VALUES
            (
                #{reasonId,jdbcType=INTEGER},
                #{reasonName},
                #{status},
                #{progress,jdbcType=INTEGER},
                to_date(#{startDt},'yyyy-mm-dd') ,
                to_date(#{endDt},'yyyy-mm-dd') ,
                to_date(#{createDt},'yyyy-mm-dd hh24:mi:ss') ,
                to_date(#{updateDt},'yyyy-mm-dd hh24:mi:ss') ,
                #{createBy},
                #{updateBy},
                #{kpi},
                #{period},
                #{source}
            )
    </insert>

    <insert id="saveReasonDetail">
        INSERT INTO UO_REASON_DETAIL
            (
                REASON_ID,
                DIM_CODE,
                DIM_VALUES,
                DIM_DISPLAY_VALUE
            )VALUES
            (
                #{primaryKey,jdbcType=INTEGER},
                #{dimCode},
                #{dimValues},
                #{dimDisplay}
            )
    </insert>

    <delete id="deleteReasonDetail">
        delete  from UO_REASON_DETAIL t where t.reason_id=#{reasonId}
    </delete>

    <delete id="deleteReasonKpisSnp">
        delete from UO_REASON_KPIS_SNP t where t.reason_id=#{reasonId}
    </delete>

    <delete id="deleteReasonById">
        delete from UO_REASON_LIST t where t.reason_id=#{reasonId}
    </delete>

    <delete id="deleteReasonResultById">
        delete from UO_REASON_RESULT where reason_id=#{reasonId}
    </delete>

    <update id="updateProgressById">
        update UO_REASON_LIST set Progress=#{progress,jdbcType=INTEGER} where reason_id=#{reasonId}
    </update>

    <update id="updateProgressAndStatusById">
        update UO_REASON_LIST set Update_Dt=SYSDATE,STATUS='F',Progress=#{progress,jdbcType=INTEGER} where reason_id=#{reasonId}
    </update>

    <select id="getRelatedKpis" resultType="map">
        SELECT * FROM (
                          select
                              ROUND(DBMS_RANDOM.value(0,1)) RDM,
                              T.REASON_ID,
                              T1.TEMPLATE_CODE,
                              CFG.REASON_KPI_CODE,
                              CFG.REASON_KPI_TYPE,
                              TO_CHAR(t.BEGIN_DT,'YYYY-MM-DD') BEGIN_DT,
                              TO_CHAR(t.END_DT,'YYYY-MM-DD')  END_DT,
                              t.PERIOD_TYPE,
                              cfg.CONFIG_INFO1,
                              cfg.CONFIG_INFO2,
                              cfg.REASON_KPI_NAME
                          from UO_REASON_LIST            t,
                               UO_REASON_TEMPLATE        T1,
                               UO_REASON_TEMPLATE_CONFIG CFG
                          WHERE T.REASON_ID = T1.REASON_ID
                            AND T1.TEMPLATE_CODE = CFG.TEMPLATE_CODE
                            AND T.REASON_ID = #{reasonId}
                      ) WHERE  RDM=1
    </select>

    <insert id="saveRelatedKpis">
         INSERT INTO UO_REASON_KPIS
             (
                 REASON_ID,
                 TEMPLATE_CODE,
                 REASON_KPI_CODE,
                 REASON_KPI_TYPE,
                 BEGIN_DT,
                 END_DT,
                 PERIOD_TYPE,
                 CONFIG_INFO1,
                 CONFIG_INFO2,
                 REASON_KPI_NAME,
                 RESULTS,
                 CREATE_DT,
                 UPDATE_DT
             ) VALUES
             (
                 #{reasonId,jdbcType=INTEGER},
                 #{templateCode},
                 #{reasonKpiCode},
                 #{reasonKpiType},
                 #{beginDate,jdbcType=DATE},
                 #{endDate,jdbcType=DATE},
                 #{periodType},
                 #{chartType},
                 #{configInfo2},
                 #{reasonKpiName},
                 #{result},
                 #{createDt,jdbcType=DATE},
                 #{updateDt,jdbcType=DATE}
             )
    </insert>

    <select id="getReasonInfoById" resultType="map">
        SELECT
            T.REASON_ID,
            T.KPI_CODE,
            T.REASON_NAME,
            TO_CHAR(T.BEGIN_DT,'yyyy-mm-dd') BEGIN_DT,
            TO_CHAR(T.END_DT,'yyyy-mm-dd') END_DT,
            DECODE(T.PERIOD_TYPE,'D','天','月') PERIOD_TYPE,
            T.KPI_CODE,
            KL.KPI_NAME,
            T.SOURCE
        FROM UO_REASON_LIST T,
             UO_KPI_LIST_CONFIG KL
        WHERE T.KPI_CODE=KL.KPI_CODE(+)
          AND T.REASON_ID=#{reasonId}
    </select>

    <select id="getReasonDetailById" resultType="map">
        select DIM_DISPLAY_VALUE from UO_REASON_DETAIL t where reason_id=#{reasonId}
    </select>


    <select id="getRelatedKpiList" resultType="map">
        SELECT T.REASON_KPI_CODE, T.REASON_KPI_NAME
            FROM UO_REASON_KPIS T
            WHERE T.TEMPLATE_CODE = #{templateCode}
              AND T.REASON_ID = #{reasonId}
            ORDER BY T.REASON_KPI_CODE
    </select>

    <select id="getReasonKpisSnp" resultType="map">
        SELECT
            T1.TEMPLATE_CODE,
            T1.REASON_KPI_CODE,
            REASON_KPI_NAME,
            RELATE_VALUE
            DECODE(T2.REASON_ID,NULL,'N','Y') IS_CONCERN
        FROM
            (select     T.REASON_ID
                        T.TEMPLATE_CODE,
                        T.REASON_KPI_CODE,
                        T.REASON_KPI_NAME,
                        T.RELATE_VALUE
             from UO_REASON_KPIS_SNP t
             WHERE
                 T.TEMPLATE_CODE=#{templateCode}
               AND T.REASON_ID=#{reasonId}) T1 LEFT JOIN
                    (SELECT * FROM UO_REASON_CONCERN WHERE REASON_ID=#{reasonId}) T2
                    ON T1.REASON_ID=T2.REASON_ID AND T1.TEMPLATE_CODE=T2.TEMPLATE_CODE AND T1.REASON_KPI_CODE=T2.REASON_KPI_CODE
    </select>

    <select id="getReasonRelatedKpi" resultMap="relatedkpimap">
        SELECT
            T.REASON_ID,
            T.TEMPLATE_CODE,
            T.REASON_KPI_CODE,
            T.CONFIG_INFO1,
            T.CONFIG_INFO2,
            T.PERIOD_TYPE,
            T.REASON_KPI_NAME,
            T.DATAS
        FROM UO_REASON_KPIS T
        WHERE T.REASON_ID = #{reasonId}
          AND T.REASON_KPI_CODE=#{reasonKpiCode}
          AND T.TEMPLATE_CODE=#{templateCode}
    </select>

    <select id="getConcernKpiList" resultType="map">
        select   T.KPI_CODE,
                 T.TEMPLATE_CODE,
                 T3.TEMPLATE_NAME,
                 T.REASON_KPI_CODE,
                 T.REASON_KPI_TYPE,
                 T.REASON_KPI_NAME,
                 T.RELATE_VALUE,
                 T.RELATE_FLAG,
                 T.REGRESSION_VALUE
        from UO_REASON_KPIS_HISTORY t JOIN
                     (SELECT * FROM UO_REASON_CONCERN WHERE REASON_ID=#{reasonId}) T2
                     ON T.KPI_CODE=T2.KPI_CODE AND T.TEMPLATE_CODE=T2.TEMPLATE_CODE  AND T.REASON_KPI_CODE=T2.REASON_KPI_CODE
                                      LEFT JOIN UO_REASON_TEMPLATE_CONFIG T3
                                                ON T.TEMPLATE_CODE=T3.TEMPLATE_CODE AND T.REASON_KPI_CODE=T3.REASON_KPI_CODE
        ORDER BY T.TEMPLATE_CODE ASC,T.REASON_KPI_TYPE ASC,T.REGRESSION_VALUE DESC
    </select>

    <select id="getConcernKpiCount" resultType="int">
        SELECT COUNT(*)
        FROM UO_REASON_CONCERN
        WHERE REASON_ID = #{reasonId}
          AND KPI_CODE = #{kpiCode}
          AND TEMPLATE_CODE = #{templateCode}
          AND REASON_KPI_CODE = #{reasonKpiCode}
    </select>

    <insert id="addConcernKpi">
      INSERT INTO UO_REASON_CONCERN(REASON_ID,KPI_CODE,TEMPLATE_CODE,REASON_KPI_CODE) VALUES( #{reasonId},#{kpiCode},#{templateCode},#{reasonKpiCode})
    </insert>

    <delete id="deleteConcernKpi">
        DELETE FROM UO_REASON_CONCERN  WHERE REASON_ID = #{reasonId}
                                         AND KPI_CODE = #{kpiCode}
                                         AND TEMPLATE_CODE = #{templateCode}
                                         AND REASON_KPI_CODE = #{reasonKpiCode}
    </delete>

 </mapper>
