<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ReasonMapper">

   <select id="getReasonTotalCount" resultType="int">
     select count(*) from UO_REASON_LIST
   </select>

  <select id="getReasonList" resultType="map">
   SELECT * FROM(
    SELECT A.*,ROWNUM RN FROM
      (SELECT
         RL.REASON_ID,
         RL.REASON_NAME,
         RL.STATUS,
         RL.PROGRESS,
         RL.BEGIN_DT,
         RL.END_DT,
         TO_CHAR(RL.CREATE_DT,'YYYY-MM-DD') CREATE_DT,
         TO_CHAR(RL.UPDATE_DT,'YYYY-MM-DD') UPDATE_DT,
         RL.CREATE_BY,
         RL.UPDATE_BY,
         RL.KPI_CODE,
         RL.PERIOD_TYPE,
         KL.KPI_NAME,
         RL.SOURCE
    FROM UO_REASON_LIST RL,UO_KPI_LIST_CONFIG KL WHERE RL.KPI_CODE=KL.KPI_CODE(+) ORDER BY REASON_ID DESC) A  WHERE ROWNUM &lt;=#{endRow}
    ) WHERE RN &gt;=#{startRow}

  </select>

   <select id="getReasonPrimaryKey" resultType="int">
       SELECT UO_REASON_LIST_SEQ.NEXTVAL FROM DUAL
   </select>

    <insert id="saveReasonData">
        INSERT INTO UO_REASON_LIST
            (
                REASON_ID,
                REASON_NAME,
                STATUS,
                PROGRESS,
                BEGIN_DT,
                END_DT,
                CREATE_DT,
                UPDATE_DT,
                CREATE_BY,
                UPDATE_BY,
                KPI_CODE,
                PERIOD_TYPE,
                SOURCE
            )VALUES
            (
                #{reasonId,jdbcType=INTEGER},
                #{reasonName},
                #{status},
                #{progress,jdbcType=INTEGER},
                #{startDt},
                #{endDt},
                to_date(#{createDt},'yyyy-mm-dd hh24:mi:ss') ,
                to_date(#{updateDt},'yyyy-mm-dd hh24:mi:ss') ,
                #{createBy},
                #{updateBy},
                #{kpi},
                #{period},
                #{source}
            )
    </insert>

    <insert id="saveReasonDetail">
        INSERT INTO UO_REASON_DETAIL
            (
                REASON_ID,
                DIM_CODE,
                DIM_VALUES,
                DIM_DISPLAY_VALUE
            )VALUES
            (
                #{primaryKey,jdbcType=INTEGER},
                #{dimCode},
                #{dimValues},
                #{dimDisplay}
            )
    </insert>

    <delete id="deleteReasonDetail">
        delete  from UO_REASON_DETAIL t where t.reason_id=#{reasonId}
    </delete>

    <delete id="deleteReasonKpisSnp">
        delete from UO_REASON_KPIS_SNP t where t.reason_id=#{reasonId}
    </delete>

    <delete id="deleteReasonById">
        delete from UO_REASON_LIST t where t.reason_id=#{reasonId}
    </delete>

    <delete id="deleteReasonResultById">
        delete from UO_REASON_RESULT where reason_id=#{reasonId}
    </delete>

    <update id="updateProgressById">
        update UO_REASON_LIST set Progress=#{progress,jdbcType=INTEGER} where reason_id=#{reasonId}
    </update>

    <update id="updateProgressAndStatusById">
        update UO_REASON_LIST set Update_Dt=SYSDATE,STATUS='F',Progress=#{progress,jdbcType=INTEGER} where reason_id=#{reasonId}
    </update>

    <select id="getKeyReasonKpis" resultType="java.lang.String">
        SELECT REASON_KPI_CODE
        FROM UO_REASON_KPIS_SNP
        WHERE REASON_ID =#{REASON_ID} AND RELATE_VALUE>0.5 ORDER BY REASON_KPI_ORDER ASC
    </select>

    <insert id="saveReasonKpisSnpKpis" parameterType="int">
         INSERT INTO UO_REASON_KPIS_SNP
             (
                 REASON_ID,
                 TEMPLATE_CODE,
                 TEMPLATE_NAME,
                 REASON_KPI_CODE,
                 REASON_KPI_NAME,
                 RELATE_VALUE,
                 TEMPLATE_ORDER,
                 REASON_KPI_ORDER,
                 CREATE_DT,
                 UPDATE_DT
             )
             (
                SELECT
                    #{REASON_ID,jdbcType=INTEGER},
                    TEMPLATE_CODE,
                    TEMPLATE_NAME,
                    REASON_KPI_CODE,
                    REASON_KPI_NAME,
                    ROUND(DBMS_RANDOM.value,4),
                    TEMPLATE_ORDER,
                    REASON_KPI_ORDER,
                    SYSDATE,
                    SYSDATE
                FROM UO_REASON_TEMPLATE_CONFIG

             )
    </insert>

    <select id="getReasonInfoById" resultType="map">
        SELECT
            T.REASON_ID,
            T.KPI_CODE,
            T.REASON_NAME,
            T.BEGIN_DT,
            T.END_DT,
            DECODE(T.PERIOD_TYPE,'D','天','月') PERIOD_TYPE,
            T.KPI_CODE,
            KL.KPI_NAME,
            T.SOURCE
        FROM UO_REASON_LIST T,
             UO_KPI_LIST_CONFIG KL
        WHERE T.KPI_CODE=KL.KPI_CODE(+)
          AND T.REASON_ID=#{reasonId}
    </select>

    <select id="getReasonDetailById" resultType="map">
        select DIM_DISPLAY_VALUE from UO_REASON_DETAIL t where reason_id=#{reasonId}
    </select>

    <select id="getReasonKpisSnp" resultType="map">
        SELECT
            T1.TEMPLATE_CODE,
            T1.REASON_KPI_CODE,
            REASON_KPI_NAME,
            RELATE_VALUE,
            DECODE(T2.REASON_ID,NULL,'N','Y') IS_CONCERN
        FROM
            (select     T.REASON_ID,
                        T.TEMPLATE_CODE,
                        T.REASON_KPI_CODE,
                        T.REASON_KPI_NAME,
                        T.RELATE_VALUE,
                        T.REASON_KPI_ORDER
             from UO_REASON_KPIS_SNP t
             WHERE
                 T.TEMPLATE_CODE=#{templateCode}
               AND T.REASON_ID=#{reasonId}) T1 LEFT JOIN
                    (SELECT * FROM UO_REASON_CONCERN WHERE REASON_ID=#{reasonId}) T2
                    ON T1.REASON_ID=T2.REASON_ID AND T1.TEMPLATE_CODE=T2.TEMPLATE_CODE AND T1.REASON_KPI_CODE=T2.REASON_KPI_CODE
         ORDER BY REASON_KPI_ORDER ASC
    </select>

    <select id="getConcernKpiList" resultType="map">
        SELECT
            T1.TEMPLATE_CODE,
            T1.TEMPLATE_NAME,
            T1.REASON_KPI_CODE,
            T1.REASON_KPI_NAME,
            T1.RELATE_VALUE
        FROM UO_REASON_KPIS_SNP T1 JOIN UO_REASON_CONCERN T2
                                        ON T1.TEMPLATE_CODE=T2.TEMPLATE_CODE AND T1.REASON_KPI_CODE=T2.REASON_KPI_CODE
                                            AND T1.REASON_ID=T2.REASON_ID
        WHERE T1.REASON_ID=#{reasonId}
        ORDER BY T1.REASON_KPI_ORDER ASC
    </select>

    <select id="getConcernKpiCount" resultType="int">
        SELECT COUNT(*)
        FROM UO_REASON_CONCERN
        WHERE REASON_ID = #{reasonId}
          AND TEMPLATE_CODE = #{templateCode}
          AND REASON_KPI_CODE = #{reasonKpiCode}
    </select>

    <insert id="addConcernKpi">
      INSERT INTO UO_REASON_CONCERN(REASON_ID,TEMPLATE_CODE,REASON_KPI_CODE) VALUES( #{reasonId},#{templateCode},#{reasonKpiCode})
    </insert>

    <delete id="deleteConcernKpi">
        DELETE FROM UO_REASON_CONCERN  WHERE REASON_ID = #{reasonId}
                                         AND TEMPLATE_CODE = #{templateCode}
                                         AND REASON_KPI_CODE = #{reasonKpiCode}
    </delete>

    <insert id="saveRelateMatrix" parameterType="java.util.List">
        insert into UO_REASON_REL_MATRIX (REASON_ID,F_CODE,F_NAME,RF_CODE,RF_NAME,F_ORDERNO,RF_ORDER_NO,RELATE_VALUE,CREATE_DT)
        select m.* from
        <foreach collection="list" item="item" separator="union all" open="(" close=")">
            select
              #{item.reasonId,jdbcType=VARCHAR},
              #{item.fcode,jdbcType=VARCHAR},
              #{item.fname,jdbcType=VARCHAR},
              #{item.rfcode,jdbcType=VARCHAR},
              #{item.rfname,jdbcType=VARCHAR},
              #{item.forderNo,jdbcType=VARCHAR},
              #{item.rforderNo,jdbcType=VARCHAR},
              #{item.relateValue,jdbcType=VARCHAR},
              SYSDATE
          from dual
        </foreach>
        m
    </insert>

    <select id="getReasonResultList" resultType="map">
        SELECT REASON_ID,FCODE,FNAME,FORMULA,BUSINESS from UO_REASON_RESULT WHERE REASON_ID=#{reasonId} ORDER BY F_ORDER_NO ASC
    </select>

    <select id="getReasonResultCount" resultType="int">
        SELECT COUNT(*) from UO_REASON_RESULT WHERE REASON_ID=#{reasonId} AND FCODE=#{fcode}
    </select>

    <delete id="deleteReasonResult">
        DELETE FROM UO_REASON_RESULT WHERE REASON_ID=#{reasonId} AND FCODE=#{fcode}
    </delete>

    <insert id="saveReasonResult">
        INSERT INTO UO_REASON_RESULT(REASON_ID,FCODE,FNAME,FORMULA,BUSINESS,INSERT_DT)
        VALUES (#{reasonId,jdbcType=INTEGER},#{fcode},#{fname},#{formula},#{business},SYSDATE)
    </insert>

 </mapper>
