<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.SpuCycleMapper">
  <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.SpuCycle">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="SPU_NAME" jdbcType="VARCHAR" property="spuName" />
    <result column="RE_PURCH" jdbcType="VARCHAR" property="rePurch" />
    <result column="PURCH_INTERVAL" jdbcType="VARCHAR" property="purchInterval" />
    <result column="NUM_PURCH_TYPE" jdbcType="VARCHAR" property="numPurchType" />
    <result column="JOINT_RATE" jdbcType="VARCHAR" property="jointRate" />
    <result column="LIFECYCLE_TYPE" jdbcType="VARCHAR" property="lifecycleType" />
    <result column="ACC_PURCH_TIMES" jdbcType="VARCHAR" property="accPurchTimes" />
    <result column="AVG_PIECE_PRICE" jdbcType="VARCHAR" property="avgPiecePrice" />
    <result column="SPU_ID" jdbcType="VARCHAR" property="spuId" />
  </resultMap>

  <select id="getDataList" resultMap="BaseResultMap">
    SELECT * FROM(
    SELECT A.*,ROWNUM RN FROM
      (SELECT
         USER_ID, SPU_NAME, RE_PURCH, PURCH_INTERVAL, NUM_PURCH_TYPE, JOINT_RATE, LIFECYCLE_TYPE, ACC_PURCH_TIMES, AVG_PIECE_PRICE
    FROM UO_LC_SPU_TARGET) A  WHERE ROWNUM &lt;=#{endRow}
    ) WHERE RN &gt;=#{startRow}
  </select>

  <select id="getTotalCount" resultType="int">
    select count(1) from UO_LC_SPU_TARGET
  </select>
</mapper>