<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.StateJudgeMapper">
  <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.StateJudge">
    <result column="NN_PROFIT_RATE" jdbcType="DECIMAL" property="nnProfitRate" />
    <result column="NN_SALES_RATE" jdbcType="DECIMAL" property="nnSalesRate" />
    <result column="NN_UCT_RATE" jdbcType="DECIMAL" property="nnUctRate" />
    <result column="NN_UCT" jdbcType="DECIMAL" property="nnUct" />
    <result column="NI_PROFIT_RATE" jdbcType="DECIMAL" property="niProfitRate" />
    <result column="NI_SALES_RATE" jdbcType="DECIMAL" property="niSalesRate" />
    <result column="NI_UCT_RATE" jdbcType="DECIMAL" property="niUctRate" />
    <result column="NI_UCT" jdbcType="DECIMAL" property="niUct" />
    <result column="OM_PROFIT_RATE" jdbcType="DECIMAL" property="omProfitRate" />
    <result column="OM_SALES_RATE" jdbcType="DECIMAL" property="omSalesRate" />
    <result column="OM_UCT_RATE" jdbcType="DECIMAL" property="omUctRate" />
    <result column="OM_UCT" jdbcType="DECIMAL" property="omUct" />
    <result column="OD_PROFIT_RATE" jdbcType="DECIMAL" property="odProfitRate" />
    <result column="OD_SALES_RATE" jdbcType="DECIMAL" property="odSalesRate" />
    <result column="OD_UCT_RATE" jdbcType="DECIMAL" property="odUctRate" />
    <result column="OD_UCT" jdbcType="DECIMAL" property="odUct" />
    <result column="OL_PROFIT_RATE" jdbcType="DECIMAL" property="olProfitRate" />
    <result column="OL_SALES_RATE" jdbcType="DECIMAL" property="olSalesRate" />
    <result column="OL_UCT_RATE" jdbcType="DECIMAL" property="olUctRate" />
    <result column="OL_UCT" jdbcType="DECIMAL" property="olUct" />
    <result column="CONCLUSION" jdbcType="VARCHAR" property="conclusion" />
    <result column="MONTH_ID" jdbcType="DECIMAL" property="monthId" />
  </resultMap>
</mapper>
