<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.TgtDismantMapper">
  <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.TgtDismant">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PERIOD_TYPE" jdbcType="VARCHAR" property="periodType" />
    <result column="PERIOD_DATE" jdbcType="VARCHAR" property="periodDate" />
    <result column="ACTUAL_VAL" jdbcType="DECIMAL" property="actualVal" />
    <result column="COMPUTE_DT" jdbcType="VARCHAR" property="computeDt" />
    <result column="TGT_ID" jdbcType="DECIMAL" property="tgtId" />
    <result column="TGT_VAL" jdbcType="DECIMAL" property="tgtVal" />
    <result column="TGT_PERCENT" jdbcType="DECIMAL" property="tgtPercent" />
  </resultMap>

  <insert id="saveTargetDismant" parameterType="list">
        <selectKey resultType ="java.lang.Integer" keyProperty= "id"  order= "BEFORE">
          SELECT seq_tgt_dismant_id.NEXTVAL from DUAL
        </selectKey >
        insert into UO_TGT_DISMANT
        (ID, PERIOD_TYPE, PERIOD_DATE, ACTUAL_VAL,COMPUTE_DT,TGT_ID,TGT_VAL)
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
          (
          #{id},
          #{item.periodType},
          #{item.periodDate},
          #{item.actualVal},
          #{item.computeDt},
          #{item.tgtId},
          #{item.tgtVal},
          #{item.tgtPercent}
          )
        </foreach >
  </insert>
</mapper>