<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.YearHistoryMapper">
  <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.YearHistory">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="YEAR_ID" jdbcType="DECIMAL" property="yearId" />
    <result column="GMV_VALUE" jdbcType="DECIMAL" property="gmvValue" />
    <result column="GMV_RATE" jdbcType="DECIMAL" property="gmvRate" />
  </resultMap>

  <select id="getYearHistory" resultMap="BaseResultMap">
      select * from UO_YEAR_HISTORY t WHERE T.YEAR_ID &lt; #{year} ORDER BY YEAR_ID ASC
  </select>

  <select id="getGmvByYear" resultType="Double">
    select GMV_VALUE from UO_YEAR_HISTORY t WHERE T.YEAR_ID = #{year}
  </select>

  <select id="getMonthGmvByYear" resultType="map">
    SELECT MONTH_ID,GMV_VALUE FROM UO_MONTH_HISTORY T WHERE T.YEAR_ID=#{year}
  </select>
</mapper>