<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>导购运营结果</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="icon" data-th-href="@{/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" data-th-href="@{/css/style.min.css}"/>
    <link rel="stylesheet" href="/weui/css/weui.css"/>
    <link rel="stylesheet" href="/weui/css/weuix.css"/>
    <link rel="stylesheet" href="/weui/css/common.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap-table/bootstrap-table.min.css">
    <script src="/js/common/jquery.min.js"></script>
    <script src="/weui/js/zepto.min.js"></script>
    <script src="/weui/js/zepto.weui.js"></script>
    <script src="/weui/js/php.js"></script>
    <script src="/weui/js/iscroll-lite.js"></script>
    <script src="/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

</head>
<body ontouchstart class="page-bg">
<div class="weui-pay" style="padding: 6px;">
    <div class="weui-pay-inner" style="padding: 9px;">
        <h1 class="weui-pay-title" style="font-size: 14px;">选择观测周期</h1>
        <div class="weui-pay" style="padding: 0px;">
            <ul class="weui-payselect-ul" style="margin-top: 5px;">
                <li class="weui-payselect-li" style="padding-bottom: 0">
                    <a href="javascript:;" class="weui-payselect-a weui-payselect-on">所有</a>
                </li>
                <li class="weui-payselect-li" style="padding-bottom: 0">
                    <a href="javascript:;" class="weui-payselect-a">昨日</a>
                </li>
                <li class="weui-payselect-li" style="padding-bottom: 0">
                    <a href="javascript:;" class="weui-payselect-a">近7日</a>
                </li>
                <li class="weui-payselect-li" style="padding-bottom: 0;text-align: center;">
                    <a href="javascript:;" class="weui-payselect-a">自定义</a>
                </li>
            </ul>
            <div class="weui-flex" id="date_plate" style="display: none;">
                <div class="weui-flex__item" style="font-size: 13px;font-weight: normal;">
                    <div class="placeholder">
                        <div class="weui-cell" style="padding-left: 0px;padding-bottom: 0px;">
                            <div class="weui-cell__hd"><label for="dateStart" class="weui-label"
                                                              style="width: auto;font-weight: normal;">开始时间：</label>
                            </div>
                            <div class="weui-cell__bd">
                                <input class="weui-input" id="dateStart" type="text" placeholder="请选择"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-flex__item" style="font-size: 13px;font-weight: normal;">
                    <div class="placeholder">
                        <div class="weui-cell" style="padding-left: 0px;padding-bottom: 0px;">
                            <div class="weui-cell__hd"><label for="dateEnd" class="weui-label"
                                                              style="width: auto;font-weight: normal;">结束时间：</label>
                            </div>
                            <div class="weui-cell__bd">
                                <input class="weui-input" id="dateEnd" type="text" placeholder="请选择"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="weui-pay" style="padding: 6px;">
    <div class="weui-pay-inner" style="padding: 9px;">
        <h1 class="weui-pay-title" style="font-size: 14px;">用户购买整体情况</h1>
        <div class="weui-pay-input" style="padding-bottom: 0px;">
            <div class="weui-grids">
                <div href="javascript:;" class="weui-grid js_grid">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        用户总数
                    </p>
                    <p class="weui-grid__label">
                        <span id="totalCnt"></span>人
                    </p>
                </div>
                <div href="javascript:;" class="weui-grid js_grid">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        添加用户数
                    </p>
                    <p class="weui-grid__label">
                        <span id="addCnt"></span>人
                    </p>
                </div>
                <div href="javascript:;" class="weui-grid js_grid">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        购买用户数
                    </p>
                    <p class="weui-grid__label">
                        <span id="purchCnt"></span>人
                    </p>
                </div>
            </div>
            <div class="weui-grids" style="border-top: 0px;">
                <div href="javascript:;" class="weui-grid js_grid" style="border-bottom: 0px;">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        用户购买率
                    </p>
                    <p class="weui-grid__label">
                        <span id="purchRate"></span>%
                    </p>
                </div>
                <div href="javascript:;" class="weui-grid js_grid">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        购买金额
                    </p>
                    <p class="weui-grid__label">
                        <span id="totalAmount"></span>元
                    </p>
                </div>
                <div href="javascript:;" class="weui-grid js_grid">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                    </p>
                    <p class="weui-grid__label">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="weui-pay" style="padding: 6px;">
    <div class="weui-pay-inner" style="padding: 9px;">
        <h1 class="weui-pay-title" style="font-size: 14px;">推荐用户购买情况</h1>
        <div class="weui-pay-input" style="padding-bottom: 0px;">
            <div class="weui-grids">
                <div href="javascript:;" class="weui-grid js_grid">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        接收任务消息数
                    </p>
                    <p class="weui-grid__label">
                        <span id="receiveMsg"></span>条
                    </p>
                </div>
                <div href="javascript:;" class="weui-grid js_grid">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        推送消息数
                    </p>
                    <p class="weui-grid__label">
                        <span id="pushMsg"></span>条
                    </p>
                </div>
                <div href="javascript:;" class="weui-grid js_grid">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        推送消息执行率
                    </p>
                    <p class="weui-grid__label">
                        <span id="pushExecuteRate"></span>%
                    </p>
                </div>
            </div>
            <div class="weui-grids" style="border-top: 0px;">
                <div href="javascript:;" class="weui-grid js_grid" style="border-bottom: 0px;">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        消息任务对应推送用户数
                    </p>
                    <p class="weui-grid__label">
                        <span id="receiveUserCnt"></span>人
                    </p>
                </div>
                <div href="javascript:;" class="weui-grid js_grid">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        推送用户数
                    </p>
                    <p class="weui-grid__label">
                        <span id="pushUserCnt"></span>人
                    </p>
                </div>
                <div href="javascript:;" class="weui-grid js_grid">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        推送购买用户数
                    </p>
                    <p class="weui-grid__label">
                        <span id="pushCovCnt"></span>人
                    </p>
                </div>
            </div>
            <div class="weui-grids" style="border-top: 0px;">
                <div href="javascript:;" class="weui-grid js_grid" style="border-bottom: 0px;">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        推送转化率
                    </p>
                    <p class="weui-grid__label">
                        <span id="pushCovRate"></span>%
                    </p>
                </div>
                <div href="javascript:;" class="weui-grid js_grid">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        累计推送购买金额
                    </p>
                    <p class="weui-grid__label">
                        <span id="pushTotalAmount"></span>元
                    </p>
                </div>
                <div href="javascript:;" class="weui-grid js_grid">
                    <p class="weui-grid__label" style="color: #4c4c4c;font-size: 13px;">
                        占总体
                    </p>
                    <p class="weui-grid__label">
                        <span id="pushAmountPct"></span>%
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    getOperateResultData("-1", "", "");
    $(function(){
        var lastDay = new Date();
        lastDay.setDate(lastDay.getDate()-1);
        var month = lastDay.getMonth() + 1;
        month = month < 10 ? '0'+month : month;
        var day = lastDay.getDate() < 10 ? '0'+lastDay.getDate() : lastDay.getDate();
        var last = lastDay.getFullYear() + ''+month+''+day;

        var endDateInitValue= lastDay.getFullYear() + '-'+month+'-'+day;

        $("#dateStart").datetimePicker({
            title: '请选择开始时间',
            times:function(){return [];},
            parse:function(str){
                return str.split("-");
            },
            onChange: function (picker, values, displayValues) {
                // console.log(values);
            },
            onClose:  function (picker, values, displayValues) {
                var dateStart = $("#dateStart").val();
                dateStart = dateStart.replace(/-/g, "");
                var dateEnd = $("#dateEnd").val();
                if(dateEnd !== '') {
                    dateEnd = dateEnd.replace(/-/g, "");
                    if(dateStart > dateEnd) {
                        $.toast("<font style='font-size: 14px;'><span class='icon icon-73'></span>&nbsp;开始日期不能大于结束日期！</font>", "text");
                    }else {
                        getOperateResultData("2", dateStart.trim(), dateEnd.trim());
                    }
                }else
                {
                    $.toast("<font style='font-size: 14px;'><span class='icon icon-73'></span>&nbsp;请选择结束日期！</font>", "text");
                }
            }
        });
        $("#dateEnd").datetimePicker({
            title: '请选择结束时间',
            times:function(){return [];},
            parse:function(str){
                return str.split("-");
            },
            onChange: function (picker, values, displayValues) {
                // console.log(values);
            },
            onClose:  function (picker, values, displayValues) {
                var dateStart = $("#dateStart").val();
                var dateEnd = $("#dateEnd").val();
                dateStart = dateStart.replace(/-/g, "");
                dateEnd = dateEnd.replace(/-/g, "");

                if(dateEnd > parseInt(last)) {
                    $.toast("<font style='font-size: 14px;'><span class='icon icon-73'></span>&nbsp;结束日期只能小于等于昨天！</font>", "text");
                }else {
                    if(dateStart !== '') {
                        if(dateStart > dateEnd) {
                            $.toast("<font style='font-size: 14px;'><span class='icon icon-73'></span>&nbsp;结束日期不能小于开始日期！</font>", "text");
                        }else {
                            getOperateResultData("2", dateStart.trim(), dateEnd.trim());
                        }
                    }else
                    {
                        //请选择开始时间
                        $.toast("<font style='font-size: 14px;'><span class='icon icon-73'></span>&nbsp;请选择开始日期！</font>", "text");
                    }
                }
            }
        });
    });
    $(".weui-payselect-li").on('click',function(){
        var during = $(this).text().trim();
        if(during === '所有') {
            getOperateResultData("-1", "", "");
            $("#date_plate").hide();
        }
        if(during === '昨日') {
            getOperateResultData("0", "", "");
            $("#date_plate").hide();
        }
        if(during === '近7日') {
            getOperateResultData("1", "", "");
            $("#date_plate").hide();
        }
        if(during === '自定义') {
            $("#date_plate").show();
        }

        $(this).children().addClass("weui-payselect-on");
        $(this).siblings().children().removeClass("weui-payselect-on");
    });


    function getOperateResultData(during, startDt, endDt) {
        $.get("/qwClient/getGuideResultData", {during:during, startDt:startDt, endDt:endDt}, function(r){
            if(r.code === 200) {
                var data = r.data;
                $("#totalCnt").text(data.totalCnt);
                $("#addCnt").text(data.addCnt);
                $("#purchCnt").text(data.purchCnt);
                $("#purchRate").text(data.purchRate);
                $("#totalAmount").text(data.totalAmount);
                $("#receiveMsg").text(data.receiveMsg);
                $("#pushMsg").text(data.pushMsg);
                $("#pushExecuteRate").text(data.pushExecuteRate);
                $("#receiveUserCnt").text(data.receiveUserCnt);
                $("#pushUserCnt").text(data.pushUserCnt);
                $("#pushCovCnt").text(data.pushCovCnt);
                $("#pushCovRate").text(data.pushCovRate);
                $("#pushTotalAmount").text(data.pushTotalAmount);
                $("#pushAmountPct").text(data.pushAmountPct);
            }else
            {
                $.toast("<font style='font-size: 14px;'><span class='icon icon-73'></span>&nbsp;查询错误！</font>", "text");
            }
        });
    }
</script>
</body>
</html>