<input type="hidden" id="activity_stage"/>
<div class="row" style="margin-top: 12px;">
    <div class="col-md-12">
        <p class="h5">活动期间在售商品列表</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr" style="margin-top: 10px;margin-bottom: 0px;"/>
    </div>
</div>
<div class="row" style="margin-top: 12px;">
    <div class="col-md-12">
        <form id="activity-form">
            <div class="select-list">
                <ul>
                    <li>
                        商品ID：
                        <input type="text" id="productId"/>
                    </li>
                    <li>
                        商品名称：<input type="text" id="productName"/>
                    </li>
                    <li>
                        活动属性：
                        <select id="productAttr">
                            <option value="">所有</option>
                            <option value="0">主推</option>
                            <option value="1">参活</option>
                            <option value="2">正常</option>
                        </select>
                    </li>
                    <li class="pull-right">
                        <a class="btn btn-primary btn-rounded btn-sm"
                           onclick="searchActivityProduct()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                        <a class="btn btn-warning btn-rounded btn-sm" onclick="resetActivityProduct()"><i
                                class="fa fa-refresh"></i>&nbsp;重置</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr" style="margin-top: 10px;margin-bottom: 0px;"/>
    </div>
</div>
<div class="row" style="padding-top: 12px;">
    <div class="col-sm-12">
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" id="btn_add_shop">
                <i class="fa fa-edit"></i> 添加商品
            </a>
            <a class="btn btn-primary" id="btn_edit_shop">
                <i class="fa fa-edit"></i> 修改商品
            </a>
            <a class="btn btn-primary" id="btn_shop">
                <i class="fa fa-edit"></i> 推送预览
            </a>
            <button class="btn btn-secondary" id="btn_download_template" onclick="window.location.href='/activity/downloadFile'">
                <i class="fa fa-download"></i> 下载模板
            </button>
            <!--文件上传-->
            <a class="btn btn-secondary" onclick="$('#uploadFile').click()">
                <i class="fa fa-file-archive-o"></i> 选择文件
            </a>
            <input id="uploadFile" type="file" style="display:none"/>
            <button class="btn btn-info" id="btn_upload" style="display: none;" type="submit">
                <i class="fa fa-upload"></i> 确定上传
            </button>
            <span id="filename" style="color: #8a6d3b"></span>
        </div>
    </div>
    <div class="col-md-12 table-striped" style="margin-top: 12px">
        <table id="activityProductTable" class="table table-bordered table-striped text-nowrap"></table>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addProductModal" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title" id="modalLabel">添加商品</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="add-product-form">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <label class="col-md-3 control-label">商品ID</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" name="productId">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">商品名称</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" name="productName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">活动期间最低价（元）</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" name="minPrice">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">非活动日常单价（元）</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" name="formalPrice">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">活动力度</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" name="activityIntensity">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">活动属性</label>
                        <div class="col-md-7">
                            <select name="productAttr" class="form-control">
                                <option value="">请选择</option>
                                <option value="0">主推</option>
                                <option value="1">参活</option>
                                <option value="2">正常</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">商品链接</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" name="productUrl">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="saveActivityProduct" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="closeEditProduct">关闭</button>
            </div>
        </div>
    </div>
</div>
