<div class="row">
    <div class="col-md-12">
        <p class="h6"><i class="fa fa-circle-o"></i>&nbsp;<span id="notifyTimeTile"></span></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="h5">活动通知的预期结果与投入</p>
        <form class="form-horizontal">
            <input type="hidden" id="covListId"/>
            <div class="form-group">
                <label class="col-md-offset-2 col-md-3 control-label">推送的期望转化率（%）</label>
                <div class="col-md-3">
                    <input class="form-control" disabled id="covRate"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-offset-2 col-md-3 control-label">达成期望转化率对应的推送用户数（人）</label>
                <div class="col-md-3">
                    <input class="form-control" disabled id="expectPushNum"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-offset-2 col-md-3 control-label">达成期望转化率对应的转化用户数（人）</label>
                <div class="col-md-3">
                    <input class="form-control" disabled id="expectCovNum"/>
                </div>
            </div>
            <hr style="margin-top: 5px;margin-bottom: 5px;"/>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <button class="btn btn-primary btn-sm" type="button" onclick="changePlan()"><i class="fa fa-server"></i>调整方案</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr" style="margin-top: 5px;"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="h5">配置用户群组活动通知文案</p>
        <div class="table-striped m-t-10">
            <table class="table table-bordered table-striped text-nowrap" id="table1"></table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="text-right m-t-10">
            <button class="btn btn-primary btn-sm" onclick="submitActivity('NOTIFY')">
                <i class="fa fa-save"></i> 保存计划
            </button>
            <a class="btn btn-secondary btn-sm" href="/page/activity">
                <i class="fa fa-reply"></i> 返回
            </a>
        </div>
    </div>
</div>
