<div class="row" style="margin-top: 12px;">
    <div class="col-sm-12">
        <form class="form-horizontal" method="post" id="activity-add-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">活动类型</label>
                        <div class="col-md-9">
                            <input type="text" readonly id="activityType" name="activityType" class="form-control"
                                   th:value="${activityHead.activityType} eq 'own' ? '自主':'平台'"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">开始日期</label>
                        <div class="col-md-9">
                            <input class="form-control" id="startDate" name="startDate" readonly
                            th:value="${activityHead.startDate}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">活动名称</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="activityName" readonly id="activityName" th:value="${activityHead.activityName}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">结束日期</label>
                        <div class="col-md-9">
                            <input class="form-control" id="endDate" name="endDate" readonly th:value="${activityHead.endDate}">
                        </div>
                    </div>
                </div>
            </div>
            <!-- 只有平台活动才会有 -->
            <div class="row" id="referenceRange">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">活动影响开始日期</label>
                        <div class="col-md-9">
                            <input class="form-control" readonly id="beforeDate"
                                   name="beforeDate" th:value="${activityHead.beforeDate}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">活动影响结束日期</label>
                        <div class="col-md-9">
                            <input class="form-control" id="afterDate" readonly
                                   name="afterDate" th:value="${activityHead.afterDate}">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-sm-12">
    <hr class="hr"/>
</div>
<div class="row" id="chart_plat" style="display: none;">
    <div class="col-md-6">
        <div id="chart1" style="width: 100%;height: 300px;"></div>
    </div>
    <div class="col-md-6">
        <div id="chart2" style="width: 100%;height: 300px;"></div>
    </div>
</div>
<div class="row" id="chart_own" style="display: none;">
    <div class="col-md-12">
        <div id="chart3" style="width: 100%;height: 300px;"></div>
    </div>
</div>
<div class="text-right" style="margin-top: 15px;">
    <a class="btn btn-secondary btn-sm" onclick="nextStep(1)">
        <i class="fa fa-arrow-right"></i> 下一步
    </a>
    <a class="btn btn-secondary btn-sm" href="/page/activity">
        <i class="fa fa-reply"></i> 返回
    </a>
</div>
