<div class="row" style="margin-top: 13px;">
    <div class="col-md-12">
        <p>成长用户策略</p>
        <hr class="hr"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-nowrap" id="recomDataTable">
                <thead>
                <tr>
                    <th>推荐品类</th>
                    <th>购买次数</th>
                </tr>
                </thead>
                <tbody id="recomDataTableBody">
                <tr>
                    <td colspan="2" class="text-center">
                        没有任何记录！
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p class="h5" style="font-weight: normal">购买时段分布图</p>
        <hr style="margin-top: 0px;margin-bottom: 0px;"/>
        <div id="time_chart" style="height: 300px;width: 100%;"></div>
    </div>
    <div class="col-md-6">
        <p class="h5" style="font-weight: normal">折扣率分布图</p>
        <hr style="margin-top: 0px;margin-bottom: 0px;"/>
        <div id="discount_chart" style="height: 300px;width: 100%;"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p class="h5" style="font-weight: normal">优惠面额分布图</p>
        <hr style="margin-top: 0px;margin-bottom: 0px;"/>
        <div id="preferential_chart" style="height: 300px;width: 100%;"></div>
    </div>
    <div class="col-md-6">
        <p class="h5">目标件单价分布图</p>
        <hr style="margin-top: 0px;margin-bottom: 0px;"/>
        <div id="piece_price_chart" style="height: 300px;width: 100%;"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <a class="btn btn-secondary btn-sm" href="/page/activity">
            <i class="fa fa-reply"></i> 返回
        </a>
    </div>
</div>