<div class="row">
    <span class="navbar-page-title" id="duringTitle">预售期间推送计划</span>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="h6"><i class="fa fa-circle-o"></i>&nbsp;<span id="duringTimeTile"></span></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="h5">用户成长旅程与参与本次活动商品的关系</p>
        <div class="table-striped m-t-10">
            <table class="table table-bordered table-striped text-nowrap" id="table5"></table>
        </div>
    </div>
</div>
<div class="text-right m-t-10">
    <button class="btn btn-primary btn-sm" onclick="submitActivity()">
        <i class="fa fa-save"></i> 确认并生成计划
    </button>
    <a class="btn btn-secondary btn-sm" href="/page/activity">
        <i class="fa fa-reply"></i> 返回
    </a>
</div>