<div class="row" style="margin-top: 13px;">
    <div class="col-md-12">
        <p>成长用户分析</p>
        <hr class="hr"/>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <table class="table table-bordered text-nowrap" id="userTable">
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right">
        <a class="btn btn-primary btn-rounded btn-sm" id="btn_next_3"><i class="fa fa-arrow-right"></i>&nbsp;下一步</a>
        <a class="btn btn-secondary btn-sm" href="/page/activity">
            <i class="fa fa-reply"></i> 返回
        </a>
    </div>
</div>
