<div class="row">
    <span class="navbar-page-title">设置活动信息</span>
    <hr/>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" method="post" id="basic-add-form">
            <input type="hidden" id="headId"/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">活动类型</label>
                        <div class="col-md-9">
                            <div class="col-md-9" style="margin-top: 8px;">
                                <label class="lyear-radio radio-inline radio-primary" style="padding-top: 0px;">
                                    <input type="radio" name="activityflag" value="S"><span>普通</span>
                                </label>
                                <label class="lyear-radio radio-inline radio-primary" style="padding-top: 0px;">
                                    <input type="radio" name="activityflag" value="B"><span>大促</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">活动名称</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="activityName"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">是否预售</label>
                        <div class="col-md-9" style="margin-top: 8px;">
                            <label class="lyear-radio radio-inline radio-primary" style="padding-top: 0px;">
                                <input type="radio" name="hasPreheat" value="1"><span>是</span>
                            </label>
                            <label class="lyear-radio radio-inline radio-primary" style="padding-top: 0px;">
                                <input type="radio" name="hasPreheat" value="0"><span>否</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="preheatDiv">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">预售提醒时间</label>
                            <div class="col-md-9">
                                <input type="text" name="preheatNotifyDt" id="preheatNotifyDt" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">预售开始时间</label>
                            <div class="col-md-9">
                                <input type="text" name="preheatStartDt" id="preheatStartDt" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">预售结束日期</label>
                            <div class="col-md-9">
                                <input class="form-control" id="preheatEndDt" name="preheatEndDt"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 只有平台活动才会有 -->
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">正式提醒时间</label>
                            <div class="col-md-9">
                                <input type="text" name="formalNotifyDt" id="formalNotifyDt" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">正式开始时间</label>
                            <div class="col-md-9">
                                <input class="form-control" id="formalStartDt" name="formalStartDt"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">正式结束时间</label>
                            <div class="col-md-9">
                                <input class="form-control" id="formalEndDt" name="formalEndDt"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <a class="btn btn-primary btn-sm" id="btn_basic"><i class="fa fa-file-text-o"></i>保存信息</a>
    </div>
</div>