<div class="row" style="margin-top: 13px;">
    <div class="col-md-12">
        <p>选择活动类型</p>
        <hr class="hr"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="select-list">
                <ul>
                    <li>
                        活动名称：<input type="text" name="actName" id="actName">
                    </li>
                    <li>
                        活动类型：
                        <select name="actType" id="actType">
                            <option value="">请选择</option>
                            <option value="own">自主</option>
                            <option value="plat">平台</option>
                        </select>
                    </li>
                    <li class="pull-right">
                        <a class="btn btn-primary btn-rounded btn-sm" id="btn_next_1"><i class="fa fa-arrow-right"></i>&nbsp;下一步</a>
                        <a class="btn btn-secondary btn-sm" href="/page/activity">
                            <i class="fa fa-reply"></i> 返回
                        </a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>