<div class="row" style="margin-top: 13px;">
    <div class="col-md-12">
        <p>设置活动时间</p>
        <hr class="hr"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <span>选择未来时间长度：</span>
        <label class="lyear-radio radio-inline radio-primary">
            <input type="radio" name="endDt" checked value="0"><span>本月</span>
        </label>
        <label class="lyear-radio radio-inline radio-primary">
            <input type="radio" name="endDt" value="1"><span>本月+1</span>
        </label>
        <label class="lyear-radio radio-inline radio-primary">
            <input type="radio" name="endDt" value="2"><span>本月+2</span>
        </label>
        <label class="lyear-radio radio-inline radio-primary">
            <input type="radio" name="endDt" value="3"><span>本月+3</span>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="chart1" style="width: 100%;height:300px;"></div>
    </div>
</div>

<div class="row" style="margin-top: 13px;">
    <div class="col-md-12">
        <p>选择活动时间</p>
        <hr class="hr"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="select-list">
            <ul>
                <li>
                    活动开始日期：<input type="text" name="actBeginDt" id="ownActBeginDt" class="js-datepicker" data-date-format="yyyy-mm-dd"/>
                </li>
                <li>
                    活动结束日期：<input type="text" name="actEndDt" id="ownActEndDt" class="js-datepicker" data-date-format="yyyy-mm-dd"/>
                </li>
                <li class="pull-right">
                    <a class="btn btn-primary btn-rounded btn-sm" id="btn_next_2_own"><i class="fa fa-arrow-right"></i>&nbsp;保存并下一步</a>
                    <a class="btn btn-primary btn-rounded btn-sm" id="btn_next_2_own_edit" style="display: none;" onclick="step3()"><i class="fa fa-arrow-right"></i>&nbsp;下一步</a>
                    <a class="btn btn-secondary btn-sm" href="/page/activity">
                        <i class="fa fa-reply"></i> 返回
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>