<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>客户群群发</title>
    <th:block th:include="common/include :: common-css" />
    <th:block th:include="common/include::jstree-css" />
    <th:block th:include="common/include::bootstrap-table-css" />
    <th:block th:include="common/include::bootstrap-select-css" />
    <th:block th:include="common/include::jquery-confirm-css" />
    <script data-th-src="@{/plugins/clipboard.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/fullcalendar.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/layui.css}" type="text/css">
</head>

<body class="gray-bg">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div data-th-include="common/aside"></div>
        <!-- 头部信息 -->
        <div data-th-include="common/header"></div>
        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-div ui-layout-center">
                <div class="row">
                    <div class="col-sm-12 search-collapse">
                        <div class="row">
                            <h1 class="navbar-page-title">新建群发</h1>
                        </div>
                    </div>
                    <div class="col-md-12 select-table table-striped">
                        <form class="form-horizontal" id="smsTemplateAddForm" novalidate="novalidate">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="col-xs-12" style="font-weight: bold;">基础信息：</label>
                                            <div class="col-md-12">
                                                <div class="example-box">
                                                    <label class="control-label">群发名称：</label>
                                                    <label class="radio-inline radio-primary">
                                                        <input  type="text" class="form-control"  name="batchMsgName" id="batchMsgName" style="width: 432px;">
                                                    </label>
                                                </div>
                                                <div class="example-box" style="margin-top: 10px;">
                                                    <label class="control-label">选择群主：</label>
                                                    <label class="radio-inline radio-primary">
                                                        <select name="chatOwnerList" id="selectOwner"  class="form-control valid" style="width: 432px;">
                                                            <option value="" th:each="user,FollowUser : ${foll}" th:text="${user.name}" th:value="${user.userId}"></option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-12" style="font-weight: bold;">群发消息1：</label>
                                            <label class="radio-inline radio-primary">
                                                <textarea class="form-control" id="textContent" name="textContent" style="height: 102px;width:520px;border: solid 1px #ebebeb;" oninput="smsContentValid()"></textarea>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-12" style="font-weight: bold;">群发消息2：</label>
                                            <div class="col-md-12">
                                                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                                    <li class="active"><a href="#image" id="image-tab" role="tab" data-toggle="tab"><i class="fa fa-image"></i>&nbsp;图片</a>
                                                    </li>
                                                    <li><a href="#web" id="web-tab" role="tab" data-toggle="tab"><i class="fa fa-link"></i>&nbsp;网页</a>
                                                    </li>
                                                    <li><a href="#miniprogram" id="miniprogram-tab" role="tab" data-toggle="tab"><i class="fa fa-skyatlas"></i>&nbsp;小程序</a>
                                                    </li>
                                                </ul>
                                                <div id="myTabContent" class="tab-content"style="height: auto;">
                                                    <!--图片-->
                                                    <div class="tab-pane fade  active in" id="image">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-horizontal">
                                                                    <div class="form-group" style="margin-bottom: 2px;">
                                                                        <label class="col-md-1 control-label">图片地址：</label>
                                                                        <div class="col-md-10">
                                                                            <input class="form-control" name="imgUrl" id="imgUrl"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="web">
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-md-1 control-label">消息标题：</label>
                                                                <div class="col-md-11">
                                                                    <input class="form-control" name="linkTitle" id="linkTitle">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-1 control-label">消息描述：</label>
                                                                <div class="col-md-11">
                                                                    <input class="form-control" name="linkDesc" id="linkDesc">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-1 control-label">消息地址：</label>
                                                                <div class="col-md-11">
                                                                    <input class="form-control" name="linkUrl" id="linkUrl">
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style="margin-bottom: 2px;">
                                                                <label class="col-md-1 control-label">封面地址：</label>
                                                                <div class="col-md-11">
                                                                    <input class="form-control" name="linkPicUrl" id="linkPicUrl">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="miniprogram">
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-md-1 control-label">小程序标题：</label>
                                                                <div class="col-md-11">
                                                                    <input class="form-control" name="mpTitle" id="mpTitle">
                                                                </div>
                                                            </div>
                                                            <div class="form-group" >
                                                                <label class="col-md-1 control-label">小程序地址：</label>
                                                                <div class="col-md-11">
                                                                    <input class="form-control" name="mpUrl" id="mpUrl">
                                                                </div>
                                                            </div>
                                                            <div class="form-group" >
                                                                <label class="col-md-1 control-label">小程序MediaID：</label>
                                                                <div class="col-md-10">
                                                                    <input class="form-control" name="mpMediaId" id="mediaId" readonly="readonly">
                                                                </div>
                                                                <a id='addShopDiscountBtn' style="cursor:pointer;color: #409eff !important;" onclick="chooseMedia()"><i class="fa fa-plus-circle"></i>添加</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-12" style="font-weight: bold;">群发时间：</label>
                                            <div class="col-md-12">
                                                <label class="lyear-radio radio-inline radio-primary" onclick="closeSendTime()" style="padding-top: 0px;">
                                                    <input type="radio" name="sendType" value="A" checked="checked"><span>立即发送</span>
                                                </label>
                                                <label class="lyear-radio radio-inline radio-primary" onclick="showSendTime()" style="padding-top: 0px;">
                                                    <input type="radio" name="sendType" value="B" ><span>定时发送</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group" id="sendtime" style="display: none">
                                            <div class="col-md-4">
                                                发送时间：<input  class="layui-input" id="test5" name="fixDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div style="position:absolute;height: 470px;width:100%;background:url(/images/app_content_01.png) no-repeat -23px -39px;}"></div>
                                        <div class="bubble" style="position: relative;margin-top: 140px;width: 233px;">
                                            <div class="demo clearfix">
                                                <div class="article" id="article" style="margin-left: 95px;">请输入发送内容</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" onclick="saveCouponData()" style="margin-left: 30%">通知成员发送</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div data-th-include="qywx/chooseMedia/chooseMedia"></div>
<th:block th:include="common/include::footer" />
<th:block th:include="common/include::perfect-scrollbar" />
<th:block th:include="common/include::jquery-validate-js" />
<th:block th:include="common/include::common-js" />
<th:block th:include="common/include::jstree-js" />
<th:block th:include="common/include::bootstrap-table-js" />
<th:block th:include="common/include::bootstrap-select-js" />
<th:block th:include="common/include::datepicker-js" />
<th:block th:include="common/include::jquery-confirm-js" />
<script data-th-src="@{/plugins/imageUpload/cupload.js}"></script>
<script data-th-src="@{/js/app/qywx/common/template.js}"></script>
<script data-th-src="@{/plugins/fullCalendar/moment.min.js}"></script>
<script data-th-src="@{/plugins/fullCalendar/fullcalendar.min.js}"></script>
<script data-th-src="@{/plugins/fullCalendar/layui.all.js}"></script>
<script data-th-src="@{/js/app/qywx/CustomerBaseSend/BaseSendMsg.js}"></script>
<script data-th-src="@{/js/app/qywx/chooseMedia/chooseMedia.js}"></script>
</body>
</html>
