<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>客户群群发</title>
    <th:block th:include="common/include :: common-css" />
    <th:block th:include="common/include::jstree-css" />
    <th:block th:include="common/include::bootstrap-table-css" />
    <th:block th:include="common/include::bootstrap-select-css" />
    <th:block th:include="common/include::jquery-confirm-css" />
    <th:block th:include="common/include::datetimepicker-css" />
    <th:block th:include="common/include::datepicker-css" />
    <script data-th-src="@{/plugins/clipboard.min.js}"></script>
    <style>
        .tag {
            border: none;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            display: block;
            float: left;
            padding: 2px 5px;
            text-decoration: none;
            background: #33cabb;
            color: #fff;
            margin-right: 5px;
            margin-bottom: 5px;
            font-family: 'Microsoft yahei', Roboto, sans-serif;
            font-size: 13px;
            line-height: 18px;
        }
    </style>
</head>

<body class="gray-bg">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div data-th-include="common/aside"></div>
        <!-- 头部信息 -->
        <div data-th-include="common/header"></div>
        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-div ui-layout-center">
                <div class="row">
                    <div class="col-sm-12 search-collapse">
                        <div class="row">
                            <h1 class="navbar-page-title">新建群发</h1>
                        </div>
                    </div>
                    <div class="col-md-12 select-table table-striped">
                        <form class="form-horizontal" id="smsTemplateAddForm" novalidate="novalidate">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label  class="col-sm-2 control-label">群发名称：</label>
                                            <div class="col-sm-8">
                                                <input  type="text" class="form-control"  name="batchMsgName" id="batchMsgName" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">选择群主：</label>
                                            <div class="col-sm-8 ">
                                                <select class="form-control" id="selectOwner">
                                                    <option value="" th:each="user,FollowUser : ${foll}" th:text="${user.name}" th:value="${user.userId}"></option>
                                                </select>
                                            </div>
                                            <a onclick="addRegion('selectOwner')">&nbsp;<i class="fa fa-plus-circle" style="margin-top: 12px;"></i></a>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">已选群主：</label>
                                            <div class="col-md-8 col-md-offset-2" id="alllist" style="border: dashed 1px #e7eaec;margin-left:1%"></div>
                                            <div class="col-md-8 input-group">
                                                <input type="hidden" name="chatOwnerList">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">群发消息1：</label>
                                            <div class="col-sm-8 ">
                                                <textarea class="form-control" id="textContent" name="textContent" style="height: 102px;border: solid 1px #ebebeb;" oninput="smsContentValid()"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" >群发消息2：</label>
                                            <div class="col-md-8 control-label">
                                                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                                    <li class="active"><a href="#image" id="image-tab" role="tab" data-toggle="tab"><i class="fa fa-image"></i>&nbsp;图片</a>
                                                    </li>
                                                    <li><a href="#web" id="web-tab" role="tab" data-toggle="tab"><i class="fa fa-link"></i>&nbsp;网页</a>
                                                    </li>
                                                    <li><a href="#miniprogram" id="miniprogram-tab" role="tab" data-toggle="tab"><i class="fa fa-skyatlas"></i>&nbsp;小程序</a>
                                                    </li>
                                                </ul>
                                                <div id="myTabContent" class="tab-content"style="height: auto;">
                                                    <!--图片-->
                                                    <div class="tab-pane fade  active in" id="image">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-horizontal">
                                                                    <div class="form-group" style="margin-bottom: 2px;">
                                                                        <label class="col-md-3 control-label">图片链接：</label>
                                                                        <div class="col-md-8">
                                                                            <input class="form-control" name="imgUrl" id="imgUrl"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="web">
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">网页标题：</label>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" name="linkTitle" id="linkTitle">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">网页描述：</label>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" name="linkDesc" id="linkDesc">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">网页链接：</label>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" name="linkUrl" id="linkUrl">
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style="margin-bottom: 2px;">
                                                                <label class="col-md-3 control-label">封面图片链接：</label>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" name="linkPicUrl" id="linkPicUrl">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="miniprogram">
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">标题：</label>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" name="mpTitle" id="mpTitle">
                                                                </div>
                                                            </div>
                                                            <div class="form-group" >
                                                                <label class="col-md-3 control-label">页面路径：</label>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" name="mpUrl" id="mpUrl">
                                                                </div>
                                                            </div>
                                                            <div class="form-group" >
                                                                <label class="col-md-3 control-label">封面MediaID：</label>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" name="mpMediaId" id="mediaId" readonly="readonly">
                                                                </div>
                                                                <a id='addShopDiscountBtn' style="cursor:pointer;color: #409eff !important;" onclick="chooseMedia()"><i class="fa fa-plus-circle"  style="margin-top:12px;"></i>选择</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">群发时间：</label>
                                            <div class="col-sm-8 " style="padding-top: 7px;">
                                                <label class="lyear-radio radio-inline radio-primary" onclick="$('#pushDateDiv').hide()" style="padding-top: 0px;">
                                                    <input type="radio" name="sendType" value="A" checked="checked"><span>立即发送</span>
                                                </label>
                                                <label class="lyear-radio radio-inline radio-primary" onclick="$('#pushDateDiv').show()" style="padding-top: 0px;">
                                                    <input type="radio" name="sendType" value="B" ><span>定时发送</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group" id="pushDateDiv" hidden>
                                            <label class="col-md-2 control-label">定时执行时间：</label>
                                            <div class="col-md-8">
                                                <input type="text" id="fixDate" name="fixDate" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div style="position:absolute;height: 420px;width:100%;background:url(/images/app_content_01.png) no-repeat -23px -39px;}"></div>
                                        <div class="bubble" style="position: relative;margin-top: 140px;width: 233px;">
                                            <div class="demo clearfix">
                                                <div class="article" id="article" style="margin-left: 95px;">请输入发送内容</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row m-t-15" >
                            <div class="col-md-12 text-right" style="margin-top: 30px;">
                                <a id='creatPreheat' class="btn btn-sm btn-primary" onclick="saveCouponData()" type="button"><i class="fa fa-arrow-right"></i>保存</a>
                                <a class="btn btn-secondary btn-sm" href="/page/goChatMsgList" style="margin-right:10px;"><i class="fa fa-backward"></i>&nbsp;返回</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div data-th-include="qywx/chooseMedia/chooseMedia"></div>
<th:block th:include="common/include::footer" />
<th:block th:include="common/include::perfect-scrollbar" />
<th:block th:include="common/include::datepicker-js" />
<th:block th:include="common/include::datetimepicker-js" />
<th:block th:include="common/include::jquery-validate-js" />
<th:block th:include="common/include::common-js" />
<th:block th:include="common/include::jstree-js" />
<th:block th:include="common/include::bootstrap-table-js" />
<th:block th:include="common/include::bootstrap-select-js" />
<th:block th:include="common/include::datepicker-js" />
<th:block th:include="common/include::jquery-confirm-js" />
<script data-th-src="@{/plugins/imageUpload/cupload.js}"></script>
<script data-th-src="@{/js/app/qywx/common/template.js}"></script>
<script data-th-src="@{/js/app/qywx/CustomerBaseSend/BaseSendMsg.js}"></script>
<script data-th-src="@{/js/app/qywx/chooseMedia/chooseMedia.js}"></script>
<script>

    $("#fixDate").datetimepicker({
        locale: 'zh-CN',
        format: 'YYYY-MM-DD HH:mm',
        minDate: new Date(),
        inline: false,
        sideBySide: true,
        icons: {
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: "fa fa-chevron-left",
            next: "fa fa-chevron-right"
        }
    });
</script>
</body>
</html>
