<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <title>导购运营引导</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <meta name="referrer" content="never">
    <link rel="icon" data-th-href="@{/static/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" data-th-href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/static/css/style.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/static/css/common.css}"/>
    <link rel="stylesheet" href="/static/weui/css/weui.css"/>
    <link rel="stylesheet" href="/static/weui/css/weuix.css"/>
    <link rel="stylesheet" href="/static/weui/css/common.css"/>

</head>

<body ontouchstart class="page-bg">
<div class="weui-pay" style="padding: 6px;">
    <div class="" style="padding: 9px;background: #ffffff">
        <h1 class="weui-pay-title" style="font-size: 14px;">客户标签</h1>
    </div>
</div>
<div class="page-bd">
    <div class="weui-panel weui-panel_access" >
        <div class="weui-panel__bd" id="tagPanel">
        </div>
    </div>
</div>

<script src="/static/js/common/jquery.min.js"></script>
<script src="/static/weui/js/zepto.min.js"></script>
<script src="/static/weui/js/zepto.weui.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script>
    $(function () {
        //加载所有的标签
        $.showLoading();
        $.get( "/tag/selectTags", {}, function (r) {
            let tagData=r.data;
            let groupName="";
            let tags="";

            let content='';
            let tagContent='';
            for(let p in tagData)
            {
                groupName=tagData[p].groupName;
                tags=tagData[p].qywxTagList;

                //构造
                tagContent='';
                content='';
                for(let q in tags)
                {
                    tagContent+='<label class="label f-green b-green">'+tags[q].tagName+'</label>&nbsp;&nbsp;';

                }

                content+='    <div class="weui-media-box weui-media-box_text">\n' +
                    '                <h4 class="weui-media-box__title">'+groupName+'</h4>\n' +
                    '                 <div class="weui-label-list">'+tagContent+'</div>\n' +
                    '            </div>';

                $( "#tagPanel" ).append(content);
            }
           $.hideLoading();
        });
    });
</script>

</body>
</html>