<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <th:block th:include="common/include :: common-css" />
    <style>
        .system {
            background: #fff;
            border-radius: 6px;
            margin-top: 10px;
            padding-top: 5px;
            padding-bottom: 13px;
            box-shadow: 1px 1px 3px rgba(0,0,0,.2);
            height: 100px;
            width: 32%;
        }
    </style>
</head>

<body class="lyear-layout-sidebar-close" style="background-color: #f5f6fa;">
<div class="lyear-layout-sidebar-scroll" hidden></div>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 头部信息 -->
        <header class="lyear-layout-header">
            <nav class="navbar navbar-default">
                <div class="topbar">
                    <div class="topbar-left">
                        <img class="m-t-10" data-th-src="@{/images/logo.jpg}">
                    </div>
                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <img class="img-avatar-27 m-r-10" data-th-src="@{/images/avatar/default.jpg}" alt="用户成长系统" />
                                <span id="loginUser"><span class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li> <a href="/logout"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="container-div ui-layout-center">
                    <div class="row" style="margin-top: 100px;">
                        <div class="col-md-12 center-block" id="sys"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<th:block th:include="common/include::footer" />
<th:block th:include="common/include::perfect-scrollbar" />
<th:block th:include="common/include::common-js" />
</body>
</html>