<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ActivityPlanMapper">
    <resultMap id="planMap" type="com.linksteady.operate.domain.ActivityPlan">
        <result property="headId" column="HEAD_ID" jdbcType="DECIMAL"/>
        <result property="userCnt" column="USER_CNT" jdbcType="DECIMAL"/>
        <result property="planDate" column="PLAN_DATE" jdbcType="DATE"/>
        <result property="planStatus" column="PLAN_STATUS" jdbcType="VARCHAR"/>
        <result property="planDateWid" column="PLAN_DATE_WID" jdbcType="DECIMAL"/>
        <result property="activityName" column="ACTIVITY_NAME" jdbcType="VARCHAR"/>
        <result property="stage" column="ACTIVITY_STAGE" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="savePlanList">
        insert all
        <foreach collection="list" separator="" open="" close="" item="item">
            into UO_OP_ACTIVITY_PLAN(HEAD_ID, USER_CNT, PLAN_DATE, PLAN_STATUS, ACTIVITY_STAGE,PLAN_DATE_WID)
            values (#{item.headId}, #{item.userCnt}, #{item.planDate}, #{item.planStatus}, #{item.stage}, #{item.planDateWid})
        </foreach>
        select 1 from dual
    </insert>

    <select id="getPlanList" resultMap="planMap">
        select ACTIVITY_NAME, UO_OP_ACTIVITY_PLAN.ACTIVITY_STAGE, USER_CNT,PLAN_DATE_WID,PLAN_STATUS from UO_OP_ACTIVITY_PLAN
        left join UO_OP_ACTIVITY_HEADER on UO_OP_ACTIVITY_PLAN.HEAD_ID = UO_OP_ACTIVITY_HEADER.HEAD_ID
        where UO_OP_ACTIVITY_PLAN.HEAD_ID = #{headId} order by PLAN_DATE asc
    </select>

    <select id="getStatus" resultType="string">
        select PLAN_STATUS from UO_OP_ACTIVITY_PLAN where head_id = #{headId} and PLAN_DATE_WID = #{planDateWid}
    </select>

    <update id="updateStatus">
        update UO_OP_ACTIVITY_PLAN set PLAN_STATUS = #{status}
        where head_id = #{headId} and PLAN_DATE_WID = #{planDateWid}
    </update>

    <delete id="deleteData">
        delete from UO_OP_ACTIVITY_PLAN where head_id = #{headId}
    </delete>

    <insert id="insertToPushListLarge">
        INSERT INTO uo_op_push_list_large(
            PUSH_CONTENT,
            PUSH_PERIOD,
            PUSH_STATUS,
            SOURCE_CODE,
            SOURCE_ID,
            USER_PHONE,
            IS_PUSH,
            PUSH_SCHEDULING_DATE,
            PUSH_ID
        )
        SELECT T.SMS_CONTENT,
               T.ORDER_PERIOD,
               'P',
               'ACTIVITY',
               T.ACTIVITY_DETAIL_ID,
               T.USER_PHONE,
               '0',
               T.PLAN_DT,
               SEQ_UO_OP_PUSH_LIST_LARGE.NEXTVAL
        FROM UO_OP_ACTIVITY_DETAIL T where  head_id = #{headId} and plan_dt = #{planDateWid}
    </insert>

    <update id="updatePushListLargeToFaild">
        update uo_op_push_list_large c set c.push_status='F',c.IS_PUSH='1' where c.source_code='ACTIVITY'
            and exists (
            select t1.activity_detail_id from  uo_op_activity_detail t1 where t1.activity_detail_id=c.source_id
            )
    </update>
</mapper>