<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ActivityDetailMapper">

    <resultMap id="base" type="com.linksteady.operate.domain.ActivityDetail">
        <result column="EPB_PRODUCT_NAME" jdbcType="VARCHAR" property="epbProductName"/>
        <result column="EPB_PRODUCT_ID" jdbcType="DECIMAL" property="epbProductId"/>
        <result column="GROUP_ID" jdbcType="DECIMAL" property="groupId"/>
        <result column="SMS_CONTENT" jdbcType="VARCHAR" property="smsContent"/>
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"/>
        <result column="IS_PUSH" jdbcType="VARCHAR" property="isPush"/>
        <result column="PUSH_DATE_STR" jdbcType="VARCHAR" property="pushDateStr"/>
        <result column="PUSH_STATUS" jdbcType="VARCHAR" property="pushStatus"/>
        <result column="PLAN_TYPE" jdbcType="VARCHAR" property="planType"/>

        <result column="HEAD_ID" jdbcType="VARCHAR" property="headId"/>
        <result column="ACTIVITY_DETAIL_ID" jdbcType="VARCHAR" property="activityDetailId"/>
        <result column="REC_PIECE_PRICE" jdbcType="VARCHAR" property="recPiecePrice"/>
        <result column="ACTIVITY_STAGE" jdbcType="VARCHAR" property="activityStage"/>
    </resultMap>

    <select id="getDataCount" resultType="int">
        select count(1) from UO_OP_ACTIVITY_DETAIL where
            HEAD_ID = #{headId} and PLAN_DT = #{planDtWid}
        <if test="groupId != null and groupId != '-1'">
            and GROUP_ID = #{groupId}
        </if>
    </select>

    <select id="getPageList" resultMap="base">
        select * from (
                          select t.*, ROWNUM rn
                          from (select UO_OP_ACTIVITY_DETAIL.IS_PUSH,
                                       to_char(UO_OP_ACTIVITY_DETAIL.PUSH_DATE, 'yyyy-mm-dd hh24:mi') PUSH_DATE_STR,
                                       UO_OP_ACTIVITY_DETAIL.PUSH_STATUS,
                                       UO_OP_ACTIVITY_DETAIL.EPB_PRODUCT_NAME,
                                       UO_OP_ACTIVITY_DETAIL.EPB_PRODUCT_ID,
                                       UO_OP_ACTIVITY_DETAIL.USER_ID,
                                       UO_OP_ACTIVITY_DETAIL.GROUP_ID,
                                       UO_OP_ACTIVITY_DETAIL.SMS_CONTENT,
                                       UO_OP_ACTIVITY_PLAN.PLAN_TYPE,
                                       UO_OP_ACTIVITY_DETAIL.HEAD_ID,
                                       UO_OP_ACTIVITY_DETAIL.ACTIVITY_DETAIL_ID,
                                       UO_OP_ACTIVITY_DETAIL.REC_PIECE_PRICE,
                                       UO_OP_ACTIVITY_PLAN.ACTIVITY_STAGE
                                from UO_OP_ACTIVITY_DETAIL,UO_OP_ACTIVITY_PLAN
                                where
                                       UO_OP_ACTIVITY_DETAIL.HEAD_ID=UO_OP_ACTIVITY_PLAN.HEAD_ID
                                  AND  UO_OP_ACTIVITY_DETAIL.PLAN_DT=UO_OP_ACTIVITY_PLAN.PLAN_DATE_WID
                                  AND  UO_OP_ACTIVITY_DETAIL.HEAD_ID = #{headId}
                                  and UO_OP_ACTIVITY_DETAIL.PLAN_DT = #{planDtWid}
                                <if test="groupId != null and groupId != '-1'">
                                    and UO_OP_ACTIVITY_DETAIL.GROUP_ID = #{groupId}
                                </if>
                                ORDER BY UO_OP_ACTIVITY_DETAIL.GROUP_ID ASC,UO_OP_ACTIVITY_DETAIL.ACTIVITY_DETAIL_ID ASC) t
                          where ROWNUM &lt;= #{end}
                      ) where RN &gt;= #{start}
    </select>

    <insert id="insertPushContentTemp">
        insert into UO_OP_ACTIVITY_CONTENT_TMP(activity_detail_id,head_id,sms_content)
        SELECT A.*
        FROM(
        <foreach collection="list" item="item" index="index"
                 separator="UNION ALL">
            SELECT
            #{item.activityDetailId} activityDetailId,
            #{item.headId} headId,
            #{item.smsContent} smsContent
            FROM
            dual
        </foreach>
        )A
    </insert>

    <update id="updatePushContentFromTemp">
        MERGE INTO UO_OP_ACTIVITY_DETAIL USING
        UO_OP_ACTIVITY_CONTENT_TMP ON (UO_OP_ACTIVITY_DETAIL.ACTIVITY_DETAIL_ID=UO_OP_ACTIVITY_CONTENT_TMP.ACTIVITY_DETAIL_ID
        AND UO_OP_ACTIVITY_DETAIL.HEAD_ID=#{headId})
        WHEN MATCHED THEN
        UPDATE SET UO_OP_ACTIVITY_DETAIL.SMS_CONTENT=UO_OP_ACTIVITY_CONTENT_TMP.SMS_CONTENT
    </update>

    <update id="updatePushScheduleDate">
        UPDATE UO_OP_ACTIVITY_DETAIL C SET C.PUSH_SCHEDULING_DATE=(
                                           SELECT
            (CASE WHEN P.PUSH_METHOD='IMME' OR P.PUSH_METHOD='FIXED' THEN
                                           P.PUSH_PERIOD
                                           ELSE
                                           P.PUSH_PERIOD||C.ORDER_PERIOD||'00' END)
                                           FROM UO_OP_ACTIVITY_PLAN P WHERE C.HEAD_ID=P.HEAD_ID AND C.PLAN_DT=P.PLAN_DATE_WID
            ) where
            C.HEAD_ID=#{headId} AND C.PLAN_DT=#{planDateWid}
    </update>

    <delete id="deleteContentTmp">
       DELETE FROM UO_OP_ACTIVITY_CONTENT_TMP WHERE HEAD_ID=#{headId}
    </delete>

    <select id="selectContentNulls" resultType="int">
        SELECT count(*) from UO_OP_ACTIVITY_DETAIL where HEAD_ID=#{headId} AND PLAN_DT=#{planDateWid} AND SMS_CONTENT IS NULL
    </select>

    <select id="selectContentLimit" resultType="int">
        SELECT count(*) from UO_OP_ACTIVITY_DETAIL where
            HEAD_ID=#{headId} AND PLAN_DT=#{planDateWid} AND LENGTH(SMS_CONTENT)>#{limit}
    </select>

    <select id="selectContentVariable" resultType="int">
        SELECT count(*) from UO_OP_ACTIVITY_DETAIL
        where HEAD_ID=#{headId} AND PLAN_DT=#{planDateWid} AND  INSTR(SMS_CONTENT,'$')>0
    </select>

    <select id="selectPushScheduleNulls" resultType="int">
        SELECT count(*) from UO_OP_ACTIVITY_DETAIL
        where HEAD_ID=#{headId} AND PLAN_DT=#{planDateWid} AND  LENGTH(PUSH_SCHEDULING_DATE)!=12
    </select>

    <select id="selectPushScheduleInvalid" resultType="int">
        SELECT count(*) from UO_OP_ACTIVITY_DETAIL
        where HEAD_ID=#{headId} AND PLAN_DT=#{planDateWid} AND  PUSH_SCHEDULING_DATE IS NULL
    </select>

    <update id="synchPushStatus">
        --对计划日期在最近5天，且存在状态为 执行中 执行完 停止 的 推送明细的 推送状态，推送日期进行更新
        UPDATE uo_op_activity_detail T2 SET (T2.PUSH_STATUS,T2.PUSH_DATE,T2.IS_PUSH)=(
                                             SELECT P.PUSH_STATUS,P.PUSH_DATE,P.IS_PUSH FROM uo_op_push_list_large P WHERE P.IS_PUSH='1' AND P.SOURCE_CODE='ACTIVITY' AND P.SOURCE_ID=T2.ACTIVITY_DETAIL_ID
            ) WHERE T2.PLAN_DT>=TO_NUMBER(TO_CHAR(SYSDATE-5,'yyyymmdd')) AND EXISTS (
            SELECT AP.HEAD_ID FROM UO_OP_ACTIVITY_PLAN AP WHERE AP.PLAN_STATUS NOT IN ('0','1') AND AP.HEAD_ID=T2.HEAD_ID
            )
    </update>

    <update id="updatePlanToFinish">
        --对于最近5天 状态为执行中 如果在明细表中不存在未推送的记录，则将其状态更新为完成
        UPDATE UO_OP_ACTIVITY_PLAN T SET T.PLAN_STATUS='3' WHERE T.PLAN_DATE_WID>=TO_NUMBER(TO_CHAR(SYSDATE-5,'yyyymmdd')) AND T.PLAN_STATUS='2' AND
            NOT EXISTS (
            SELECT 1 FROM uo_op_activity_detail AP1 WHERE AP1.HEAD_ID=T.HEAD_ID AND AP1.PLAN_DT=T.PLAN_DATE_WID AND AP1.IS_PUSH='0')
    </update>

    <update id="updatePreheatHeaderToDone">
        UPDATE uo_op_activity_header T
        SET T.PREHEAT_STATUS = 'done'
        where t.preheat_status = 'doing'
            and t.has_preheat='1'
            and  trunc(sysdate) >t.preheat_end_dt
            --至少有一条状态为执行完成 或停止
            and  exists (
            select p.head_id from uo_op_activity_plan p where p.head_id=t.head_id and p.plan_status in('3','4') and p.activity_stage='preheat'
            )
    </update>

    <update id="updateFormalHeaderToDone">
        UPDATE uo_op_activity_header T
        SET T.FORMAL_STATUS = 'done'
        where t.FORMAL_STATUS = 'doing' and t.has_preheat='0'
            and  trunc(sysdate) >t.Formal_End_Dt
            --至少有一条状态为执行完成 或停止
            and  exists (
            select p.head_id from uo_op_activity_plan p where p.head_id=t.head_id and p.plan_status in('3','4') and p.activity_stage='formal'
            )
    </update>
</mapper>