<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ActivityUserGroupMapper">

    <resultMap id="base" type="com.linksteady.operate.domain.ActivityGroup">

        <result column="GROUP_ID" jdbcType="DECIMAL" property="groupId"></result>
        <result column="HEAD_ID" jdbcType="DECIMAL" property="headId"></result>
        <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName"></result>
        <result column="IS_GROWTH_PATH" jdbcType="VARCHAR" property="isGrowthPath"></result>
        <result column="ACTIVE_LEVEL" jdbcType="VARCHAR" property="activeLevel"></result>
        <result column="GROUP_USER_CNT" jdbcType="DECIMAL" property="groupUserCnt"></result>
        <result column="GROWTH_USER_CNT" jdbcType="DECIMAL" property="growthUserCnt"></result>
        <result column="ACTIVE_USER_CNT" jdbcType="DECIMAL" property="activeUserCnt"></result>
        <result column="ACTIVITY_STAGE" jdbcType="VARCHAR" property="activityStage"></result>
        <result column="SMS_TEMPLATE_CODE" jdbcType="VARCHAR" property="smsTemplateCode"></result>
    </resultMap>

    <select id="getCount" resultType="int">
        select count(1) from UO_OP_ACTIVITY_GROUP where HEAD_ID = #{headId} and ACTIVITY_STAGE = #{stage}
    </select>

    <select id="getUserGroupPage" resultMap="base">
        select * from (
          select ROWNUM rn, t.* from (
            select GROUP_ID, HEAD_ID, GROUP_NAME, IN_GROWTH_PATH, ACTIVE_LEVEL, SMS_TEMPLATE_CODE, GROUP_USER_CNT, GROWTH_USER_CNT, ACTIVE_USER_CNT, ACTIVITY_STAGE from UO_OP_ACTIVITY_GROUP
            where HEAD_ID = #{headId} and ACTIVITY_STAGE = #{stage}
          ) t where ROWNUM &lt; = #{end}
        ) where RN &gt;= #{start}
    </select>

    <select id="getUserGroupList" resultMap="base">
        select GROUP_ID, HEAD_ID, GROUP_NAME, IN_GROWTH_PATH, ACTIVE_LEVEL, SMS_TEMPLATE_CODE, GROUP_USER_CNT, GROWTH_USER_CNT, ACTIVE_USER_CNT, ACTIVITY_STAGE from UO_OP_ACTIVITY_GROUP
            where HEAD_ID = #{headId} and ACTIVITY_STAGE = #{stage}
    </select>
</mapper>