<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ActivityProductMapper">

    <resultMap id="base" type="com.linksteady.operate.domain.ActivityProduct">
        <result property="headId" jdbcType="DECIMAL" column="HEAD_ID"></result>
        <result property="productId" jdbcType="DECIMAL" column="PRODUCT_ID"></result>
        <result property="userCount" jdbcType="DECIMAL" column="USER_COUNT"></result>
        <result property="productPrice" jdbcType="DECIMAL" column="PRODUCT_PRICE"></result>
        <result property="preferType" jdbcType="VARCHAR" column="PREFER_TYPE"></result>
        <result property="preferValue" jdbcType="VARCHAR" column="PREFER_VALUE"></result>
        <result property="minPrice15" jdbcType="DECIMAL" column="MIN_PRICE15"></result>
        <result property="minPrice30" jdbcType="DECIMAL" column="MIN_PRICE30"></result>
        <result property="productActPrice" jdbcType="DECIMAL" column="PRODUCT_ACT_PRICE"></result>
    </resultMap>

    <select id="getActivityProductListPage" resultMap="base">
        select * from (
        select t.*, ROWNUM rn from (
          select head_id, product_id, user_count, product_price, prefer_type, prefer_value, min_price15, min_price30, PRODUCT_ACT_PRICE from UO_OP_ACTIVITY_PRODUCT
          where HEAD_ID = #{headId}
        order by user_count desc
        ) t where ROWNUM &lt;=#{end}
        ) where RN &gt;= #{start}
    </select>

    <select id="getCount" resultType="int">
        select count(1) from UO_OP_ACTIVITY_PRODUCT where HEAD_ID = #{headId}
    </select>

    <insert id="saveDataList">
        INSERT ALL
        <foreach item="item" index="index" collection="list">
            into UO_OP_ACTIVITY_PRODUCT(head_id, product_id, user_count, product_price, prefer_type, prefer_value,
            product_act_price, min_price15, min_price30)
            values (#{item.headId},
            #{item.productId},#{item.userCount},#{item.productPrice},#{item.preferType},#{item.preferValue},#{item.productActPrice},
            (select fifteen_lowerst_price from w_product t where t.PRODUCT_ID = #{item.productId}),
            (select thirty_lowerst_price from w_product t where t.PRODUCT_ID = #{item.productId})
            )
        </foreach>
        select 1 from dual
    </insert>

    <select id="getLowestProductPrice" resultType="map">
        select t.product_id,fifteen_lowerst_price min15,thirty_lowerst_price min30
        from w_product t where t.PRODUCT_ID = #{productId}
    </select>
</mapper>