<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ActivityConfigMapper">

    <insert id="save" parameterType="com.linksteady.operate.domain.ActivityConfig">
        <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
            select seq_activity_config_id.nextval from dual
        </selectKey>
        insert into UO_OP_ACTIVITY_CONFIG (id, activity_name, activity_type, start_date, end_date, before_date, after_date)
        values (#{id}, #{activityName}, #{activityType}, to_date(#{startDate}, 'yyyy-mm-dd'), to_date(#{endDate},
        'yyyy-mm-dd'), to_date(#{beforeDate}, 'yyyy-mm-dd'), to_date(#{afterDate}, 'yyyy-mm-dd'))
    </insert>

    <select id="getActivityConfigList" resultType="com.linksteady.operate.domain.ActivityConfig">
        select ID, ACTIVITY_NAME activityName, to_char(START_DATE, 'yyyy-mm-dd') startDate, to_char(END_DATE, 'yyyy-mm-dd') endDate
        from UO_OP_ACTIVITY_CONFIG where START_DATE &gt;= to_date(SYSDATE) order by ID desc
    </select>

    <select id="getActivityConfigByType" resultType="map">
        select id, ACTIVITY_NAME name from UO_OP_ACTIVITY_CONFIG where ACTIVITY_TYPE = #{type} and before_date &lt;= to_date(#{next2Month}, 'yyyy-mm-dd') and before_date &gt;= to_date(#{currentDay}, 'yyyy-mm-dd') order by id desc
    </select>

    <select id="getActivityConfigById" resultType="com.linksteady.operate.domain.ActivityConfig">
        select id, ACTIVITY_NAME activityname, ACTIVITY_TYPE activitytype, to_char(START_DATE, 'yyyy-mm-dd') startDate, to_char(END_DATE, 'yyyy-mm-dd') endDate,
        to_char(BEFORE_DATE, 'yyyy-mm-dd') beforeDate, to_char(AFTER_DATE, 'yyyy-mm-dd') afterDate from UO_OP_ACTIVITY_CONFIG where id = #{id}
    </select>
</mapper>