<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ActivityUserMapper">

    <resultMap id="baseResult" type="com.linksteady.operate.domain.ActivityUser">
        <result property="userId" jdbcType="VARCHAR" column="USER_ID"/>
        <result property="spuName" jdbcType="VARCHAR" column="SPU_NAME"/>
        <result property="planPurch" jdbcType="DECIMAL" column="PLAN_PURCH"/>
        <result property="recPiecePrice" jdbcType="VARCHAR" column="REC_PIECE_PRICE"/>
        <result property="orderPeriod" jdbcType="VARCHAR" column="ORDER_PERIOD"/>
        <result property="referDeno" jdbcType="VARCHAR" column="REFER_DENO"/>
        <result property="discountLevel" jdbcType="VARCHAR" column="DISCOUNT_LEVEL"/>
        <result property="price" jdbcType="DECIMAL" column="PRICE"/>
        <result property="recProdId" jdbcType="DECIMAL" column="REC_PROD_ID"/>
        <result property="recProdName" jdbcType="VARCHAR" column="REC_PROD_NAME"/>
        <result property="recRetentionId" jdbcType="DECIMAL" column="REC_RETENTION_ID"/>
        <result property="recRetentionName" jdbcType="VARCHAR" column="REC_RETENTION_NAME"/>
        <result property="recUpId" jdbcType="DECIMAL" column="REC_UP_ID"/>
        <result property="recUpName" jdbcType="VARCHAR" column="REC_UP_NAME"/>
        <result property="recCrossId" jdbcType="DECIMAL" column="REC_CROSS_ID"/>
        <result property="recCrossName" jdbcType="VARCHAR" column="REC_CROSS_NAME"/>
        <result property="recType" jdbcType="VARCHAR" column="REC_TYPE"/>
        <result property="touchDt" jdbcType="DATE" column="TOUCH_DT"/>
        <result property="minPrice15" jdbcType="VARCHAR" column="MIN_PRICE15"/>
        <result property="minPrice30" jdbcType="VARCHAR" column="MIN_PRICE30"/>
        <result property="dataType" jdbcType="VARCHAR" column="DATA_TYPE"/>
    </resultMap>

    <select id="getActivityUserListPage" resultMap="baseResult">
        select * from (
        select t.*, ROWNUM rn from (
        select user_id, spu_name, plan_purch, rec_piece_price, order_period, refer_deno, discount_level, price, rec_prod_id, rec_prod_name, rec_retention_id, rec_retention_name, rec_up_id, rec_up_name, rec_cross_id, rec_cross_name, rec_type, touch_dt,
        ROW_NUMBER() OVER (PARTITION BY USER_ID, SPU_ID ORDER BY REC_TYPE) rc
        from UO_OP_ACTIVITY_OPTION
        where (TOUCH_DT &lt;= to_date(#{endDate}, 'yyyy-mm-dd') and TOUCH_DT &gt;= to_date(#{startDate}, 'yyyy-mm-dd'))
        or (data_type = '2' and REMAIN_TIME &lt;= #{dayPeriod} + 90)
        ) t where ROWNUM &lt;=#{end} and rc = 1
        ) where RN &gt;= #{start}
    </select>

    <select id="getCount" resultType="int">
        select count(1) from (
        select * from (
        select ROW_NUMBER() OVER (PARTITION BY USER_ID, SPU_ID ORDER BY REC_TYPE) rn
        from UO_OP_ACTIVITY_OPTION
        where (TOUCH_DT &lt;= to_date(#{endDate}, 'yyyy-mm-dd') and TOUCH_DT &gt;= to_date(#{startDate}, 'yyyy-mm-dd'))
        or (data_type = '2' and REMAIN_TIME &lt;= #{dayPeriod} + 90)
        ) where rn = 1
        )
    </select>

    <!-- 获取推荐用户信息用于筛选product -->
    <select id="getActivityUser" resultMap="baseResult">
        select * from (
        select USER_ID,
        SPU_ID,
        spu_name,
        plan_purch,
        rec_piece_price,
        order_period,
        refer_deno,
        discount_level,
        price,
        rec_prod_id,
        rec_prod_name,
        rec_retention_id,
        rec_retention_name,
        rec_up_id,
        rec_up_name,
        rec_cross_id,
        rec_cross_name,
        rec_type,
        touch_dt,
        ROW_NUMBER() OVER
        (PARTITION BY USER_ID, SPU_ID ORDER BY REC_TYPE) rn
        from UO_OP_ACTIVITY_OPTION
        where (TOUCH_DT &lt;= to_date(#{endDate}, 'yyyy-mm-dd') and TOUCH_DT &gt;= to_date(#{startDate}, 'yyyy-mm-dd'))
         or (data_type = '2' and REMAIN_TIME &lt;= #{dayPeriod} + 90)) where rn = 1
    </select>

    <select id="getActivityUserByDateAndProductId" resultMap="baseResult">
        select user_id, spu_name, plan_purch, rec_piece_price, order_period, refer_deno, discount_level, price, rec_prod_id, rec_prod_name, rec_retention_id, rec_retention_name, rec_up_id, rec_up_name, rec_cross_id, rec_cross_name, rec_type, touch_dt
        from UO_OP_ACTIVITY_OPTION
        where TOUCH_DT &lt;= to_date(#{endDate}, 'yyyy-mm-dd') and TOUCH_DT &gt;= to_date(#{startDate}, 'yyyy-mm-dd')
        and REC_PROD_ID = #{productId}
    </select>

    <select id="getCoverUserCnt" resultType="long">
        select count(distinct USER_ID) from (
            select * from (
            select user_id, ROW_NUMBER() OVER (PARTITION BY USER_ID, SPU_ID ORDER BY REC_TYPE) rn
            from UO_OP_ACTIVITY_OPTION
            where (TOUCH_DT &lt;= to_date(#{endDate}, 'yyyy-mm-dd') and TOUCH_DT &gt;= to_date(#{startDate}, 'yyyy-mm-dd'))
            or (data_type = '2' and REMAIN_TIME &lt;= #{dayPeriod} + 90)
            ) where rn = 1
        )
    </select>
</mapper>