<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ActivityPlanMapper">
    <resultMap id="planMap" type="com.linksteady.operate.domain.ActivityPlan">
        <result property="planId" column="PLAN_ID" jdbcType="DECIMAL"/>
        <result property="headId" column="HEAD_ID" jdbcType="DECIMAL"/>
        <result property="userCnt" column="USER_CNT" jdbcType="DECIMAL"/>
        <result property="planDate" column="PLAN_DATE" jdbcType="DATE"/>
        <result property="planStatus" column="PLAN_STATUS" jdbcType="VARCHAR"/>
        <result property="planDateWid" column="PLAN_DATE_WID" jdbcType="DECIMAL"/>
        <result property="activityName" column="ACTIVITY_NAME" jdbcType="VARCHAR"/>
        <result property="stage" column="ACTIVITY_STAGE" jdbcType="VARCHAR"/>

        <result property="planType" column="PLAN_TYPE" jdbcType="VARCHAR"/>
        <result property="successNum" column="SUCCESS_NUM" jdbcType="DECIMAL"/>
        <result property="version" column="VERSION" jdbcType="DECIMAL"/>
    </resultMap>

    <insert id="savePlanList">
        insert into UO_OP_ACTIVITY_PLAN(PLAN_ID,HEAD_ID, USER_CNT, PLAN_DATE, PLAN_STATUS, ACTIVITY_STAGE,PLAN_DATE_WID,PLAN_TYPE,SUCCESS_NUM)
        select UO_OP_ACTIVITY_PLAN_SEQ.NEXTVAL,p.* from(
        <foreach collection="list" item="item" index="index" separator="union all">
              select
                     #{item.headId},
                     #{item.userCnt},
                     #{item.planDate},
                     #{item.planStatus},
                     #{item.stage},
                     #{item.planDateWid},
                     #{item.planType},
                     #{item.successNum}
              from dual
        </foreach>
        ) p
    </insert>

    <select id="getPlanList" resultMap="planMap">
        select UO_OP_ACTIVITY_PLAN.PLAN_ID,UO_OP_ACTIVITY_PLAN.HEAD_ID,ACTIVITY_NAME, UO_OP_ACTIVITY_PLAN.ACTIVITY_STAGE, USER_CNT,PLAN_DATE_WID,PLAN_STATUS,PLAN_TYPE,SUCCESS_NUM from UO_OP_ACTIVITY_PLAN
        left join UO_OP_ACTIVITY_HEADER on UO_OP_ACTIVITY_PLAN.HEAD_ID = UO_OP_ACTIVITY_HEADER.HEAD_ID
        where UO_OP_ACTIVITY_PLAN.HEAD_ID = #{headId} order by PLAN_DATE asc
    </select>

    <select id="getPlanInfo" resultMap="planMap">
        select  PLAN_ID,HEAD_ID,ACTIVITY_STAGE, USER_CNT,PLAN_DATE_WID,PLAN_STATUS,PLAN_TYPE,SUCCESS_NUM,VERSION from UO_OP_ACTIVITY_PLAN
         where plan_id = #{planId}
    </select>

    <update id="updateStatus">
        update UO_OP_ACTIVITY_PLAN set PLAN_STATUS = #{status},VERSION=VERSION+1
        where PLAN_ID = #{planId}  AND VERSION=#{version}
    </update>

    <delete id="deleteData">
        delete from UO_OP_ACTIVITY_PLAN where head_id = #{headId}
    </delete>

    <insert id="insertToPushListLarge">
        INSERT INTO uo_op_push_list_large(
            PUSH_CONTENT,
            PUSH_STATUS,
            SOURCE_CODE,
            SOURCE_ID,
            USER_PHONE,
            IS_PUSH,
            PUSH_SCHEDULING_DATE,
            PUSH_ID
        )
        SELECT T.SMS_CONTENT,
               'P',
               'ACTIVITY',
               T.ACTIVITY_DETAIL_ID,
               T.USER_PHONE,
               '0',
               PUSH_SCHEDULING_DATE,
               SEQ_UO_OP_PUSH_LIST_LARGE.NEXTVAL
        FROM UO_OP_ACTIVITY_DETAIL T where  plan_id = #{planId}
    </insert>

    <select id="getUserGroupList" resultType="map">
        SELECT T.PLAN_ID,T.GROUP_ID,G.GROUP_NAME,G.PROD_ACTIVITY_PROP, COUNT(*) USER_NUM
        FROM UO_OP_ACTIVITY_DETAIL T,UO_OP_ACTIVITY_GROUP G,UO_OP_ACTIVITY_PLAN P
        WHERE T.PLAN_ID=P.PLAN_ID
          AND   T.GROUP_ID=G.GROUP_ID
          AND   P.HEAD_ID=G.HEAD_ID
          AND   P.ACTIVITY_STAGE=G.ACTIVITY_STAGE
          AND   P.PLAN_TYPE=G.ACTIVITY_TYPE
          AND T.PLAN_ID =#{planId}
        GROUP BY T.GROUP_ID,G.GROUP_NAME,G.PROD_ACTIVITY_PROP,T.PLAN_ID
        ORDER BY T.GROUP_ID ASC
    </select>

    <select id="getAllTemplate"  resultType="map">
        SELECT
                UO_OP_ACTIVITY_GROUP.GROUP_ID,
                UO_OP_ACTIVITY_TEMPLATE.TMP_CONTENT
        FROM UO_OP_ACTIVITY_GROUP, UO_OP_ACTIVITY_TEMPLATE
        WHERE UO_OP_ACTIVITY_GROUP.SMS_TEMPLATE_CODE =UO_OP_ACTIVITY_TEMPLATE.TMP_CODE(+)
          AND UO_OP_ACTIVITY_GROUP.HEAD_ID=#{headId}
          AND UO_OP_ACTIVITY_GROUP.ACTIVITY_STAGE=#{activityStage}
           AND  UO_OP_ACTIVITY_GROUP.ACTIVITY_TYPE=#{activityType}
    </select>

    <update id="updatePushMethod">
        update UO_OP_ACTIVITY_PLAN set
                      PUSH_METHOD = #{pushMethod},PUSH_PERIOD=#{pushPeriod}
        where plan_id = #{planId}
    </update>
</mapper>