<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ConfigMapper">

    <resultMap id="BaseResultMap" type="com.linksteady.common.domain.Tconfig">
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="VALUE" jdbcType="VARCHAR" property="value"/>
        <result column="COMMENTS" jdbcType="VARCHAR" property="comments"/>
        <result column="ORDER_NUM" jdbcType="DECIMAL" property="orderNum"/>
        <result column="TYPE_CODE1" jdbcType="VARCHAR" property="typeCode1"/>
        <result column="TYPE_CODE2" jdbcType="VARCHAR" property="typeCode2"/>
    </resultMap>

    <resultMap id="dictResultMap" type="com.linksteady.common.domain.Dict">
        <result column="DICT_ID" jdbcType="DECIMAL" property="dictId"/>
        <result column="CODE" jdbcType="VARCHAR" property="code"/>
        <result column="VALUE" jdbcType="VARCHAR" property="value"/>
        <result column="ORDER_NO" jdbcType="DECIMAL" property="orderNo"/>
        <result column="TYPE_CODE" jdbcType="VARCHAR" property="typeCode"/>
        <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName"/>
    </resultMap>

    <select id="selectDictByTypeCode" resultMap="dictResultMap">
    select DICT_ID,CODE,VALUE,ORDER_NO,TYPE_CODE,TYPE_NAME FROM T_DICT WHERE TYPE_CODE=#{typeCode} order by order_no asc
    </select>

    <update id="updateConfig">
        update T_CONFIG set value = #{value} where name = #{name}
    </update>

    <select id="getTconfigByName" resultMap="BaseResultMap">
        select T.NAME,T.VALUE,COMMENTS,ORDER_NUM,TYPE_CODE1,TYPE_CODE2 FROM T_CONFIG T where name = #{name}
    </select>

    <select id="selectCommonConfig" resultMap="BaseResultMap">
        select T.NAME,T.VALUE,COMMENTS,ORDER_NUM,TYPE_CODE1,TYPE_CODE2 FROM T_CONFIG T
    </select>
</mapper>