<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ConfigMapper">

    <select id="selectPathActive" resultType="map">
        select CODE,VALUE FROM T_DICT WHERE TYPE_CODE='PATH_ACTIVE' order by order_no asc
    </select>

    <select id="selectUserValue" resultType="map">
        select CODE,VALUE FROM T_DICT WHERE TYPE_CODE='USER_VALUE' order by order_no asc
    </select>

    <select id="selectLifeCycle" resultType="map">
        select CODE,VALUE FROM T_DICT WHERE TYPE_CODE='LIFECYCLE' order by order_no asc
    </select>

    <select id="selectCommonConfig" resultType="map">
        select T.NAME,T.VALUE FROM T_CONFIG T
    </select>
</mapper>