<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.CouponMapper">
    <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.CouponInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="COUPON_ID" jdbcType="DECIMAL" property="couponId"/>
        <result column="COUPON_DENOM" jdbcType="DECIMAL" property="couponDenom"/>

        <result column="COUPON_THRESHOLD" jdbcType="DECIMAL" property="couponThreshold"/>
        <result column="COUPON_NAME" jdbcType="VARCHAR" property="couponName"/>
        <result column="COUPON_URL" jdbcType="VARCHAR" property="couponUrl"/>
    </resultMap>

    <select id="getList" resultMap="BaseResultMap">
    SELECT * FROM(
    SELECT A.*,ROWNUM RN FROM
      (SELECT
         COUPON_ID, COUPON_DENOM,COUPON_THRESHOLD,COUPON_NAME,COUPON_URL
    FROM UO_OP_COUPON
    ) A  WHERE ROWNUM &lt;=#{endRow}
    ) WHERE RN &gt;=#{startRow}
  </select>

    <select id="getTotalCount" resultType="int">
    select count(1) from UO_OP_COUPON
  </select>

    <select id="getCouponIdsByGroupId" resultType="int">
        select COUPON_ID from UO_OP_DAILY_GROUP_COUPON where GROUP_ID = #{groupId}
    </select>

    <delete id="deleteByGroupId">
        delete from UO_OP_DAILY_GROUP_COUPON where GROUP_ID = #{groupId}
    </delete>

    <insert id="insertByGroupId">
        INSERT ALL
        <foreach item="item" index="index" collection="couponIds">
            INTO UO_OP_DAILY_GROUP_COUPON (GROUP_ID, COUPON_ID)
            values(#{groupId}, #{item})
        </foreach>
        select 1 from dual
    </insert>
</mapper>