<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.DailyPushMapper">

    <resultMap id="baseResult" type="com.linksteady.operate.domain.DailyPushQuery">
        <result column="HEAD_ID" jdbcType="DECIMAL" property="headId"></result>
        <result column="DAILY_DETAIL_ID" jdbcType="DECIMAL" property="dailyDetailId"></result>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"></result>
        <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone"></result>
        <result column="USER_OPENID" jdbcType="VARCHAR" property="userOpenid"></result>
        <result column="SMS_CODE" jdbcType="VARCHAR" property="smsCode"></result>
        <result column="SMS_CONTENT" jdbcType="VARCHAR" property="smsContent"></result>
        <result column="REC_PROD_ID" jdbcType="VARCHAR" property="recProdId"></result>
        <result column="REC_PROD_NAME" jdbcType="VARCHAR" property="recProdName"></result>
        <result column="REC_LAST_LONGURL" jdbcType="VARCHAR" property="recLastLongurl"></result>
        <result column="COUPON_ID" jdbcType="DECIMAL" property="couponId"></result>
        <result column="COUPON_NAME" jdbcType="VARCHAR" property="couponName"></result>
        <result column="COUPON_URL" jdbcType="VARCHAR" property="couponUrl"></result>
        <result column="GROWTH_STRATEGY_ID" jdbcType="DECIMAL" property="growthStreadyId"></result>
    </resultMap>

    <resultMap id="pushInfoResult" type="com.linksteady.operate.domain.DailyPushInfo">
        <result column="DAILY_DETAIL_ID" jdbcType="DECIMAL" property="dailyDetailId"></result>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"></result>
        <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone"></result>
        <result column="USER_OPENID" jdbcType="VARCHAR" property="userOpenid"></result>
        <result column="SMS_CONTENT" jdbcType="VARCHAR" property="smsContent"></result>
        <result column="GROWTH_STRATEGY_ID" jdbcType="DECIMAL" property="growthStreadyId"></result>
    </resultMap>

    <select id="getUserCount" resultType="int">
        select
            count(*)
        FROM  UO_OP_DAILY_HEADER T1,
              UO_OP_DAILY_DETAIL T2,
              UO_OP_DAILY_GROUP T3
        WHERE T1.HEAD_ID=T2.HEAD_ID
          AND T2.HEAD_ID=T3.HEAD_ID
          AND T2.GROUP_ID=T3.GROUP_ID
          AND T3.IS_CHECK='1'
          AND T1.HEAD_ID=#{headId}
    </select>

    <select id="getUserList" resultMap="baseResult">
        SELECT *
        FROM (
                 select
                     T1.HEAD_ID,
                     T2.DAILY_DETAIL_ID,
                     T2.USER_ID,
                     T2.USER_ID  USER_PHONE,
                     T2.USER_ID  USER_OPENID,
                     T3.SMS_CODE,
                     SMS.SMS_CONTENT,
                     T2.REC_PROD_ID,
                     T2.REC_PROD_NAME,
                     PT.PROD_LONG_URL REC_LAST_LONGURL,
                     T2.COUPON_ID,
                     T2.GROWTH_STRATEGY_ID,
                     CP.COUPON_NAME,
                     CP.COUPON_URL,
                     ROWNUM   RN
                 FROM UO_OP_DAILY_HEADER T1,
                      UO_OP_DAILY_DETAIL T2,
                      UO_OP_DAILY_GROUP T3,
                      UO_OP_COUPON CP,
                      UO_OP_SMS_TEMPLATE SMS,
                      W_PRODUCT PT
                 WHERE T1.HEAD_ID = T2.HEAD_ID
                   AND T2.HEAD_ID = T3.HEAD_ID
                   AND T2.GROUP_ID = T3.GROUP_ID
                   AND T2.COUPON_ID = CP.COUPON_ID(+)
                   AND T3.SMS_CODE = SMS.SMS_CODE
                   AND T2.REC_PROD_ID = PT.PRODUCT_ID
                   AND T3.IS_CHECK = '1'
                   AND T1.HEAD_ID = #{headId}
                   AND ROWNUM &lt;= #{end}
             ) WHERE RN &gt;= #{start}
    </select>

    <update id="updatePushContent">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update UO_OP_DAILY_DETAIL
            <set>
                SMS_CONTENT=#{item.smsContent},
                PUSH_STATUS='P'
            </set>
            where DAILY_DETAIL_ID=#{item.dailyDetailId}
        </foreach>
    </update>

    <select id="getPrePushUserMaxId" resultType="int">
        select nvl(max(DAILY_DETAIL_ID),-1)
        FROM UO_OP_DAILY_DETAIL T, UO_OP_DAILY_HEADER C
        WHERE T.HEAD_ID = C.HEAD_ID
          AND C.STATUS = 'doing'
          AND T.PUSH_STATUS = 'P'
          AND TO_NUMBER(ORDER_PERIOD)&lt;= to_char(sysdate,'hh24')
    </select>

    <select id="getPrePushUserCount" resultType="int">
        select count(*)
         FROM UO_OP_DAILY_DETAIL T, UO_OP_DAILY_HEADER C
        WHERE T.HEAD_ID = C.HEAD_ID
          AND C.STATUS = 'doing'
          AND T.PUSH_STATUS = 'P'
          AND T.DAILY_DETAIL_ID&lt;=#{dailyDetailId}
          AND TO_NUMBER(ORDER_PERIOD)&lt;= to_char(sysdate,'hh24')
    </select>

    <select id="getPrePushUserList" resultMap="pushInfoResult">
        SELECT *
        FROM (
                select T.DAILY_DETAIL_ID,
                       T.HEAD_ID,
                       T.USER_ID,
                       T.USER_ID USER_PHONE,
                       T.USER_ID USER_OPENID,
                       T.SMS_CONTENT,
                       ROWNUM   RN
                FROM UO_OP_DAILY_DETAIL T, UO_OP_DAILY_HEADER C
                WHERE T.HEAD_ID = C.HEAD_ID
                AND C.STATUS = 'doing'
                AND T.PUSH_STATUS = 'P'
                AND T.DAILY_DETAIL_ID&lt;=#{dailyDetailId}
                AND TO_NUMBER(ORDER_PERIOD)&lt;= to_char(sysdate,'hh24')
                AND ROWNUM &lt;= #{end}
             ) WHERE RN &gt;= #{start}
    </select>

    <update id="updateSendStatus">

        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
              update UO_OP_DAILY_DETAIL
            <set>
                IS_PUSH='1',
                PUSH_STATUS=#{status}
            </set>
              where DAILY_DETAIL_ID=#{item.dailyDetailId}
        </foreach>
    </update>

    <update id="updateHeaderToDone">
        UPDATE UO_OP_DAILY_HEADER c SET c.STATUS='done' WHERE c.STATUS='doing' AND not exists
          (
            select * from UO_OP_DAILY_DETAIL p where p.PUSH_STATUS='P' and p.head_id=c.head_id
            )
    </update>

    <update id="updateHeaderSendStatis">
        update UO_OP_DAILY_HEADER t
        set (t.plan_num,t.faild_num,t.success_num)=
            (
             select
             SUM(case when c.PUSH_STATUS='P' then 1 else 0 end) plan_num,
             SUM(case when c.PUSH_STATUS='F' then 1 else 0 end) faild_num,
             SUM(case when c.PUSH_STATUS='S' then 1 else 0 end) success_num
             from UO_OP_DAILY_DETAIL c where c.head_id = t.head_id
            )where
            trunc(touch_dt)>trunc(sysdate-15) and status in ('doing','done','finished')
    </update>

    <!--更新触达人数、触达率、流失率-->
    <update id="updatePushStatInfo">
        UPDATE UO_OP_DAILY_STATIS C SET (C.TOUCH_COUNT,C.TOUCH_RATE,C.LOSS_RATE)=(
                                         SELECT H.SUCCESS_NUM,
            (CASE WHEN H.OPT_NUM=0 THEN 100 ELSE ROUND(H.SUCCESS_NUM/H.OPT_NUM*100) END),
                                         100-(CASE WHEN H.OPT_NUM=0 THEN 100 ELSE ROUND(H.SUCCESS_NUM/H.OPT_NUM*100) END )
                                         FROM UO_OP_DAILY_HEADER H WHERE H.HEAD_ID=C.HEAD_ID
            ) WHERE C.HEAD_ID IN
                  (
            SELECT HEAD_ID FROM UO_OP_DAILY_HEADER where trunc(touch_dt)>trunc(sysdate-15) and status in ('done','finished')
            )
    </update>



</mapper>