<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.DailyPropertiesMapper">

    <resultMap id="baseResult" type="com.linksteady.operate.domain.DailyProperties">
        <result column="REPEATPUSHDAYS" jdbcType="DECIMAL" property="repeatPushDays"></result>
        <result column="PUSH_FLAG" jdbcType="VARCHAR" property="pushFlag"></result>
        <result column="STATSDAYS" jdbcType="DECIMAL" property="statsDays"></result>
        <result column="PUSH_TYPE" jdbcType="VARCHAR" property="pushType"></result>
        <result column="OPEN_ELART" jdbcType="VARCHAR" property="openAlert"></result>

        <result column="ALERT_PHONE" jdbcType="VARCHAR" property="alertPhone"></result>
        <result column="PUSH_METHOD" jdbcType="VARCHAR" property="pushMethod"></result>
        <result column="CONPON_METHOD" jdbcType="VARCHAR" property="couponMthod"></result>
        <result column="COUPON_URL_TOSHORT" jdbcType="VARCHAR" property="couponUrlToShort"></result>

        <result column="INCLUDE_PROD_URL" jdbcType="VARCHAR" property="includeProdUrl"></result>
        <result column="PROD_URL_TOSHORT" jdbcType="VARCHAR" property="prodUrlToShort"></result>
        <result column="SMS_LENGTH_LIMIT" jdbcType="DECIMAL" property="smsLengthLimit"></result>
    </resultMap>

    <select id="getDailyProperties" resultMap="baseResult">
        select
            repeatpushdays,
            push_flag,
            statsdays,
            push_type,
            open_elart,
            alert_phone,
            push_method,
            conpon_method,
            coupon_url_toshort,
            include_prod_url,
            prod_url_toshort,
            sms_length_limit
        from uo_op_daily_config where rownum=1
    </select>

    <update id="updateProperties">
        update uo_op_daily_config
        set
            repeatpushdays=#{repeatPushDays},
            push_flag=#{pushFlag},
            statsdays=#{statsDays},
            push_type=#{pushType},
            open_elart=#{openAlert},

            alert_phone=#{alertPhone},
            push_method=#{pushMethod},
            conpon_method=#{couponMthod},
            coupon_url_toshort=#{couponUrlToShort},
            include_prod_url=#{includeProdUrl},
            prod_url_toshort=#{prodUrlToShort},
            sms_length_limit=#{smsLengthLimit},
            last_update_by=#{currentUser},
            last_update_date=sysdate
    </update>

</mapper>