<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.DailyGroupMapper">
    <resultMap id="baseResult" type="com.linksteady.operate.domain.DailyGroup">
        <result column="GROUP_ID" jdbcType="DECIMAL" property="groupId"></result>
        <result column="HEAD_ID" jdbcType="DECIMAL" property="headId"></result>
        <result column="GROUP_NAME" jdbcType="DECIMAL" property="groupName"></result>
        <result column="GROUP_DESC" jdbcType="DECIMAL" property="groupDesc"></result>
        <result column="LIFECYLE" jdbcType="DECIMAL" property="lifeCycle"></result>
        <result column="USER_VALUE" jdbcType="DECIMAL" property="userValue"></result>
        <result column="PATH_ACTIVE" jdbcType="DECIMAL" property="pathActive"></result>
        <result column="TAR_TYPE" jdbcType="DECIMAL" property="tarType"></result>
        <result column="PATH_MULTI" jdbcType="DECIMAL" property="pathMulti"></result>
        <result column="USER_COUNT" jdbcType="DECIMAL" property="userCount"></result>
        <result column="IS_CHECK" jdbcType="DECIMAL" property="isCheck"></result>
        <result column="URGENCY_LEVEL" jdbcType="DECIMAL" property="urgencyLevel"></result>
        <result column="SMS_CODE" jdbcType="VARCHAR" property="smsCode"></result>
        <result column="PROD_SMS_CODE" jdbcType="VARCHAR" property="prodSmsCode"></result>
    </resultMap>

    <select id="getDataList" resultMap="baseResult">
        select GROUP_ID, GROUP_NAME, GROUP_DESC, USER_COUNT, IS_CHECK, SMS_CODE, PROD_SMS_CODE
        from UO_OP_DAILY_GROUP where head_id = #{headId} order by GROUP_ID asc
    </select>

    <update id="updateIsChecked">
        <foreach collection="groupList" item="item" index="index" open="begin" close=";end;" separator=";">
            update UO_OP_DAILY_GROUP
            <set>
                IS_CHECK = #{item.isCheck}
            </set>
            where head_id = #{headId} and group_id = #{item.groupId}
        </foreach>
    </update>

    <select id="getOriginalGroupCheck" resultType="map">
        select group_id id, CHECKED from UO_OP_DAILY_TEMPLATE_CONFIG
    </select>

    <select id="sumCheckedNum" resultType="int">
        select case when sum(USER_COUNT) = 0 then 0 else sum(USER_COUNT) end from UO_OP_DAILY_GROUP where head_id = #{headId} and is_check = '1'
    </select>
</mapper>