<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.DailyExecuteMapper">
    
    <resultMap id="base" type="com.linksteady.operate.domain.DailyExecute">
        <result column="HEAD_ID" jdbcType="DECIMAL" property="headId"></result>
        <result column="CONVERT_CNT" jdbcType="DECIMAL" property="convertCnt"></result>
        <result column="SELL_CNT" jdbcType="DECIMAL" property="sellCnt"></result>
        <result column="CONVERT_AMOUNT" jdbcType="DECIMAL" property="convertAmount"></result>
        <result column="EXECUTE_DT" jdbcType="DECIMAL" property="executeDt"></result>
    </resultMap>

    <select id="getKpiTrend" resultMap="base">
        select CONVERT_CNT, SELL_CNT, CONVERT_AMOUNT, to_char(EXECUTE_DT, 'yyyymmdd') EXECUTE_DT from UO_OP_DAILY_EXECUTE_STATIS
        where head_id = #{headId} order by EXECUTE_DT asc
    </select>
</mapper>
