<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.DailyDetailMapper">

    <resultMap id="baseResult" type="com.linksteady.operate.domain.DailyDetail">
        <result column="DAILY_DETAIL_ID" jdbcType="DECIMAL" property="dailyDetailId"></result>
        <result column="HEAD_ID" jdbcType="DECIMAL" property="headId"></result>
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"></result>
        <result column="PATH_ACTIV" jdbcType="VARCHAR" property="pathActiv"></result>
        <result column="USER_VALUE" jdbcType="VARCHAR" property="userValue"></result>
        <result column="SPU_NAME" jdbcType="VARCHAR" property="spuName"></result>
        <result column="REC_PIECE_PRICE" jdbcType="VARCHAR" property="piecePrice"></result>
        <result column="JOIN_RATE" jdbcType="VARCHAR" property="joinRate"></result>
        <result column="ORDER_PERIOD" jdbcType="VARCHAR" property="orderPeriod"></result>
        <result column="REFER_DENO" jdbcType="VARCHAR" property="referDeno"></result>
        <result column="IS_PUSH" jdbcType="VARCHAR" property="isPush"></result>
        <result column="IS_CONVERSION" jdbcType="VARCHAR" property="isConversion"></result>
        <result column="PUSH_STATUS" jdbcType="VARCHAR" property="pushStatus"></result>
        <result column="SMS_CONTENT" jdbcType="VARCHAR" property="smsContent"></result>
        <result column="ACT_ORDER_PERICE" jdbcType="VARCHAR" property="actOrderPerice"></result>
        <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone"></result>
        <result column="USER_OPENID" jdbcType="VARCHAR" property="userOpenid"></result>
        <result column="TAR_PRODUCT_NUM" jdbcType="VARCHAR" property="tarProductNum"></result>
        <result column="COUPON_MIN" jdbcType="VARCHAR" property="couponMin"></result>
        <result column="COUPON_DENO" jdbcType="VARCHAR" property="couponDeno"></result>
    </resultMap>

    <resultMap id="effectResult" type="com.linksteady.operate.domain.DailyDetail">
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"></result>
        <result column="IS_CHECK" jdbcType="VARCHAR" property="isCheck"></result>
        <result column="IS_PUSH" jdbcType="VARCHAR" property="isPush"></result>
        <result column="IS_CONVERSION" jdbcType="VARCHAR" property="isConversion"></result>
        <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName"></result>
        <result column="PATH_ACTIV" jdbcType="VARCHAR" property="pathActiv"></result>
        <result column="USER_VALUE" jdbcType="VARCHAR" property="userValue"></result>
        <result column="REC_PROD_NAME" jdbcType="VARCHAR" property="purchProductName"></result>
        <result column="REC_PIECE_PRICE" jdbcType="VARCHAR" property="piecePrice"></result>
        <result column="COUPON_ID" jdbcType="DECIMAL" property="couponId"></result>
        <result column="COUPON_DENOM" jdbcType="VARCHAR" property="couponDenom"></result>
        <result column="ACT_PROD_NAME" jdbcType="VARCHAR" property="actProdName"></result>
        <result column="ACT_PIECE_PERICE" jdbcType="VARCHAR" property="actPiecePrice"></result>
        <result column="IS_CANCLE" jdbcType="VARCHAR" property="isCancle"></result>
        <result column="TAR_ORDER_PRICE" jdbcType="VARCHAR" property="tarOrderPrice"></result>
    </resultMap>

    <select id="getPageList" resultMap="baseResult">
        select * from (
        select t.*, ROWNUM RN from (
          select USER_ID, SPU_NAME, COMPLETE_PURCH, TAR_ORDER_PRICE, REC_PROD_NAME, TAR_PRODUCT_NUM, USER_VALUE, PATH_ACTIV
            from UO_OP_DAILY_DETAIL where head_id = #{headId}
          <if test="pathActive != '' and pathActive != null">
              and PATH_ACTIV = #{pathActive}
          </if>
          <if test="userValue != '' and userValue != null">
              and USER_VALUE = #{userValue}
          </if>
          order by PATH_ACTIV, USER_VALUE asc
          ) t where ROWNUM &lt;=#{end}
          ) where RN &gt;=#{start}
    </select>

    <select id="getDataCount" resultType="int">
        select count(1) from UO_OP_DAILY_DETAIL where head_id = #{headId}
        <if test="pathActive != '' and pathActive != null">
            and PATH_ACTIV = #{pathActive}
        </if>
        <if test="userValue != '' and userValue != null">
            and USER_VALUE = #{userValue}
        </if>
    </select>

    <select id="getStrategyPageList" resultMap="baseResult">
        select * from (
        select t.*, ROWNUM RN from (
        select USER_ID, TAR_ORDER_PRICE, REC_PROD_NAME, REFER_DENO, ORDER_PERIOD, COUPON_MIN, COUPON_DENO, SMS_CONTENT
        from UO_OP_DAILY_DETAIL where head_id = #{headId}
        order by PATH_ACTIV, USER_VALUE asc
        ) t where ROWNUM &lt;=#{end}
        ) where RN &gt;=#{start}
    </select>

    <select id="getStrategyCount" resultType="int">
        select count(1) from UO_OP_DAILY_DETAIL where head_id = #{headId}
    </select>

    <select id="getUserEffect" resultMap="effectResult">
        select * from (
        select t.*, ROWNUM RN from (
        select USER_ID, PATH_ACTIV,IS_PUSH,IS_CONVERSION, USER_VALUE,REC_PROD_NAME, TAR_ORDER_PRICE,ACT_ORDER_PRICE
        from UO_OP_DAILY_DETAIL where head_id = #{headId}
        <if test="whereInfo != ''">
            ${whereInfo}
        </if>
        ) t where ROWNUM &lt;=#{end}
        ) where RN &gt;=#{start}
    </select>

    <select id="getDataListCount" resultType="int">
        select count(1) from UO_OP_DAILY_DETAIL t1 where head_id = #{headId}
        <if test="whereInfo != ''">
            ${whereInfo}
        </if>
    </select>
</mapper>