<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.DailyPropertiesMapper">

    <resultMap id="baseResult" type="com.linksteady.operate.domain.DailyProperties">
        <result column="REPEATPUSHDAYS" jdbcType="DECIMAL" property="repeatPushDays"></result>
        <result column="PUSH_FLAG" jdbcType="VARCHAR" property="pushFlag"></result>
        <result column="STATSDAYS" jdbcType="DECIMAL" property="statsDays"></result>
        <result column="PUSH_TYPE" jdbcType="VARCHAR" property="pushType"></result>
        <result column="OPEN_ELART" jdbcType="VARCHAR" property="openAlert"></result>

        <result column="ALERT_PHONE" jdbcType="VARCHAR" property="alertPhone"></result>
        <result column="PUSH_METHOD" jdbcType="VARCHAR" property="pushMethod"></result>
        <result column="SMS_LENGTH_LIMIT" jdbcType="DECIMAL" property="smsLengthLimit"></result>

        <result column="PRODUCTURL" jdbcType="VARCHAR" property="productUrl"></result>
        <result column="ISALIAPP" jdbcType="VARCHAR" property="isAliApp"></result>
        <result column="ISTESTENV" jdbcType="VARCHAR" property="isTestEnv"></result>
        <result column="DEMOSHORTURL" jdbcType="VARCHAR" property="demoShortUrl"></result>
        <result column="PROD_NAME_LEN" jdbcType="DECIMAL" property="prodNameLen"></result>
        <result column="SHORT_URL_LEN" jdbcType="DECIMAL" property="shortUrlLen"></result>
    </resultMap>

    <select id="getDailyProperties" resultMap="baseResult">
        select
            repeatpushdays,
            push_flag,
            statsdays,
            push_type,
            open_elart,
            alert_phone,
            push_method,
            sms_length_limit,
            PRODUCTURL,
            ISALIAPP,
            ISTESTENV,
            DEMOSHORTURL,
            PROD_NAME_LEN,
            SHORT_URL_LEN
        from uo_op_daily_config where rownum=1
    </select>
    <!--只允许更新2个字段 -->
    <update id="updateProperties">
        update uo_op_daily_config
        set
            push_flag=#{pushFlag},
            alert_phone=#{alertPhone},
            last_update_by=#{currentUser},
            last_update_date=sysdate
    </update>

</mapper>