<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ManualDetailMapper">

    <insert id="saveDetailList">
        insert into UO_OP_MANUAL_DETAIL(detail_id, head_id, phone_num, push_status)
        select UO_OP_MANUAL_DETAIL_SEQ.nextval, t.* from
        <foreach collection="list" separator="union all" item="item" open="(" close=")">
            select #{item.headId}, #{item.phoneNum}, #{item.pushStatus} from dual
        </foreach> t
    </insert>

    <delete id="deleteData">
        delete from UO_OP_MANUAL_DETAIL where HEAD_ID = #{headId}
    </delete>

    <!--更新行表的推送时间和推送状态-->
    <update id="updateSendStatusAnDate">
        merge into uo_op_manual_detail t1
            using  uo_op_push_list_large t2
            on (t1.detail_id = t2.source_id and t2.source_code='M' and t1.head_id in (
                select h.head_id from uo_op_manual_header h where h.status in ('2','3') and trunc(h.SCHEDULE_DATE)&gt;=trunc(sysdate-3)
        ) )
        when matched then
        update set t1.push_status=t2.push_status,t1.push_date=t2.push_date
    </update>
</mapper>
