<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.OpMapper">
    <select id="getOpDayList" resultType="map">
        SELECT * FROM(
        SELECT A.*,ROWNUM RN FROM
        (select HEAD_ID, DESCR, TOTAL_NUM,INSERT_DT, to_char(TOUCH_DT,'YYYY-MM-DD') TOUCH_DT
        from UO_OP_DAILY_HEADER  WHERE 1=1
        <if test="daywid != null and daywid != ''">
            and to_char(touch_dt,'YYYY-MM-DD') = #{daywid}
        </if>
        ORDER BY TOUCH_DT DESC) A  WHERE ROWNUM &lt;=#{endRow}
        ) WHERE RN &gt;=#{startRow}
    </select>

    <select id="getOpDayListCount" resultType="int" parameterType="string">
        select count(*) from UO_OP_DAILY_HEADER t where 1=1
        <if test="_parameter != null and _parameter != ''">
            and to_char(t.touch_dt,'YYYY-MM-DD') = #{daywid}
        </if>
    </select>

    <select id="getOpDayListCountOfCondition" resultType="int">
        SELECT COUNT(*) FROM UO_OP_DAILY_DETAIL T, UO_OP_DAILY_HEADER H
        WHERE H.HEAD_ID =  T.daily_detail_id
        AND TO_CHAR(H.TOUCH_DT, 'YYYY-MM-DD') = #{daywid}
        <if test="userActiv != ''">
            AND T.PATH_ACTIV = #{userActiv}
        </if>
        <if test="userValue != ''">
            AND T.USER_VALUE = #{userValue}
        </if>
    </select>

    <select id="getOpDayUserCountInfo" resultType="Integer">
        select TOTAL_NUM from UO_OP_DAILY_HEADER  WHERE to_char(touch_dt,'YYYY-MM-DD') = #{daywid}
    </select>

    <select id="getOpDayDetailList" resultType="map">
        SELECT * FROM(
           SELECT A.*,ROWNUM RN FROM
          (
            SELECT
                   T.USER_ID,
                   T.PRODUCT_NAME,
                   T.PRODUCT_ID,
                   T.PRODUCT_CODE,
                   T.DISCOUNT_EFFORT,
                   T.COUPON,
                   T.THRESHOLD,
                   T.GROUP_TYPE
            FROM UO_OP_DAILY_DETAIL T, UO_OP_DAILY_HEADER H
            WHERE H.HEAD_ID = T.HEADER_ID
              AND TO_CHAR(H.TOUCH_DT, 'YYYY-MM-DD') = #{daywid}

        ) A  WHERE ROWNUM &lt;=#{endRow}
        ) WHERE RN &gt;=#{startRow}
    </select>

    <select id="getOpDayDetailListCount" resultType="int">
        SELECT COUNT(T.DAILY_DETAIL_ID)
        FROM UO_OP_DAILY_DETAIL T, UO_OP_DAILY_HEADER H
        WHERE H.HEAD_ID = T.HEADER_ID
          AND TO_CHAR(H.TOUCH_DT, 'YYYY-MM-DD') = #{daywid}
    </select>

    <select id="getOpDayDetailAllList" resultType="map">
        select * from (select A.*, ROWNUM rn from (
            SELECT
            T.USER_ID,
            T.PATH_ACTIV,
            T.USER_VALUE,
            T.SPU_NAME,
            T.PIECE_PRICE,
            T.JOIN_RATE,
            T.PURCH_TYPE_NUM,
            T.TAR_IDEAL_DT,
            T.TAR_GENERAL_DT,
            T.TAR_DEADLINE,
            T.RECOM_SPU,
            T.DISCOUNT_RATE,
            T.ORDER_PERIOD,
            T.REFER_DENO,
            T.DISCOUNT_LEVEL
            FROM UO_OP_DAILY_DETAIL T, UO_OP_DAILY_HEADER H
            WHERE H.HEAD_ID =  T.daily_detail_id
            AND TO_CHAR(H.TOUCH_DT, 'YYYY-MM-DD') = #{daywid}
            <if test="userActiv != ''">
                AND T.PATH_ACTIV = #{userActiv}
            </if>
            <if test="userValue != ''">
                AND T.USER_VALUE = #{userValue}
            </if>
            <if test="sortColumn != null and sortOrder != null">
                order by ${sortColumn} ${sortOrder}
            </if>
        ) A where ROWNUM &lt;= #{end})
        where rn &gt;= #{start}
    </select>

    <select id="getPeriodHeaderList" resultType="map">
        SELECT * FROM(
        SELECT A.*,ROWNUM RN FROM
        (SELECT T.PERIOD_HEADER_ID,
                T.CURRENT_USER_COUNT,
                T.PERIOD_TASK_NAME,
                TO_CHAR(T.PERIOD_START_DT,'YYYY-mm-dd') PERIOD_START_DT,
                TO_CHAR(T.PERIOD_END_DT,'YYYY-mm-dd') PERIOD_END_DT,
                TO_CHAR(T.CREATE_DT,'YYYY-mm-dd HH24:mm:ss') CREATE_DT
         FROM UO_OP_PERIOD T
         where t.PERIOD_TASK_NAME like concat('%', concat(#{taskName}, '%'))
         ORDER BY T.PERIOD_HEADER_ID DESC ) A  WHERE ROWNUM &lt;=#{endRow}
        ) WHERE RN &gt;=#{startRow}
    </select>

    <select id="getPeriodListCount" resultType="int">
        SELECT COUNT(*) FROM UO_OP_PERIOD T where PERIOD_TASK_NAME like concat('%', concat(#{taskName}, '%'))
    </select>

    <insert id="savePeriodHeaderInfo">
        <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="periodHeaderId">
            SELECT UO_OP_PERIOD_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO UO_OP_PERIOD(
        PERIOD_HEADER_ID,
        CURRENT_USER_COUNT,
        PERIOD_TASK_NAME,
        PERIOD_START_DT,
        PERIOD_END_DT,
        CREATE_DT)
        values(#{periodHeaderId}, 0, #{periodName},to_date(#{startDt},'yyyy-mm-dd'), to_date(#{endDt},'yyyy-mm-dd'), sysdate)
    </insert>

    <select id="getPeriodUserList" resultType="map">
        SELECT * FROM(
        SELECT A.*,ROWNUM RN FROM
        (
            SELECT
                T.USER_ID,
                T.PATH_ACTIV,
                T.USER_VALUE,
                T.SPU_NAME,
                T.PIECE_PRICE,
                T.JOIN_RATE,
                T.PURCH_TYPE_NUM,
                T.TAR_IDEAL_DT,
                T.TAR_GENERAL_DT,
                T.TAR_DEADLINE,
                T.RECOM_SPU,
                T.DISCOUNT_RATE,
                T.ORDER_PERIOD,
                T.REFER_DENO,
                T.DISCOUNT_LEVEL
            FROM UO_OP_PERIOD_DETAIL T
            WHERE T.HEADER_ID =#{headerId}
            ) A  WHERE ROWNUM &lt;=#{endRow}
        ) WHERE RN &gt;=#{startRow}
    </select>

    <select id="getPeriodUserListCount" resultType="int">
        SELECT COUNT(*) FROM UO_OP_PERIOD_DETAIL T WHERE T.HEADER_ID=#{headerId}
    </select>

    <select id="getSpuStatis" resultType="map">
        SELECT
            T.SPU_NAME,
            T.RECOMEND_TIMES
        FROM
            UO_OP_DAILY_SPU_STATIS T,
            UO_OP_DAILY_HEADER H
        WHERE
            H.HEAD_ID = T.HEAD_ID
            AND TO_CHAR( H.TOUCH_DT, 'YYYY-MM-DD' ) = #{touchDt}
            ORDER BY T.RECOMEND_TIMES desc
    </select>

    <select id="getChartData" resultType="map">
    SELECT
        T.X_DATA,
        T.Y_DATA
    FROM
        UO_OP_DAILY_DATA_STATIS T,
        UO_OP_DAILY_HEADER H
    WHERE
        H.HEAD_ID = T.HEAD_ID
        AND TO_CHAR( H.TOUCH_DT, 'YYYY-MM-DD' ) = #{touchDt}
        and T.DATA_TYPE = #{type}
        ORDER BY T.SORT_NUM asc
    </select>

    <select id="getPeriodSpuStatis" resultType="map">
        SELECT SPU_NAME,RECOMEND_TIMES FROM (
                                     SELECT
                                         SPU_NAME,
                                         COUNT(*) RECOMEND_TIMES
                                     FROM UO_OP_PERIOD_DETAIL WHERE HEADER_ID=#{headerId} GROUP BY SPU_NAME) ORDER BY RECOMEND_TIMES DESC
    </select>

    <select id="getPeriodChartData" resultType="map">
        SELECT
            T.X_DATA,
            T.Y_DATA
        FROM
            UO_OP_PERIOD_DATA_STATIS T
        WHERE
             T.HEAD_ID=#{headerId}
          and T.DATA_TYPE = #{type}
        ORDER BY T.SORT_NUM asc
    </select>
</mapper>
