<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.OpMapper">
    <select id="getPeriodHeaderList" resultType="map">
        SELECT * FROM(
        SELECT A.*,ROWNUM RN FROM
        (SELECT T.PERIOD_HEADER_ID,
                T.CURRENT_USER_COUNT,
                T.PERIOD_TASK_NAME,
                TO_CHAR(T.PERIOD_START_DT,'YYYY-mm-dd') PERIOD_START_DT,
                TO_CHAR(T.PERIOD_END_DT,'YYYY-mm-dd') PERIOD_END_DT,
                TO_CHAR(T.CREATE_DT,'YYYY-mm-dd HH24:mm:ss') CREATE_DT
         FROM UO_OP_PERIOD T
         where t.PERIOD_TASK_NAME like concat('%', concat(#{taskName}, '%'))
         ORDER BY T.PERIOD_HEADER_ID DESC ) A  WHERE ROWNUM &lt;=#{endRow}
        ) WHERE RN &gt;=#{startRow}
    </select>

    <select id="getPeriodListCount" resultType="int">
        SELECT COUNT(*) FROM UO_OP_PERIOD T where PERIOD_TASK_NAME like concat('%', concat(#{taskName}, '%'))
    </select>

    <select id="getPeriodPrimaryKey" resultType="int">
        SELECT UO_OP_PERIOD_SEQ.NEXTVAL FROM DUAL
    </select>

    <insert id="savePeriodHeaderInfo">
        INSERT INTO UO_OP_PERIOD(
        PERIOD_HEADER_ID,
        CURRENT_USER_COUNT,
        PERIOD_TASK_NAME,
        PERIOD_START_DT,
        PERIOD_END_DT,
        CREATE_DT)
        values(#{periodHeaderId}, 451, #{periodName},to_date(#{startDt},'yyyy-mm-dd'), to_date(#{endDt},'yyyy-mm-dd'), sysdate)
    </insert>

    <select id="getPeriodUserList" resultType="map">
        SELECT * FROM(
        SELECT A.*,ROWNUM RN FROM
        (
            SELECT
                T.USER_ID,
                T.PATH_ACTIV,
                T.USER_VALUE,
                T.SPU_NAME,
                T.PIECE_PRICE,
                T.JOIN_RATE,
                T.PURCH_TYPE_NUM,
                T.TAR_IDEAL_DT,
                T.TAR_GENERAL_DT,
                T.TAR_DEADLINE,
                T.RECOM_SPU,
                T.DISCOUNT_RATE,
                T.ORDER_PERIOD,
                T.REFER_DENO,
                T.DISCOUNT_LEVEL
            FROM UO_OP_PERIOD_DETAIL T
            WHERE T.HEADER_ID =#{headerId}
            ) A  WHERE ROWNUM &lt;=#{endRow}
        ) WHERE RN &gt;=#{startRow}
    </select>

    <select id="getPeriodUserListCount" resultType="int">
        SELECT COUNT(*) FROM UO_OP_PERIOD_DETAIL T WHERE T.HEADER_ID=#{headerId}
    </select>

    <select id="getPeriodSpuStatis" resultType="map">
        SELECT SPU_NAME,RECOMEND_TIMES FROM (
                                     SELECT
                                         SPU_NAME,
                                         COUNT(*) RECOMEND_TIMES
                                     FROM UO_OP_PERIOD_DETAIL WHERE HEADER_ID=#{headerId} GROUP BY SPU_NAME) ORDER BY RECOMEND_TIMES DESC
    </select>

    <select id="getPeriodChartData" resultType="map">
        SELECT
            T.X_DATA,
            T.Y_DATA
        FROM
            UO_OP_PERIOD_DATA_STATIS T
        WHERE
             T.HEAD_ID=#{headerId}
          and T.DATA_TYPE = #{type}
        ORDER BY T.SORT_NUM asc
    </select>

    <insert id="copyPeriodStatis" parameterType="int">
        INSERT INTO uo_op_period_data_statis
        (  head_id,
           data_type,
           x_data,
           y_data,
           sort_num)
        select
            #{periodId},
            data_type,
            x_data,
            y_data,
            sort_num
        from  uo_op_period_data_statis where  head_id=21
    </insert>

    <insert id="copyPeriodDetail" parameterType="int">
        INSERT INTO UO_OP_PERIOD_DETAIL(
            daily_detail_id  ,
            header_id        ,
            user_id          ,
            path_activ       ,
            user_value       ,
            spu_name         ,
            piece_price      ,
            join_rate        ,
            purch_type_num   ,
            tar_ideal_dt     ,
            tar_general_dt   ,
            tar_deadline     ,
            recom_spu        ,
            discount_rate    ,
            order_period     ,
            refer_deno       ,
            discount_level   ,
            last_finish_date
        )
        SELECT
            daily_detail_id  ,
            #{periodId},
            user_id          ,
            path_activ       ,
            user_value       ,
            spu_name         ,
            piece_price      ,
            join_rate        ,
            purch_type_num   ,
            tar_ideal_dt     ,
            tar_general_dt   ,
            tar_deadline     ,
            recom_spu        ,
            discount_rate    ,
            order_period     ,
            refer_deno       ,
            discount_level   ,
            last_finish_date
        FROM UO_OP_PERIOD_DETAIL WHERE header_id=21
    </insert>
</mapper>
