<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.OrderPriceMapper">

    <select id="getKpiOfDifferPeriod" resultType="Double">
        SELECT
        TRUNC(AVG(W_ORDERS.REAL_FEE),2) kpiVal
        FROM W_ORDERS
        JOIN W_DATE ON W_ORDERS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDERS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
    </select>

    <select id="getDatePeriodData" resultType="com.linksteady.operate.vo.KpiInfoVo">
        SELECT
        TRUNC(AVG(W_ORDERS.REAL_FEE),2) kpiVal,
        ${period_name} kpiDate
        FROM
        W_ORDERS
        JOIN W_DATE ON W_ORDERS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDERS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
        GROUP BY ${period_name}
        ORDER BY ${period_name} ASC
    </select>

    <select id="getSpAndFpKpi" resultType="com.linksteady.operate.vo.KpiInfoVo">
        WITH g1 as(
        SELECT
        ${period_name} kpiDate,
        NVL(W_ORDERS.REAL_FEE,0) FEE,
        W_ORDERS.IS_FP,
        W_ORDERS.USER_ID
        FROM
        W_ORDERS JOIN W_DATE ON W_ORDERS.ORDER_DT_WID=W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDERS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
        ),
        g2 as(
        SELECT
        g1.kpiDate,
        COUNT(DISTINCT g1.USER_ID) TOTAL_CNT,
        COUNT(DISTINCT CASE WHEN g1.IS_FP='Y' THEN g1.USER_ID END) FP_CNT,
        COUNT(DISTINCT CASE WHEN g1.IS_FP='N' THEN g1.USER_ID END) RP_CNT,
        SUM(FEE) TOTAL_FEE,
        SUM(CASE WHEN g1.IS_FP='Y' THEN FEE ELSE 0 END) FP_FEE, --首购金额
        SUM(CASE WHEN g1.IS_FP='N' THEN FEE ELSE 0 END) RP_FEE  --复购金额
        FROM g1
        GROUP BY g1.kpiDate
        )
        SELECT
        g2.kpiDate,
        (CASE WHEN g2.TOTAL_CNT=0 THEN 0 ELSE TRUNC(g2.TOTAL_FEE/g2.TOTAL_CNT,2) END) kpiVal,
        (CASE WHEN g2.FP_CNT=0 THEN 0 ELSE TRUNC(g2.FP_FEE/g2.FP_CNT,2) END) fpKpiVal,
        (CASE WHEN g2.RP_CNT=0 THEN 0 ELSE TRUNC(g2.RP_FEE/g2.RP_CNT,2) END) spKpival
        FROM g2 ORDER BY g2.kpiDate ASC
    </select>

    <select id="getSpAndFpKpiTotal" resultType="com.linksteady.operate.vo.KpiInfoVo">
        WITH g1 as(
        SELECT
        NVL(W_ORDERS.REAL_FEE,0) FEE,
        W_ORDERS.IS_FP,
        W_ORDERS.USER_ID
        FROM
        W_ORDERS JOIN W_DATE ON W_ORDERS.ORDER_DT_WID=W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDERS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
        ),
        g2 as(
        SELECT
        COUNT(DISTINCT g1.USER_ID) TOTAL_CNT,
        COUNT(DISTINCT CASE WHEN g1.IS_FP='Y' THEN g1.USER_ID END) FP_CNT,
        COUNT(DISTINCT CASE WHEN g1.IS_FP='N' THEN g1.USER_ID END) RP_CNT,
        SUM(FEE) TOTAL_FEE,
        SUM(CASE WHEN g1.IS_FP='Y' THEN FEE ELSE 0 END) FP_FEE, --首购金额
        SUM(CASE WHEN g1.IS_FP='N' THEN FEE ELSE 0 END) RP_FEE  --复购金额
        FROM g1
        )
        SELECT
        AVG((CASE WHEN g2.TOTAL_CNT=0 THEN 0 ELSE TRUNC(g2.TOTAL_FEE/g2.TOTAL_CNT,2) END)) kpiVal,
        AVG((CASE WHEN g2.FP_CNT=0 THEN 0 ELSE TRUNC(g2.FP_FEE/g2.FP_CNT,2) END)) fpKpiVal,
        AVG((CASE WHEN g2.RP_CNT=0 THEN 0 ELSE TRUNC(g2.RP_FEE/g2.RP_CNT,2) END)) spKpival
        FROM g2
    </select>
</mapper>
