<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.PushLogMapper">
    <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.PushLog">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="LOG_DATE" jdbcType="DATE" property="logDate"/>
        <result column="LOG_CONTENT" jdbcType="DECIMAL" property="logContent"/>
        <result column="LOG_TYPE" jdbcType="DECIMAL" property="logType"/>
        <result column="LOG_DATE_STR" jdbcType="VARCHAR" property="logDateStr"/>
    </resultMap>

    <select id="getList" resultMap="BaseResultMap">
       select to_char(LOG_DATE, 'mm-dd hh24:mi') LOG_DATE_STR,LOG_CONTENT,LOG_TYPE from UO_OP_PUSHLOG where TRUNC(LOG_DATE)-TRUNC(SYSDATE)>=#{day}
       and USER_COUNT != 0
       order by LOG_DATE desc
  </select>

    <insert id="insertPushLog">
        INSERT INTO UO_OP_PUSHLOG (LOG_DATE, LOG_CONTENT,LOG_TYPE) values(#{logDate}, #{logContent}, #{logType})
    </insert>
</mapper>