<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.PushListMapper">

    <resultMap id="baseResult" type="com.linksteady.operate.domain.PushListInfo">
        <result column="PUSH_ID" jdbcType="DECIMAL" property="pushId"></result>
        <result column="PUSH_CONTENT" jdbcType="VARCHAR" property="pushContent"></result>
        <result column="PUSH_PERIOD" jdbcType="VARCHAR" property="pushPeriod"></result>
        <result column="PUSH_STATUS" jdbcType="VARCHAR" property="pushStatus"></result>
        <result column="CALLBACK_ID" jdbcType="VARCHAR" property="callbackId"></result>
        <result column="CALLBACK_CODE" jdbcType="VARCHAR" property="callbackCode"></result>
        <result column="CALLBACK_DESC" jdbcType="VARCHAR" property="callbackDesc"></result>
        <result column="SOURCE_CODE" jdbcType="VARCHAR" property="sourceCode"></result>
        <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone"></result>
        <result column="USER_OPENID" jdbcType="VARCHAR" property="userOpenId"></result>
        <result column="SOURCE_ID" jdbcType="DECIMAL" property="sourceId"></result>
        <result column="PUSH_DATE" jdbcType="DATE" property="pushDate"></result>
    </resultMap>

    <select id="getPendingPushMaxId" resultType="int">
        select nvl(max(PUSH_ID),-1)
        FROM UO_OP_PUSH_LIST C
        WHERE
               C.IS_PUSH = '0'
          AND TO_NUMBER(PUSH_PERIOD)&lt;= #{currHour}
    </select>

    <select id="getPendingPushCount" resultType="int">
        select count(*)
        FROM UO_OP_PUSH_LIST C
        WHERE C.IS_PUSH = '0'
          AND C.PUSH_ID&lt;=#{maxPushId}
          AND TO_NUMBER(PUSH_PERIOD)&lt;= #{currHour}
    </select>

    <select id="getPendingPushList" resultMap="baseResult">
        SELECT *
        FROM (
                 select T.PUSH_ID,
                        T.PUSH_CONTENT,
                        T.PUSH_PERIOD,
                        T.PUSH_STATUS,
                        T.CALLBACK_ID,
                        T.CALLBACK_CODE,
                        T.CALLBACK_DESC,
                        T.SOURCE_CODE,
                        T.USER_PHONE,
                        T.USER_OPENID,
                        T.SOURCE_ID,
                        ROWNUM   RN
                 FROM UO_OP_PUSH_LIST T
                 WHERE T.IS_PUSH = '0'
                   AND T.PUSH_ID&lt;=#{maxPushId}
                   AND TO_NUMBER(PUSH_PERIOD)&lt;= #{currHour}
                   AND ROWNUM &lt;= #{end}
             ) WHERE RN &gt;= #{start}
    </select>

    <update id="updateSendStatus">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update UO_OP_PUSH_LIST
            <set>
                PUSH_STATUS=#{item.pushStatus},
                CALLBACK_CODE=#{item.callbackCode},
                PUSH_DATE=#{item.pushDate}
            </set>
            where PUSH_ID=#{item.pushId}
        </foreach>
    </update>

    <update id="updateIsPush">
        update UO_OP_PUSH_LIST SET  IS_PUSH='1'  where PUSH_ID&lt;=#{maxPushId} AND TO_NUMBER(PUSH_PERIOD)&lt;= #{currHour}
    </update>

    <select id="getTotalCount" resultType="int">
        select count(1)
        FROM UO_OP_PUSH_LIST T
        WHERE 1=1
        <if test="pushStatus != null and pushStatus != ''">
            and T.PUSH_STATUS = #{pushStatus}
        </if>
        <if test="sourceCode != null and sourceCode != ''">
            and T.SOURCE_CODE = #{sourceCode}
        </if>
    </select>

    <select id="getPushInfoListPage" resultMap="baseResult">
        SELECT *
        FROM (
        select T.PUSH_ID,
        T.PUSH_CONTENT,
        T.PUSH_PERIOD,
        T.PUSH_STATUS,
        T.CALLBACK_ID,
        T.CALLBACK_CODE,
        T.CALLBACK_DESC,
        T.SOURCE_CODE,
        T.USER_PHONE,
        T.USER_OPENID,
        T.SOURCE_ID,
        ROWNUM   RN
        FROM UO_OP_PUSH_LIST T
        WHERE 1=1
        <if test="pushStatus != null and pushStatus != ''">
            and T.PUSH_STATUS = #{pushStatus}
        </if>
        <if test="sourceCode != null and sourceCode != ''">
            and T.SOURCE_CODE = #{sourceCode}
        </if>
        AND ROWNUM &lt;= #{end}
        ) WHERE RN &gt;= #{start}
    </select>
</mapper>