<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.SmsTemplateMapper">
    <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.SmsTemplate">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="SMS_CODE" jdbcType="VARCHAR" property="smsCode" />
        <result column="SMS_CONTENT" jdbcType="VARCHAR" property="smsContent" />
        <result column="IS_COUPON" jdbcType="VARCHAR" property="isCoupon" />
    </resultMap>

    <select id="getSmsTemplateList" resultMap="BaseResultMap">
        SELECT * FROM(
        SELECT A.*,ROWNUM RN FROM
        (SELECT
        SMS_CODE, SMS_CONTENT, IS_COUPON
        FROM UO_OP_SMS_TEMPLATE WHERE 1=1
        <if test="smsCode != null and smsCode != ''">
            AND SMS_CODE=#{smsCode}
        </if>
        <if test="groupId != null and groupId != ''">
            AND IS_COUPON = (select IS_COUPON from UO_OP_DAILY_TEMPLATE_CONFIG where group_id = #{groupId})
        </if>
        ) A  WHERE ROWNUM &lt;=#{endRow}
        ) WHERE RN &gt;=#{startRow}
    </select>

    <select id="getTotalCount" resultType="int">
        select count(1) from UO_OP_SMS_TEMPLATE where 1=1
        <if test="smsCode != null and smsCode != ''">
            and SMS_CODE=#{smsCode}
        </if>
        <if test="groupId != null and groupId != ''">
            AND IS_COUPON = (select IS_COUPON from UO_OP_DAILY_TEMPLATE_CONFIG where group_id = #{groupId})
        </if>
    </select>

    <insert id="saveSmsTemplate">
     INSERT INTO UO_OP_SMS_TEMPLATE(SMS_CODE,SMS_CONTENT, IS_COUPON) VALUES(#{smsCode},#{smsContent},#{isCoupon})
  </insert>

    <select id="refrenceCount" resultType="int">
     SELECT COUNT(*) FROM UO_OP_DAILY_TEMPLATE_CONFIG WHERE SMS_CODE=#{smsCode}
  </select>

    <delete id="deleteSmsTemplate">
    delete from UO_OP_SMS_TEMPLATE where SMS_CODE=#{smsCode}
  </delete>

    <select id="getSmsTemplate" resultMap="BaseResultMap">
    SELECT
        SMS_CODE, SMS_CONTENT, IS_COUPON
        FROM UO_OP_SMS_TEMPLATE WHERE SMS_CODE=#{smsCode}
  </select>

    <update id="update" parameterType="com.linksteady.operate.domain.SmsTemplate">
      update UO_OP_SMS_TEMPLATE set SMS_CONTENT = #{smsContent}, IS_COUPON = #{isCoupon}
      where SMS_CODE = #{smsCode}
    </update>

</mapper>