<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.system.dao.QywxLoginMapper">

    <select id="getCorpId" resultType="string">
  	   select corp_id from uo_qywx_param
  </select>

    <select id="getAgentId" resultType="string">
        select agent_id from uo_qywx_param
    </select>
</mapper>