<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.system.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.linksteady.system.domain.UserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
  </resultMap>

  <select id="findUserRole" resultType="com.linksteady.common.bo.UserRoleBo">
      WITH g1 AS (
      SELECT
      U.username,
      U.user_id,
      ur.role_id
      FROM
      T_USER U
      LEFT JOIN
      (select * from T_USER_ROLE where role_id=#{role_id}) ur ON ur.user_id = U.user_id
      )
      select
          g1.role_id roleId,
          g1.user_id userId,
          g1.username userName,
          case when COALESCE(role_id,-1)=-1 THEN 0 else 1 end hasPermission
      from g1

  </select>

    <insert id="insertDataList">
        insert all
        <foreach collection="list" item="o">
            into t_user_role(USER_ID,ROLE_ID,CREATE_DT,CREATE_BY) values(#{o.userId},#{o.roleId},#{o.createDt},#{o.createBy})
        </foreach>
        select 1 from dual
    </insert>
</mapper>