<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.system.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.linksteady.common.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="USER_TYPE" jdbcType="VARCHAR" property="userType"/>
	<result column="EXPIRE_DATE" jdbcType="TIMESTAMP" property="expireDate"/>
	<result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
	<result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
    <result column="CREATE_DT" jdbcType="TIMESTAMP" property="createDt" />
    <result column="UPDATE_DT" jdbcType="TIMESTAMP" property="updateDt" />
  </resultMap>
  <select id="findUsers" resultType="com.linksteady.common.domain.User" parameterType="com.linksteady.common.domain.User">
  		select u.user_id userId,u.username,u.email,u.mobile,u.status,u.create_dt createDt,u.update_dt updateDt,
  		u.expire_date expireDate, u.user_type from t_user u
  		where 1=1
  		<if test="username != null and username != ''">
			and u.username like concat('%', #{username}, '%')
	    </if>
	    <if test="status != null and status != ''">
	        AND u.status = #{status}
	    </if>
  		order by u.user_id
  </select>

  <select id="findUserWithRole" resultType="com.linksteady.system.domain.UserWithRole">
		select u.user_id userId,u.username,u.email,u.mobile,
		u.status,ur.role_id roleId, u.expire_date expireDate, u.user_type from t_user u
		left join t_user_role ur on (u.user_id = ur.user_id)
		where u.user_id = #{userId}
  </select>

	<update id="resetPassword">
		update t_user t set password=#{password},
							update_dt=now(),
							update_by=#{modifyName},
							firstLogin='Y' where t.user_id=#{userId}
	</update>

	<select id="findAllUser" resultMap="BaseResultMap">
 		SELECT USER_ID, USERNAME FROM T_USER
 	</select>

	<select id="getDefaultPwd" resultType="string">
		select value from T_CONFIG where NAME = 'system.default.password'
	</select>

	<insert id="saveUser" parameterType="com.linksteady.common.domain.User" useGeneratedKeys="true" keyProperty="userId">
		insert into t_user(username,password,email,mobile,status,create_dt,create_by,expire_date,firstlogin,user_type) values
		(#{username},#{password},#{email},#{mobile},#{status},#{createDt},#{createBy},#{ssex},#{theme},#{avatar},#{expireDate},#{firstLogin},#{userType})
	</insert>

	<update id="updateLastLoginTime">
		UPDATE t_user SET AST_LOGIN_TIME =now() WHERE lower(username)= #{userName}
	</update>
</mapper>