<div class="row">
    <div class="col-md-12">
        <div class="select-list">
            <ul>
                <li>
                    价值：<select name="userValue">
                    <option value="" selected>所有</option>
                    <option value="ULC_01">重要</option>
                    <option value="ULC_02">主要</option>
                    <option value="ULC_03">普通</option>
                    <option value="ULC_04">长尾</option>
                </select>
                </li>
                <li>
                    活跃度：<select name="pathActive">
                    <option value="" selected>所有</option>
                    <option value="UAC_01">高度活跃</option>
                    <option value="UAC_02">中度活跃</option>
                    <option value="UAC_03">流失预警</option>
                </select>
                </li>

                <li>
                    状态：<select name="status">
                    <option value="" selected>所有</option>
                    <option value="check:0">未选择</option>
                    <option value="push:0">未触达</option>
                    <option value="convert:0">未转化</option>
                    <option value="convert:1">已转化</option>
                </select>
                </li>
                <li>
                    <a class="btn btn-primary btn-rounded btn-sm" onclick="searchUser()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    <a class="btn btn-warning btn-rounded btn-sm" onclick="refreshUser()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-bordered text-nowrap" id="userTable">
        </table>
    </div>
</div>