<div class="row" style="margin-top: 12px;">
    <div class="col-sm-12">
        <div class="btn-group-sm pull-right" id="toolbar" role="group">
            <a class="btn btn-primary" id="btn_prev" onclick="step1()">
                <i class="fa fa-arrow-left"></i> 上一步
            </a>
            <button class="btn btn-primary" id="btn_push" onclick="submitData()">
                <i class="fa fa-location-arrow"></i> 启动群组推送
            </button>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 12px;">
    <div class="col-md-12">
        <table id="groupTable" class="table table-bordered text-nowrap"></table>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" aria-labelledby="msg_modal" id="msg_modal">
    <div class="modal-dialog modal-lg" role="document" style="width: 75%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">选择消息模板</h5>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <p class="h5" style="font-weight: normal;">当前群组名称：<span id="currentGroupName"></span></p>
                    <table id="smsTemplateTable" class="table table-striped text-nowrap"></table>
                    <input type="hidden" id="currentGroupId"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="setSmsCode()">更新消息模板</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>