<div class="modal fade" id="selectedGroupModal" data-keyboard="false" data-backdrop="static" tabindex="-1"
     style="overflow: auto">
    <div class="modal-dialog" style="width: 51%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">理解用户群组</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-striped">
                            <div class="table-responsive">
                                <table class="table text-nowrap table-bordered h6" style="width: 70%;">
                                    <thead>
                                    <tr>
                                        <th>差异特征维度</th>
                                        <th>用户群组特征值</th>
                                        <th>特征值业务理解</th>
                                        <th>推送配置建议</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>用户对类目的价值/沉默成本</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>用户对类目的生命周期阶段</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>用户下一次转化的活跃度节点</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>