<div class="row">
    <span class="navbar-page-title">活动基本信息</span>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr m-t-0 m-b-5"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline" method="post" id="basic-add-form">
            <input type="hidden" id="headId" th:value="${activityHead.headId}"/>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        活动名称：<input type="text" class="form-control" name="activityName" th:value="${activityHead.activityName}" disabled/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        活动类型：<input type="text" name="activityflag" class="form-control" th:value="${activityHead.activityflag}" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        活动渠道：<input type="text" class="form-control" name="activitySource" th:value="${activityHead.activitySource}" disabled/>
                    </div>
                </div>
            </div>
            <div style="border: dashed 1px #e7eaec;margin-top: 10px;padding-bottom: 10px;">
                <div class="row m-t-10">
                    <div class="col-md-4">
                        <div class="form-group">
                            店铺优惠：<select name="shopDiscount" class="form-control" style="width: 172px;" disabled>
                            <option value="Y" th:selected="${activityHead.shopDiscount eq 'Y'} ? true:false">是</option>
                            <option value="N" th:selected="${activityHead.shopDiscount eq 'N'} ? true:false">否</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div th:each="s:${shopCouponList}">
                    <div class="row m-t-10">
                        <div class="col-md-4">
                            <div class="form-group">
                                &#12288;券叠加：<select name="addFlag" class="form-control" style="width: 172px;" disabled>
                                <option value="1" th:selected="${s.addFlag eq '1'} ? true:false">是</option>
                                <option value="0" th:selected="${s.addFlag eq '0'} ? true:false">否</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                &#12288;&#12288;门槛：<input type="text" name="couponThreshold" class="form-control" th:value="${s.couponThreshold}" disabled/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                &#12288;&#12288;面额：<input type="text" name="couponDenom" class="form-control" th:value="${s.couponDenom}" disabled/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 只有平台活动才会有 -->
            <div class="row m-t-15">
                <div class="col-md-4">
                    <div class="form-group">
                        通知时间：<input type="text" disabled name="formalNotifyDt" id="formalNotifyDt" class="form-control"
                                    th:value="${activityHead.formalNotifyDt}"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        开始时间：<input disabled class="form-control" id="formalStartDt" name="formalStartDt"
                                    th:value="${activityHead.formalStartDt}"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        结束时间：<input disabled class="form-control" id="formalEndDt" name="formalEndDt"
                                    th:value="${activityHead.formalEndDt}"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row m-t-15">
    <div class="col-md-12 text-right">
        <div class="row m-t-15">
            <div class="col-md-12 text-right">
                <a class="btn btn-sm btn-secondary" onclick="stepBreak(1)"><i class="fa fa-arrow-right"></i>编辑活动</a>
                <a class="btn btn-secondary btn-sm" href="/page/qywxActivity">
                    <i class="fa fa-backward"></i>&nbsp;返回
                </a>
            </div>
        </div>
    </div>
</div>
