
<style>
    tr{border-top:1px solid #eee;font-size:1rem}tr:last-child{border-bottom:1px solid #eee}tr:hover{background:#fafafa!important}.table-condensed tr{border-top:0px;}.table-condensed tr:last-child{border-bottom:0px;}
    #dataTable tr:first-child th{border-bottom:1px solid #cccccc}
    #dataTable tr td:first-child{border-right:1px solid #cccccc}
    #dataTable tr th:first-child{border-right:1px solid #cccccc}
    #dataTable tr:first-child{border:0px}

</style>
<div class="card">
    <div class="card-header">
        <h2 class="card-title" style="padding:1rem 0">留存分析：</h2>
    </div>
    <div class="card-block">
        <div id="container" style="height:auto;">
            <div class="row">
                <div class="col-sm-6 form-inline text-right">
                    <div class="input-group" id="dateVal1">
                        <span class="input-group-addon">日期:</span>
                        <div class="form-group">
                            <input type="text" class="form-control" id="startDate" style="width: 120px;">
                            <i class="form-group__bar"></i>
                        </div>

                        <div class="form-group">
                            <span>&nbsp;-&nbsp;</span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="endDate" style="width: 120px;">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="dataTables_buttons hidden-sm-down actions">
                        <span class="actions__item zmdi zmdi-search" onclick="search()" title="查询"></span>
                    </div>
                </div>
            </div>
            <table class="table table-hover" id="dataTable"
                   style="word-break: break-all; word-wrap: break-word;">
                <thead>
                <tr>
                    <th>月份</th> <th>用户数</th> <th>+1月</th> <th>+2月</th> <th>+3月</th> <th>+4月</th><th>+5月</th> <th>+6月</th>
                </tr>
                </thead>
                <tbody id="dataList"></tbody>
            </table>
        </div>
    </div>
</div>
<script>
    init();
    function init() {
        $MB.initDatePicker('dateVal1', 'month','startDate', 'endDate');
        $("#startDate").val(date_init());
        search();
    }
    function search() {
        $.post("/retention/list", {startDate: $("#startDate").val(), endDate: $("#endDate").val()}, function(r) {
            var htmlCode = "";
            $.each(r, function (k, v) {
                htmlCode += "<tr><td>" + v.dateTime + "</td>" +
                    "<td>" + v.month0 + "</td>" +
                    "<td>" + v.month1 + "</td>" +
                    "<td>" + v.month2 + "</td>" +
                    "<td>" + v.month3 + "</td>" +
                    "<td>" + v.month4 + "</td>" +
                    "<td>" + v.month5 + "</td>" +
                    "<td>" + v.month6 + "</td>" +
                    "</tr>";
            });
            $("#dataList").html("").html(htmlCode);
            $("#dataTable").find("tr:eq(0)").find("td").css("style", "border-top:1px solid red");
        });
    }
    function date_init(){
        var d = new Date();
        d.setMonth(d.getMonth() - 7);
        var curr_month = d.getMonth() + 1;
        var curr_year = d.getFullYear();
        String(curr_month).length < 2 ? (curr_month = "0" + curr_month): curr_month;
        var formatStr = curr_year + "/" + curr_month;
        return formatStr;
    }
</script>