<style>
    tr{border-top:1px solid #eee;font-size:1rem}tr:last-child{border-bottom:1px solid #eee}tr:hover{background:#fafafa!important}
</style>
<div class="card">
    <div class="card-header">
        <h2 class="card-title" style="padding:1rem 0">用户增长阶段识别：</h2>
    </div>
    <div class="card-block">
        <div id="container" style="height:310px">
            <table class="table table-hover table-bordered table-striped"
                   style="word-break: break-all; word-wrap: break-word;">
                <thead>
                    <tr>
                        <th></th> <th></th> <th>用户数占比</th> <th>销售贡献率</th> <th>销售额增长率</th> <th>用户数增长率</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2">新客户</td><td>新客期用户</td>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>成长期用户</td>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td rowspan="3">老客户</td><td>成熟期用户</td>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>衰退期用户</td>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>流失期用户</td>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <span class="zmdi zmdi-notifications" style="width: 15px;height: 15px;color: dodgerblue;font-size: 1.2rem;"></span><span>老客的销售贡献率较低，建议提高老客的销售占比。</span>
            </div>
        </div>
    </div>
</div>