<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业微信应用设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <meta name="referrer" content="never"/>
    <th:block th:include="common/include :: common-css" />
    <th:block th:include="common/include::jquery-confirm-css" />
    <th:block th:include="common/include::bootstrap-table-css" />
</head>
<body class="gray-bg">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <!-- 左侧导航 -->
            <div data-th-include="common/aside"></div>
            <!-- 头部信息 -->
            <div data-th-include="common/header"></div>
            <!-- 页面主要内容 -->
            <main class="lyear-layout-content">
                <div class="container-div ui-layout-center">
                    <div class="row">
                        <div class="col-sm-12 search-collapse">
                            <div class="row">
                                <h5 class="navbar-page-title"> 应用信息设置</h5>
                            </div>
                        </div>
                        <div class="col-md-12 select-table" id="step1">
                            <ul class="nav nav-tabs nav-justified" id="navTabs1">
                                <li class="active">
                                    <a data-toggle="tab" href="#qywxSetting" aria-expanded="true">企业微信应用信息配置</a>
                                </li>
                                <li class="nav-item">
                                    <a data-toggle="tab" href="#qywxContact" aria-expanded="false">外部联系人配置</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="qywxSetting">
                                    <div data-th-include="qywx/qywxsettings/qywxSetting"></div>
                                </div>
                                <div class="tab-pane fade" id="qywxContact">
                                    <div data-th-include="qywx/qywxsettings/qywxContact"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
<th:block th:include="common/include::footer" />
<th:block th:include="common/include::perfect-scrollbar" />
<th:block th:include="common/include::jquery-validate-js" />
<th:block th:include="common/include::bootstrap-table-js" />
<th:block th:include="common/include::jquery-confirm-js" />
<th:block th:include="common/include::common-js" />
<script data-th-src="@{/js/app/qywx/qywxsettings/setting.js}"></script>
</body>
</html>