<div class="row">
    <div class="col-sm-12">
        <form  method="post"  class="form-horizontal">
            <div id="showfile" style="display:none;">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">校验文件名称：</label>
                        <div class="col-sm-6">
                            <input type="text"  class="form-control" readonly="readonly" name="filename" id="filename"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">校验文件内容：</label>
                        <div class="col-sm-6">
                            <input type="text"  class="form-control" readonly="readonly" name="content" id="content"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-sm-12">
                    <div class="btn-group-sm" style="text-align: center" id="toolbar" role="group">
                        <a class="btn btn-primary btn-edit"  id="btn_upload" onclick="$('#materialModal').modal('show')">
                            <i class="fa fa-cog"></i> 上传文件
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


<div class="modal fade" id="materialModal" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h5 class="modal-title pull-left">上传</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 table-striped">
                        <form class="form-horizontal"method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-md-4 control-label">上传文件</label>
                                <div class="col-md-7">
                                    <button class="btn btn-primary btn-sm" type="button"
                                            onclick="$('#uploadFile').click()">
                                        <i class="fa fa-file-excel-o"></i> 选择文件
                                    </button>
                                    <input id="uploadFile" type="file" style="display:none"/>
                                    <span id="filename1" style="color: #8a6d3b" class="h6"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save btn-sm" onclick="uploadfile()" name="save">确定</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

