<div class="row">
    <div class="col-sm-12">
        <form  method="post"  class="form-horizontal" id="qywx-contact-form">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">外部联系人事件URL：</label>
                    <div class="col-sm-6">
                        <input type="text"  class="form-control" readonly name="eventUrl" id="eventUrl"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">外部联系人事件token：</label>
                    <div class="col-sm-6">
                        <input type="text"  class="form-control" name="eventToken" id="eventToken"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">外部联系人事件aesKey：</label>
                    <div class="col-sm-6">
                        <input type="text"  class="form-control" name="eventAesKey" id="eventAesKey"/>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-sm-12">
                    <div class="btn-group-sm" style="text-align: center">
                        <a class="btn btn-primary btn-edit" onclick="updateContact()" type="button"><i class="fa fa-arrow-right"></i>保存配置</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

