<div class="row">
    <div class="col-sm-12">
        <form  method="post" class="form-horizontal" id="qywx-setting-form">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">企业ID：</label>
                    <div class="col-sm-6">
                        <input type="text"  class="form-control" name="corpId" id="corpId"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">应用秘钥：</label>
                    <div class="col-sm-6">
                        <input type="text"  class="form-control" name="applicationSecret" id="applicationSecret"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">应用agentID：</label>
                    <div class="col-sm-6">
                        <input type="text"  class="form-control" name="agentId" id="agentId"/>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-sm-12">
                    <div class="btn-group-sm" style="text-align: center">
                        <a class="btn btn-primary btn-edit" onclick="updateWxSetting()" type="button"><i class="fa fa-arrow-right"></i>保存配置</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>