<div class="row">
    <div class="col-sm-12">
        <div class="example-box">
            <label class="control-label">　　　　是否开启欢迎语：</label>
            <label class="lyear-radio radio-inline radio-primary">
                <input type="radio" id="openWel" name="isopenwel" value="Y"><span>是</span>
            </label>
            <label class="lyear-radio radio-inline radio-primary">
                <input type="radio" id="closeWel" value="N"  name="isopenwel" checked="checked"><span>否</span>
            </label>
        </div>
    </div>
</div>
<div class="row m-t-15">
    <div class="col-md-12 text-right">
        <a class="btn btn-sm btn-secondary" onclick="setEnableWelcome()" type="button"><i class="fa fa-arrow-right"></i>保存</a>
    </div>
</div>

