<div class="row">
    <div class="col-sm-12">
        <form  method="post"  class="form-horizontal" id="qywx-apples-form">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">企微关联的小程序商城APPID：</label>
                    <div class="col-sm-6">
                        <input type="text"  class="form-control" name="mpappid" id="mpappid"/>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-sm-12">
                    <div class="btn-group-sm" style="text-align: center">
                        <a class="btn btn-primary btn-edit" onclick="setMpAppId()" type="button"><i class="fa fa-arrow-right"></i>保存配置</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
