<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <title>导购运营引导</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <meta name="referrer" content="never">
    <link rel="icon" data-th-href="@{/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/style.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/common.css}"/>
    <link rel="stylesheet" href="/weui/css/weui.css"/>
    <link rel="stylesheet" href="/weui/css/weuix.css"/>
    <link rel="stylesheet" href="/weui/css/common.css"/>
    <!-- bootstrapTable -->
    <link rel="stylesheet" data-th-href="@{/plugins/bootstrap-table/bootstrap-table.min.css}">
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body ontouchstart class="page-bg" style="font-size: 14px;">
    <div class="weui-pay" style="padding: 6px;">
        <div class="" style="padding: 9px;background: #ffffff">
            <h1 class="weui-pay-title" style="font-size: 14px;">手机号未维护/格式错误列表</h1>
            <div>
                <a id="refreshTable" class="btn btn-secondary btn-sm" onclick="refreshData()">
                    <i class="fa fa-refresh"></i> 刷新
                </a>
            </div>
            <div class="table-striped" style="width: 100%;margin-top: 10px;">
                <table class="table table-striped table-bordered text-nowrap table-hover" id="phoneNoneTable"></table>
            </div>
        </div>
    </div>
</body>
<script src="/js/common/jquery.min.js"></script>
<script src="/js/common/bootstrap.min.js"></script>
<script src="/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="/weui/js/zepto.min.js"></script>
<script src="/weui/js/zepto.weui.js"></script>
<script>
    $(function () {
        if(!isWeiXin())
        {
            //提示
            $.toptip('此功能仅能在企业微信APP/PC客户端内使用！',20000,'error');
            return;
        }

        $.get("/jsapi/getJsapiInfo", {
            url:location.href.split('#')[0]
        }, function (r) {
            if(r.code==200)
            {
                let appId=r.data.corpId;
                let timestamp=r.data.timestamp;
                let nonceStr=r.data.nonceStr;
                let signature=r.data.signature;
                let agentId=r.data.agentId;
                let agentSignature=r.data.agentSignature;
                wx.config({
                    beta: true,// 必须这么写，否则wx.invoke调用形式的jsapi会有问题
                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: appId, // 必填，企业微信的corpID
                    timestamp: timestamp, // 必填，生成签名的时间戳
                    nonceStr: nonceStr, // 必填，生成签名的随机串
                    signature: signature,// 必填，签名，见 附录-JS-SDK使用权限签名算法
                    jsApiList: ['openUserProfile'] // 必填，需要使用的JS接口列表，凡是要调用的接口都需要传进来
                });
                wx.ready(function(){
                    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
                    wx.agentConfig({
                        corpid: appId, // 必填，企业微信的corpid，必须与当前登录的企业一致
                        agentid: agentId, // 必填，企业微信的应用id （e.g. 1000247）
                        timestamp: timestamp , // 必填，生成签名的时间戳
                        nonceStr: nonceStr, // 必填，生成签名的随机串
                        signature: agentSignature,// 必填，签名，见附录-JS-SDK使用权限签名算法
                        jsApiList: ['openUserProfile'], //必填
                        success: function(res) {
                            getTableData();
                        },
                        fail: function(res) {
                            if(res.errMsg.indexOf('function not exist') > -1){
                                alert('版本过低请升级')
                            }
                        }
                    });
                });
            }else
            {
                console.log(r.data.msg)
            }


        });
    });

    function getTableData() {
        let settings = {
            url: "/contract/selectRemarkInvalid",
            pagination: true,
            sidePagination: "server",
            pageSize: 10,
            pageList: [10, 25, 50, 100],
            singleSelect: true,
            queryParams: function (params) {
                return {
                    pageSize: params.limit,
                    pageNum: (params.offset / params.limit) + 1
                };
            },
            columns: [
                {
                    field: 'name',
                    title: '客户名称'
                },{
                    field: 'fixFlag',
                    title: '原因',
                    formatter: fixFormatter
                },{
                    field: 'createTimeStr',
                    title: '添加时间'
                }
            ],

            onDblClickRow : function(row)
            {
                wx.invoke('openUserProfile', {
                    "type": 2, //1表示该userid是企业成员，2表示该userid是外部联系人
                    "userid":row.externalUserid //可以是企业成员，也可以是外部联系人
                }, function(res){
                    if(res.err_msg != "openUserProfile:ok"){
                        //错误处理
                    }
                });
            }
        };
        $("#phoneNoneTable").bootstrapTable('destroy').bootstrapTable(settings);
    }
    
    function refreshData() {
        getTableData();
    }

    /**
     * 异常原因
     */
    function fixFormatter(value, row, index)
    {

        if (value === 'A')
        {
            return '<span class="badge bg-warning">手机号为空</span>';
        }else if(value==='B')
        {
            return '<span class="badge bg-error">格式错误</span>';
        }else
        {
            return '<span class="badge bg-warning">未知</span>';
        }
    }

    function isWeiXin(){
        let ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
            return true;
        }else{
            return false;
        }
    }

</script>
</body>
</html>