<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <title>桑基图</title>
    <th:block th:include="common/include :: common-css" />
    <th:block th:include="common/include::bootstrap-table-css" />
    <th:block th:include="common/include::jquery-confirm-css" />
    <th:block th:include="common/include::bootstrap-year-calendar-css" />

    <link rel="stylesheet" href="/plugins/ztree/zTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="/plugins/snakey/inspector.css">
</head>
<body style="background-color: #ffffff;margin: 0px;padding: 0px;">
<div class="row">
    <div class="col-md-12" style="margin-top:5px;margin-bottom:8px;">
        <div class="select-list">
            <div class="pull-left">
                <div class="btn-group-sm" id="toolbar" role="group">
                    <a class="btn btn-secondary" id="breakBtn" target="_blank" style="color: #48b0f7"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                    <a class="btn btn-secondary" id="btn_clear">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
            </div>
            <div class="text-center">
                <p class="h6">
                    图例：1.列：用户的购买次序&nbsp;&nbsp;
                    2.列中的条形：本次序下用户购买的类目种类&nbsp;&nbsp;
                    3.条形的高度：本次序下购买这个类目用户数
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row" id="sankey_mask" hidden>
    <div class="col-md-12">
        <div style="opacity:0.6;width: 100%;height: 400px;line-height:400px!important;background-color: #ddd;color: #383838;" class="text-center center-block">
            暂无相关数据！
        </div>
    </div>
</div>

<th:block th:include="common/include::footer" />
<th:block th:include="common/include::perfect-scrollbar" />
<th:block th:include="common/include::jquery-validate-js" />
<th:block th:include="common/include::common-js" />
<th:block th:include="common/include::bootstrap-year-calendar-js" />
<script>
    var dateRange = "[[${dateRange}]]";
    $("#breakBtn").attr("href", "/sankey?dateRange=" + dateRange);
    let data;
</script>
<script type="module">
    import define from "/plugins/snakey/index.js";
    import {Runtime, Library, Inspector} from "/plugins/snakey/runtime.js";
    const runtime = new Runtime();
    getData();
    function getData() {
        $MB.loadingDesc( "show", "正在加载数据..." );
        $.get( "/insight/getSpuSnakey", {dateRange: dateRange}, function (r) {
            if(r.nodes.length === 0 || r.links.length === 0) {
                $("#sankey_mask").show();
            }else {
                $("#sankey_mask").hide();
                data = r;
                runtime.module(define, Inspector.into(document.body), r);
            }
            $MB.loadingDesc('hide');
        });
    }
</script>
</body>
</html>