<!--头部信息-->
<header class="lyear-layout-header">
    <nav class="navbar navbar-default">
        <div class="topbar">
            <div class="topbar-left">
                <div class="lyear-aside-toggler">
                    <span class="lyear-toggler-bar"></span>
                    <span class="lyear-toggler-bar"></span>
                    <span class="lyear-toggler-bar"></span>
                </div>
            </div>
            <!--<div class="text-right"><h6 style="color:red">本环境数据非真实数据！</h6></div>-->
            <ul class="topbar-right">
                <li class="dropdown dropdown-profile">
                    <a href="javascript:void(0)" data-toggle="dropdown">
                        <img   class="img-avatar-27 m-r-10" th:src="@{/images/avatar/20180414165840.jpg}">
                        <span id="loginUser"><span class="caret"></span></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li> <a data-toggle="modal" data-target="#update-password"  style="cursor:pointer"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                        <li> <a id="logoutbtn"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                    </ul>
                </li>
                <li id="selectSys">
                    <a id="navigatorUrl" type="button"><i class="mdi mdi-login"></i>系统导航</a>
                </li>
                <li class="dropdown">
                    <a type="button" data-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"><i class="mdi mdi-bell"></i>消息
                        <span class="badge pull-right" style="font-size: 12px;background-color: #f96868;"><span id="msgCount0">0</span></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" style="width: 400px;" id="dropdownMenu">
                        <a href="" style="color: #333;margin-left: 10px;font-weight: bold;" id="msgTitle">您有<span id="msgCount1">0</span>条未读信息</a>
                        <table class="table table-striped" style="margin: 10px;width: 380px;" id="msgTable"></table>
                        <a href="/page/msg" style="color: #333;margin-left: 10px;">查看所有通知</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div data-th-include="@{user/updatePassword}"></div>
<!--End 头部信息-->