<h5>概览</h5>
<hr class="hr m-t-0 m-b-5"/>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" action="#">
            <div class="form-group">
                <div class="col-md-7"></div>
                <label class="col-md-1 control-label" for="dateItem">时间：</label>
                <div class="col-md-2" id="startDate">
                    <input class="form-control js-datepicker m-b-10" type="text" id="dateItem" name="dateItem" value="2019-04"/>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" type="button"><i class="mdi mdi-magnify"></i>查询</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="card bg-light">
            <div class="card-body clearfix">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="h5 m-t-0">全生命周期价值</p>
                        <p class="h3 m-b-0">100</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card bg-light">
            <div class="card-body clearfix">
                <div class="col-md-12 text-center">
                    <p class="h5 m-t-0">毛利回收期</p>
                    <p class="h3 m-b-0">30天</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-light">
            <div class="card-body clearfix">
                <div class="col-md-12 text-center">
                    <p class="h5 m-t-0">获取成本回报</p>
                    <p class="h3 m-b-0">1000万元</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card bg-light">
            <div class="card-body clearfix">
                <div class="col-md-12 text-center">
                    <p class="h5 m-t-0">月客单价</p>
                    <p class="h3 m-b-0">100元</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-light">
            <div class="card-body clearfix">
                <div class="col-md-12 text-center">
                    <p class="h5 m-t-0">用户平均成本</p>
                    <p class="h3 m-b-0">10元</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h5>获取成本回报</h5>
        <hr class="hr m-t-0 m-b-5"/>
        <div class="text-center">
            <form class="form-inline" action="lyear_forms_elements.html" method="post" onsubmit="return false;">
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="startDate4" name="startDate1" data-date-format="yyyy-mm" value="2018-01"/>
                </div>
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="endDate4" name="endDate1" data-date-format="yyyy-mm" value="2018-08"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary m-b-10" type="button" onclick="search()"><i class="mdi mdi-magnify"></i>查询</button>
                </div>
            </form>
        </div>
        <div id="chart2_4" style="width: 100%; height: 400px;"></div>
    </div>
    <div class="col-md-6">
        <h5>毛利回收期</h5>
        <hr class="hr m-t-0 m-b-5"/>
        <div class="text-center">
            <form class="form-inline" action="lyear_forms_elements.html" method="post" onsubmit="return false;">
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="startDate5" name="startDate1" data-date-format="yyyy-mm" value="2018-01"/>
                </div>
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="endDate5" name="endDate1" data-date-format="yyyy-mm" value="2018-08"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary m-b-10" type="button" onclick="search()"><i class="mdi mdi-magnify"></i>查询</button>
                </div>
            </form>
        </div>
        <div id="chart2_5" style="width: 100%; height: 400px;"></div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h5>全生命周期价值、月客单价、预估的生命周期长度&nbsp;<i class="mdi mdi-cursor-pointer" style="color:#33cabb;"></i></h5>
        <hr class="hr m-t-0 m-b-5"/>
        <div class="text-center">
            <form class="form-inline" action="lyear_forms_elements.html" method="post" onsubmit="return false;">
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="startDate6" name="startDate1" data-date-format="yyyy-mm" value="2018-01"/>
                </div>
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="endDate6" name="endDate1" data-date-format="yyyy-mm" value="2018-08"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary m-b-10" type="button" onclick="search()"><i class="mdi mdi-magnify"></i>查询</button>
                </div>
            </form>
        </div>
        <div id="chart6" style="width: 100%; height: 400px;"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>用户平均成本、平均获客成本、平均培养成本&nbsp;<i class="mdi mdi-cursor-pointer" style="color:#33cabb;"></i></h5>
        <hr class="hr m-t-0 m-b-5"/>
        <div class="text-center">
            <form class="form-inline" action="lyear_forms_elements.html" method="post" onsubmit="return false;">
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="startDate7" name="startDate1" data-date-format="yyyy-mm" value="2018-01"/>
                </div>
                <div class="form-group">
                    <input class="form-control js-datepicker m-b-10" type="text" id="endDate7" name="endDate1" data-date-format="yyyy-mm" value="2018-08"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary m-b-10" type="button" onclick="search()"><i class="mdi mdi-magnify"></i>查询</button>
                </div>
            </form>
        </div>
        <div id="chart7" style="width: 100%; height: 400px;"></div>
    </div>
</div>