<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.mdss.dao.TargetDimensionMapper">
  <resultMap id="BaseResultMap" type="com.linksteady.mdss.domain.TargetDimension">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TGT_ID" jdbcType="DECIMAL" property="tgtId" />
    <result column="DIMENSION_CODE" jdbcType="VARCHAR" property="dimensionCode" />
    <result column="DIMENSION_NAME" jdbcType="VARCHAR" property="dimensionName" />
    <result column="DIMENSION_VAL_CODE" jdbcType="VARCHAR" property="dimensionValCode" />
    <result column="DIMENSION_VAL_NAME" jdbcType="VARCHAR" property="dimensionValName" />
  </resultMap>

  <select id="getIdFromDual" resultType="Long">
    SELECT seq_tgt_dimension_id.NEXTVAL from DUAL
  </select>

  <insert id="save">
    INSERT ALL
    <foreach item="item" index="index" collection="list">
      INTO UO_TGT_DIMENSION(ID, TGT_ID, DIMENSION_CODE, DIMENSION_NAME, DIMENSION_VAL_CODE, DIMENSION_VAL_NAME)
      values(#{item.id}, #{item.tgtId}, #{item.dimensionCode}, #{item.dimensionName}, #{item.dimensionValCode}, #{item.dimensionValName})
    </foreach>
    select 1 from dual
  </insert>

  <select id="getListByTgtId" resultType="map">
    select DIMENSION_CODE, DIMENSION_NAME, DIMENSION_VAL_NAME, DIMENSION_VAL_CODE from UO_TGT_DIMENSION where TGT_ID = #{id}
  </select>

  <delete id="deleteTgtDimensionById">
    DELETE FROM UO_TGT_DIMENSION where TGT_ID IN
    <foreach collection="list" separator="," open="(" close=")" item="id">
      #{id}
    </foreach>
  </delete>
</mapper>