<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.AddUserMapper">

    <resultMap id="base" type="com.linksteady.operate.domain.AddUserHead">
        <result column="id" jdbcType="DECIMAL" property="id"/>
        <result column="send_type" jdbcType="VARCHAR" property="sendType"/>
        <result column="apply_user_cnt" jdbcType="DECIMAL" property="applyUserCnt"/>
        <result column="apply_pass_cnt" jdbcType="DECIMAL" property="applyPassCnt"/>
        <result column="apply_pass_rate" jdbcType="DECIMAL" property="applyPassRate"/>
        <result column="task_start_dt" jdbcType="TIMESTAMP" property="taskStartDt"/>
        <result column="task_status" jdbcType="VARCHAR" property="taskStatus"/>
        <result column="region_id" jdbcType="VARCHAR" property="regionId"/>
        <result column="region_name" jdbcType="VARCHAR" property="regionName"/>
        <result column="source_id" jdbcType="VARCHAR" property="sourceId"/>
        <result column="source_name" jdbcType="VARCHAR" property="sourceName"/>
        <result column="daily_user_cnt" jdbcType="DECIMAL" property="dailyUserCnt"/>
        <result column="daily_apply_rate" jdbcType="VARCHAR" property="dailyApplyRate"/>
        <result column="daily_add_user_cnt" jdbcType="DECIMAL" property="dailyAddUserCnt"/>
        <result column="daily_wait_days" jdbcType="DECIMAL" property="dailyWaitDays"/>
        <result column="daily_add_total" jdbcType="DECIMAL" property="dailyAddTotal"/>
        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
    </resultMap>

    <resultMap id="paramMap" type="com.linksteady.operate.domain.QywxParam">
        <result column="daily_add_num" jdbcType="DECIMAL" property="dailyAddNum"/>
        <result column="daily_add_rate" jdbcType="DECIMAL" property="dailyAddRate"/>
    </resultMap>

    <select id="getHeadCount" resultType="int">
        select count(1) from uo_qywx_add_user_header
    </select>

    <select id="getHeadPageList" resultMap="base">
        select id, task_name, apply_user_cnt, apply_pass_cnt, apply_pass_rate, task_start_dt, task_status, send_type from uo_qywx_add_user_header
        order by insert_dt desc
        limit #{limit} offset #{offset}
    </select>

    <insert id="saveHeadData">
        <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="id">
            select nextval('qywx_add_user_header_id_seq'::regclass)
        </selectKey>
        insert into uo_qywx_add_user_header(id, send_type, task_status, task_name, region_id, region_name, source_id, source_name)
        values (#{id}, #{sendType}, 'edit', #{taskName}, #{regionId}, #{regionName}, #{sourceId}, #{sourceName})
    </insert>

    <delete id="deleteHead">
        delete from uo_qywx_add_user_header where id = #{id}::integer
    </delete>

    <select id="getHeadById" resultMap="base">
        select * from uo_qywx_add_user_header where id = #{id}
    </select>

    <update id="editConfig">
        update uo_qywx_add_user_config set (send_type, user_value, life_cycle, path_active, user_growth, add_user_method, is_channel, is_product, is_coupon, is_qrcode, qr_id, sms_content) = (#{sendType}, #{userValue}, #{lifeCycle}, #{pathActive}, #{userGrowth}, #{addUserMethod}, #{isChannel}::integer, #{isProduct}::integer, #{isCoupon}::integer, #{isQrcode}, #{qrId}::integer, #{smsContent})
        where id = #{id}::integer
    </update>

    <resultMap id="treeMap" type="com.linksteady.common.domain.Ztree">
        <result column="id" jdbcType="VARCHAR" property="id"></result>
        <result column="pid" jdbcType="VARCHAR" property="pId"></result>
        <result column="name" jdbcType="VARCHAR" property="name"></result>
    </resultMap>

    <select id="getSource" resultType="map">
        select source_id id, source_name as name from w_source
    </select>

    <insert id="insertAddUserList">
       insert into uo_qywx_add_user_list
       (
          head_id,user_id,phone_num,is_push,push_status,insert_dt,update_dt
       )
       select
          #{headId},id,mobile,0,'X',now(),now()
          from w_users where valid_status=1
            <if test="whereInfo != null and whereInfo != ''">
                ${whereInfo}
            </if>
    </insert>

    <select id="getAddUserListCount" resultType="int">
         select count(*) from uo_qywx_add_user_list where head_id= #{headId}
    </select>

    <select id="getQywxParam" resultMap="paramMap">
         select daily_add_num,daily_add_rate from uo_qywx_param limit 1
    </select>

    <update id="updatePushParameter">
        update uo_qywx_add_user_header set
          apply_user_cnt=#{totalNum},
          daily_user_cnt=#{defaultAddCount},
          daily_apply_rate=#{defaultApplyRate},
          daily_add_user_cnt=#{dailyAddNum},
          daily_wait_days=#{waitDays},
          daily_add_total=#{addTotal}
       where id= #{headId}
    </update>
</mapper>