<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.AddUserMapper">

    <resultMap id="base" type="com.linksteady.operate.domain.AddUserHead">
        <result column="id" jdbcType="DECIMAL" property="id"/>
        <result column="send_type" jdbcType="VARCHAR" property="sendType"/>
        <result column="apply_user_cnt" jdbcType="DECIMAL" property="applyUserCnt"/>
        <result column="apply_pass_cnt" jdbcType="DECIMAL" property="applyPassCnt"/>
        <result column="apply_pass_rate" jdbcType="DECIMAL" property="applyPassRate"/>
        <result column="task_start_dt" jdbcType="TIMESTAMP" property="taskStartDt"/>
        <result column="task_status" jdbcType="VARCHAR" property="taskStatus"/>
        <result column="add_user_method" jdbcType="VARCHAR" property="addUserMethod"/>
    </resultMap>

    <resultMap id="configMap" type="com.linksteady.operate.domain.AddUserConfig">
        <result column="id" jdbcType="DECIMAL" property="id"/>
        <result column="HEAD_ID" jdbcType="DECIMAL" property="headId"/>
        <result column="SEND_TYPE" jdbcType="VARCHAR" property="sendType"/>
        <result column="USER_VALUE" jdbcType="VARCHAR" property="userValue"/>
        <result column="LIFE_CYCLE" jdbcType="VARCHAR" property="lifeCycle"/>
        <result column="PATH_ACTIVE" jdbcType="TIMESTAMP" property="pathActive"/>
        <result column="USER_GROWTH" jdbcType="VARCHAR" property="userGrowth"/>
        <result column="ADD_USER_METHOD" jdbcType="VARCHAR" property="addUserMethod"/>
        <result column="IS_CHANNEL" jdbcType="DECIMAL" property="isChannel"/>
        <result column="IS_PRODUCT" jdbcType="DECIMAL" property="isProduct"/>
        <result column="IS_COUPON" jdbcType="DECIMAL" property="isCoupon"/>
        <result column="IS_QRCODE" jdbcType="DECIMAL" property="isQrcode"/>
        <result column="QR_ID" jdbcType="VARCHAR" property="qrId"/>
        <result column="SMS_CONTENT" jdbcType="VARCHAR" property="smsContent"/>
    </resultMap>

    <select id="getHeadCount" resultType="int">
        select count(1) from uo_qywx_add_user_header
    </select>

    <select id="getHeadPageList" resultMap="base">
        select t1.id, apply_user_cnt, apply_pass_cnt, apply_pass_rate, task_start_dt, task_status, t2.add_user_method, t2.send_type from uo_qywx_add_user_header t1
        left join uo_qywx_add_user_config t2 on t1.id = t2.head_id
        limit #{limit} offset #{offset}
    </select>

    <insert id="saveHeadData">
        <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="id">
            select nextval('qywx_add_user_header_id_seq'::regclass)
        </selectKey>
        insert into uo_qywx_add_user_header(id, task_status) values (#{id}, 'edit')
    </insert>

    <insert id="saveConfigData">
        insert into uo_qywx_add_user_config(head_id, send_type, user_value, life_cycle, path_active, user_growth, add_user_method, is_channel, is_product, is_coupon, is_qrcode, qr_id, sms_content)
        values (#{headId}::integer, #{sendType}, #{userValue}, #{lifeCycle}, #{pathActive}, #{userGrowth}, #{addUserMethod}, #{isChannel}::integer, #{isProduct}::integer, #{isCoupon}::integer, #{isQrcode}::integer, #{qrId}::integer, #{smsContent})
    </insert>

    <delete id="deleteHead">
        delete from uo_qywx_add_user_header where id = #{id}::integer
    </delete>

    <delete id="deleteConfig">
        delete from uo_qywx_add_user_config where head_id = #{id}::integer
    </delete>

    <select id="getConfigByHeadId" resultMap="configMap">
        select * from uo_qywx_add_user_config where head_id = #{id}::integer
    </select>

    <update id="editConfig">
        update uo_qywx_add_user_config set (send_type, user_value, life_cycle, path_active, user_growth, add_user_method, is_channel, is_product, is_coupon, is_qrcode, qr_id, sms_content) = (#{sendType}, #{userValue}, #{lifeCycle}, #{pathActive}, #{userGrowth}, #{addUserMethod}, #{isChannel}::integer, #{isProduct}::integer, #{isCoupon}::integer, #{isQrcode}, #{qrId}::integer, #{smsContent})
        where id = #{id}::integer
    </update>

    <resultMap id="treeMap" type="com.linksteady.common.domain.Ztree">
        <result column="id" jdbcType="VARCHAR" property="id"></result>
        <result column="pid" jdbcType="VARCHAR" property="pId"></result>
        <result column="name" jdbcType="VARCHAR" property="name"></result>
        <result column="no_check" jdbcType="BOOLEAN" property="nocheck"></result>
    </resultMap>

    <select id="getSource" resultType="map">
        select source_id id, source_name as name from w_source
    </select>
</mapper>