<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.DailyDetailMapper">

    <resultMap id="baseResult" type="com.linksteady.operate.domain.DailyDetail">
        <result column="DAILY_DETAIL_ID" jdbcType="DECIMAL" property="dailyDetailId"></result>
        <result column="HEAD_ID" jdbcType="DECIMAL" property="headId"></result>
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"></result>
        <result column="PATH_ACTIVE" jdbcType="VARCHAR" property="pathActive"></result>
        <result column="USER_VALUE" jdbcType="VARCHAR" property="userValue"></result>
        <result column="SPU_NAME" jdbcType="VARCHAR" property="spuName"></result>
        <result column="REC_PIECE_PRICE" jdbcType="VARCHAR" property="piecePrice"></result>
        <result column="JOIN_RATE" jdbcType="VARCHAR" property="joinRate"></result>
        <result column="ORDER_PERIOD" jdbcType="VARCHAR" property="orderPeriod"></result>
        <result column="IS_PUSH" jdbcType="VARCHAR" property="isPush"></result>
        <result column="IS_CONVERSION" jdbcType="VARCHAR" property="isConversion"></result>
        <result column="PUSH_STATUS" jdbcType="VARCHAR" property="pushStatus"></result>
        <result column="SMS_CONTENT" jdbcType="VARCHAR" property="smsContent"></result>
        <result column="ACT_ORDER_PERICE" jdbcType="VARCHAR" property="actOrderPerice"></result>
        <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone"></result>
        <result column="USER_OPENID" jdbcType="VARCHAR" property="userOpenid"></result>
        <result column="TAR_PRODUCT_NUM" jdbcType="VARCHAR" property="tarProductNum"></result>
        <result column="COUPON_MIN" jdbcType="VARCHAR" property="couponMin"></result>
        <result column="COUPON_DENO" jdbcType="VARCHAR" property="couponDeno"></result>
        <result column="REC_PROD_ID" jdbcType="VARCHAR" property="recProdId"></result>
        <result column="REC_PROD_NAME" jdbcType="VARCHAR" property="recProdName"></result>
        <result column="COMPLETE_PURCH" jdbcType="VARCHAR" property="completePurch"></result>
        <result column="TAR_ORDER_PRICE" jdbcType="VARCHAR" property="tarOrderPrice"></result>
        <result column="COUPON_ID" jdbcType="DECIMAL" property="couponId"></result>
        <result column="COUPON_NAME" jdbcType="VARCHAR" property="couponName"></result>
        <result column="COUPON_URL" jdbcType="VARCHAR" property="couponUrl"></result>
        <result column="IS_COUPON" jdbcType="DECIMAL" property="isCoupon"></result>
        <result column="GROUP_ID" jdbcType="DECIMAL" property="groupId"></result>
    </resultMap>

    <resultMap id="effectResult" type="com.linksteady.operate.domain.DailyDetail">
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"></result>
        <result column="IS_PUSH" jdbcType="VARCHAR" property="isPush"></result>
        <result column="IS_CONVERSION" jdbcType="VARCHAR" property="isConversion"></result>
        <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName"></result>
        <result column="PATH_ACTIVE" jdbcType="VARCHAR" property="pathActive"></result>
        <result column="USER_VALUE" jdbcType="VARCHAR" property="userValue"></result>
        <result column="REC_PIECE_PRICE" jdbcType="VARCHAR" property="piecePrice"></result>
        <result column="COUPON_ID" jdbcType="DECIMAL" property="couponId"></result>
        <result column="ACT_PROD_NAME" jdbcType="VARCHAR" property="actProdName"></result>
        <result column="ACT_PIECE_PERICE" jdbcType="VARCHAR" property="actPiecePrice"></result>
        <result column="IS_CANCLE" jdbcType="VARCHAR" property="isCancle"></result>
        <result column="TAR_ORDER_PRICE" jdbcType="VARCHAR" property="tarOrderPrice"></result>
        <result column="REC_PROD_NAME" jdbcType="VARCHAR" property="recProdName"></result>
    </resultMap>

    <select id="getPageList" resultMap="baseResult">
        select * from (
        select t.*, ROWNUM RN from (
        select USER_ID, SPU_NAME, COMPLETE_PURCH, TAR_ORDER_PRICE, REC_PROD_NAME, TAR_PRODUCT_NUM, USER_VALUE,
        PATH_ACTIVE
        from UO_OP_DAILY_DETAIL where head_id = #{headId}
        <if test="pathActive != '' and pathActive != null">
            and PATH_ACTIVE = #{pathActive}
        </if>
        <if test="userValue != '' and userValue != null">
            and USER_VALUE = #{userValue}
        </if>
        order by PATH_ACTIVE, USER_VALUE, DAILY_DETAIL_ID asc
        ) t where ROWNUM &lt;=#{end}
        ) where RN &gt;=#{start}
    </select>

    <select id="getDataCount" resultType="int">
        select count(1) from UO_OP_DAILY_DETAIL where head_id = #{headId}
        <if test="pathActive != '' and pathActive != null">
            and PATH_ACTIVE = #{pathActive}
        </if>
        <if test="userValue != '' and userValue != null">
            and USER_VALUE = #{userValue}
        </if>
    </select>

    <select id="getStrategyPageList" resultMap="baseResult">
        select USER_ID, TAR_ORDER_PRICE, REC_PROD_NAME, ORDER_PERIOD, COUPON_MIN, COUPON_DENO, SMS_CONTENT
        from UO_OP_DAILY_DETAIL where head_id = #{headId}::int4
        order by COUPON_DENO,COUPON_MIN, DAILY_DETAIL_ID asc
        limit #{limit} offset #{offset}
    </select>

    <select id="getStrategyCount" resultType="int">
        select count(1) from UO_OP_DAILY_DETAIL where head_id = #{headId}::int4
    </select>

    <select id="getContentList" resultType="map">
        select DAILY_DETAIL_ID id, SMS_CONTENT as content from UO_OP_DAILY_DETAIL where head_id = #{headId}
    </select>

    <insert id="copyToPushList">
        INSERT INTO UO_OP_PUSH_LIST(USER_PHONE,USER_OPENID,PUSH_CONTENT,PUSH_STATUS,SOURCE_CODE,SOURCE_ID,PUSH_PERIOD,IS_PUSH)
        select
               C.USER_PHONE,
               C.USER_OPENID,
               C.SMS_CONTENT,
               'P',
               'D',
               C.DAILY_DETAIL_ID,
               C.PUSH_ORDER_PERIOD::int4,
               '0'
        FROM UO_OP_DAILY_DETAIL C
        WHERE C.HEAD_ID = #{headId}
    </insert>

    <update id="updatePushOrderPeriod">
        update uo_op_daily_detail as d set PUSH_ORDER_PERIOD=d2.PUSH_ORDER_PERIOD
        from (
             SELECT
				   d1.daily_detail_id,
                   (CASE WHEN H.PUSH_METHOD IN('IMME','FIXED') THEN H.PUSH_PERIOD ELSE D1.ORDER_PERIOD END) PUSH_ORDER_PERIOD
              FROM uo_op_daily_header H,uo_op_daily_detail d1 WHERE H.HEAD_ID=d1.HEAD_ID and H.head_id=#{headId}
        ) as d2 WHERE d.daily_detail_id=d2.daily_detail_id and d.head_id=#{headId}
    </update>

    <select id="getUserCount" resultType="int">
        select
            count(*)
        FROM  UO_OP_DAILY_HEADER T1,
              UO_OP_DAILY_DETAIL T2
        WHERE T1.HEAD_ID=T2.HEAD_ID
          AND T1.HEAD_ID=#{headId}
    </select>

    <select id="getUserList" resultMap="baseResult">
         select
             T1.HEAD_ID,
             T2.DAILY_DETAIL_ID,
             T2.USER_ID,
             T2.USER_PHONE,
             T2.USER_OPENID,
             SMS.SMS_CONTENT,
             T2.REC_PROD_ID,
             T2.REC_PROD_NAME,
             T2.COUPON_ID,
             T2.GROWTH_STRATEGY_ID,
             T3.IS_COUPON,
             T2.REC_PIECE_PRICE,
             T2.GROUP_ID
         FROM UO_OP_DAILY_HEADER T1,
              UO_OP_DAILY_DETAIL T2,
              UO_OP_DAILY_TEMPLATE_CONFIG T3,
              UO_OP_SMS_TEMPLATE SMS
         WHERE T1.HEAD_ID = T2.HEAD_ID
           AND T2.GROUP_ID = T3.GROUP_ID
           AND T3.SMS_CODE = SMS.SMS_CODE
           AND T1.HEAD_ID = #{headId}
         ORDER BY T2.DAILY_DETAIL_ID DESC
         limit #{limit} offset #{offset}
    </select>

    <update id="insertPushContentTemp">
        insert into UO_OP_DAILY_CONTENT_TMP(daily_detail_id,head_id,sms_content,coupon_id,coupon_min,coupon_deno)
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (#{item.dailyDetailId},
            #{item.headId},
            #{item.smsContent},
            #{item.couponId}::numeric,
            #{item.couponMin}::numeric,
            #{item.couponDeno}::numeric)
        </foreach>
    </update>

    <delete id="deletePushContentTemp">
        delete from UO_OP_DAILY_CONTENT_TMP where head_id=#{headId}
    </delete>

    <update id="updatePushContentFromTemp">
        update UO_OP_DAILY_DETAIL set (sms_content,coupon_id,coupon_min,coupon_deno) =
            (select sms_content,coupon_id,coupon_min,coupon_deno from UO_OP_DAILY_CONTENT_TMP where
            UO_OP_DAILY_CONTENT_TMP.daily_detail_id = UO_OP_DAILY_DETAIL.daily_detail_id
            and UO_OP_DAILY_CONTENT_TMP.head_id=UO_OP_DAILY_DETAIL.head_id)
        where head_id=#{headId}
    </update>
</mapper>