<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.DailyMapper">

    <resultMap id="baseResult" type="com.linksteady.operate.domain.DailyHead">
        <result column="HEAD_ID" property="headId" jdbcType="DECIMAL"/>
        <result column="TOTAL_NUM" property="totalNum" jdbcType="DECIMAL"/>
        <result column="SUCCESS_NUM" property="successNum" jdbcType="DECIMAL"/>
        <result column="CONVERT_RATE" property="convertRate" jdbcType="DECIMAL"/>
        <result column="CONVERT_AMOUNT" property="convertAmount" jdbcType="DECIMAL"/>
        <result column="TOUCH_DT" property="touchDt" jdbcType="DATE"/>
        <result column="TOUCH_DT_STR" property="touchDtStr" jdbcType="VARCHAR"/>
        <result column="CONVERT_NUM" property="convertNum" jdbcType="DECIMAL"/>
        <result column="CONVERT_AMOUNT" property="convertAmount" jdbcType="DECIMAL"/>
        <result column="CONVERT_RATE" property="convertRate" jdbcType="DECIMAL"/>
        <result column="CONVERT_SPU_AMOUNT" property="convertSpuAmount" jdbcType="DECIMAL"/>
        <result column="CONVERT_SPU_NUM" property="convertSpuNum" jdbcType="DECIMAL"/>
        <result column="CONVERT_SPU_RATE" property="convertSpuRate" jdbcType="DECIMAL"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="VERSION" property="version" jdbcType="DECIMAL"/>
        <result column="EFFECT_DAYS" property="effectDays" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="statisResult" type="com.linksteady.operate.domain.DailyStatis">
        <result column="HEAD_ID" jdbcType="DECIMAL" property="headId"></result>
        <result column="CONVERT_SPU_RATE" jdbcType="DECIMAL" property="convertSpuRate"></result>
        <result column="CONVERT_RATE" jdbcType="DECIMAL" property="convertRate"></result>
        <result column="CONVERT_SPU_NUM" jdbcType="DECIMAL" property="convertSpuNum"></result>
        <result column="CONVERT_NUM" jdbcType="DECIMAL" property="convertNum"></result>
        <result column="TOUCH_DATE" jdbcType="DECIMAL" property="touchDate"></result>
        <result column="CONVERSION_DATE" jdbcType="DATE" property="conversionDate"></result>
        <result column="CONVERSION_DATE_STR" jdbcType="VARCHAR" property="conversionDateStr"></result>
    </resultMap>

    <!--每日运营个体效果-->
    <resultMap id="personalResult" type="com.linksteady.operate.domain.DailyPersonal">
        <result property="userId" jdbcType="VARCHAR" column="USER_ID"></result>
        <result property="isConvert" jdbcType="VARCHAR" column="IS_CONVERT"></result>
        <result property="pushPeriod" jdbcType="VARCHAR" column="PUSH_PERIOD"></result>
        <result property="convertPeriod" jdbcType="VARCHAR" column="CONVERT_PERIOD"></result>
        <result property="convertInterval" jdbcType="VARCHAR" column="CONVERT_INTERVAL"></result>
        <result property="pushSpu" jdbcType="VARCHAR" column="PUSH_SPU"></result>
        <result property="convertSpu" jdbcType="VARCHAR" column="CONVERT_SPU"></result>
        <result property="spuIsConvert" jdbcType="VARCHAR" column="SPU_IS_CONVERT"></result>
        <result property="userValue" jdbcType="VARCHAR" column="USER_VALUE"></result>
        <result property="pathActive" jdbcType="VARCHAR" column="PATH_ACTIVE"></result>
        <result property="userName" jdbcType="VARCHAR" column="USER_NAME"></result>
        <result property="mobile" jdbcType="VARCHAR" column="MOBILE"></result>
        <result property="pushDate" jdbcType="VARCHAR" column="PUSH_DATE"></result>
        <result property="convertDate" jdbcType="VARCHAR" column="CONVERT_DATE"></result>
    </resultMap>

    <resultMap id="DailyUserStatsResult" type="com.linksteady.operate.vo.DailyUserStats">
        <result property="userValue" jdbcType="VARCHAR" column="USER_VALUE"></result>
        <result property="pathActivity" jdbcType="VARCHAR" column="PATH_ACTIVE"></result>
        <result property="lifecycle" jdbcType="VARCHAR" column="LIFECYCLE"></result>
        <result property="ucnt" jdbcType="DECIMAL" column="UCNT"></result>
        <result property="spuName" jdbcType="VARCHAR" column="SPU_NAME"></result>
        <result property="prodName" jdbcType="VARCHAR" column="REC_PROD_NAME"></result>
        <result property="userValueLabel" jdbcType="VARCHAR" column="user_value_label"></result>
        <result property="couponDeno" jdbcType="DECIMAL" column="coupon_deno"></result>
        <result property="couponMin" jdbcType="DECIMAL" column="coupon_min"></result>
        <result property="growthType" jdbcType="VARCHAR" column="growth_type"></result>
        <result property="growthSeriesType" jdbcType="VARCHAR" column="growth_series_type"></result>
    </resultMap>

    <select id="getPageList" resultMap="baseResult">
        SELECT HEAD_ID, to_char(TOUCH_DT, 'yyyymmdd') TOUCH_DT_STR, TOTAL_NUM, SUCCESS_NUM,CONVERT_NUM, CONVERT_RATE, CONVERT_AMOUNT, STATUS,EFFECT_DAYS
        FROM UO_OP_DAILY_HEADER t
        <where>
            <if test="touchDt != null and touchDt != ''">
                to_char(touch_dt, 'yyyy-mm-dd') = #{touchDt}
            </if>
        </where>
        ORDER BY HEAD_ID desc
        limit #{limit} offset #{offset}
    </select>

    <select id="getTotalCount" resultType="int">
        select count(1) from UO_OP_DAILY_HEADER
        where 1=1
        <if test="touchDt != '' and touchDt != null">
            and to_char(touch_dt, 'YYYY-MM-DD') = #{touchDt}
        </if>
    </select>

    <update id="updateStatus">
        update UO_OP_DAILY_HEADER set status = #{status},version=version+1
        where head_id = #{headId} and version=#{version}
    </update>

    <update id="updateActualNum">
        update UO_OP_DAILY_HEADER set OPT_NUM = #{num} where head_id = #{headId}
    </update>

    <select id="getDailyHeadById" resultMap="baseResult">
        SELECT HEAD_ID, TOUCH_DT,to_char(TOUCH_DT, 'yyyymmdd') TOUCH_DT_STR, TOTAL_NUM, SUCCESS_NUM,CONVERT_NUM, CONVERT_RATE, CONVERT_AMOUNT, STATUS,VERSION,EFFECT_DAYS
         FROM UO_OP_DAILY_HEADER WHERE HEAD_ID = #{headId}
    </select>

    <select id="validUserGroup" resultType="int">
        select count(1)
        from (
                 SELECT t1.GROUP_ID,
                        t1.IS_COUPON,
                        t1.SMS_CODE,
                        t2.SMS_CONTENT,
                        LISTAGG(t4.coupon_name, ',') within group (order by t4.coupon_id) coupon_name
                 FROM UO_OP_DAILY_TEMPLATE_CONFIG t1,
                      UO_OP_SMS_TEMPLATE t2,
                      UO_OP_DAILY_GROUP_COUPON t3,
                      UO_OP_COUPON t4
                 where t1.SMS_CODE = t2.SMS_CODE(+)
                   and t1.group_id = t3.group_id(+)
                   and t3.coupon_id = t4.coupon_id(+)
                 group by t1.GROUP_ID, t1.IS_COUPON, t1.SMS_CODE, t2.SMS_CONTENT
             )
        where (IS_COUPON = 1 and coupon_name is null)
           or (IS_COUPON = 0 and coupon_name is not null)
           or SMS_CONTENT is null
    </select>

    <select id="getEffectById" resultMap="baseResult">
        select TOTAL_NUM, SUCCESS_NUM,CONVERT_NUM, CONVERT_RATE, CONVERT_AMOUNT, CONVERT_SPU_NUM, CONVERT_SPU_RATE, CONVERT_SPU_AMOUNT
        from UO_OP_DAILY_HEADER
        where HEAD_ID = #{id} and status &lt;&gt; 'todo'
    </select>

    <select id="getDailyStatisList" resultMap="statisResult">
        select CONVERT_SPU_RATE,
               CONVERT_RATE,
               CONVERT_SPU_NUM,
               CONVERT_NUM,
               to_char(CONVERSION_DATE, 'yyyymmdd') CONVERSION_DATE_STR
        from UO_OP_DAILY_STATIS
        where HEAD_ID = #{headId} order by CONVERSION_DATE asc
    </select>

    <select id="getDailyPersonalEffect" resultMap="personalResult"
            parameterType="com.linksteady.operate.vo.DailyPersonalVo">
        select
        t.user_id, --用户ID
        u.login_name user_name, --用户名
        u.mobile, --手机号
        t.path_active, --活跃度
        t.user_value, --用户价值
        t.push_period, --推送时段
        t.conversion_period CONVERT_PERIOD, --转化时段
        t.push_date, --推送日期
        t.conversion_date convert_date, --转化日期
        round((extract(day from t.conversion_date::timestamp-t.push_date::timestamp) * 24 + extract(hour from
        t.conversion_date::timestamp-t.push_date::timestamp))::numeric/24::numeric, 1)::varchar CONVERT_INTERVAL, --转换间隔
        t.spu_consistent, --推荐SPU与购买SPU是否一致 Y表示是 N表示否
        t.rec_spu_name PUSH_SPU, --推荐SPU名称
        t.IS_CONVERSION IS_CONVERT,
        t.SPU_CONSISTENT SPU_IS_CONVERT
        --转化的SPU名称
        from UO_OP_DAILY_CONVERT_DETAIL t, w_users u
        where t.user_id = u.id::varchar and IS_CONVERSION = '1'
        and t.daily_header_id=#{headId}::int4
        <if test="dailyPersonalVo.spuIsConvert != null and dailyPersonalVo.spuIsConvert != ''">
            and SPU_CONSISTENT = #{dailyPersonalVo.spuIsConvert}
        </if>
        <if test="dailyPersonalVo.userValue != null and dailyPersonalVo.userValue != ''">
            and USER_VALUE = #{dailyPersonalVo.userValue}
        </if>
        <if test="dailyPersonalVo.pathActive != null and dailyPersonalVo.pathActive != ''">
            and PATH_ACTIVE = #{dailyPersonalVo.pathActive}
        </if>
        limit #{limit} offset #{offset}
    </select>

    <select id="getDailyPersonalEffectCount" resultType="int" parameterType="com.linksteady.operate.vo.DailyPersonalVo">
        select count(1) from UO_OP_DAILY_CONVERT_DETAIL where DAILY_HEADER_ID = #{headId}::int4 and IS_CONVERSION = '1'
        <if test="dailyPersonalVo.spuIsConvert != null and dailyPersonalVo.spuIsConvert != ''">
            and SPU_CONSISTENT = #{dailyPersonalVo.spuIsConvert}
        </if>
        <if test="dailyPersonalVo.userValue != null and dailyPersonalVo.userValue != ''">
            and USER_VALUE = #{dailyPersonalVo.userValue}
        </if>
        <if test="dailyPersonalVo.pathActive != null and dailyPersonalVo.pathActive != ''">
            and PATH_ACTIVE = #{dailyPersonalVo.pathActive}
        </if>
    </select>

    <update id="updateGroupCheckFlagByCouponId">
        update UO_OP_DAILY_TEMPLATE_CONFIG
        set CHECK_FLAG     = #{checkFlag},
            CHECK_COMMENTS = '券已失效'
        where GROUP_ID in (
            select distinct GROUP_ID from UO_OP_DAILY_GROUP_COUPON where COUPON_ID = #{couponId}
        )
    </update>

    <update id="updateHeaderPushInfo">
        update UO_OP_DAILY_HEADER
        <set>
            <if test="pushMethod!=null and pushMethod!=''">
                push_method=#{pushMethod},
            </if>
            <if test="pushPeriod!=null and pushPeriod!=''">
                push_period=#{pushPeriod},
            </if>
            <if test="effectDays!=null and effectDays!=''">
                EFFECT_DAYS=#{effectDays},
            </if>
        </set>
        where head_id = #{headId}
    </update>

    <select id="getTargetInfoByGrowthType" resultMap="DailyUserStatsResult">
        SELECT
            v2.VALUE growth_type,
            ucnt
        FROM
            ( SELECT growth_type, COUNT ( * ) ucnt FROM uo_op_daily_detail WHERE head_id = #{headId} GROUP BY growth_type ) v1
            RIGHT JOIN ( SELECT CODE, VALUE, ORDER_NO FROM T_DICT WHERE TYPE_CODE = 'GROWTH_TYPE' ) v2 ON v2.code = v1.growth_type
        ORDER BY
            v2.order_no desc
    </select>

    <select id="getTargetInfoByGrowthSeriesType" resultMap="DailyUserStatsResult">
          SELECT
            v2.VALUE growth_series_type,
            ucnt
        FROM
            ( SELECT growth_series_type, COUNT ( * ) ucnt FROM uo_op_daily_detail WHERE head_id =#{headId}  GROUP BY growth_series_type ) v1
            RIGHT JOIN ( SELECT CODE, VALUE, ORDER_NO FROM T_DICT WHERE TYPE_CODE = 'GROWTH_SERIES_TYPE' ) v2 ON v2.code = v1.growth_series_type
        ORDER BY
            v2.order_no desc
    </select>

    <select id="getTargetInfoBySpu" resultMap="DailyUserStatsResult">
        select spu_name, ucnt from (
        select spu_name,count(*) ucnt from uo_op_daily_detail where head_id =#{headId} group by spu_name
        ) t order by ucnt asc
    </select>

    <select id="getTargetInfoByProd" resultMap="DailyUserStatsResult">
        select rec_prod_name, ucnt from (
        select rec_prod_name,count(*) ucnt from uo_op_daily_detail where head_id =#{headId} and spu_name=#{spuName} group by rec_prod_name
        ) t order by ucnt asc
    </select>

    <select id="getTargetInfoByUserValue" resultMap="DailyUserStatsResult">
        SELECT
            v2.code user_value,
            v2.VALUE user_value_label,
            ucnt
        FROM
            ( SELECT user_value, COUNT ( * ) ucnt FROM uo_op_daily_detail WHERE head_id = #{headId} GROUP BY user_value ) v1
            RIGHT JOIN ( SELECT CODE, VALUE, ORDER_NO FROM T_DICT WHERE TYPE_CODE = 'USER_VALUE' ) v2 ON v2.code = v1.user_value
        ORDER BY
            v2.order_no desc
    </select>

    <select id="getTargetInfoMatrix" resultMap="DailyUserStatsResult">
       select path_active,lifecycle,count(*) ucnt from uo_op_daily_detail where head_id =#{headId} and user_value=#{userValue} group by path_active,lifecycle
    </select>

    <select id="getTargetInfoByCoupon" resultMap="DailyUserStatsResult">
        select coupon_min,coupon_deno, ucnt from (
            select coupon_deno,coupon_min,count(*) ucnt from uo_op_daily_detail where head_id =#{headId} group by coupon_deno,coupon_min
            ) t order by ucnt desc
    </select>


    <select id="getTodayStatus" resultType="string">
        select STATUS
        from UO_OP_DAILY_HEADER
        where to_char(TOUCH_DT, 'yyyymmdd') = to_char(sysdate, 'yyyymmdd')
        select STATUS from UO_OP_DAILY_HEADER where  TOUCH_DT::date = current_date
    </select>

    <select id="getSelectedUserGroup" resultType="map">
        select IS_COUPON, SMS_CODE
        from UO_OP_DAILY_TEMPLATE_CONFIG
        where GROUP_ID = #{groupId}::int4
    </select>

    <select id="getSmsIsCoupon" resultType="int">
        select count(1)
        from UO_OP_SMS_TEMPLATE
        where (IS_COUPON_NAME = #{isCoupon} or IS_COUPON_URL = #{isCoupon})
          and sms_code = #{smsCode}
    </select>

    <select id="getValidDailyHead" resultType="int">
        select count(1)
        from UO_OP_DAILY_HEADER
        where to_char(TOUCH_DT, 'yyyymmdd') = to_char(sysdate, 'yyyymmdd')
          and STATUS = 'todo'
        select count(1) from UO_OP_DAILY_HEADER where TOUCH_DT::date = current_date and STATUS = 'todo'
    </select>

    <update id="expireDailyHead">
        update uo_op_daily_header h set status='timeout' where h.status='todo' and touch_dt::date!=current_date
    </update>

    <select id="getLifeCycleByUserId" resultType="string">
        select uo_op_daily_template_config.lifecycle from uo_op_daily_detail left join uo_op_daily_template_config
        on uo_op_daily_detail.group_id = uo_op_daily_template_config.group_id
        where user_id = #{userId} and head_id = #{headId}::integer
    </select>
</mapper>