<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ManualDetailMapper">

    <insert id="saveDetailList">
        insert into UO_OP_MANUAL_DETAIL(head_id, phone_num, push_status) values
        <foreach collection="list" separator="," item="item">
            (#{item.headId}, #{item.phoneNum}, #{item.pushStatus})
        </foreach>
    </insert>

    <delete id="deleteData">
        delete from UO_OP_MANUAL_DETAIL where HEAD_ID = #{headId}::integer
    </delete>
</mapper>
