<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.MsgMapper">
    <resultMap id="base" type="com.linksteady.operate.domain.MsgInfo">
        <result property="msgId" column="MSG_ID" jdbcType="VARCHAR"></result>
        <result property="msgTitle" column="MSG_TITLE" jdbcType="VARCHAR"></result>
        <result property="msgContent" column="MSG_CONTENT" jdbcType="VARCHAR"></result>
        <result property="createDt" column="CREATE_DT" jdbcType="VARCHAR"></result>
        <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"></result>
        <result property="readFlag" column="READ_FLAG" jdbcType="VARCHAR"></result>
        <result property="readBy" column="READ_BY" jdbcType="VARCHAR"></result>
        <result property="readDt" column="READ_DT" jdbcType="VARCHAR"></result>
        <result property="typeName" column="TYPE_NAME" jdbcType="VARCHAR"></result>
        <result property="warnFlag" column="WARN_FLAG" jdbcType="VARCHAR"></result>
        <result property="msgLevelDesc" column="MSG_LEVEL_DESC" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="getMsgList" resultMap="base">
        select t.*, ROWNUM from (
            select
                t1.MSG_ID,
                t1.MSG_TITLE,
                t1.MSG_CONTENT,
                to_char(t1.CREATE_DT, 'yyyy-mm-dd hh:mm') CREATE_DT,
                t1.CREATE_BY,
                t1.READ_FLAG,
                t2.TYPE_NAME,
                t1.WARN_FLAG,
                DECODE(t1.MSG_LEVEL,1,'一般',2,'警告',3,'严重','') MSG_LEVEL_DESC
           from T_MSG_LIST t1, T_MSG_TYPE t2 where t1.MSG_TYPE = t2.TYPE_CODE(+) AND t2.module_name='operate'
           order by t1.MSG_ID desc
        ) t where ROWNUM &lt;= 10
    </select>

    <select id="getDataCount" resultType="int">
        select count(1) from T_MSG_LIST t1, T_MSG_TYPE t2 where t1.MSG_TYPE = t2.TYPE_CODE(+) AND t2.module_name='operate'
        <if test="msgLevel != '' and msgLevel != null">
            and t1.MSG_LEVEL = #{msgLevel}
        </if>
        <if test="readFlag != '' and readFlag != null">
            and t1.READ_FLAG = #{readFlag}
        </if>
    </select>

    <select id="getMsgPageList" resultMap="base">
        select * from (
        select t.*, ROWNUM rn from (
        select MSG_ID,
        MSG_TITLE,
        MSG_CONTENT,
        to_char(CREATE_DT, 'yyyy-mm-dd') CREATE_DT,
        CREATE_BY,
        READ_FLAG,
        TYPE_NAME,
        WARN_FLAG,
        DECODE(t1.MSG_LEVEL,1,'一般',2,'警告',3,'严重','') MSG_LEVEL_DESC
        from T_MSG_LIST t1, T_MSG_TYPE t2
        where t1.MSG_TYPE = t2.TYPE_CODE(+)
        AND t2.module_name='operate'
        <if test="msgLevel != '' and msgLevel != null">
            and t1.MSG_LEVEL = #{msgLevel}
        </if>
        <if test="readFlag != '' and readFlag != null">
            and READ_FLAG = #{readFlag}
        </if>
        ) t where ROWNUM &lt; = #{end}
        ) where rn &gt;= #{start}
    </select>

    <update id="updateMsgRead">
        update T_MSG_LIST set READ_FLAG = '1', READ_BY = #{userName}, READ_DT = sysdate
        where MSG_ID = #{msgId}
    </update>

    <update id="updateAllMsgRead">
        update T_MSG_LIST set READ_FLAG = '1', READ_BY = #{userName}, READ_DT = sysdate
        where READ_FLAG='0' AND MSG_TYPE IN (
              SELECT MSG_TYPE FROM T_MSG_TYPE WHERE module_name='operate'
            )
    </update>
</mapper>