<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.OrderCntMapper">

    <!--获取年月日不同周期的用户数-->
    <select id="getKpiOfDifferPeriod" resultType="Double">
        SELECT COUNT(W_ORDERS.ID) TOTAL_CNT
        FROM
        W_ORDERS
        JOIN W_DATE ON W_ORDERS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDERS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
    </select>

    <!--查询起止时间段内的GMV值-->
    <select id="getDatePeriodData" resultType="com.linksteady.operate.vo.KpiInfoVO">
        SELECT COUNT(W_ORDERS.ID) kpiVal,
        ${period_name} kpiDate
        FROM
        W_ORDERS
        JOIN W_DATE ON W_ORDERS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDERS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
        GROUP BY  ${period_name}
        ORDER BY  ${period_name} ASC
    </select>

    <select id="getSpAndFpKpi" resultType="com.linksteady.operate.vo.KpiInfoVO">
        SELECT COUNT(W_ORDERS.ID) kpiVal,
            COUNT(DISTINCT CASE WHEN W_ORDERS.IS_FP='Y' THEN W_ORDERS.ID END) fpKpiVal,
            COUNT(DISTINCT CASE WHEN W_ORDERS.IS_FP='N' THEN W_ORDERS.ID END) spKpiVal,
            ${period_name} kpiDate
            FROM
            W_ORDERS
            JOIN W_DATE ON W_ORDERS.ORDER_DT_WID = W_DATE.ROW_WID
            <if test="joinInfo != null and joinInfo != ''">
                ${joinInfo}
            </if>
            WHERE
            W_ORDERS.VALID_STATUS = 1
            <if test="whereInfo != null and whereInfo != ''">
                ${whereInfo}
            </if>
        GROUP BY  ${period_name}
        ORDER BY  ${period_name} ASC
    </select>

    <select id="getSpAndFpKpiTotal" resultType="com.linksteady.operate.vo.KpiInfoVO">
        SELECT
            COUNT(W_ORDERS.ID) kpiVal,
            COUNT(DISTINCT CASE WHEN W_ORDERS.IS_FP='Y' THEN W_ORDERS.ID END) fpKpiVal,
            COUNT(DISTINCT CASE WHEN W_ORDERS.IS_FP='N' THEN W_ORDERS.ID END) spKpiVal
            FROM
            W_ORDERS
            JOIN W_DATE ON W_ORDERS.ORDER_DT_WID = W_DATE.ROW_WID
            <if test="joinInfo != null and joinInfo != ''">
                ${joinInfo}
            </if>
            WHERE
            W_ORDERS.VALID_STATUS = 1
            <if test="whereInfo != null and whereInfo != ''">
                ${whereInfo}
            </if>
    </select>
</mapper>
