<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.PushLogMapper">
    <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.PushLog">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="LOG_ID" jdbcType="DATE" property="logId"/>
        <result column="LOG_DATE" jdbcType="DATE" property="logDate"/>
        <result column="LOG_CONTENT" jdbcType="DECIMAL" property="logContent"/>
        <result column="LOG_TYPE" jdbcType="DECIMAL" property="logType"/>
        <result column="LOG_DATE_STR" jdbcType="VARCHAR" property="logDateStr"/>
        <result column="USER_COUNT" jdbcType="DECIMAL" property="userCount"/>
    </resultMap>

    <select id="getList" resultMap="BaseResultMap">
       select LOG_ID,to_char(LOG_DATE, 'mm-dd hh24:mi') LOG_DATE_STR,LOG_CONTENT,LOG_TYPE,USER_COUNT from UO_OP_PUSHLOG where TRUNC(SYSDATE)-TRUNC(LOG_DATE)=#{day}
       order by LOG_ID desc
  </select>

</mapper>