<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.QywxContactWayMapper">
    <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.QywxContactWay">
        <result property="contactWayId" jdbcType="DECIMAL" column="contactway_id"/>
        <result property="qrCode" jdbcType="VARCHAR" column="qrcode"/>
        <result property="contactType" jdbcType="VARCHAR" column="contact_type"/>
        <result property="scene" jdbcType="VARCHAR" column="scene"/>
        <result property="style" jdbcType="VARCHAR" column="style"/>
        <result property="skipVerify" jdbcType="BOOLEAN" column="skip_verify"/>
        <result property="state" jdbcType="VARCHAR" column="state"/>
        <result property="usersList" jdbcType="VARCHAR" column="user_list"/>
        <result property="deptList" jdbcType="VARCHAR" column="dept_list"/>
        <result property="party" jdbcType="VARCHAR" column="party"/>
        <result property="configId" jdbcType="VARCHAR" column="config_id"/>
        <result property="createDt" jdbcType="TIMESTAMP" column="create_dt"/>
        <result property="updateDt" jdbcType="TIMESTAMP" column="update_dt"/>
        <result property="createBy" jdbcType="VARCHAR" column="create_by"/>
        <result property="updateBy" jdbcType="VARCHAR" column="update_by"/>
        <result property="externalUserNum" jdbcType="DECIMAL" column="externaluser_num"/>
        <result property="shortUrl" jdbcType="VARCHAR" column="short_url"/>
    </resultMap>

    <select id="getContactWayById" resultMap="BaseResultMap">
        select contactway_id,qrcode,contact_type,scene,style,skip_verify,state,user_list,party,dept_list,
                config_id,create_dt,update_dt,create_by,update_by,externaluser_num,short_url
        from uo_qywx_contact_way where  contactway_id=#{contactWayId}
    </select>

</mapper>