<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.QywxDailyMapper">

    <resultMap id="baseResult" type="com.linksteady.operate.domain.QywxDailyHeader">
        <result column="HEAD_ID" property="headId" jdbcType="DECIMAL"/>
        <result column="TOTAL_NUM" property="totalNum" jdbcType="DECIMAL"/>
        <result column="SUCCESS_NUM" property="successNum" jdbcType="DECIMAL"/>
        <result column="CONVERT_RATE" property="convertRate" jdbcType="VARCHAR"/>
        <result column="CONVERT_AMOUNT" property="convertAmount" jdbcType="DECIMAL"/>
        <result column="TASK_DATE" property="taskDate" jdbcType="DATE"/>
        <result column="TASK_DATE_STR" property="taskDateStr" jdbcType="VARCHAR"/>
        <result column="CONVERT_NUM" property="convertNum" jdbcType="DECIMAL"/>
        <result column="CONVERT_AMOUNT" property="convertAmount" jdbcType="DECIMAL"/>
        <result column="CONVERT_RATE" property="convertRate" jdbcType="DECIMAL"/>
        <result column="CONVERT_SPU_AMOUNT" property="convertSpuAmount" jdbcType="DECIMAL"/>
        <result column="CONVERT_SPU_NUM" property="convertSpuNum" jdbcType="DECIMAL"/>
        <result column="CONVERT_SPU_RATE" property="convertSpuRate" jdbcType="DECIMAL"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="VERSION" property="version" jdbcType="DECIMAL"/>
        <result column="EFFECT_DAYS" property="effectDays" jdbcType="DECIMAL"/>
        <result column="QYWX_MESSAGE_COUNT" property="qywxMessageCount" jdbcType="DECIMAL"/>
        <result column="STAFF_CNT" property="staffCnt" jdbcType="DECIMAL"/>
        <result column="PUSH_SUCCESS_RATE" property="pushSuccessRate" jdbcType="VARCHAR"/>
        <result column="EXECUTE_STAFF_CNT" property="executeStaffCnt" jdbcType="DECIMAL"/>
        <result column="EXECUTE_RATE" property="executeRate" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="QywxUserStats" type="com.linksteady.operate.vo.QywxUserStatsVO">
        <result property="userValue" jdbcType="VARCHAR" column="USER_VALUE"></result>
        <result property="pathActivity" jdbcType="VARCHAR" column="PATH_ACTIVE"></result>
        <result property="lifecycle" jdbcType="VARCHAR" column="LIFECYCLE"></result>
        <result property="ucnt" jdbcType="DECIMAL" column="UCNT"></result>
        <result property="spuName" jdbcType="VARCHAR" column="SPU_NAME"></result>
        <result property="prodName" jdbcType="VARCHAR" column="REC_PROD_NAME"></result>
        <result property="userValueLabel" jdbcType="VARCHAR" column="user_value_label"></result>
        <result property="qywxUser" jdbcType="VARCHAR" column="follow_user_name"></result>
        <result property="couponDeno" jdbcType="DECIMAL" column="coupon_deno"></result>
        <result property="couponMin" jdbcType="DECIMAL" column="coupon_min"></result>
        <result property="growthType" jdbcType="VARCHAR" column="growth_type"></result>
        <result property="growthSeriesType" jdbcType="VARCHAR" column="growth_series_type"></result>
    </resultMap>
    
    <resultMap id="couponInfoVOMap" type="com.linksteady.operate.vo.CouponInfoVO">
        <result property="couponId" jdbcType="DECIMAL" column="coupon_id"></result>
        <result property="couponName" jdbcType="VARCHAR" column="coupon_display_name"></result>
        <result property="couponIdentity" jdbcType="VARCHAR" column="coupon_identity"></result>
    </resultMap>

    <select id="getHeadList" resultMap="baseResult">
        SELECT HEAD_ID,TASK_DATE_STR,TASK_DATE, TOTAL_NUM, SUCCESS_NUM,CONVERT_NUM, CONVERT_RATE, CONVERT_AMOUNT,
        STATUS,EFFECT_DAYS,QYWX_MESSAGE_COUNT, staff_cnt, execute_staff_cnt, execute_rate
        FROM uo_qywx_daily_header t
        <where>
            <if test="taskDate != null and taskDate != ''">
                TASK_DATE_STR = #{taskDate}
            </if>
        </where>
        ORDER BY HEAD_ID desc
        limit #{limit} offset #{offset}
    </select>

    <select id="getTotalCount" resultType="int">
        select count(1) from uo_qywx_daily_header
        where 1=1
        <if test="taskDate != '' and taskDate != null">
            and TASK_DATE_STR = #{taskDate}
        </if>
    </select>

    <select id="getHeadInfo" resultType="com.linksteady.operate.domain.QywxDailyHeader">
        SELECT HEAD_ID,
               TASK_DATE_STR,
               TASK_DATE,
               TOTAL_NUM,
               SUCCESS_NUM,
               CONVERT_NUM,
               CONVERT_RATE,
               CONVERT_AMOUNT,
               STATUS,
               EFFECT_DAYS,
               VERSION,
               push_success_rate,
               execute_rate,
               execute_staff_cnt,
               staff_cnt,
               coupon_send_flag
        FROM uo_qywx_daily_header t
        where HEAD_ID = #{headId}
    </select>

    <update id="updateStatus">
        update uo_qywx_daily_header
        set status = #{status},
            EFFECT_DAYS=#{effectDays},
            version=version + 1
        where head_id = #{headId}
          and version = #{version}
    </update>

    <insert id="insertPushList" useGeneratedKeys="true" keyProperty="pushId" keyColumn="push_id">
        insert into uo_qywx_push_list(
           text_content,
           push_status,
           source_code,
           source_id,
           follow_user_id,
           insert_dt,
           mp_media_id,
           mp_appid,
           mp_title,
           mp_url,
           external_contact_ids)
        values(#{textContent},
                 'P',
                 'DAILY',
                 #{sourceId},
                 #{followUserId},
                 now(),
                 #{mpMediaId},
                 #{mpAppid},
                 #{mpTitle},
                 #{mpUrl},
                 #{externalContactIds})
    </insert>

    <update id="updatePushList">
        update uo_qywx_push_list set
           push_status = #{status},
           msgid = #{msgId},
           push_date = now(),
           fail_list = #{faildList},
           remark=#{remark}
        where
           push_id=#{pushId}
    </update>

    <select id="getPushErrorCount" resultType="int">
        select count(*) from uo_qywx_push_list
        where source_code='DAILY' and push_status='F' and source_id=#{headId}
    </select>

    <update id="updateStatusToDoneCouponError">
        update uo_qywx_daily_header set status='done_ce'  where head_id = #{headId}
    </update>

    <update id="updateStatusToDonePushError">
       update uo_qywx_daily_header set status='done_pe'  where head_id = #{headId}
    </update>

</mapper>