<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.QywxSendCouponMapper">

    <resultMap id="couponSnCountMap" type="com.linksteady.operate.vo.couponSnCountVO">
        <result property="couponId" jdbcType="VARCHAR" column="coupon_id"></result>
        <result property="snCount" jdbcType="VARCHAR" column="sn_count"></result>
    </resultMap>

    <select id="getCouponSn" resultType="int">
        select coupon_sn from uo_qywx_param limit 1
    </select>

    <update id="updateCouponSn">
        update uo_qywx_param set coupon_sn=#{lastCouponSn}
    </update>

    <select id="getCouponSnList" resultType="String">
        select serial_no from uo_coupon_serial_no where used_flag='N' and coupon_id=#{couponId} order by serial_no asc limit #{count}
    </select>

    <select id="getCouponSnCount" resultMap="couponSnCountMap">
     select coupon_id,count(serial_no) sn_count from uo_coupon_serial_no where used_flag='N' group by coupon_id
    </select>

    <insert id="saveSendCouponRecord" useGeneratedKeys="true" keyProperty="sendRecordId" keyColumn="sendrecord_id">
       insert into  uo_qywx_coupon_sendrecord
            (
                business_id,
                coupon_info,
                user_info,
                sendresult,
                sendresult_desc,
                insert_dt,
                business_type
            )
       values (
                #{businessId},#{couponInfo},#{userInfo},#{sendResult},#{sendResultDesc},#{insertDt},#{businessType}
       )
    </insert>

    <update id="updateCouponSnList">
        update uo_coupon_serial_no set used_flag='Y',used_dt=now()
        where coupon_id=#{couponId} and serial_no in
        <foreach collection="couponSnList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="uploadCoupon">
        insert into uo_coupon_serial_no(coupon_id, serial_no, insert_dt, used_flag) VALUES
        <foreach collection="mobiles" item="item" index="index" separator=",">
            (#{couponId},#{item},now(),'N')
        </foreach>
    </update>
    <update id="updateFlag">
        update uo_coupon_serial_no set used_flag='N' where coupon_identity=#{couponIdentity}
    </update>

</mapper>