<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.QywxDailyDetailMapper">

    <resultMap id="baseResult" type="com.linksteady.operate.domain.QywxDailyDetail">
        <result column="DETAIL_ID" jdbcType="DECIMAL" property="detailId"></result>
        <result column="HEAD_ID" jdbcType="DECIMAL" property="headId"></result>
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"></result>
        <result column="PATH_ACTIVE" jdbcType="VARCHAR" property="pathActive"></result>
        <result column="USER_VALUE" jdbcType="VARCHAR" property="userValue"></result>
        <result column="SPU_NAME" jdbcType="VARCHAR" property="spuName"></result>
        <result column="REC_PIECE_PRICE" jdbcType="VARCHAR" property="piecePrice"></result>
        <result column="JOIN_RATE" jdbcType="VARCHAR" property="joinRate"></result>
        <result column="ORDER_PERIOD" jdbcType="VARCHAR" property="orderPeriod"></result>
        <result column="IS_PUSH" jdbcType="VARCHAR" property="isPush"></result>
        <result column="IS_CONVERSION" jdbcType="VARCHAR" property="isConversion"></result>
        <result column="PUSH_STATUS" jdbcType="VARCHAR" property="pushStatus"></result>
        <result column="TEXT_CONTENT" jdbcType="VARCHAR" property="textContent"></result>
        <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone"></result>
        <result column="USER_OPENID" jdbcType="VARCHAR" property="userOpenid"></result>
        <result column="TAR_PRODUCT_NUM" jdbcType="VARCHAR" property="tarProductNum"></result>
        <result column="COUPON_MIN" jdbcType="VARCHAR" property="couponMin"></result>
        <result column="COUPON_DENO" jdbcType="DECIMAL" property="couponDeno"></result>
        <result column="REC_PROD_ID" jdbcType="VARCHAR" property="recProdId"></result>
        <result column="REC_PROD_NAME" jdbcType="VARCHAR" property="recProdName"></result>
        <result column="COMPLETE_PURCH" jdbcType="VARCHAR" property="completePurch"></result>
        <result column="TAR_ORDER_PRICE" jdbcType="VARCHAR" property="tarOrderPrice"></result>
        <result column="COUPON_ID" jdbcType="DECIMAL" property="couponId"></result>
        <result column="COUPON_NAME" jdbcType="VARCHAR" property="couponName"></result>
        <result column="COUPON_URL" jdbcType="VARCHAR" property="couponUrl"></result>
        <result column="IS_COUPON" jdbcType="DECIMAL" property="isCoupon"></result>
        <result column="GROUP_ID" jdbcType="DECIMAL" property="groupId"></result>
        <result column="QYWX_CONTRACT_ID" jdbcType="VARCHAR" property="qywxContractId"></result>
        <result column="FOLLOW_USER_ID" jdbcType="VARCHAR" property="followUserId"></result>
        <result column="FOLLOW_USER_NAME" jdbcType="VARCHAR" property="followUserName"></result>
        <result column="LIFECYCLE" jdbcType="VARCHAR" property="lifecycle"></result>
    </resultMap>

    <resultMap id="followUserResult" type="com.linksteady.operate.vo.FollowUserVO">
        <result column="FOLLOW_USER_ID" jdbcType="VARCHAR" property="followUserId"></result>
        <result column="FOLLOW_USER_NAME" jdbcType="VARCHAR" property="followUserName"></result>
    </resultMap>

    <select id="getUserCount" resultType="int">
        select
            count(*)
        FROM
              uo_qywx_daily_detail
        WHERE head_id=#{headId}
    </select>

    <select id="getUserList" resultMap="baseResult">
         select
             T1.HEAD_ID,
             T2.DETAIL_ID,
             T2.USER_ID,
             T2.USER_PHONE,
             T2.follow_user_id,
             T2.follow_user_name,
             T2.qywx_contract_id,
             msg.text_content,
             T2.REC_PROD_ID,
             T2.REC_PROD_NAME,
             T2.COUPON_ID,
             T3.IS_COUPON,
             T2.REC_PIECE_PRICE,
             T2.GROUP_ID
         FROM uo_qywx_daily_header T1,
              uo_qywx_daily_detail T2,
              uo_op_daily_template_config T3,
              uo_qywx_msg_template msg
         WHERE T1.HEAD_ID = T2.HEAD_ID
           AND T2.GROUP_ID = T3.GROUP_ID
           AND T3.qywx_id = msg.qywx_id
           AND T1.HEAD_ID = #{headId}
         ORDER BY T2.detail_id DESC
         limit #{limit} offset #{offset}
    </select>

    <update id="insertPushContentTemp">
        insert into uo_qywx_daily_content_tmp(detail_id,head_id,text_content,coupon_id,coupon_min,coupon_deno)
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (#{item.detailId},
            #{item.headId},
            #{item.textContent},
            #{item.couponId}::numeric,
            #{item.couponMin}::numeric,
            #{item.couponDeno}::numeric)
        </foreach>
    </update>

    <delete id="deleteQywxPushContentTemp">
        delete from uo_qywx_daily_content_tmp where head_id=#{headId}
    </delete>

    <update id="updatePushContentFromTemp">
        update uo_qywx_daily_detail set (text_content,coupon_id,coupon_min,coupon_deno) =
            (select text_content,coupon_id,coupon_min,coupon_deno from uo_qywx_daily_content_tmp where
            uo_qywx_daily_content_tmp.detail_id = uo_qywx_daily_detail.detail_id
            and uo_qywx_daily_content_tmp.head_id=uo_qywx_daily_detail.head_id)
        where head_id=#{headId}
    </update>

    <select id="getQywxDetailCount" resultType="int">
        select
            count(*)
        FROM
              uo_qywx_daily_detail
        WHERE head_id=#{headId}
        <if test="followUserId != '' and followUserId != null">
            and FOLLOW_USER_ID = #{followUserId}
        </if>
    </select>

    <select id="getQywxDetailList" resultMap="baseResult">
         select
             head_id,
             detail_id,
             user_id,
             user_phone,
             follow_user_id,
             follow_user_name,
             qywx_contract_id,
             text_content,
             rec_prod_id,
             rec_prod_name,
             coupon_id,
             rec_piece_price,
             group_id,
             coupon_deno
         FROM
              uo_qywx_daily_detail
         WHERE  head_id = #{headId}
        <if test="followUserId != '' and followUserId != null">
            and follow_user_id = #{followUserId}
        </if>
         ORDER BY detail_id DESC
         limit #{limit} offset #{offset}
    </select>

    <select id="getConversionCount" resultType="int">
        select
        count(*)
        FROM
        uo_qywx_daily_detail
        WHERE head_id=#{headId}
        <if test="followUserId != '' and followUserId != null">
            and FOLLOW_USER_ID = #{followUserId}
        </if>
        and is_conversion='1'
    </select>

    <select id="getConversionList" resultMap="baseResult">
        select
        T2.HEAD_ID,
        T2.DETAIL_ID,
        T2.USER_ID,
        T2.USER_PHONE,
        T2.follow_user_id,
        T2.follow_user_name,
        T2.qywx_contract_id,
        T2.text_content,
        T2.REC_PROD_ID,
        T2.REC_PROD_NAME,
        T2.COUPON_ID,
        T2.REC_PIECE_PRICE,
        T2.GROUP_ID
        FROM
        uo_qywx_daily_detail T2
        WHERE  T2.HEAD_ID = #{headId}
        <if test="followUserId != '' and followUserId != null">
            and T2.FOLLOW_USER_ID = #{followUserId}
        </if>
        and t2.is_conversion='1'
        ORDER BY T2.detail_id DESC
        limit #{limit} offset #{offset}
    </select>

    <select id="getFollowUserList" resultMap="followUserResult">
        select distinct follow_user_id,follow_user_name from uo_qywx_daily_detail where head_id=#{headId} order by follow_user_id asc
    </select>

    <select id="getTestPushData" resultType="map">
      select qywx_contract_id,follow_user_id,text_content from uo_qywx_push_list WHERE PUSH_id=1
    </select>

    <select id="getDailyStaffEffect" resultType="com.linksteady.operate.domain.QywxDailyStaffEffect">
        select head_id, follow_user_id, follow_user_name, msg_num, execute_msg_num, cover_num, execute_cover_num, convert_num, convert_amount, convert_rate, convert_spu_num, convert_spu_amount, convert_spu_rate, stat_date from uo_qywx_daily_staff_effect where head_id = #{headId} and follow_user_id = #{followUserId}
    </select>

    <select id="getQywxUserListByHeadId" resultMap="baseResult">
        select * from uo_qywx_daily_detail where head_id = #{headId}
    </select>
</mapper>