<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.QywxDailyMapper">

    <resultMap id="baseResult" type="com.linksteady.operate.domain.QywxDailyHeader">
        <result column="HEAD_ID" property="headId" jdbcType="DECIMAL"/>
        <result column="TOTAL_NUM" property="totalNum" jdbcType="DECIMAL"/>
        <result column="SUCCESS_NUM" property="successNum" jdbcType="DECIMAL"/>
        <result column="CONVERT_RATE" property="convertRate" jdbcType="DECIMAL"/>
        <result column="CONVERT_AMOUNT" property="convertAmount" jdbcType="DECIMAL"/>
        <result column="TASK_DATE" property="taskDate" jdbcType="DATE"/>
        <result column="TASK_DATE_STR" property="taskDateStr" jdbcType="VARCHAR"/>
        <result column="CONVERT_NUM" property="convertNum" jdbcType="DECIMAL"/>
        <result column="CONVERT_AMOUNT" property="convertAmount" jdbcType="DECIMAL"/>
        <result column="CONVERT_RATE" property="convertRate" jdbcType="DECIMAL"/>
        <result column="CONVERT_SPU_AMOUNT" property="convertSpuAmount" jdbcType="DECIMAL"/>
        <result column="CONVERT_SPU_NUM" property="convertSpuNum" jdbcType="DECIMAL"/>
        <result column="CONVERT_SPU_RATE" property="convertSpuRate" jdbcType="DECIMAL"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="VERSION" property="version" jdbcType="DECIMAL"/>
        <result column="EFFECT_DAYS" property="effectDays" jdbcType="DECIMAL"/>
        <result column="QYWX_MESSAGE_COUNT" property="qywxMessageCount" jdbcType="DECIMAL"/>
        <result column="STAFF_CNT" property="staffCnt" jdbcType="DECIMAL"/>
        <result column="PUSH_SUCCESS_RATE" property="pushSuccessRate" jdbcType="DECIMAL"/>
        <result column="EXECUTE_STAFF_CNT" property="executeStaffCnt" jdbcType="DECIMAL"/>
        <result column="EXECUTE_RATE" property="executeRate" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="QywxUserStats" type="com.linksteady.operate.vo.QywxUserStatsVO">
        <result property="userValue" jdbcType="VARCHAR" column="USER_VALUE"></result>
        <result property="pathActivity" jdbcType="VARCHAR" column="PATH_ACTIVE"></result>
        <result property="lifecycle" jdbcType="VARCHAR" column="LIFECYCLE"></result>
        <result property="ucnt" jdbcType="DECIMAL" column="UCNT"></result>
        <result property="spuName" jdbcType="VARCHAR" column="SPU_NAME"></result>
        <result property="prodName" jdbcType="VARCHAR" column="REC_PROD_NAME"></result>
        <result property="userValueLabel" jdbcType="VARCHAR" column="user_value_label"></result>
        <result property="qywxUser" jdbcType="VARCHAR" column="follow_user_name"></result>
        <result property="couponDeno" jdbcType="DECIMAL" column="coupon_deno"></result>
        <result property="couponMin" jdbcType="DECIMAL" column="coupon_min"></result>
        <result property="growthType" jdbcType="VARCHAR" column="growth_type"></result>
        <result property="growthSeriesType" jdbcType="VARCHAR" column="growth_series_type"></result>
    </resultMap>
    
    <resultMap id="couponInfoVOMap" type="com.linksteady.operate.vo.CouponInfoVO">
        <result property="couponId" jdbcType="DECIMAL" column="coupon_id"></result>
        <result property="couponName" jdbcType="VARCHAR" column="coupon_display_name"></result>
        <result property="couponIdentity" jdbcType="VARCHAR" column="coupon_identity"></result>
    </resultMap>

    <resultMap id="qywxStatisResult" type="com.linksteady.operate.domain.QywxDailyStatis">
        <result column="HEAD_ID" jdbcType="DECIMAL" property="headId"></result>
        <result column="CONVERT_SPU_RATE" jdbcType="DECIMAL" property="convertSpuRate"></result>
        <result column="CONVERT_RATE" jdbcType="DECIMAL" property="convertRate"></result>
        <result column="CONVERT_SPU_NUM" jdbcType="DECIMAL" property="convertSpuNum"></result>
        <result column="CONVERT_NUM" jdbcType="DECIMAL" property="convertNum"></result>
        <result column="TOUCH_DATE" jdbcType="DECIMAL" property="touchDate"></result>
        <result column="CONVERSION_DATE" jdbcType="DATE" property="conversionDate"></result>
        <result column="CONVERSION_DATE_STR" jdbcType="VARCHAR" property="conversionDateStr"></result>
    </resultMap>

    <resultMap id="convertDetailMap" type="com.linksteady.operate.domain.QywxDailyPersonal">
        <result property="userId" jdbcType="VARCHAR" column="USER_ID"></result>
        <result property="isConvert" jdbcType="VARCHAR" column="IS_CONVERT"></result>
        <result property="convertInterval" jdbcType="VARCHAR" column="CONVERT_INTERVAL"></result>
        <result property="pushSpu" jdbcType="VARCHAR" column="PUSH_SPU"></result>
        <result property="convertSpu" jdbcType="VARCHAR" column="CONVERT_SPU"></result>
        <result property="spuIsConvert" jdbcType="VARCHAR" column="SPU_IS_CONVERT"></result>
        <result property="userValue" jdbcType="VARCHAR" column="USER_VALUE"></result>
        <result property="pathActive" jdbcType="VARCHAR" column="PATH_ACTIVE"></result>
        <result property="pushDate" jdbcType="VARCHAR" column="PUSH_DATE"></result>
        <result property="convertDate" jdbcType="VARCHAR" column="CONVERT_DATE"></result>

        <result property="followUserId" jdbcType="VARCHAR" column="follow_user_id"></result>
        <result property="followUserName" jdbcType="VARCHAR" column="follow_user_name"></result>
        <result property="qywxContractId" jdbcType="VARCHAR" column="qywx_contract_id"></result>
        <result property="qywxContactName" jdbcType="VARCHAR" column="qywx_contact_name"></result>
    </resultMap>

    <select id="getHeadList" resultMap="baseResult">
        SELECT HEAD_ID,to_char(TASK_DATE,'YYYYMMDD') TASK_DATE_STR,TASK_DATE, TOTAL_NUM, SUCCESS_NUM,CONVERT_NUM, CONVERT_RATE, CONVERT_AMOUNT,
        STATUS,EFFECT_DAYS,QYWX_MESSAGE_COUNT, staff_cnt, execute_staff_cnt, execute_rate
        FROM uo_qywx_daily_header t
        <where>
            <if test="taskDate != null and taskDate != ''">
                TASK_DATE::date = to_date(#{taskDate},'YYYY-MM-DD')
            </if>
        </where>
        ORDER BY HEAD_ID desc
        limit #{limit} offset #{offset}
    </select>

    <select id="getTotalCount" resultType="int">
        select count(1) from uo_qywx_daily_header
        where 1=1
        <if test="taskDate != '' and taskDate != null">
            and TASK_DATE::date = to_date(#{taskDate},'YYYY-MM-DD')
        </if>
    </select>

    <select id="getHeadInfo" resultType="com.linksteady.operate.domain.QywxDailyHeader">
        SELECT HEAD_ID,
               to_char(TASK_DATE,'YYYYMMDD') TASK_DATE_STR,
               TASK_DATE,
               TOTAL_NUM,
               SUCCESS_NUM,
               CONVERT_NUM,
               CONVERT_RATE,
               CONVERT_AMOUNT,
               STATUS,
               EFFECT_DAYS,
               VERSION,
               push_success_rate,
               execute_rate,
               execute_staff_cnt,
               staff_cnt,
               coupon_send_flag,
               convert_spu_num,
               convert_spu_amount,
               convert_spu_rate
        FROM uo_qywx_daily_header t
        where HEAD_ID = #{headId}
    </select>

    <update id="updateStatus">
        update uo_qywx_daily_header
        set status = #{status},
            EFFECT_DAYS=#{effectDays},
            version=version + 1
        where head_id = #{headId}
          and version = #{version}
    </update>

    <insert id="insertPushList" useGeneratedKeys="true" keyProperty="pushId" keyColumn="push_id">
        insert into uo_qywx_push_list(
           text_content,
           push_status,
           source_code,
           source_id,
           follow_user_id,
           insert_dt,
           mp_media_id,
           mp_appid,
           mp_title,
           mp_url,
           external_contact_ids)
        values(#{textContent},
                 'P',
                 'DAILY',
                 #{sourceId},
                 #{followUserId},
                 now(),
                 #{mpMediaId},
                 #{mpAppid},
                 #{mpTitle},
                 #{mpUrl},
                 #{externalContactIds})
    </insert>

    <update id="updatePushList">
        update uo_qywx_push_list set
           push_status = #{status},
           msgid = #{msgId},
           push_date = now(),
           fail_list = #{faildList},
           remark=#{remark}
        where
           push_id=#{pushId}
    </update>

    <select id="getPushErrorCount" resultType="int">
        select count(*) from uo_qywx_push_list
        where source_code='DAILY' and push_status='F' and source_id=#{headId}
    </select>

    <update id="updateStatusToDoneCouponError">
        update uo_qywx_daily_header set status='done_ce'  where head_id = #{headId}
    </update>

    <update id="updateStatusToDonePushError">
       update uo_qywx_daily_header set status='done_pe'  where head_id = #{headId}
    </update>

    <update id="updateSendCouponFlag">
        update uo_qywx_daily_header set coupon_send_flag='Y' where head_id=#{headId}
    </update>

    <select id="getQywxDailyStatisList" resultMap="qywxStatisResult">
        select CONVERT_SPU_RATE,
               CONVERT_RATE,
               CONVERT_SPU_NUM,
               CONVERT_NUM,
               to_char(CONVERSION_DATE, 'yyyymmdd') CONVERSION_DATE_STR
        from UO_QYWX_DAILY_STATIS
        where HEAD_ID = #{headId} order by CONVERSION_DATE asc
    </select>

    <select id="getConvertDetailData" resultMap="convertDetailMap">
       select
        t.user_id, --用户ID
        t.follow_user_id,
        t.qywx_contract_id,
        t2.follow_user_name,
        t2.qywx_contact_name,
        t.path_active, --活跃度
        t.user_value, --用户价值
        t.push_date, --推送日期
        t.conversion_date convert_date, --转化日期
        round((extract(day from t.conversion_date::timestamp-t.push_date::timestamp) * 24 + extract(hour from
        t.conversion_date::timestamp-t.push_date::timestamp))::numeric/24::numeric, 1)::varchar CONVERT_INTERVAL, --转换间隔
        t.spu_consistent, --推荐SPU与购买SPU是否一致 Y表示是 N表示否
        t.rec_spu_name PUSH_SPU, --推荐SPU名称
        t.IS_CONVERSION IS_CONVERT,
        t.SPU_CONSISTENT SPU_IS_CONVERT
        --转化的SPU名称
        from UO_QYWX_DAILY_CONVERT_DETAIL t left join
              (
                    select  uo_qywx_external_user_list.follow_user_id,
                            uo_qywx_external_user_list.external_userid,
                            uo_qywx_follower_user_list.name follow_user_name,
                            uo_qywx_external_user_list.name qywx_contact_name
                    from uo_qywx_external_user_list join uo_qywx_follower_user_list
                    on uo_qywx_external_user_list.follow_user_id=uo_qywx_follower_user_list.user_id
              ) t2 on t.follow_user_id= t2.follow_user_id
                and t.qywx_contract_id=t2.external_userid
        where  t.daily_header_id=#{headId} and t.IS_CONVERSION = '1' order by t.daily_detail_id asc
        limit #{limit} offset #{offset}
    </select>

    <select id="getConvertDetailCount" resultType="int">
         select
                   count(1)
                from UO_QYWX_DAILY_CONVERT_DETAIL t
                where  t.daily_header_id=#{headId} and t.IS_CONVERSION = '1'
    </select>

    <update id="expireActivityDailyHead">
         update uo_qywx_daily_header h set status='timeout' where h.status='todo' and task_date::date&lt;current_date
    </update>

</mapper>