<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.QywxContactWayMapper">
    <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.QywxContactWay">
        <result property="contactWayId" jdbcType="DECIMAL" column="contactway_id"/>
        <result property="qrCode" jdbcType="VARCHAR" column="qrcode"/>
        <result property="contactType" jdbcType="VARCHAR" column="contact_type"/>
        <result property="scene" jdbcType="VARCHAR" column="scene"/>
        <result property="style" jdbcType="VARCHAR" column="style"/>
        <result property="remark" jdbcType="VARCHAR" column="remark"/>
        <result property="skipVerify" jdbcType="BOOLEAN" column="skip_verify"/>
        <result property="state" jdbcType="VARCHAR" column="state"/>
        <result property="usersList" jdbcType="VARCHAR" column="user_list"/>
        <result property="party" jdbcType="VARCHAR" column="party"/>
        <result property="configId" jdbcType="VARCHAR" column="config_id"/>
        <result property="createDt" jdbcType="TIMESTAMP" column="create_dt"/>
        <result property="updateDt" jdbcType="TIMESTAMP" column="update_dt"/>
        <result property="createBy" jdbcType="VARCHAR" column="create_by"/>
        <result property="updateBy" jdbcType="VARCHAR" column="update_by"/>
        <result property="externalUserNum" jdbcType="DECIMAL" column="externaluser_num"/>
        <result property="shortUrl" jdbcType="VARCHAR" column="short_url"/>
    </resultMap>

    <delete id="deleteContactWay">
        delete from uo_qywx_contact_way where config_id=#{configId}
    </delete>

    <update id="updateShortUrl">
        update uo_qywx_contact_way set
                short_url=#{shortUrl},
                update_dt=now(),
                update_by=#{updateBy} where contactway_id=#{contactWayId}
    </update>

    <select id="getContactWayById" resultMap="BaseResultMap">
        select contactway_id,qrcode,contact_type,scene,style,remark,skip_verify,state,user_list,party,
                config_id,create_dt,update_dt,create_by,update_by,externaluser_num,short_url
        from uo_qywx_contact_way where  contactway_id=#{contactWayId}
    </select>

    <select id="getAllContactWayList" resultMap="BaseResultMap">
        select contactway_id,qrcode,contact_type,scene,style,remark,skip_verify,state,user_list,party,
                config_id,create_dt,update_dt,create_by,update_by,externaluser_num,short_url
        from uo_qywx_contact_way
        ORDER BY update_dt desc
    </select>

    <select id="getContactWayList" resultMap="BaseResultMap">
       select contactway_id,qrcode,contact_type,scene,style,remark,skip_verify,state,user_list,party,
                config_id,create_dt,update_dt,create_by,update_by,externaluser_num,short_url
        from uo_qywx_contact_way
        <where>
            <if test="qstate != null and qstate != ''">
                state like concat('%', #{qstate}, '%')
            </if>
            <if test="qremark != null and qremark != ''">
                remark like concat('%', #{qremark}, '%')
            </if>
        </where>
        ORDER BY update_dt desc
        limit #{limit} offset #{offset}
    </select>

    <select id="getContactWayCount" resultType="int">
        select count(*)
        from uo_qywx_contact_way
        <where>
            <if test="qstate != null and qstate != ''">
                state like concat('%', #{qstate}, '%')
            </if>
            <if test="qremark != null and qremark != ''">
                remark like concat('%', #{qremark}, '%')
            </if>
        </where>
    </select>

    <update id="updateContactWayFullInfo">
        update uo_qywx_contact_way set
                short_url=#{shortUrl},
                qrcode=#{qrCode},
                config_id=#{configId},
                update_dt=now(),
                update_by=#{updateBy}
         where contactway_id=#{contactWayId}
    </update>

    <update id="updateContactWayQrCode">
        update uo_qywx_contact_way set
                qrcode=#{qrCode},
                update_dt=now(),
                update_by=#{updateBy}
         where contactway_id=#{contactWayId}
    </update>

    <update id="updateContractWay">
        update uo_qywx_contact_way set
                contact_type=#{contactType},
                scene=#{scene},
                style=#{style},
                remark=#{remark},
                skip_verify=#{skipVerify},
                state=#{state},
                user_list=#{usersList},
                party=#{party},
                config_id=#{configId},
                create_dt=#{createDt},
                create_dt=#{updateDt},
                create_by=#{createBy},
                update_by=#{updateBy}
         where contactway_id=#{contactWayId}
    </update>

    <insert id="saveContactWay"  useGeneratedKeys="true" keyProperty="contactWayId" keyColumn="contactway_id">
         insert into uo_qywx_contact_way(
             contact_type,
             scene,
             style,
             remark,
             skip_verify,
             state,
             user_list,
             party,
             config_id,
             create_dt,
             update_dt,
             create_by,
             update_by
         ) values(
            #{contactType},
            #{scene},
            #{style},
            #{remark},
            #{skipVerify},
            #{state},
            #{usersList},
            #{party},
            #{configId},
            #{createDt},
            #{updateDt},
            #{createBy},
            #{updateBy}
         );
    </insert>

    <select id="getCurrentDomain" resultType="string">
            select domain from t_system where code='operate'
    </select>

    <select id="getQrcodeByConfigId" resultType="string">
        select qrcode from uo_qywx_contact_way where config_id=#{configId}
    </select>
</mapper>