<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.QywxDailyConfigMapper">
    <resultMap id="templateResult" type="com.linksteady.operate.domain.DailyGroupTemplate">
        <result column="GROUP_ID" jdbcType="VARCHAR" property="groupId"></result>
        <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName"></result>
        <result column="SMS_CODE" jdbcType="VARCHAR" property="smsCode"></result>
        <result column="SMS_CONTENT" jdbcType="VARCHAR" property="smsContent"></result>
        <result column="IS_COUPON" jdbcType="VARCHAR" property="isCoupon"></result>
        <result column="COUPON_NAME" jdbcType="VARCHAR" property="couponName"></result>
        <result column="USER_VALUE" jdbcType="VARCHAR" property="userValue"></result>
        <result column="PATH_ACTIVE" jdbcType="VARCHAR" property="pathActive"></result>
        <result column="LIFECYCLE" jdbcType="VARCHAR" property="lifecycle"></result>
        <result column="CHECK_FLAG" jdbcType="VARCHAR" property="checkFlag"></result>
        <result column="CHECK_COMMENTS" jdbcType="VARCHAR" property="checkComments"></result>
        <result column="GROUP_INFO" jdbcType="VARCHAR" property="groupInfo"></result>
        <result column="tar_type" jdbcType="VARCHAR" property="tarType"></result>
        <result column="wxpub_id" jdbcType="VARCHAR" property="wxpubId"></result>
        <result column="qywx_id" jdbcType="VARCHAR" property="qywxId"></result>
        <result column="sms_op_flag" jdbcType="VARCHAR" property="smsOpFlag"></result>
        <result column="qywx_op_flag" jdbcType="VARCHAR" property="qywxOpFlag"></result>
        <result column="sms_op_dt" jdbcType="TIMESTAMP" property="smsOpDt" />
        <result column="qywx_op_dt" jdbcType="TIMESTAMP" property="qywxOpDt" />
    </resultMap>

    <select id="getUserGroupList" resultMap="templateResult">
        select distinct max(qywx_id) qywx_id, max(qywx_op_dt) qywx_op_dt, case when path_active = 'UAC_01' then path_active else 'UAC_02,UAC_03' end path_active, lifecycle
        from (
                 select distinct lifecycle, path_active, qywx_id, qywx_op_dt
                 from uo_op_daily_template_config
                 where lifecycle in ('0', '1')
                   and path_active in ('UAC_01', 'UAC_02', 'UAC_03')
             ) t
        group by path_active, lifecycle, qywx_id, qywx_op_dt
        order by lifecycle desc, path_active asc
    </select>

    <update id="updateCheckFlagY">
        update UO_OP_DAILY_TEMPLATE_CONFIG set CHECK_FLAG = 'Y', CHECK_COMMENTS = ''
    </update>

    <update id="updateCheckFlagAndRemark">
        update uo_op_daily_template_config set check_flag = 'N', check_comments = #{remark}
        where group_id in (
            select distinct t1.group_id
            from uo_op_daily_template_config t1
                  left join uo_op_sms_template t2 on t1.sms_code = t2.sms_code
                  left join  uo_op_daily_group_coupon t3 on t1.group_id = t3.group_id
                  left join uo_op_coupon t4 on t3.coupon_id = t4.coupon_id
                  where 1=1
               ${whereInfo}
        )
    </update>

    <update id="updateCheckFlagNotConfigCoupon">
        update uo_op_daily_template_config set check_flag='N',
                                               check_comments=#{remark}
        where is_coupon='1' and
              not exists (
                  select 1 from uo_op_daily_group_coupon
                  where uo_op_daily_group_coupon.group_id=uo_op_daily_template_config.group_id
                  )
    </update>

    <select id="validCheckedUserGroup" resultType="int">
        select count(1) from UO_OP_DAILY_TEMPLATE_CONFIG where CHECK_FLAG = 'N' and PATH_ACTIVE in
        <foreach collection="activeList" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </select>

    <update id="updateWxMsgId">
        update uo_op_daily_template_config t1
        set qywx_id = #{qywxId},
            qywx_op_flag='Y',
            qywx_op_dt=now()
        where lifecycle = #{lifeCycle}
        <if test="pathActive == 'UAC_02,UAC_03'">
            and path_active in ('UAC_02', 'UAC_03')
        </if>
        <if test="pathActive == 'UAC_01'">
            and path_active = 'UAC_01'
        </if>
    </update>

    <select id="findMsgInfo" resultType="map">
        select uost.sms_content duanxin, uqmt.text_content weixin from uo_op_daily_template_config t1
            left join uo_op_sms_template uost on t1.sms_code = uost.sms_code
            left join uo_qywx_msg_template uqmt on t1.qywx_id = uqmt.qywx_id
        where t1.user_value = #{userValue}
        and t1.lifecycle = #{lifeCycle}
        and t1.path_active = #{pathActive}
        and t1.tar_type = #{tarType}
    </select>

    <update id="setSmsCode">
            update UO_OP_DAILY_TEMPLATE_CONFIG t1
            set sms_code = #{smsCode},
                sms_op_flag='Y',
                sms_op_dt=now()
            where (user_value,path_active,lifecycle) in (
            select user_value,path_active,lifecycle
              from
                 uo_op_daily_template_config t2
            where  t2.group_id = #{groupId})
      </update>

    <update id="resetOpFlag">
        update UO_OP_DAILY_TEMPLATE_CONFIG set
           sms_op_flag='N',qywx_op_flag='N'
    </update>
</mapper>