<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.QywxActivityPushMapper">

    <resultMap id="activityDetailResult" type="com.linksteady.operate.domain.QywxActivityDetail">
        <result column="QYWX_DETAIL_ID" jdbcType="BIGINT" property="qywxDetailId"/>
        <result column="HEAD_ID" jdbcType="VARCHAR" property="headId"/>
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"/>
        <result column="PATH_ACTIVE" jdbcType="VARCHAR" property="pathActive"/>
        <result column="USER_VALUE" jdbcType="VARCHAR" property="userValue"/>
        <result column="SPU_NAME" jdbcType="VARCHAR" property="spuName"/>
        <result column="REC_PIECE_PRICE" jdbcType="VARCHAR" property="recPiecePrice"/>
        <result column="JOIN_RATE" jdbcType="VARCHAR" property="joinRate"/>
        <result column="ORDER_PERIOD" jdbcType="VARCHAR" property="orderPeriod"/>
        <result column="REFER_DENO" jdbcType="VARCHAR" property="referDeno"/>
        <result column="REC_PROD_ID" jdbcType="VARCHAR" property="recProdId"/>
        <result column="REC_PROD_NAME" jdbcType="VARCHAR" property="recProdName"/>
        <result column="COMPLETE_PURCH" jdbcType="VARCHAR" property="completePurch"/>
        <result column="REC_RETENTION_ID" jdbcType="VARCHAR" property="recRetentionId"/>
        <result column="REC_RETENTION_NAME" jdbcType="VARCHAR" property="recRetentionName"/>
        <result column="REC_UP_ID" jdbcType="VARCHAR" property="recUpId"/>
        <result column="REC_UP_NAME" jdbcType="VARCHAR" property="recUpName"/>
        <result column="REC_CROSS_ID" jdbcType="VARCHAR" property="recCrossId"/>
        <result column="REC_CROSS_NAME" jdbcType="VARCHAR" property="recCrossName"/>
        <result column="REC_TYPE" jdbcType="VARCHAR" property="recType"/>
        <result column="IS_CONVERSION" jdbcType="VARCHAR" property="isConversion"/>
        <result column="PUSH_STATUS" jdbcType="VARCHAR" property="pushStatus"/>
        <result column="SMS_CONTENT" jdbcType="VARCHAR" property="smsContent"/>
        <result column="SMS_TEMPLATE_CONTENT" jdbcType="VARCHAR" property="smsTemplateContent"/>
        <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone"/>
        <result column="USER_OPENID" jdbcType="VARCHAR" property="userOpenid"/>
        <result column="TAR_ORDER_PRICE" jdbcType="VARCHAR" property="tarOrderPrice"/>
        <result column="TAR_PRODUCT_NUM" jdbcType="VARCHAR" property="tarProductNum"/>
        <result column="PUSH_CALLBACK_CODE" jdbcType="VARCHAR" property="pushCallbackCode"/>
        <result column="PUSH_DATE" jdbcType="TIMESTAMP" property="pushDate"/>
        <result column="GROUP_ID" jdbcType="VARCHAR" property="groupId"/>
        <result column="EPB_PRODUCT_ID" jdbcType="VARCHAR" property="epbProductId"/>
        <result column="EPB_PRODUCT_NAME" jdbcType="VARCHAR" property="epbProductName"/>
        <result column="PLAN_DT" jdbcType="DECIMAL" property="planDt"/>
        <result column="IN_GROWTH_PATH" jdbcType="INTEGER" property="inGrowthPath"/>
        <result column="SPU_CONTRIBUTE" jdbcType="DECIMAL" property="spuContribute"/>
        <result column="SPU_CONTRIBUTE_NORMAL" jdbcType="DECIMAL" property="spuContributeNormal"/>
        <result column="CONTRIBUTE_LEVEL" jdbcType="VARCHAR" property="contributeLevel"/>
        <result column="PRICE_SENSE_NORMAL" jdbcType="NUMERIC" property="priceSenseNormal"/>
        <result column="PRICE_SENSE_LEVEL" jdbcType="VARCHAR" property="priceSenseLevel"/>
        <result column="ORGIN_ORDERFEE" jdbcType="NUMERIC" property="orginOrderfee"/>
        <result column="ORGIN_GROWTHSPEED" jdbcType="NUMERIC" property="orginGrowthspeed"/>
        <result column="VALUE_POTENTIAL_NORMAL" jdbcType="NUMERIC" property="valuePotentialNormal"/>
        <result column="VALUE_POTENTIAL_LEVEL" jdbcType="VARCHAR" property="valuePotentialLevel"/>
        <result column="HIGH_ACTIVE_DUAL" jdbcType="NUMERIC" property="highActiveDual"/>
        <result column="MODERATE_ACTIVE1_DUAL" jdbcType="NUMERIC" property="moderateActive1Dual"/>
        <result column="MODERATE_ACTIVE2_DUAL" jdbcType="NUMERIC" property="moderateActive2Dual"/>
        <result column="LOSS_WARNING_DUAL" jdbcType="NUMERIC" property="lossWarningDual"/>
        <result column="ACTUAL_JOINT" jdbcType="NUMERIC" property="actualJoint"/>
        <result column="INSERT_DT" jdbcType="TIMESTAMP" property="insertDt"/>
        <result column="EDUCATE_VALUE" jdbcType="VARCHAR" property="educateValue"/>
        <result column="PRICE_SENSE" jdbcType="NUMERIC" property="priceSense"/>
        <result column="VALUE_POTENTIAL" jdbcType="NUMERIC" property="valuePotential"/>
        <result column="WEAK_LOSS_DUAL" jdbcType="NUMERIC" property="weakLossDual"/>
        <result column="STRONG_LOSS_DUAL" jdbcType="NUMERIC" property="strongLossDual"/>
        <result column="NEED_WEAK_REC" jdbcType="NUMERIC" property="needWeakRec"/>
        <result column="PUSH_SCHEDULING_DATE" jdbcType="BIGINT" property="pushSchedulingDate"/>
        <result column="PLAN_ID" jdbcType="BIGINT" property="planId"/>
        <result column="ACTIVITY_PROFIT" jdbcType="NUMERIC" property="activityProfit"/>
        <result column="ACTIVITY_PRICE" jdbcType="NUMERIC" property="activityPrice"/>
        <result column="SMS_BILLING_COUNT" jdbcType="INTEGER" property="smsBillingCount"/>
        <result column="MP_TITLE" jdbcType="VARCHAR" property="mpTitle"/>
        <result column="MP_URL" jdbcType="VARCHAR" property="mpUrl"/>
        <result column="QYWX_MSG_SIGN" jdbcType="VARCHAR" property="qywxMsgSign"/>
        <result column="PUSH_ID" jdbcType="NUMERIC" property="pushId"/>
        <result column="QYWX_CONTRACT_ID" jdbcType="VARCHAR" property="qywxContractId"/>
        <result column="FOLLOW_USER_ID" jdbcType="VARCHAR" property="followUserId"/>
        <result column="MP_MEDIA_ID" jdbcType="VARCHAR" property="mpMediaId"/>
    </resultMap>

    <resultMap id="followUserResult" type="com.linksteady.operate.vo.FollowUserVO">
        <result column="FOLLOW_USER_ID" jdbcType="VARCHAR" property="followUserId"></result>
        <result column="FOLLOW_USER_NAME" jdbcType="VARCHAR" property="followUserName"></result>
    </resultMap>

    <delete id="deleteContentTmp">
        DELETE FROM UO_QYWX_ACTIVITY_CONTENT_TMP WHERE PLAN_ID=#{planId}::int4
    </delete>

    <select id="getAllTemplate"  resultType="map">
        select GROUP_ID,TMP_CONTENT
       from (
           (SELECT
               UO_qywx_ACTIVITY_GROUP.group_id,
               UO_qywx_ACTIVITY_GROUP.sms_template_code
            FROM UO_qywx_ACTIVITY_GROUP
                where
                      UO_qywx_ACTIVITY_GROUP.HEAD_ID=#{headId}::int4
              AND  UO_qywx_ACTIVITY_GROUP.ACTIVITY_TYPE=#{activityType}) t1
                join UO_qywx_ACTIVITY_TEMPLATE
            on t1.SMS_TEMPLATE_CODE =UO_qywx_ACTIVITY_TEMPLATE.TMP_CODE) t2
    </select>

    <select id="getPushCount" resultType="int">
        select count(1) from UO_QYWX_ACTIVITY_DETAIL,UO_QYWX_ACTIVITY_GROUP,UO_QYWX_ACTIVITY_PLAN
       where
             UO_QYWX_ACTIVITY_DETAIL.HEAD_ID=UO_QYWX_ACTIVITY_GROUP.HEAD_ID
        AND  UO_QYWX_ACTIVITY_DETAIL.GROUP_ID= UO_QYWX_ACTIVITY_GROUP.GROUP_ID
        AND  UO_QYWX_ACTIVITY_PLAN.PLAN_TYPE=UO_QYWX_ACTIVITY_GROUP.ACTIVITY_TYPE
        AND  UO_QYWX_ACTIVITY_DETAIL.PLAN_ID = UO_QYWX_ACTIVITY_PLAN.PLAN_ID
        AND  UO_QYWX_ACTIVITY_DETAIL.PLAN_ID = #{planId}
    </select>

    <select id="getPushList" resultMap="activityDetailResult">
        select
           to_char(UO_QYWX_ACTIVITY_DETAIL.PUSH_DATE, 'yyyy-mm-dd hh24:mi') PUSH_DATE_STR,
           UO_QYWX_ACTIVITY_DETAIL.PUSH_STATUS,
           UO_QYWX_ACTIVITY_DETAIL.EPB_PRODUCT_NAME,
           UO_QYWX_ACTIVITY_DETAIL.EPB_PRODUCT_ID,
           UO_QYWX_ACTIVITY_DETAIL.USER_ID,
           UO_QYWX_ACTIVITY_DETAIL.GROUP_ID,
           UO_QYWX_ACTIVITY_DETAIL.SMS_CONTENT,
           UO_QYWX_ACTIVITY_DETAIL.HEAD_ID,
           UO_QYWX_ACTIVITY_PLAN.PLAN_TYPE,
           UO_QYWX_ACTIVITY_DETAIL.ORDER_PERIOD,
           UO_QYWX_ACTIVITY_GROUP.GROUP_NAME,
           UO_QYWX_ACTIVITY_DETAIL.PLAN_ID,
           UO_QYWX_ACTIVITY_DETAIL.ACTIVITY_PROFIT,
           UO_QYWX_ACTIVITY_DETAIL.ACTIVITY_PRICE,
           UO_QYWX_ACTIVITY_DETAIL.QYWX_DETAIL_ID,
           UO_QYWX_ACTIVITY_DETAIL.MP_TITLE,
           UO_QYWX_ACTIVITY_DETAIL.MP_URL
    from UO_QYWX_ACTIVITY_DETAIL,UO_QYWX_ACTIVITY_PLAN,UO_QYWX_ACTIVITY_GROUP
        where
             UO_QYWX_ACTIVITY_DETAIL.HEAD_ID=UO_QYWX_ACTIVITY_GROUP.HEAD_ID
        AND  UO_QYWX_ACTIVITY_DETAIL.GROUP_ID= UO_QYWX_ACTIVITY_GROUP.GROUP_ID
        AND  UO_QYWX_ACTIVITY_PLAN.PLAN_TYPE=UO_QYWX_ACTIVITY_GROUP.ACTIVITY_TYPE
        AND  UO_QYWX_ACTIVITY_DETAIL.PLAN_ID = UO_QYWX_ACTIVITY_PLAN.PLAN_ID
        AND  UO_QYWX_ACTIVITY_DETAIL.PLAN_ID =#{planId}
        ORDER BY UO_QYWX_ACTIVITY_DETAIL.GROUP_ID ASC
        limit #{limit} offset #{offset}
    </select>

    <insert id="insertPushContentTemp">
        insert into UO_QYWX_ACTIVITY_CONTENT_TMP(QYWX_DETAIL_ID,PLAN_ID,TEXT_CONTENT,QYWX_MSG_SIGN,MP_TITLE,MP_URL,MP_MEDIA_ID) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.qywxDetailId},
            #{item.planId},
            #{item.textContent},
            #{item.qywxMsgSign},
            #{item.mpTitle},
            #{item.mpUrl},
            #{item.mpMediaId})
        </foreach>
    </insert>

    <update id="updatePushContentFromTemp">
        UPDATE UO_QYWX_ACTIVITY_DETAIL SET SMS_CONTENT=TMP.TEXT_CONTENT,QYWX_MSG_SIGN=TMP.QYWX_MSG_SIGN,MP_MEDIA_ID=TMP.MP_MEDIA_ID
        FROM UO_QYWX_ACTIVITY_CONTENT_TMP AS TMP
        WHERE UO_QYWX_ACTIVITY_DETAIL.QYWX_DETAIL_ID=TMP.QYWX_DETAIL_ID
        AND UO_QYWX_ACTIVITY_DETAIL.PLAN_ID=#{planId}::int4
    </update>


    <update id="updateStatus">
        update UO_QYWX_ACTIVITY_PLAN set PLAN_STATUS = #{status},VERSION=VERSION+1
        where PLAN_ID = #{planId}::int4  AND VERSION=#{version}::int4
    </update>

    <select id="validateSmsConfig" resultType="int">
        select count(*) from UO_qywx_ACTIVITY_GROUP
          where head_id=#{headId}
            and activity_type=#{planType}
            and sms_template_code is null
             and group_id in (
                 select group_id from uo_qywx_activity_product p
                 where p.head_id=#{headId}
                 and p.activity_type=#{planType}
              )
    </select>

    <select id="getMessageSignList" resultType="String">
         select distinct qywx_msg_sign from UO_QYWX_ACTIVITY_DETAIL where head_id=#{headId} and follow_user_id=#{followUserId}
    </select>

    <select id="getWaitQywxUserListCount" resultType="int">
         select count(*) from UO_QYWX_ACTIVITY_DETAIL where head_id = #{headId} and follow_user_id=#{followUserId} and qywx_msg_sign=#{qywxMsgSign}
    </select>

    <select id="getQywxUserList" resultMap="activityDetailResult">
        select * from UO_QYWX_ACTIVITY_DETAIL where
          head_id = #{headId} and follow_user_id=#{followUserId} and qywx_msg_sign=#{qywxMsgSign} order by qywx_detail_id asc limit #{limit} offset #{offset}
    </select>

    <insert id="insertPushList" useGeneratedKeys="true" keyProperty="pushId" keyColumn="push_id">
        insert into uo_qywx_push_list(
           text_content,
           push_status,
           source_code,
           source_id,
           follow_user_id,
           insert_dt,
           mp_media_id,
           mp_appid,
           mp_title,
           mp_url,
           external_contact_ids)
        values(#{textContent},
                 'P',
                 'ACTIVITY',
                 #{sourceId},
                 #{followUserId},
                 now(),
                 #{mpMediaId},
                 #{mpAppid},
                 #{mpTitle},
                 #{mpUrl},
                 #{externalContactIds})
    </insert>

    <update id="updatePushList">
        update uo_qywx_push_list set
           push_status = #{status},
           msgid = #{msgId},
           push_date = now(),
           fail_list = #{faildList},
           remark=#{remark}
        where
           push_id=#{pushId}
    </update>

    <update id="updatePushId">
        update UO_QYWX_ACTIVITY_DETAIL set push_id=#{pushId},msg_id=#{msgId},push_status=#{status}
        where qywx_detail_id in
        <foreach collection="detailIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="getFollowUserList" resultMap="followUserResult">
        select follow_user_id,coalesce(name,'未知') follow_user_name from
            (select distinct follow_user_id from uo_qywx_activity_detail where plan_id=#{planId} and push_status='X') t1 left join
            uo_qywx_follower_user_list on t1.follow_user_id=uo_qywx_follower_user_list.user_id
            order by follow_user_id asc
    </select>

    <select id="getProductIdList" resultType="string">
        select distinct EPB_PRODUCT_ID from uo_qywx_activity_detail where plan_id=#{planId}
    </select>

</mapper>