<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.ShortUrlMapper">

    <resultMap id="BaseResultMap" type="com.linksteady.operate.domain.ShortUrlInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="LONG_URL" jdbcType="VARCHAR" property="longUrl"/>
        <result column="SHORT_URL" jdbcType="VARCHAR" property="shortUrl"/>
        <result column="VALIDATE_DATE" jdbcType="DATE" property="validateDate"/>
        <result column="INSERT_DT" jdbcType="DATE" property="insertDt"/>
        <result column="INSERT_BY" jdbcType="VARCHAR" property="insertBy"/>
        <result column="SOURCE_TYPE" jdbcType="VARCHAR" property="sourceType"/>
    </resultMap>

    <select id="getList" resultMap="BaseResultMap">
        SELECT * FROM(
           SELECT A.*,ROWNUM RN FROM(
               SELECT ID,LONG_URL,SHORT_URL,VALIDATE_DATE,INSERT_DT,INSERT_BY,SOURCE_TYPE FROM T_SHORT_URL order by INSERT_DT desc
           ) A  WHERE ROWNUM &lt;=#{endRow}
        ) WHERE RN &gt;=#{startRow}
  </select>

  <insert id="insertShortUrl">
      insert into T_SHORT_URL(ID,LONG_URL,SHORT_URL,VALIDATE_DATE,INSERT_DT,INSERT_BY,SOURCE_TYPE)
      values(SEQ_T_SHORT_URL.NEXTVAL, #{longUrl}, #{shortUrl}, #{validateDate}, sysdate, #{insertBy}, #{sourceType})
  </insert>

    <select id="selectShortUrlByLongUrl" resultType="string">
        select SHORT_URL from T_SHORT_URL where LONG_URL=#{longUrl}  and trunc(validate_date)-TRUNC(sysdate)>=0
    </select>

    <select id="selectCountByLongUrl" resultType="int">
        select count(*) from T_SHORT_URL where LONG_URL=#{longUrl}
    </select>

    <update id="updateShortUrlValidateDate">
        update T_SHORT_URL set VALIDATE_DATE=#{validateDate}
    </update>

    <select id="getDataList" resultMap="BaseResultMap">
        select ID,LONG_URL,SHORT_URL,VALIDATE_DATE,INSERT_DT,INSERT_BY,SOURCE_TYPE from T_SHORT_URL where trunc(validate_date)-TRUNC(sysdate) &gt;=0
    </select>

</mapper>