<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.UserPriceMapper">

    <!--获取不同周期的客单价-->
    <select id="getKpiOfDifferPeriod" resultType="Double">
        SELECT
        (CASE WHEN
        COUNT(DISTINCT W_ORDER_DETAILS.USER_ID)=0 THEN 0 ELSE
        TRUNC(SUM(W_ORDER_DETAILS.PRICE*W_ORDER_DETAILS.QUANTITY-W_ORDER_DETAILS.DISCOUNT)/COUNT(DISTINCT W_ORDER_DETAILS.USER_ID),2) END) kpiVal
        FROM
        W_ORDER_DETAILS JOIN W_DATE ON W_ORDER_DETAILS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDER_DETAILS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
    </select>

    <!--查询起止时间段内的连带率值-->
    <select id="getDatePeriodData" resultType="com.linksteady.operate.vo.KpiInfoVO">
        SELECT
        (CASE WHEN
        COUNT(DISTINCT W_ORDER_DETAILS.USER_ID)=0 THEN 0 ELSE
        TRUNC(SUM(W_ORDER_DETAILS.PRICE*W_ORDER_DETAILS.QUANTITY-W_ORDER_DETAILS.DISCOUNT)/COUNT(DISTINCT W_ORDER_DETAILS.USER_ID),2) END) kpiVal,
        ${period_name} kpiDate
        FROM W_ORDER_DETAILS JOIN W_DATE ON W_ORDER_DETAILS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDER_DETAILS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
        GROUP BY  ${period_name}
        ORDER BY  ${period_name} ASC
    </select>

    <!--获取首购和复购的连带率汇总值-->
    <select id="getSpAndFpKpiTotal" resultType="com.linksteady.operate.vo.KpiInfoVO">
        WITH G1 AS
        (
        SELECT
        ${period_name} PERIOD_NAME,
        W_ORDER_DETAILS.PRICE*W_ORDER_DETAILS.QUANTITY-W_ORDER_DETAILS.DISCOUNT ORDER_FEE,
        W_ORDER_DETAILS.USER_ID,
        W_ORDER_DETAILS.IS_FP
        FROM W_ORDER_DETAILS JOIN W_DATE ON W_ORDER_DETAILS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDER_DETAILS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
        ),
        G2 AS (
        SELECT
            SUM(G1.ORDER_FEE) ALL_FEE,
            COUNT( DISTINCT G1.USER_ID) ALL_CNT,
            SUM(CASE WHEN G1.IS_FP='Y' THEN ORDER_FEE ELSE 0 END) FP_FEE,
            COUNT(DISTINCT CASE WHEN G1.IS_FP='Y' THEN G1.USER_ID END) FP_CNT,
            SUM(CASE WHEN G1.IS_FP='N' THEN ORDER_FEE ELSE 0 END) RP_FEE,
            COUNT( DISTINCT CASE WHEN G1.IS_FP='N' THEN G1.USER_ID END) RP_CNT
        FROM G1
        )
        SELECT
        (CASE WHEN ALL_CNT=0 THEN 0 ELSE TRUNC(ALL_FEE/ALL_CNT,2) END) kpiVal,
        (CASE WHEN FP_CNT=0 THEN 0 ELSE TRUNC(FP_FEE/FP_CNT,2) END) fpKpiVal,
        (CASE WHEN RP_CNT=0 THEN 0 ELSE TRUNC(RP_FEE/RP_CNT,2) END) spKpiVal
        FROM
        G2
    </select>

    <!--获取首购和复购的明细数据 -->
    <select id="getSpAndFpKpi" resultType="com.linksteady.operate.vo.KpiInfoVO">
        WITH G1 AS
        (
        SELECT
        ${period_name} PERIOD_NAME,
        W_ORDER_DETAILS.PRICE*W_ORDER_DETAILS.QUANTITY-W_ORDER_DETAILS.DISCOUNT ORDER_FEE,
        W_ORDER_DETAILS.USER_ID,
        W_ORDER_DETAILS.IS_FP
        FROM W_ORDER_DETAILS JOIN W_DATE ON W_ORDER_DETAILS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDER_DETAILS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
        ),
        G2 AS (
        SELECT
        G1.PERIOD_NAME,
        SUM(G1.ORDER_FEE) ALL_FEE,
        COUNT( DISTINCT G1.USER_ID) ALL_CNT,
        SUM(CASE WHEN G1.IS_FP='Y' THEN ORDER_FEE ELSE 0 END) FP_FEE,
        COUNT(DISTINCT CASE WHEN G1.IS_FP='Y' THEN G1.USER_ID  END) FP_CNT,
        SUM(CASE WHEN G1.IS_FP='N' THEN ORDER_FEE ELSE 0 END) RP_FEE,
        COUNT( DISTINCT CASE WHEN G1.IS_FP='N' THEN G1.USER_ID END) RP_CNT
        FROM G1 GROUP BY G1.PERIOD_NAME
        )
        SELECT
        PERIOD_NAME kpiDate,
        (CASE WHEN ALL_CNT=0 THEN 0 ELSE TRUNC(ALL_FEE/ALL_CNT,2) END) kpiVal,
        (CASE WHEN FP_CNT=0 THEN 0 ELSE TRUNC(FP_FEE/FP_CNT,2) END) fpKpiVal,
        (CASE WHEN RP_CNT=0 THEN 0 ELSE TRUNC(RP_FEE/RP_CNT,2) END) spKpiVal
        FROM
        G2 ORDER BY  PERIOD_NAME ASC
    </select>

</mapper>
