<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.UserJoinRateMapper">

    <!--获取不同周期的连带率-->
    <select id="getKpiOfDifferPeriod" resultType="Double">
        SELECT
            (CASE WHEN COUNT(DISTINCT W_ORDER_DETAILS.ORDER_ID)=0 THEN 0 ELSE
                TRUNC(SUM(W_ORDER_DETAILS.QUANTITY)*1.00/COUNT( DISTINCT W_ORDER_DETAILS.ORDER_ID),2) END) JOINRATE
        FROM
         W_ORDER_DETAILS JOIN W_DATE ON W_ORDER_DETAILS.ORDER_DT_WID = W_DATE.ROW_WID
            <if test="joinInfo != null and joinInfo != ''">
                ${joinInfo}
            </if>
        WHERE
        W_ORDER_DETAILS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
    </select>

    <!--查询起止时间段内的连带率值-->
    <select id="getDatePeriodData" resultType="com.linksteady.operate.vo.KpiInfoVO">
        SELECT
            (CASE WHEN COUNT(DISTINCT W_ORDER_DETAILS.ORDER_ID)=0 THEN 0 ELSE
                TRUNC(SUM(W_ORDER_DETAILS.QUANTITY)*1.00/COUNT(DISTINCT W_ORDER_DETAILS.ORDER_ID),2) END)  kpiVal,
             ${period_name} kpiDate
        FROM W_ORDER_DETAILS JOIN W_DATE ON W_ORDER_DETAILS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDER_DETAILS.VALID_STATUS = 1
            <if test="whereInfo != null and whereInfo != ''">
                ${whereInfo}
            </if>
        GROUP BY  ${period_name}
        ORDER BY  ${period_name} ASC
    </select>

    <!--获取首购和复购的连带率汇总值-->
    <select id="getSpAndFpKpiTotal" resultType="com.linksteady.operate.vo.KpiInfoVO">
        WITH G1 AS
        (
                SELECT
                    W_ORDER_DETAILS.ORDER_ID,
                    W_ORDER_DETAILS.QUANTITY,
                    W_ORDER_DETAILS.IS_FP
                FROM W_ORDER_DETAILS JOIN W_DATE ON W_ORDER_DETAILS.ORDER_DT_WID = W_DATE.ROW_WID
                <if test="joinInfo != null and joinInfo != ''">
                    ${joinInfo}
                </if>
                WHERE
                W_ORDER_DETAILS.VALID_STATUS = 1
                <if test="whereInfo != null and whereInfo != ''">
                    ${whereInfo}
                </if>
        ),
        G2 AS (
        SELECT
               COUNT(DISTINCT G1.ORDER_ID) ALL_POCOUNT,
               SUM(G1.QUANTITY) ALL_QUANTITY,
               COUNT(DISTINCT CASE WHEN G1.IS_FP='Y' THEN ORDER_ID END) FP_POCOUNT,
               SUM(CASE WHEN G1.IS_FP='Y' THEN G1.QUANTITY END) FP_QUANTITY,
               COUNT(DISTINCT CASE WHEN G1.IS_FP='N' THEN ORDER_ID END) RP_POCOUNT,
               SUM(CASE WHEN G1.IS_FP='N' THEN G1.QUANTITY END) RP_QUANTITY
        FROM G1
        )
        SELECT
                (CASE WHEN ALL_POCOUNT=0 THEN 0 ELSE TRUNC(ALL_QUANTITY*1.00/ALL_POCOUNT,2) END) kpiVal,
                (CASE WHEN FP_POCOUNT=0 THEN 0 ELSE TRUNC(FP_QUANTITY*1.00/FP_POCOUNT,2) END) fpKpiVal,
                (CASE WHEN RP_POCOUNT=0 THEN 0 ELSE TRUNC(RP_QUANTITY*1.00/RP_POCOUNT,2) END) spKpiVal
        FROM
        G2
    </select>

    <!--获取首购和复购的明细数据 -->
    <select id="getSpAndFpKpi" resultType="com.linksteady.operate.vo.KpiInfoVO">
        WITH G1 AS
        (
        SELECT
        ${period_name} PERIOD_NAME,
        W_ORDER_DETAILS.ORDER_ID,
        W_ORDER_DETAILS.QUANTITY,
        W_ORDER_DETAILS.IS_FP
        FROM W_ORDER_DETAILS JOIN W_DATE ON W_ORDER_DETAILS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDER_DETAILS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
        ),
        G2 AS (
        SELECT
        G1.PERIOD_NAME,
        COUNT(DISTINCT G1.ORDER_ID) ALL_POCOUNT,
        SUM(G1.QUANTITY) ALL_QUANTITY,
        COUNT(DISTINCT CASE WHEN G1.IS_FP='Y' THEN ORDER_ID END) FP_POCOUNT,
        SUM(CASE WHEN G1.IS_FP='Y' THEN G1.QUANTITY END) FP_QUANTITY,
        COUNT(DISTINCT CASE WHEN G1.IS_FP='N' THEN ORDER_ID END) RP_POCOUNT,
        SUM(CASE WHEN G1.IS_FP='N' THEN G1.QUANTITY END) RP_QUANTITY
        FROM G1 GROUP BY G1.PERIOD_NAME
        )
        SELECT
        PERIOD_NAME kpiDate,
        (CASE WHEN ALL_POCOUNT=0 THEN 0 ELSE TRUNC(ALL_QUANTITY*1.00/ALL_POCOUNT,2) END) kpiVal,
        (CASE WHEN FP_POCOUNT=0 THEN 0 ELSE TRUNC(FP_QUANTITY*1.00/FP_POCOUNT,2) END) fpKpiVal,
        (CASE WHEN RP_POCOUNT=0 THEN 0 ELSE TRUNC(RP_QUANTITY*1.00/RP_POCOUNT,2) END) spKpiVal
        FROM
        G2 ORDER BY  PERIOD_NAME ASC
    </select>

</mapper>
