<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.operate.dao.UserCntMapper">

    <!--获取不同周期的用户数-->
    <select id="getKpiOfDifferPeriod" resultType="Double">
        SELECT
        COUNT(DISTINCT W_ORDER_DETAILS.USER_ID) TOTAL_CNT
        FROM
        W_ORDER_DETAILS JOIN W_DATE ON W_ORDER_DETAILS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDER_DETAILS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
    </select>

    <!--查询起止时间段内按周期分组的用户数值-->
    <select id="getDatePeriodData" resultType="com.linksteady.operate.vo.KpiInfoVO">
        SELECT
        COUNT(DISTINCT W_ORDER_DETAILS.USER_ID)  kpiVal,
        ${period_name} kpiDate
        FROM W_ORDER_DETAILS JOIN W_DATE ON W_ORDER_DETAILS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDER_DETAILS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
        GROUP BY  ${period_name}
        ORDER BY  ${period_name} ASC
    </select>

    <!--获取首购和复购的用户数汇总值-->
    <select id="getSpAndFpKpiTotal" resultType="com.linksteady.operate.vo.KpiInfoVO">
        WITH G1 AS
        (
        SELECT
        W_ORDER_DETAILS.USER_ID,
        W_ORDER_DETAILS.IS_FP
        FROM W_ORDER_DETAILS JOIN W_DATE ON W_ORDER_DETAILS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDER_DETAILS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
        ),G2 AS (
          select COUNT(DISTINCT G1.USER_ID) kpiVal,
          COUNT(DISTINCT CASE WHEN G1.IS_FP='N' THEN USER_ID END) spKpiVal
          from G1
        )
        SELECT (G2.kpiVal - G2.spKpiVal) fpKpiVal, G2.kpiVal, G2.spKpiVal
        FROM G2
    </select>
    <!--获取首购和复购的明细数据 -->
    <select id="getSpAndFpKpi" resultType="com.linksteady.operate.vo.KpiInfoVO">
        WITH G1 AS
        (
        SELECT
        ${period_name} PERIOD_NAME,
        W_ORDER_DETAILS.USER_ID,
        W_ORDER_DETAILS.IS_FP
        FROM W_ORDER_DETAILS JOIN W_DATE ON W_ORDER_DETAILS.ORDER_DT_WID = W_DATE.ROW_WID
        <if test="joinInfo != null and joinInfo != ''">
            ${joinInfo}
        </if>
        WHERE
        W_ORDER_DETAILS.VALID_STATUS = 1
        <if test="whereInfo != null and whereInfo != ''">
            ${whereInfo}
        </if>
        ), G2 AS (
        SELECT
        G1.PERIOD_NAME KPIDATE,
        COUNT(DISTINCT G1.USER_ID) KPIVAL,
        COUNT(DISTINCT CASE WHEN G1.IS_FP='N' THEN USER_ID END) SPKPIVAL
        FROM G1 GROUP BY G1.PERIOD_NAME
        )
        SELECT G2.KPIDATE, G2.KPIVAL, G2.SPKPIVAL, (G2.KPIVAL-G2.SPKPIVAL) FPKPIVAL FROM G2
    </select>

</mapper>
