<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="h5">取样时间：</span>2015-03-11
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <h5>留存率随购买次数的变化</h5>
                <hr style="margin-top: 0px;margin-bottom: 5px;"/>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div id="retention_freq" style="width:100%;height:300px;"></div>
                    </div>
                    <div class="col-md-6 text-center">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr><th>购买次数</th><th>留存率斜率</th><th>说明</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td><td>0.8</td><td>第2次购买明显上升</td>
                                </tr>
                                <tr>
                                    <td>6</td><td>1</td><td>第6次购买缓慢下降</td>
                                </tr>
                                <tr>
                                    <td>11</td><td>-0.8</td><td>第11次购买明显下降</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--购买次数随时间变化-->
        <div class="row">
            <div class="col-md-12">
                <h5>购买次数随时间变化</h5>
                <hr style="margin-top: 0px;margin-bottom: 5px;"/>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div id="freq1" style="width:100%;height:300px;"></div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div id="freq2" style="width:100%;height:300px;"></div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div id="freq3" style="width:100%;height:300px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5>指标随购买次数变化</h5>
                <hr style="margin-top: 0px;margin-bottom: 5px;"/>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div id="kpi1" style="width:100%;height:200px;"></div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div id="kpi2" style="width:100%;height:200px;"></div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div id="kpi3" style="width:100%;height:200px;"></div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div id="kpi4" style="width:100%;height:200px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5>用户数&销售额随时间变化</h5>
                <hr style="margin-top: 0px;margin-bottom: 5px;"/>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div id="userCount" style="width:100%;height:300px;"></div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div id="saleVolume" style="width:100%;height:300px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5>生命周期</h5>
                <hr style="margin-top: 0px;margin-bottom: 5px;"/>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <table class="table table-hover table-bordered" id="tab1">
                            <thead>
                                <tr><th>周期阶段</th><th>阶段目标</th><th>达成时间</th></tr>
                            </thead>
                            <tbody>
                                <tr><td>新客期</td><td>复购</td><td>201908</td></tr>
                                <tr><td>成长期</td><td>复购</td><td>201908</td></tr>
                                <tr><td>成熟期</td><td>复购</td><td>201908</td></tr>
                                <tr><td>衰退期</td><td>复购</td><td>201908</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 text-center">
                        <table class="table table-hover table-bordered" id="tab2" hidden>
                            <thead>
                            <tr><th rowspan="2" style="vertical-align: middle;">用户ID</th><th colspan="3">当前目标</th><th colspan="3">当前状态</th></tr>
                            <tr><th>购买时间</th><th>SPU</th><th>订单价</th><th>已购买次数</th><th>用户价值</th><th>活跃度</th></tr>
                            </thead>
                            <tbody>
                            <tr><td>001</td><td>2019-05-01 22:33:12</td><td>女士短裤</td><td>254元</td><td>1</td><td>1</td><td>较低</td></tr>
                            <tr><td>002</td><td>2019-04-23 11:14:21</td><td>兰蔻化妆品</td><td>1254元</td><td>3</td><td>3</td><td>低</td></tr>
                            <tr><td>003</td><td>2019-04-14 13:13:32</td><td>男士短裤</td><td>264元</td><td>5</td><td>4</td><td>中</td></tr>
                            <tr><td>004</td><td>2019-04-21 09:23:24</td><td>男士化妆品</td><td>234元</td><td>9</td><td>5</td><td>中</td></tr>
                            <tr><td>005</td><td>2019-02-18 14:43:22</td><td>手表</td><td>2254元</td><td>21</td><td>6</td><td>高</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


