<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <title>导购运营引导</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <meta name="referrer" content="never">
    <link rel="icon" data-th-href="@{/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/style.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/common.css}"/>
    <link rel="stylesheet" href="/weui/css/weui.css"/>
    <link rel="stylesheet" href="/weui/css/weuix.css"/>
    <link rel="stylesheet" href="/weui/css/common.css"/>
    <!-- bootstrapTable -->
    <link rel="stylesheet" data-th-href="@{/plugins/bootstrap-table/bootstrap-table.min.css}">
</head>
<body ontouchstart class="page-bg" style="font-size: 14px;">
    <div class="weui-pay" style="padding: 6px;">
        <div class="" style="padding: 9px;background: #ffffff">
            <h1 class="weui-pay-title" style="font-size: 14px;">管理员面板</h1>
        </div>
    </div>
    <div class="weui-pay" style="padding: 6px;">
        <div class="" style="padding: 9px;background: #ffffff">
            <h1 class="weui-pay-title" style="font-size: 14px;">管理员列表</h1>
            <div class="weui-flex">
                <div class="row">
                    <div class="col-xs-12">
                        <form id="activity-form">
                            <div class="select-list">
                                <ul style="font-size: 14px;">
                                    <li class="pull-right">
                                        <a class="btn btn-warning btn-rounded btn-sm" onclick="updateAdmin()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-striped" style="width: 100%">
                <table class="table table-striped table-bordered text-nowrap table-hover" id="adminTable"></table>
            </div>
        </div>
    </div>

    <!--匹配情况 -->
    <div class="weui-pay" style="padding: 6px;">
        <div class="" style="padding: 9px;background: #ffffff">
            <h1 class="weui-pay-title" style="font-size: 14px;">用户匹配情况</h1>
            <div class="table-striped" style="width: 100%">
                <table class="table table-striped table-bordered text-nowrap table-hover" id="mappingTable">
                    <thead>
                       <th>指标名称</th>
                       <th>指标值</th>
                    </thead>
                    <tbody>
                       <tr>
                           <td>合计外部客户数</td>
                           <td><span id="allCnt"></span></td>
                       </tr>
                       <tr>
                           <td>匹配到商城用户</td>
                           <td><span id="mappingCnt"></span></td>
                       </tr>
                       <tr>
                           <td>未匹配到商城用户</td>
                           <td><span id="unmappingCnt"></span></td>
                       </tr>
                       <tr>
                           <td>匹配率(%)</td>
                           <td><span id="mappingRate"></span></td>
                       </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!--手机号维护情况统计-->
    <div class="weui-pay" style="padding: 6px;">
        <div class="" style="padding: 9px;background: #ffffff">
            <h1 class="weui-pay-title" style="font-size: 14px;">手机号维护情况统计</h1>
            <div class="table-striped" style="width: 100%">
                <table class="table table-striped table-bordered text-nowrap table-hover" id="phoneFixTable"></table>
            </div>
        </div>
    </div>

<!--外部客户重复统计-->
    <div class="weui-pay" style="padding: 6px;">
        <div class="" style="padding: 9px;background: #ffffff">
            <h1 class="weui-pay-title" style="font-size: 14px;">重复添加统计</h1>
            <div class="table-striped" style="width: 100%">
                <table class="table table-striped table-bordered text-nowrap table-hover" id="repeatTable"></table>
            </div>
        </div>
    </div>
<script src="/static/js/common/jquery.min.js"></script>
<script src="/static/weui/js/zepto.min.js"></script>
<script src="/static/weui/js/zepto.weui.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script>
    $(function () {
        //加载管理员列表
        loadAdminTable();
        //获取匹配信息

        //获取手机号维护情况
        loadFixTable();

        //获取重复添加问题
        loadRepeatTable();

    });

    function loadAdminTable()
    {
        let settings = {
            columns: [
                {
                    field: 'userName',
                    title: '客户名称'
                }, {
                    field: 'updateDt',
                    title: '更新时间'
                }
            ]
        };
        $("#adminTable").bootstrapTable('destroy').bootstrapTable(settings);
        $.get( "/admin/getAdminList", {}, function (r) {
            $( "#adminTable" ).bootstrapTable( 'load', r.data );
        });
    }

    function loadFixTable()
    {
        let settings = {
            columns: [
                {
                    field: 'followerUserId',
                    title: '导购ID'
                }, {
                    field: 'userCnt',
                    title: '客户数'
                }, {
                    field: 'blankCnt',
                    title: '手机号未维护客户数'
                }, {
                    field: 'invalidCnt',
                    title: '手机号已维护但格式异常客户数'
                }
            ]
        };
        $("#phoneFixTable").bootstrapTable('destroy').bootstrapTable(settings);
        $.get( "/admin/phoneFixStatis", {}, function (r) {
            $( "#phoneFixTable" ).bootstrapTable( 'load', r.data );
        });
    }

    function loadRepeatTable()
    {
        let settings = {
            pagination: false,
            columns: [
                {
                    field: 'externalUserId',
                    title: '外部客户ID'
                }, {
                    field: 'name',
                    title: '外部客户名称'
                }, {
                    field: 'cnt',
                    title: '添加导购个数'
                }, {
                    field: 'followUser',
                    title: '涉及导购'
                }
            ]
        };
        $("#repeatTable").bootstrapTable('destroy').bootstrapTable(settings);
        $.get( "/admin/repeatStatis", {}, function (r) {
            let repeatData = r.data;
            $( "#repeatTable" ).bootstrapTable( 'load', repeatData );
            let mappingData=r.msg;

            $("#allCnt").text(mappingData.allCnt);
            $("#mappingCnt").text(mappingData.mappingCnt);
            $("#unmappingCnt").text(mappingData.unmappingCnt);
            $("#mappingRate").text(mappingData.mappingRate);
        } );
    }

    /**
     * 更新管理员
     */
    function updateAdmin() {
        //重新获取管理员信息
        $.showLoading();
        $.get( "/admin/updateAdmin", {}, function (r) {
            if(r.code==200)
            {
                loadAdminTable();
                $.hideLoading();
                $.toast("<font style='font-size: 14px;'><span class='icon icon-71'></span>&nbsp;更新成功！</font>", "text");
            }else
            {
                $.hideLoading();
                $.toast("<font style='font-size: 14px;'><span class='icon icon-73'></span>&nbsp;更新失败！</font>", "text");
            }
        });

    }
</script>
</body>
</html>