<div th:if="${opType eq 'save'}">
    <div class="row">
        <span class="navbar-page-title">编辑申请消息</span>
        <div class="col-md-12">
            <hr class="hr m-t-0 m-t-10" style="margin-bottom: 10px;">
        </div>
    </div>
    <div class="row">
        <span class="navbar-page-title">配置消息中的二维码</span>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" id="qrId"/>
                        获取二维码链接：<input id='qrCode' type="text" style="border: none 0;outline: medium;background: transparent;-webkit-appearance: none;  -moz-appearance: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                        -moz-tap-highlight-color: transparent;border-bottom: 1px solid #ccc;" onclick="selectQrCode()"/>
                        <a id="copyQrCodeBtn" style="cursor: pointer;font-size: 12px;" class="copy_btn"><i class="fa fa-clone"></i>复制二维码短链</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr style="margin-top: 10px;margin-bottom: 10px;">
    <div class="row">
        <span class="navbar-page-title">编辑好友申请消息</span>
        <div class="col-md-12">
            <div>
                <textarea placeholder="请输入消息内容..." class="form-control" id="smsContent" name="smsContent" style="height: 102px;width:520px;border: solid 1px #ebebeb;" oninput="smsContentInput(this)"></textarea>
                <h6 style="color: #8b95a5"><i class="fa fa-info-circle"></i>&nbsp;最大文案字符数:<span style="color: red;font-weight: bold" data-th-text="${smsLengthLimit}"></span>字，当前文案字数:<span style="color: red;font-weight: bold" id="currentWordCnt">0</span>字</h6>
            </div>
        </div>
    </div>
    <div class="row m-t-15">
        <div class="col-md-12">
            <a class="btn btn-secondary btn-sm" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                预览效果
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="m-t-10 collapse" id="collapseExample" aria-expanded="true">
                <div class="well" style="height: 490px;padding: 8px;margin-bottom: 15px;">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4 text-left">
                            <div style="position:absolute;height: 470px;width:100%;background:url(/images/app_content_01.png) no-repeat -23px -39px;}"></div>
                            <div class="bubble" style="position: relative;margin-top: 140px;width: 233px;">
                                <div class="demo clearfix">
                                    <span class="triangle" style="left: 42px"></span>
                                    <div class="article" id="article" style="font-size: 12px;">请输入消息内容...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="clear: both;">
        <div class="col-md-12 text-right">
            <div class="btn-group-sm" role="group">
                <a class="btn btn-primary" onclick="updateSmsContent()">
                    <i class="fa fa-save"></i> 完成
                </a>
                <a class="btn btn-secondary" onclick="stepBreak(0)">
                    <i class="fa fa-arrow-left"></i> 上一步
                </a>
                <a class="btn btn-secondary" href="/page/addCustom">
                    <i class="fa fa-backward"></i> 返回
                </a>
            </div>
        </div>
    </div>
</div>
<div th:if="${opType eq 'update'}">
    <div class="row">
        <span style="margin-top: 5px;" class="navbar-page-title">编辑申请消息</span>
        <div class="col-md-12">
            <hr class="hr m-t-0 m-t-5" style="margin-bottom: 5px;">
        </div>
    </div>
    <div class="row">
        <span class="navbar-page-title">配置消息中的二维码</span>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" id="qrId" th:value="${addUserHead.contactWayId}"/>
                        获取二维码链接：<input id='qrCode' disabled readonly type="text" style="background-color:#ccc;border: none 0;outline: medium;background: transparent;-webkit-appearance: none;-moz-appearance: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                        -moz-tap-highlight-color: transparent;border-bottom: 1px solid #ccc;" th:value="${addUserHead.contactWayUrl}"/>
                        <a id="copyQrCodeBtn" style="cursor: pointer;font-size: 12px;" class="copy_btn"><i class="fa fa-clone"></i>复制二维码短链</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr style="margin-top: 10px;margin-bottom: 10px;">
    <div class="row">
        <span class="navbar-page-title" style="margin-top: 0px;">编辑好友申请消息</span>
        <div class="col-md-12">
            <div>
                <textarea th:text="${addUserHead.smsContent}" placeholder="请输入消息内容..." id="smsContent" name="smsContent" style="height: 102px;width:520px;border: solid 1px #ebebeb;" oninput="smsContentInput(this)"></textarea>
                <h6 style="color: #8b95a5"><i class="fa fa-info-circle"></i>&nbsp;最大文案字符数:<span style="color: red;font-weight: bold" data-th-text="${smsLengthLimit}"></span>字，当前文案字数:<span style="color: red;font-weight: bold" id="currentWordCnt">0</span>字</h6>
            </div>
        </div>
    </div>
    <div class="row m-t-10">
        <div class="col-md-12">
            <a class="btn btn-secondary btn-sm" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                效果预览
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="m-t-10 collapse" id="collapseExample" aria-expanded="true">
                <div class="well" style="height: 490px;padding: 8px;margin-bottom: 15px;">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4 text-left">
                            <div style="position:absolute;height: 470px;width:100%;background:url(/images/app_content_01.png) no-repeat -23px -39px;}"></div>
                            <div class="bubble" style="position: relative;margin-top: 140px;width: 233px;">
                                <div class="demo clearfix">
                                    <span class="triangle" style="left: 42px"></span>
                                    <div class="article" id="article" style="font-size: 12px;" th:text="${addUserHead.smsContent}">请输入消息内容...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <div class="btn-group-sm" role="group">
                <a class="btn btn-primary" onclick="updateSmsContent()">
                    <i class="fa fa-save"></i> 完成
                </a>
                <a class="btn btn-secondary" onclick="stepBreak(0)">
                    <i class="fa fa-arrow-left"></i> 上一步
                </a>
                <a class="btn btn-secondary" href="/page/addCustom">
                    <i class="fa fa-backward"></i> 返回
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="selectQrModal" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h5 class="modal-title pull-left">选择二维码</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 table-striped">
                        <table class="table table-hover table-bordered" id="qrDataTable"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save btn-sm" onclick="setQrCode()">确定</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>