@font-face {font-family: "iconfont";
  src: url('/fonts/ali_icon/iconfont.eot?t=1560510379009'); /* IE9 */
  src: url('/fonts/ali_icon/iconfont.eot?t=1560510379009#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/ali_icon/iconfont.woff2') format('woff2'),
  url('/fonts/ali_icon/iconfont.woff?t=1560510379009') format('woff'),
  url('/fonts/ali_icon/iconfont.ttf?t=1560510379009') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('/fonts/ali_icon/iconfont.svg?t=1560510379009#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconyibiaopan:before {
  content: "\e641";
}

.iconyunying:before {
  content: "\e605";
}

.icontubiao:before {
  content: "\e61c";
}

.iconzititubiao-:before {
  content: "\e60e";
}

.iconyuanyinsuyuanchuangkou:before {
  content: "\e622";
}

.icontubiao1:before {
  content: "\e8cb";
}

.icontubiao2:before {
  content: "\e693";
}

.iconguanjianzisousuo:before {
  content: "\e61d";
}

.iconmubiao:before {
  content: "\e60d";
}

.iconyunying1:before {
  content: "\e60f";
}

.iconbaobiao:before {
  content: "\e683";
}

.iconjiankong:before {
  content: "\e670";
}

.iconzhouqigou:before {
  content: "\e682";
}

.icontubiaozhuzhuangtu:before {
  content: "\e600";
}

