<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>用户成长系统</title>
    <th:block th:include="common/include :: common-css" />
</head>

<body class="gray-bg">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div data-th-include="common/aside"></div>
        <!-- 头部信息 -->
        <div data-th-include="common/header"></div>
        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-div ui-layout-center">
                <div class="row" style="padding-bottom: 50px;">
                    <div class="col-md-12 text-center select-table table-striped">
                        <img data-th-src="@{/images/index_bg.jpg}" alt="" width="">
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</div>
<th:block th:include="common/include::footer" />
<th:block th:include="common/include::perfect-scrollbar" />
<th:block th:include="common/include::jquery-validate-js" />
<th:block th:include="common/include::common-js" />
</body>
</html>
<!--<html>-->
<!--    <head></head>-->
<!--    <body>-->
<!--        企业微信接口服务!-->
<!--    </body>-->
<!--</html>-->