<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>用户运营平台</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <link rel="stylesheet" data-th-href="@{/plugins/toastr/toastr.css}">
    <script data-th-src="@{/js/common/jquery.min.js}"></script>
</head>
<style>

</style>
<body>
<!-- Form-->
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1 style="text-transform:capitalize;" >LinkSteady</h1>
            <h1>营销诊断/运营系统</h1>
        </div>
        <div class="form-content">
            <div class="form-group">
                <label>用户名</label>
                <input type="text" name="username" />
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" name="password" />
            </div>
            <div class="form-group" style="display:inline-block">
                <label>验证码</label>
                <input type="text" name="code" style="width:60%; display:inline-block;" />
                <img id="validateCodeImg" data-th-src="@{gifCode}" onclick="reloadCode()" style="vertical-align:middle;display:inline-block" />
            </div>
            <div class="form-group">
                <button onclick="login()" id="loginButton">登录</button>
            </div>
        </div>
    </div>
</div>
</body>
<script data-th-src="@{/plugins/toastr/toastr.min.js}"></script>
<script data-th-src="@{/js/app/login.js}"></script>
</html>