<div class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel3" id="customDetail" data-backdrop="static" style="z-index:19999999">
    <div class="modal-dialog" role="document" style="width: 50%;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 table-striped">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="select-list">
                                    <ul>
                                        <li>
                                            &nbsp群名称：<input type="text"  id="groupName" readonly/>
                                        </li>
                                        <li>
                                            &nbsp群主：<input type="text"  id="owner" readonly/>
                                        </li>
                                        <li>
                                            &nbsp群公告：<input type="text"  id="notice" readonly/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-sm-12">
                                <table id="customerList" class="table  table-striped table-bordered text-nowrap"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" onclick="closeMod()"><i class="fa fa-close"></i> 关闭</a>
            </div>
        </div>
    </div>
</div>
