<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>用户成长系统</title>
    <th:block th:include="common/include :: common-css" />
    <th:block th:include="common/include :: rangeslider-css" />
    <th:block th:include="common/include::jquery-confirm-css" />
    <th:block th:include="common/include::step-css" />
    <th:block th:include="common/include::datepicker-css" />
    <th:block th:include="common/include::bootstrap-table-css" />
</head>

<body class="gray-bg">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div data-th-include="common/aside"></div>
        <!-- 头部信息 -->
        <div data-th-include="common/header"></div>
        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-div ui-layout-center">
                <div class="row">
                    <div class="col-sm-12 search-collapse">
                            <div class="row">
                                <h5 class="navbar-page-title">每日运营任务(企业微信)</h5>
                            </div>
                           <div class="row">
                                <div class="col-md-12">
                                    <hr class="hr m-t-0 m-b-5"/>
                                </div>
                           </div>
                        <form id="user-form">
                            <div class="select-list">
                                <ul>
                                    <li>
                                        日期：<input type="text" name="taskDate" id="taskDate" class="js-datepicker" data-date-format="yyyy-mm-dd"/>
                                    </li>
                                    <li>
                                        <a class="btn btn-primary btn-rounded btn-sm" id="btn_query"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                        <a class="btn btn-warning btn-rounded btn-sm" onclick="resetQuery()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 select-table table-striped">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn-group-sm" id="toolbar" role="group">
                                    <a class="btn btn-primary btn-edit" id="btn_insight">
                                        <i class="fa fa-cog"></i> 预览推送
                                    </a>
                                    <a class="btn btn-info btn-view" id="btn_catch">
                                        <i class="fa fa-check-square-o"></i> 任务效果
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-sm-12">
                                <table id="qywxDailyTable" class="table  table-striped table-bordered text-nowrap"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div th:include="operate/qywx/viewPush"></div>
<input id="errormsg"  type="hidden"  th:value="${errormsg}" />
<input id="headId"  type="hidden" />

<th:block th:include="common/include::footer" />
<th:block th:include="common/include::perfect-scrollbar" />
<th:block th:include="common/include::jquery-validate-js" />
<th:block th:include="common/include::common-js" />
<th:block th:include="common/include::bootstrap-table-js" />
<th:block th:include="common/include::jquery-confirm-js" />
<th:block th:include="common/include::echarts" />
<th:block th:include="common/include::rangeslider-js" />
<th:block th:include="common/include::step-js" />
<th:block th:include="common/include::datepicker-js" />
<script data-th-src="@{/js/app/operate/common/template.js}"></script>
<!--<script data-th-src="@{/js/app/operate/daily/task/userStats.js}"></script>-->
<script data-th-src="@{/js/app/operate/qywx/list.js}"></script>
</body>
</html>
