<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>测试信息编辑</title>
    <th:block th:include="common/include :: common-css" />
    <th:block th:include="common/include :: rangeslider-css" />
    <th:block th:include="common/include::jquery-confirm-css" />
    <th:block th:include="common/include::step-css" />
    <th:block th:include="common/include::datepicker-css" />
    <th:block th:include="common/include::bootstrap-table-css" />
</head>
<body class="gray-bg">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div data-th-include="common/aside"></div>
        <!-- 头部信息 -->
        <div data-th-include="common/header"></div>
        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-div ui-layout-center">
                <div class="row">
                    <div class="col-sm-12 search-collapse">
                        <div class="row">
                            <h5 class="navbar-page-title">信息推送编辑</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="hr m-t-0 m-b-5"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 select-table table-striped">
                        <form class="form-horizontal" id="testPush">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group mg-stop">
                                        <label class="col-md-2 control-label">推送标题：</label>
                                        <div class="col-md-8 input-group">
                                            <input class="form-control" type="text" id="title" name="title" placeholder="请输入标题名称"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mg-stop">
                                        <label class="col-md-2 control-label">路径地址：</label>
                                        <div class="col-md-8 input-group">
                                            <input class="form-control" type="text" id="pathAddress" name="pathAddress" placeholder="请输入路径地址"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mg-stop">
                                        <label class="col-md-2 control-label">发送人ID：</label>
                                        <div class="col-md-8 input-group">
                                            <input class="form-control" type="text" id="senderId" name="senderId" placeholder="请输入发送人ID"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mg-stop">
                                        <label class="col-md-2 control-label">外部联系人ID：</label>
                                        <div class="col-md-8 input-group">
                                            <input class="form-control" type="text" id="externalContact" name="externalContact" placeholder="请输入外部联系人ID"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mg-stop">
                                        <label class="col-md-2 control-label">推送文本：</label>
                                        <div class="col-md-8 input-group">
                                            <textarea class="form-control" id="messageTest" name="messageTest" style="height: 102px;width:685px;border: solid 1px #ebebeb;" placeholder="请输入测试文本"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <a  class="btn btn-primary btn-lg active" role="button" onclick="pushMessage()" style="margin-left: 350px;width: 15%">提交</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
<th:block th:include="common/include::footer" />
<th:block th:include="common/include::perfect-scrollbar" />
<th:block th:include="common/include::jquery-validate-js" />
<th:block th:include="common/include::common-js" />
<th:block th:include="common/include::bootstrap-table-js" />
<th:block th:include="common/include::jquery-confirm-js" />
<script data-th-src="@{/js/app/operate/qywx/pushMessage.js}"></script>
</html>