<div class="modal" tabindex="-1" role="dialog" id="viewPush_modal"  aria-labelledby="myLargeModalLabel4" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h5 class="modal-title">预览推送</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="h5" id="overviewInfo"></p>
                    </div>
                </div>

                <div class="row" id="pushSteps"></div>
                <div id="step1">
                    <div class="row m-t-10">
                            <h5 class="navbar-page-title">
                                本日用户成长目标&nbsp;
                                <a style='color: #48b0f7;font-size: 16px;' data-toggle="tooltip" data-html="true" title="" data-placement="top" data-original-title="无；" data-trigger="click">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </h5>
                            <hr class="hr" style="margin-top: 0px;margin-bottom: 5px;"/>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div id="chart1a" style="width: 100%;height: 300px;"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart1b" style="width: 100%;height: 300px;"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div id="chart1" style="width: 100%;height: 300px;"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart2" style="width: 100%;height: 300px;"></div>
                        </div>
                    </div>



                    <div class="row">
                        <h5 class="navbar-page-title">本日用户差异群组
                            <a style='color: #48b0f7;font-size: 16px;' data-toggle="tooltip" data-html="true" title="" data-placement="top" data-original-title="无；" data-trigger="click">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </h5>
                        <hr class="hr"/>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="chart3" style="width: 100%;height: 300px;"></div>
                        </div>

                        <div class="col-md-6 table-responsive">
                            <table id="matrixTable" class="table table-bordered table-striped">
                                <thead id="matrixHead">
                                </thead>
                                <tbody id="matrixTableData">

                                </tbody>
                            </table>
                            <h6 class="text-center">指定类目价值用户群组在其他特征的分布</h6>
                        </div>
                    </div>

                    <div class="row">
                        <h5 class="navbar-page-title">本日用户推送策略
                            <a style='color: #48b0f7;font-size: 16px;' data-toggle="tooltip" data-html="true" title="" data-placement="top" data-original-title="无；" data-trigger="click">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </h5>
                        <hr class="hr"/>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="chart4" style="width: 100%;height: 300px;"></div>
                        </div>
                        <div class="col-md-6">
                            <table class="table  table-striped table-bordered text-nowrap" id="couponStatTable"></table>
                            <h6 class="text-center">个性化补贴的用户分布</h6>
                        </div>
                    </div>
                </div>
                <div id="step2" style="display:none;">
                    <div class="row">
                        <h5 class="navbar-page-title">用户明细</h5>
                        <hr class="hr"/>
                    </div>
                    <div class="row">
                        <div class="col-md-12 table-striped table-bordered">
                            <table id="userListTable" class="table  table-striped table-bordered table-hover"></table>
                        </div>
                    </div>
                </div>
                <div id="step3" style="display: none;">
                    <div class="row">
                        <h5 class="navbar-page-title">用户推送</h5>
                        <hr class="hr"/>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">推送方式</label>
                            <div class="col-md-7 mt7">
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="pushMethod" value="AI"><span>智能推送</span>
                                </label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="pushMethod" value="IMME"><span>立刻推送</span>
                                </label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="pushMethod" value="FIXED"><span>定时推送</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="pushPeriodDiv" hidden>
                            <label class="col-md-3 control-label">推送时间</label>
                            <div class="col-md-7">
                                <select name="" id="pushPeriod" class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">效果观察天数</label>
                            <div class="col-md-7">
                                <input id="effectDays">
                            </div>
                        </div>

                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="alert" role="alert" style="background-color: #fcf8e3;padding: 13px 24px;">
                                    确定推送，将会通过企业微信发送文案给每日成长用户。
                                    <label class="lyear-checkbox m-t-10 checkbox-warning">
                                        <input type="checkbox" id="push_ok">
                                        <span>我确定要推送</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="changeStep(-1)" id="prevStepBtn" style="display: none;">上一步</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="changeStep(1)" id="nextStepBtn">下一步</button>
                <button type="button" class="btn btn-primary btn-sm" disabled onclick="submitData()" id="pushMsgBtn" style="display: none;">确定推送</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
