<div class="modal" tabindex="-1" role="dialog" id="viewPush_modal"  aria-labelledby="myLargeModalLabel4" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h5 class="modal-title">预览推送</h5>
            </div>
            <div class="modal-body">
                <div class="row" id="pushSteps"></div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="h5" id="overviewInfo"></p>
                    </div>
                </div>
                <div id="step1">
                    <div class="row">
                        <h5 class="navbar-page-title">用户明细</h5>
                        <hr class="hr m-t-0 m-b-5"/>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form id="ulistFilterForm">
                                <div class="select-list">
                                    <ul>
                                        <li>
                                            成员列表：<select id="followUserSelect" name="followUserSelect">
                                            <option value="">所有</option>
                                        </select>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                            <div class="table-striped">
                                <table id="userListTable" class="table  table-striped table-bordered table-hover"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step2" style="display: none;">
                    <div class="row">
                        <h5 class="navbar-page-title">用户推送</h5>
                        <hr class="hr m-t-0 m-b-5"/>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group" id="pushPeriodDiv" hidden>
                            <label class="col-md-3 control-label">推送时间</label>
                            <div class="col-md-7">
                                <select name="" id="pushPeriod" class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">效果观察天数</label>
                            <div class="col-md-7">
                                <input id="effectDays">
                            </div>
                        </div>

                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="alert" role="alert" style="background-color: #fcf8e3;padding: 13px 24px;">
                                    确定推送，将会通过企业微信发送文案给每日成长用户。
                                    <label class="lyear-checkbox m-t-10 checkbox-warning">
                                        <input type="checkbox" id="push_ok">
                                        <span>我确定要推送</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="changeStep(-1)" id="prevStepBtn" style="display: none;">上一步</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="changeStep(1)" id="nextStepBtn">下一步</button>
                <button type="button" class="btn btn-primary btn-sm" disabled onclick="submitData()" id="pushMsgBtn" style="display: none;">确定推送</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
