<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tmpModal" id="modal">
    <div class="modal-dialog" role="document"  style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="handleDesc">详细信息</h5>
            </div>
            <div class="modal-body">
                <!--模版1-->
                <div class="row">
                    <div class="col-md-4" id="_diagName"></div>
                    <div class="col-md-4" id="diagKpiCode"></div>
                </div>
                <div class="row">
                    <div class="col-md-4" id="operateType"></div>
                    <div class="col-md-4" id="timePeriod"></div>
                    <ul id="tree" class="ztree col-md-4" style="overflow:auto;"></ul>
                </div>
                <hr class="hr m-t-0 m-b-5"/>
                <div class="row" id="template1" style="display: none;margin-top: 20px;">
                    <!--gmv和条件无的操作描述-->
                    <div class="col-md-12">
                        <p class="h5" id="opdesc"></p>
                    </div>
                </div>
                <div id="template2" style="display: none;">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <p id="rate1">末期比基期的变化率：</p>
                            <div id="t2chart1" style="height:300px;width:100%;"></div>
                        </div>
                        <div class="col-md-4">
                            <p id="rate2">末期比基期的变化率：</p>
                            <div id="t2chart2" style="height:300px;width:100%;"></div>
                        </div>
                        <div class="col-md-4">
                            <p id="rate3">末期比基期的变化率：</p>
                            <div id="t2chart3" style="height:300px;width:100%;"></div>
                        </div>
                    </div>
                    <!--gmv和条件无的操作描述-->
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            <p class="h5">变异系数</p>
                            <table class="table table-bordered" id="cov1Table"></table>
                        </div>
                        <div class="col-md-6" id="t2cov">
                            <p class="h5">相关系数</p>
                            <table class="table table-bordered" id="relate1Table"></table>
                        </div>
                    </div>
                </div>
                <!--加法模板-->
                <div id="template3" style="display: none;">
                    <div class="row" style="margin-top: 10px;" id="t2chart_target">
                        <div class="col-md-6">
                            <div id="t3chart4" style="height:300px;width:100%;"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="t3chart1" style="height:300px;width:100%;"></div>
                        </div>
                    </div>
                    <div style="margin-top: 10px;display: none;" id="t2chart">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="t3chart42" style="height:300px;width:100%;"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="t3chart6" style="height:300px;width:100%;"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="t3chart2" style="height:300px;width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="h5">变异系数</p>
                            <table class="table table-bordered" id="covTable"></table>
                        </div>
                        <div class="col-md-6">
                            <p class="h5">相关系数</p>
                            <table class="table table-bordered" id="relateTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>