<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="nodeDetailModalLabel" id="nodeDetailModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="nodeDetailModalLabel">条件信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p><span class="h5">指标名称：</span><span id="kpiNameDetail"></span></p>
                    </div>
                    <div class="col-md-12">
                        <p class="h5">条件：</p>
                    </div>
                    <div class="col-md-12">
                        <table class="table text-left" id="dataTableDetail" style="border-top: 0px;">
                            <tr><td><i class="mdi mdi-alert-circle-outline"></i>暂无数据！</td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>