<div th:if="${opType eq 'save'}">
    <div class="col-md-12 select-table">
        <div class="row">
            <span class="navbar-page-title">基本信息</span>
            <div class="col-md-12">
                <hr class="hr m-t-0 m-t-5" style="margin-bottom: 5px;">
            </div>
        </div>
        <div class="m-t-5">
            <form class="form-inline">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-inline" />任务名称：
                        <input type="text" class="form-control" name="taskName"/></label>
                    </div>
                    <div class="col-md-6" style="margin-top: 9px;">
                        <label class="form-inline" />选择申请发送范围：
                        <label class="lyear-radio radio-inline radio-primary">
                            <input type="radio" checked='checked' name="sendType" value="0" onclick="selectUser(false)"><span>全部用户</span>
                        </label>
                        <label class="lyear-radio radio-inline radio-primary">
                            <input type="radio" name="sendType" value="1" onclick="selectUser(true)"><span>筛选用户</span>
                        </label>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row m-t-5" id="selectUserDiv" style="display:none;">
            <div class="col-md-12">
                <h5>筛选部分用户群组</h5>
                <div id="tagTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="tagTabone">
                        <h6>
                            <i class="fa fa-info-circle" style="color: #313944;"></i>&nbsp;通过筛选地域、渠道用户，将对其发送带有“联系我”二维码的短信息，使其添加企业微信好友；
                        </h6>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-md-4">
                                <div class="row desc_content uvalue">
                                    <div class="col-md-12" id="valueBtns" style="width:99%;height:88px;border:dashed 1px #faa64b;padding-top: 3px;padding-bottom: 3px;margin-left: 15px;">
                                        <div style="display:flex;">
                                            <div class="text-left pull-left" style="-webkit-flex: 1;flex: 1;">
                                                <p class="h6" style="border-bottom: #faa64b 1px dashed;padding: 5px;">地域</p>
                                            </div>
                                            <div class="pull-right text-right" style="-webkit-flex: 1;flex: 1;">
                                                <p class="h6" style="border-bottom: #faa64b 1px dashed;padding: 5px;">
                                                    <a onclick="selectCityModal()" style="cursor: pointer;"><i class="fa fa-check-square-o"></i>选择</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div style="position: relative;" id="cityDiv">
                                            <button type="button" class="btn btn-round btn-sm btn-secondary m-t-5" onclick="selectCityModal()">请选择地域</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row desc_content pactive">
                                    <div class="col-md-12" id="activeBtns" style="width:99%;height:88px;border:dashed 1px #48b0f7;padding-top: 3px;padding-bottom: 3px;margin-left: 15px;">
                                        <p class="h6" style="border-bottom: #48b0f7 1px dashed;padding: 5px;">渠道</p>
                                        <div style="position: relative;" id="sourceDiv"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 select-table" id="sendUserDataDiv">
        <div class="row">
            <span class="navbar-page-title">推送任务的节奏</span>
            <div class="col-md-12">
                <hr class="hr m-t-0 m-t-5" style="margin-bottom: 5px;">
            </div>
        </div>
        <div class="row m-t-5">
            <div class="col-md-12">
                <h6>
                    <i class="fa fa-info-circle" style="color: #313944"></i>&nbsp;企业微信添加人数上限为 <span style="color: red;font-weight: bold;" th:text="${qywxParam.dailyAddNum}">1000</span> 人；
                </h6>
                <div style="margin-bottom: 5px;" class="m-t-15">
                    <form action="" class="form-inline">
                        <div class="row">
                            <div class="col-md-4">
                                每日推送人数（人/天）：<input type="text" th:value="${qywxParam.triggerNum}" readonly name="dailyUserCnt" style=" border: none 0;outline: medium;background: transparent;-webkit-appearance: none;  -moz-appearance: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-moz-tap-highlight-color: transparent;border-bottom: 1px solid #ccc;background-color: #eee;">
                            </div>
                            <div class="col-md-4">
                                预计每日推送转化率（%）：<input type="text" th:value="${qywxParam.dailyAddRateStr}" readonly name="dailyApplyRate" style="border: none 0;outline: medium;background: transparent;-webkit-appearance: none;  -moz-appearance: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-moz-tap-highlight-color: transparent;border-bottom: 1px solid #ccc;background-color: #eee;">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="hr m-t-0 m-t-5">
            </div>
            <div class="col-md-12 text-right">
                <div class="btn-group-sm" role="group">
                    <a class="btn btn-primary" onclick="saveData()">
                        <i class="fa fa-save"></i> 保存
                    </a>
                    <a class="btn btn-secondary" onclick="stepBreak(1)">
                        <i class="fa fa-arrow-right"></i> 下一步
                    </a>
                    <a class="btn btn-secondary" href="/page/addUserTrigger">
                        <i class="fa fa-backward"></i> 返回
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${opType eq 'update'}">
    <div class="col-md-12 select-table">
        <div class="row">
            <span class="navbar-page-title">基本信息</span>
            <div class="col-md-12">
                <hr class="hr m-t-0 m-t-5" style="margin-bottom: 5px;">
            </div>
        </div>
        <div class="m-t-5">
            <form class="form-inline">
                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" th:value="${addUserHead.id}" id="headId">
                        <label class="form-inline" />任务名称：
                        <input type="text" disabled readonly class="form-control" name="taskName" th:value="${addUserHead.taskName}"/></label>
                    </div>
                    <div class="col-md-6" style="margin-top: 9px;">
                        <label class="form-inline" />选择申请发送范围：
                        <label class="lyear-radio radio-inline radio-primary">
                            <input disabled readonly th:checked="${addUserHead.sendType eq '0'} ? true:false" type="radio" checked='checked' name="sendType" value="0" onclick="selectUser(false)"><span>全部用户</span>
                        </label>
                        <label class="lyear-radio radio-inline radio-primary">
                            <input disabled readonly th:checked="${addUserHead.sendType eq '1'} ? true:false" type="radio" name="sendType" value="1" onclick="selectUser(true)"><span>筛选用户</span>
                        </label>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row m-t-5" th:if="${addUserHead.sendType eq '1'}">
            <div class="col-md-12">
                <h5>筛选部分用户群组</h5>
                <div id="tagTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="tagTabone">
                        <h6>
                            <i class="fa fa-info-circle" style="color: #313944;"></i>&nbsp;通过筛选地域、渠道用户，将对其发送带有“联系我”二维码的短信息，使其添加企业微信好友；
                        </h6>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-md-4">
                                <div class="row desc_content uvalue">
                                    <div class="col-md-12" id="valueBtns" style="width:99%;height:88px;border:dashed 1px #faa64b;padding-top: 3px;padding-bottom: 3px;margin-left: 15px;">
                                        <div style="display:flex;">
                                            <div class="text-left pull-left" style="-webkit-flex: 1;flex: 1;">
                                                <p class="h6" style="border-bottom: #faa64b 1px dashed;padding: 5px;">地域</p>
                                            </div>
                                        </div>
                                        <div th:if="${addUserHead.regionName eq ''}">
                                            <button type="button" class="btn btn-round btn-sm btn-secondary m-t-5">没有选择地域</button>
                                        </div>
                                        <th:block th:each="tmp : ${#strings.listSplit(addUserHead.regionName, ',')}">
                                            <button type="button" class="btn btn-round btn-sm btn-warning m-t-5" data-th-text="${tmp}"></button>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row desc_content pactive">
                                    <div class="col-md-12" id="activeBtns" style="width:99%;height:88px;border:dashed 1px #48b0f7;padding-top: 3px;padding-bottom: 3px;margin-left: 15px;">
                                        <p class="h6" style="border-bottom: #48b0f7 1px dashed;padding: 5px;">渠道</p>
                                        <div style="position: relative;" id="sourceDiv"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 select-table">
        <div class="row">
            <span class="navbar-page-title">推送任务的节奏</span>
            <div class="col-md-12">
                <hr class="hr m-t-0 m-t-5" style="margin-bottom: 5px;">
            </div>
        </div>
        <div class="row m-t-5">
            <div class="col-md-12">
                <h6>
                    <i class="fa fa-info-circle" style="color: #313944"></i>&nbsp;企业微信添加人数上限为 <span style="color: red;font-weight: bold;" th:text="${qywxParam.dailyAddNum}">1000</span> 人；
                </h6>
                <div style="margin-bottom: 5px;" class="m-t-15">
                    <form action="" class="form-inline">
                        <div class="row">
                            <div class="col-md-4">
                                每日推送人数（人/天）：<input type="text" th:value="${qywxParam.triggerNum}" readonly name="dailyUserCnt" style=" border: none 0;outline: medium;background: transparent;-webkit-appearance: none;  -moz-appearance: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-moz-tap-highlight-color: transparent;border-bottom: 1px solid #ccc;background-color: #eee;">
                            </div>
                            <div class="col-md-4">
                                预计每日推送转化率（%）：<input type="text" th:value="${qywxParam.dailyAddRate}" readonly name="dailyApplyRate" style="border: none 0;outline: medium;background: transparent;-webkit-appearance: none;  -moz-appearance: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-moz-tap-highlight-color: transparent;border-bottom: 1px solid #ccc;background-color: #eee;">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="hr m-t-0 m-t-5">
            </div>
            <div class="col-md-12 text-right">
                <div class="btn-group-sm" role="group">
                    <a class="btn btn-secondary" onclick="stepBreak(1)">
                        <i class="fa fa-arrow-right"></i> 下一步
                    </a>
                    <a class="btn btn-secondary" href="/page/addUserTrigger">
                        <i class="fa fa-backward"></i> 返回
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="selectCityModal" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h5 class="modal-title pull-left">选择地域</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 table-striped">
                        <form class="form-inline">
                            <div data-toggle="distpicker">
                                <div class="m-t-5 text-center">
                                    省(市)：<select class="form-control" id="region1" style="width: 200px;"></select>
                                    <a onclick="addRegion('region1')" style="cursor: pointer;">&nbsp;<i class="fa fa-plus-circle"></i></a>
                                </div>
                                <div class="m-t-5 text-center">
                                    市(区)：<select class="form-control" id="region2" style="width: 200px;"></select>
                                    <a onclick="addRegion('region2')" style="cursor: pointer;">&nbsp;<i class="fa fa-plus-circle"></i></a>
                                </div>
                            </div>
                            <div class="row m-t-15">
                                <div class="col-md-12" id="cityTags"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer m-t-10">
                <button type="button" class="btn btn-primary btn-sm" onclick="addCityClick()" name="save">确定</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>