<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.AddUserMonitorMapper">

    <select id="getApplySuccessData" resultType="map">
        with v1 as (
        select count(1)                          per_cnt,
        to_char(add_qywx_date, #{dateFormat}) add_date
        from uo_qywx_add_user_list
        where to_char(add_qywx_date, #{dateFormat}) &lt;= #{endDt}
          and to_char(add_qywx_date, #{dateFormat}) &gt;= #{startDt}
        and is_add_qywx = 1
        group by add_date
        order by add_date asc
        ), v2 as (
        select count(1)                          per_cnt,
        to_char(add_qywx_date, #{dateFormat}) add_date
        from uo_qywx_trigger_list
        where to_char(add_qywx_date, #{dateFormat}) &lt;= #{endDt}
        and to_char(add_qywx_date, #{dateFormat}) &gt;= #{startDt}
        and is_add_qywx = '1'
        group by add_date
        order by add_date asc
        )
        select COALESCE(v1.per_cnt, 0) + COALESCE(v2.per_cnt, 0) per_cnt, v1.add_date, COALESCE((select sum(v.per_cnt) sum_cnt from v1 as v where v.add_date &lt;= v1.add_date),0) +
        COALESCE((select sum(v.per_cnt) sum_cnt from v2 as v where v.add_date &lt;= v2.add_date),0) sum_cnt
        from v1 left join v2 on v1.add_date = v2.add_date
    </select>

    <select id="getPassivePushAndApplyData" resultType="map">
        select t.add_date,
               t.apply_pass,
               t.apply_total,
               case when t.apply_total = 0 then 0 else ((t.apply_pass / t.apply_total) * 100) end apply_rate
        from (
                 select to_char(add_qywx_date, #{dateFormat})                                  add_date,
                        sum(case when is_add_qywx = 1 then 1 else 0 end)                     apply_pass,
                        sum(case when push_status = 'S' and is_push = '1' then 1 else 0 end) apply_total
                 from uo_qywx_add_user_list
                 where to_char(add_qywx_date, #{dateFormat}) &lt;= #{endDt} and to_char(add_qywx_date, #{dateFormat}) &gt;= #{startDt}
                 group by add_date
                 order by add_date asc
             ) t
    </select>

    <select id="getTriggerPushAndApplyData" resultType="map">
        select t.add_date,
               t.apply_pass,
               t.apply_total,
               case when t.apply_total = 0 then 0 else ((t.apply_pass / t.apply_total) * 100) end apply_rate
        from (
                 select to_char(add_qywx_date, #{dateFormat})                                  add_date,
                        sum(case when is_add_qywx = '1' then 1 else 0 end)                     apply_pass,
                        sum(case when push_status = 'S' and is_push = '1' then 1 else 0 end) apply_total
                 from uo_qywx_trigger_list
                 where to_char(add_qywx_date, #{dateFormat}) &lt;= #{endDt} and to_char(add_qywx_date, #{dateFormat}) &gt;= #{startDt}
                 group by add_date
                 order by add_date asc
             ) t
    </select>
</mapper>