<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.CustomerBaseMapper">
    <resultMap id="contractBase" type="com.linksteady.qywx.domain.QywxChatBase">
        <result column="chat_id" jdbcType="VARCHAR" property="chatId"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="insert_dt" jdbcType="TIMESTAMP" property="insertDt"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="insert_by" jdbcType="VARCHAR" property="insertBy"/>
        <result column="group_number" jdbcType="DECIMAL" property="groupNumber"/>
        <result column="group_join" jdbcType="DECIMAL" property="groupJoin"/>
        <result column="group_out" jdbcType="DECIMAL" property="groupOut"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="owner" jdbcType="VARCHAR" property="owner"/>
        <result column="notice" jdbcType="VARCHAR" property="notice"/>
    </resultMap>

    <resultMap id="custractDetail" type="com.linksteady.qywx.domain.QywxChatDetail">
        <result column="detail_id" jdbcType="DECIMAL" property="detailId"/>
        <result column="chat_id" jdbcType="VARCHAR" property="chatId"/>
        <result column="userid" jdbcType="VARCHAR" property="userId"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="unionid" jdbcType="VARCHAR" property="unionid"/>
        <result column="join_time" jdbcType="TIMESTAMP" property="joinTime"/>
        <result column="join_scene" jdbcType="VARCHAR" property="joinScene"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    </resultMap>
    <delete id="deleteChatBase">
        delete from uo_qywx_chat_base where chat_id=#{chatId}
    </delete>
    <delete id="deleteChatDetail">
        delete from uo_qywx_chat_detail where chat_id=#{chatId}
    </delete>

    <select id="getCount" resultType="int">
        select count(*) from uo_qywx_chat_base where 1=1
        <if test="owner != '' and owner != null">
            and owner=#{owner}
        </if>
        <if test="status != '' and status != null">
            and status=#{status}
        </if>
    </select>

    <select id="getDataList" resultMap="contractBase">
        select a.chat_id,a.status,a.insert_dt,a.insert_by,
       a.group_number,a.group_join,a.group_out,a.group_name,b.name as owner,a.notice,a.create_time
        from uo_qywx_chat_base a join uo_qywx_follower_user_list b on a.owner=b.user_id where 1=1
        <if test="owner != '' and owner != null">
            and a.owner=#{owner}
        </if>
        <if test="status != '' and status != null">
            and a.status=#{status}
        </if>
            order by a.insert_dt desc limit #{limit} offset #{offset}
    </select>
    <select id="getCustomerListCount" resultType="int">
        select count(*) from uo_qywx_chat_detail where chat_id=#{chatId}
    </select>
    <select id="getCustomerList" resultMap="custractDetail">
        select userid,user_type,join_scene,join_time,user_name from (
        select a.userid,a.user_type,a.join_scene,a.join_time, b.name as user_name
        from uo_qywx_chat_detail a,uo_qywx_external_user_list b
        where  a.chat_id=#{chatId} and a.userid=b.external_userid and a.user_type='2'
        union ALL
        select a.userid,a.user_type,a.join_scene,a.join_time, c.name as user_name
        from uo_qywx_chat_detail a,uo_qywx_follower_user_list c
        where a.userid=c.user_id and a.chat_id=#{chatId} and a.user_type='1')bse limit #{limit} offset #{offset}
    </select>
    <select id="getFollowUser" resultType="com.linksteady.qywx.domain.FollowUser">
        select user_id,name from uo_qywx_follower_user_list
    </select>
    <select id="getChatBaseDetail" resultMap="contractBase">
        select a.notice,b.name as owner,a.create_time,a.group_name from uo_qywx_chat_base a join uo_qywx_follower_user_list b on a.owner=b.user_id
        where a.chat_id=#{chatId}
    </select>

    <insert id="insertDetail">
        insert into uo_qywx_chat_detail( userid, user_type, join_time, join_scene, chat_id)values
        <foreach collection="chatDetailList" item="item" separator=",">
        (#{item.userId},#{item.userType},#{item.joinTime},#{item.joinScene},#{item.chatId})
        </foreach>
    </insert>
    <insert id="insertChatBase">
        insert into uo_qywx_chat_base(chat_id,
        status,
        group_name,
        owner,
        notice,
        create_time,
        group_number)values
        <foreach collection="chatBaseList" item="item" separator=",">
            (#{item.chatId},#{item.status},#{item.groupName},#{item.owner},#{item.notice},#{item.createTime},#{item.groupNumber})
        </foreach>
    </insert>
</mapper>