<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.FollowUserMapper">

    <update id="updateFollowUser">
        UPDATE uo_qywx_follower_user_list SET
            name=#{name},
            department=#{department},
            user_order=#{userOrder},
            position=#{position},
            mobile= #{mobile},
            gender=#{gender},
            email=#{email},
            is_leader_in_dept=#{leaderInDept},
            avatar=#{avatar},
            thumb_avatar=#{thumbAvatar},
            telephone=#{telephone},
            alias=#{alias},
            address=#{address},
            open_userid=#{openUserid},
            main_department=#{mainDepartment},
            extattr=#{extattr},
            status=#{status},
            qr_code=#{qrCode},
            external_position=#{externalPosition},
            external_profile=#{externalProfile},
            update_dt=now()
        where user_id=#{userId}
    </update>

    <insert id="saveFollowerUser">
        insert into uo_qywx_follower_user_list(user_id,delete_flag,insert_dt,update_dt) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item},0,now(),now())
        </foreach>
         ON CONFLICT(user_id) DO UPDATE set delete_flag=0,update_dt=now()
    </insert>

    <update id="updateDeleteFlag">
        update uo_qywx_follower_user_list set delete_flag=1
    </update>

    <delete id="deleteFollowUser">
        delete from uo_qywx_follower_user_list where delete_flag=1
    </delete>

    <update id="updateDeptDeleteFlag">
        update uo_qywx_dept set delete_flag=1
    </update>

    <insert id="saveDept">
      insert into uo_qywx_dept(id,name,parent_id,order_no,insert_dt,update_dt,delete_flag) values(
         #{id},#{deptName},#{parentId},#{orderNo},now(),now(),0
      )  ON CONFLICT (id) DO UPDATE
      set parent_id=#{parentId}, order_no=#{orderNo},update_dt=now(),delete_flag=0
    </insert>

    <delete id="deleteDept">
        delete from  uo_qywx_dept where delete_flag=1
    </delete>
</mapper>