<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.FollowUserMapper">
    <resultMap id="followUserMap" type="com.linksteady.qywx.domain.FollowUser">
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="main_department" jdbcType="VARCHAR" property="mainDepartment"/>
        <result column="operate_flag" jdbcType="VARCHAR" property="operateFlag"/>
        <result column="insert_dt" jdbcType="VARCHAR" property="insertDt"/>
        <result column="update_dt" jdbcType="VARCHAR" property="updateDt"/>
    </resultMap>

    <update id="updateFollowUser">
        UPDATE uo_qywx_follower_user_list SET
            name=#{name},
            department=#{department},
            user_order=#{userOrder},
            position=#{position},
            mobile= #{mobile},
            gender=#{gender},
            email=#{email},
            is_leader_in_dept=#{leaderInDept},
            avatar=#{avatar},
            thumb_avatar=#{thumbAvatar},
            telephone=#{telephone},
            alias=#{alias},
            address=#{address},
            open_userid=#{openUserid},
            main_department=#{mainDepartment},
            extattr=#{extattr},
            status=#{status},
            qr_code=#{qrCode},
            external_position=#{externalPosition},
            external_profile=#{externalProfile},
            update_dt=now()
        where user_id=#{userId}
    </update>

    <insert id="saveFollowerUser">
        insert into uo_qywx_follower_user_list(user_id,delete_flag,insert_dt,update_dt) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item},0,now(),now())
        </foreach>
         ON CONFLICT(user_id) DO UPDATE set delete_flag=0,update_dt=now()
    </insert>

    <update id="updateDeleteFlag">
        update uo_qywx_follower_user_list set delete_flag=1
    </update>

    <delete id="deleteFollowUser">
        delete from uo_qywx_follower_user_list where delete_flag=1
    </delete>

    <update id="updateDeptDeleteFlag">
        update uo_qywx_dept set delete_flag=1
    </update>

    <select id="getFollowUserCount" resultType="int">
        select count(1) from uo_qywx_follower_user_list
    </select>

    <select id="getFollowUserList" resultMap="followUserMap">
        select user_id,name,main_department,operate_flag
        from uo_qywx_follower_user_list where delete_flag=0
        order by name asc
    </select>

    <select id="getFollowUserListPagging" resultMap="followUserMap">
        select user_id, name, insert_dt, update_dt,operate_flag
        from uo_qywx_follower_user_list order by user_id asc
        limit #{limit} offset #{offset}
    </select>

</mapper>