<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.ParamMapper">

    <select id="getMpAppId" resultType="string">
        select mp_appid from uo_qywx_param
    </select>

    <select id="getCorpId" resultType="string">
        select corp_id from uo_qywx_param
    </select>

    <select id="getSecret" resultType="string">
        select application_secret from uo_qywx_param
    </select>

    <update id="updateCorpInfo">
        update uo_qywx_param set corp_id=#{corpId},application_secret=#{applicationSecret}
    </update>

</mapper>