<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.QywxBaseDataMapper">

    <select id="getFollowUserList" resultType="map">
        select user_id, name, insert_dt, update_dt,operate_flag from uo_qywx_follower_user_list order by user_id asc
        limit #{limit} offset #{offset}
    </select>

    <select id="getDeptList" resultType="map">
        select
            id,
            name,
            parent_id,
            order_no,
            insert_dt,
            update_dt,
            insert_by,
            update_by
        from uo_qywx_dept order by id asc
        <if test="limit!=0 and limit !=''">
            limit #{limit} offset #{offset}
        </if>
    </select>

    <select id="getDeptCount" resultType="int">
        select count(1) from uo_qywx_dept
    </select>

    <select id="getFollowUserCount" resultType="int">
        select count(1) from uo_qywx_follower_user_list
    </select>

    <select id="getUserList" resultType="map">
        select user_id,name,main_department,operate_flag from uo_qywx_follower_user_list where delete_flag=0
    </select>
</mapper>
