<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.QywxTagMapper">

    <resultMap id="tagGroup" type="com.linksteady.qywx.domain.QywxTagGroup">
        <result property="groupId" jdbcType="VARCHAR" column="group_id"/>
        <result property="groupName" jdbcType="VARCHAR" column="group_name"/>
        <result property="groupOrder" jdbcType="DECIMAL" column="group_order"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
        <collection property="tagList" ofType="com.linksteady.qywx.domain.QywxTag">
            <result column="tag_id" jdbcType="VARCHAR" property="tagId"/>
            <result column="tag_name" jdbcType="VARCHAR" property="tagName"/>
            <result column="tag_create_time" jdbcType="TIMESTAMP" property="tagCreateTime"/>
            <result column="tag_order" jdbcType="DECIMAL" property="tagOrder"/>
            <result column="group_id" jdbcType="VARCHAR" property="groupId"/>
        </collection>
    </resultMap>
    <insert id="addTagGroup">
        insert into uo_qywx_tag_group(group_id, group_name, group_order, create_time) values (#{groupId},#{groupName},#{groupOrder},#{createTime})
    </insert>
    <insert id="addTag">
        insert into uo_qywx_tag(tag_id, tag_name, tag_create_time, tag_order, group_id) values(#{tagId},#{tagName},#{tagCreateTime},#{tagOrder},#{groupId})
    </insert>

    <select id="getTagGroup" resultMap="tagGroup">
        select t.tag_id,t.tag_name,g.group_id,g.group_name from uo_qywx_tag t,uo_qywx_tag_group g where t.group_id=g.group_id
    </select>
    <select id="queryGroupTag" resultType="int">
        select count(1) from uo_qywx_tag_group where group_name=#{groupName}
    </select>
    <select id="queryTag" resultType="int">
        select count(1) from uo_qywx_tag where group_id=#{groupid} and tag_name=#{tagName}
    </select>

</mapper>