<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.SyncTaskMapper">

    <insert id="saveFollowUser">
         insert into uo_qywx_followuser_list(corp_id,user_id,user_name,insert_dt,flag) values
        <foreach collection="followUserList" item="item" index="index" separator=",">
            (#{corpId},#{item},#{item},now(),'Y')
        </foreach>
        ON CONFLICT(user_id) DO UPDATE set flag='Y'
    </insert>

    <insert id="saveSyncTask" useGeneratedKeys="true" keyProperty="taskId" keyColumn="task_id">
        insert into uo_qywx_synctask_list(corp_id,task_type,status,insert_dt,insert_by)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.corpId},#{item.taskType},'P',#{item.insertDt},#{item.insertBy})
        </foreach>
    </insert>

    <update id="updateSyncTask">
        update uo_qywx_synctask_list set status=#{status} where task_id=#{taskId}::int4
    </update>

    <update id="updateFollowUserFlag">
        update uo_qywx_followuser_list set flag='N'
    </update>

    <delete id="deleteFollowUser">
        delete from uo_qywx_followuser_list where flag='N'
    </delete>

    <update id="updateDeptDisabled">
          update qywx_dept set enabled='N'
    </update>

    <insert id="saveDept">
         insert into qywx_dept(id,name,parent_id,order_no,insert_dt,update_dt,enabled) values(
             #{id},#{deptName},#{parentId},#{orderNo},now(),now(),'Y'
          )  ON CONFLICT (id,corp_id) DO UPDATE
          set parent_id=#{parentId}, order_no=#{orderNo},update_dt=now(),enabled='Y'
    </insert>

    <update id="savePartyChangeFlag">
         update uo_qywx_param set party_change_flag=#{status}
    </update>

    <update id="saveAuthCodeChangeFlag">
        update uo_qywx_param set saveAuthCodeChangeFlag=#{status}
    </update>

    <update id="saveFollowUserChangeFlag">
        update uo_qywx_param set follow_user_change_flag=#{status}
    </update>

    <insert id="saveExternalContactList">
        insert into uo_qywx_external_contact_list
            (
                follow_user_id,
                external_contact_id,
                state,
                user_phone,
                add_date,
                insert_dt,
                name
            ) values
        <foreach collection="externalContactList" item="item" index="index" separator=",">
            (#{item.followerUserId},#{item.externalUserid},#{item.state},#{item.remark},#{item.addDate},now(),#{item.name})
        </foreach>
        ON CONFLICT(follow_user_id,external_contact_id) DO UPDATE set user_phone=#{item.remark},name=#{item.name}
    </insert>

    <delete id="deleteExternalContact">
        delete from uo_qywx_external_contact_list where external_contact_id=#{externalUserId} and follow_user_id=#{followUserId}
    </delete>
    
    <insert id="saveExternalContact">
        insert into uo_qywx_external_contact_list
        (
            follow_user_id,
            external_contact_id,
            state,
            user_phone,
            add_date,
            insert_dt,
            name
        ) values
         (#{item.followerUserId},#{item.externalUserid},#{item.state},#{item.remark},#{item.addDate},now(),#{item.name})
        ON CONFLICT(follow_user_id,external_contact_id) DO UPDATE set user_phone=#{item.remark},name=#{item.name}
    </insert>

</mapper>