<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.UserTaskMapper">
    <resultMap id="userBuyHistoryMap" type="com.linksteady.qywx.domain.UserBuyHistory">
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="order_dt" jdbcType="VARCHAR" property="orderDt"/>
        <result column="spu_id" jdbcType="DECIMAL" property="spuId"/>
        <result column="spu_name" jdbcType="VARCHAR" property="spuName"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="order_fee" jdbcType="DECIMAL" property="orderFee"/>
        <result column="interval_days" jdbcType="DECIMAL" property="intervalDays"/>
    </resultMap>

    <resultMap id="spuInfoMap" type="com.linksteady.qywx.domain.SpuInfo">
        <result column="spu_id" jdbcType="VARCHAR" property="spuId"/>
        <result column="spu_name" jdbcType="VARCHAR" property="spuName"/>
    </resultMap>

    <resultMap id="purchStatsMap" type="com.linksteady.qywx.vo.UserPurchStatsVO">
        <result column="purch_amout" jdbcType="DECIMAL" property="purchAmout"/>
        <result column="purch_amount_level" jdbcType="DECIMAL" property="purchAmountLevel"/>
        <result column="purch_price" jdbcType="DECIMAL" property="purchPrice"/>
        <result column="purch_price_level" jdbcType="DECIMAL" property="purchPriceLevel"/>
        <result column="purch_times" jdbcType="DECIMAL" property="purchTimes"/>
        <result column="purch_times_level" jdbcType="DECIMAL" property="purchTimesLevel"/>
        <result column="purch_interval" jdbcType="DECIMAL" property="purchInterval"/>
        <result column="purch_interval_level" jdbcType="DECIMAL" property="purchIntervalLevel"/>
        <result column="discount_pct" jdbcType="DECIMAL" property="discountPct"/>
        <result column="discount_pct_level" jdbcType="DECIMAL" property="discountPctLevel"/>
        <result column="avg_discount" jdbcType="DECIMAL" property="avgDiscount"/>
        <result column="avg_discount_level" jdbcType="DECIMAL" property="avgDiscountLevel"/>
    </resultMap>

    <resultMap id="purchSpuStatsMap" type="com.linksteady.qywx.vo.UserPurchSpuStatsVO">
        <result column="purch_amout" jdbcType="DECIMAL" property="purchAmout"/>
        <result column="purch_amount_level" jdbcType="DECIMAL" property="purchAmountLevel"/>
        <result column="purch_amout_pct" jdbcType="DECIMAL" property="purchAmoutPct"/>
        <result column="purch_amout_pct_level" jdbcType="DECIMAL" property="purchAmoutPctLevel"/>
        <result column="prod_name" jdbcType="VARCHAR" property="prodName"/>
        <result column="prod_name_pct" jdbcType="DECIMAL" property="prodNamePct"/>
        <result column="expensive_prod_name" jdbcType="DECIMAL" property="expensiveProdName"/>
        <result column="expensive_prod_name_pct" jdbcType="DECIMAL" property="expensiveProdNamePct"/>
        <result column="discount_pct" jdbcType="DECIMAL" property="discountPct"/>
        <result column="discount_pct_level" jdbcType="DECIMAL" property="discountPctLevel"/>
        <result column="avg_discount" jdbcType="DECIMAL" property="avgDiscount"/>
        <result column="avg_discount_level" jdbcType="DECIMAL" property="avgDiscountLevel"/>
    </resultMap>

    <select id="getUserTodayStatus" resultType="map">
        with v1 as (
            select t1.rn, t1.spu_wid
            from wp_user_path t1,
                 (select max(rn) rn from wp_user_path where ebp_product_id = #{productId}::int8 and user_id = #{operateUserId}::integer) t2
            where ebp_product_id = #{productId}::int8
              and user_id = #{operateUserId}::integer
              and t1.rn = t2.rn
        )
        select active_type, active_dual, trunc(prob * 100, 2) prob, dual_begin, dual_end, v1.rn
        from wp_purchase_prob t1,
             v1
        where t1.spu_wid = v1.spu_wid
          and t1.rn = v1.rn
          and is_spu = '1'
        order by active_dual asc
    </select>

    <select id="getUserLastBuyDt" resultType="string">
        select ORDER_DT_WID from WP_USER_PATH t0, (select max(rn) max_rn from WP_USER_PATH where USER_ID = #{operateUserId}::integer and ebp_product_id = #{productId}::int8) t1
        where USER_ID = #{operateUserId}::integer and ebp_product_id = #{productId}::int8 and t0.rn = t1.max_rn
    </select>

    <select id="getUserTimes" resultType="map">
        select week_day, time_slot from wp_insight_user_timeslot where user_id = #{operateUserId}::integer order by week_day asc
    </select>

    <select id="getCouponListOfProduct" resultType="map">
        select coupon_id, coupon_deno, coupon_min, coupon_url, epb_product_name, to_char(coupon_valid_end, 'yyyymmdd') coupon_valid_end from wp_insight_user_assist where user_id = #{operateUserId}::integer and epb_product_id = #{productId}::bigint order by priority_no asc
    </select>

    <select id="getRecProductList" resultType="map">
        select epb_product_id,
               epb_product_name,
               priority_no,
               price,
               purch_probability,
               epb_product_url
           from wp_insight_user_assist
            where user_id = #{operateUserId}::integer
    </select>

    <select id="getUserBuyHistory" resultMap="userBuyHistoryMap">
        select user_id,
        to_char(order_dt, 'yyyy年mm月dd日 hh24:mi') order_dt,
        spu_id,
        spu_name,
        product_name,
        order_fee,
        interval_days
        from wp_insight_user_orderseries
        where user_id = #{userId}
        <if test="spuId !=null and spuId!='' and spuId != '-1'.toString() ">
            and spu_id=#{spuId}
        </if>
        order by order_dt desc
    </select>

    <select id="getSpuList" resultMap="spuInfoMap">
         select distinct
               spu_id,
               spu_name
        from wp_insight_user_orderseries
        where user_id = #{userId}::integer
        order by spu_id desc
    </select>

    <select id="getPurchStats" resultMap="purchStatsMap">
        select
            purch_amount,
            purch_amount_level,
            purch_price,
            purch_price_level,
            purch_times,
            purch_times_level,
            purch_interval,
            purch_interval_level,
            discount_pct,
            discount_pct_level,
            avg_discount,
            avg_discount_level
        from wp_user_purch_stats where user_id=#{userId}
    </select>

    <select id="getPurchSpuStats" resultMap="purchSpuStatsMap">
         select
            purch_amout,
            purch_amount_level,
            purch_amout_pct,
            purch_amout_pct_level,
            prod_name,
            prod_name_pct,
            expensive_prod_name,
            expensive_prod_name_pct,
            discount_pct,
            discount_pct_level,
            avg_discount,
            avg_discount_level
        from wp_user_purch_spu_stats where user_id=#{userId} and spu_id=#{spuId}
    </select>

    <select id="getSpuName" resultType="string">
        select spu_name from w_product_spu where spu_wid=#{spuId}
    </select>

    <select id="getFirstBuyDate" resultType="string">
          select
               to_char(min(order_dt),'YYYY年MM月DD日') firstBuyDate
          from wp_insight_user_orderseries
          where user_id=#{userId}
    </select>

    <select id="getUserValue" resultType="string">
        select
              case
                   when user_level = 'ULC_01' then '高价值低敏感'
                   when user_level = 'ULC_02' then '高价值较敏感'
                   when user_level = 'ULC_03' then '中价值高敏感'
                   when user_level = 'ULC_04' then '低价值低敏感'
                   when user_level = 'ULC_05' then '低价值高敏感' end user_level
         from pp_user_spu_value where user_id=#{userId} and spu_wid=#{spuId} limit 1
    </select>

    <select id="getLifeCycle" resultType="string">
        select
           case
             when life_cycle_node = 1 then '新手期'
             when life_cycle_node = 2 then '成长期'
             when life_cycle_node = 3 then '成熟期' end lifecycle
         from
        pp_user_spu_recmd_new
        where user_id=#{userId} and spu_wid=#{spuId} and rn_desc = 1 limit 1
    </select>
</mapper>