<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.UserMappingMapper">

<!--<update id="flushMappingInfo">-->
<!--        update w_users set-->
<!--             qywx_user_id=null,-->
<!--             qywx_mapping_flag='N',-->
<!--             qywx_mapping_date=now(),-->
<!--             qywx_follow_user_id=null-->
<!--        where qywx_user_id=#{externalUserId}-->
<!--          and qywx_follow_user_id=#{followUserId}-->
<!--   </update>-->

<!--<select id="getUserIdByPhone" resultType="long">-->
<!--        select id from w_users where mobile=#{mobile}-->
<!--    </select>-->

<!--<update id="updateMappingInfo">-->
<!--         update w_users set-->
<!--             qywx_user_id=#{externalUserId},-->
<!--             qywx_mapping_flag='Y',-->
<!--             qywx_mapping_date=now(),-->
<!--             qywx_follow_user_id=#{followUserId}-->
<!--        where id=#{userId}-->
<!--    </update>-->

</mapper>