<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.UserMapper">

    <select id="getCorpName" resultType="string">
        select auth_corp_name from qywx_application_authorizer where auth_corpid=#{corpId}
    </select>

    <insert id="saveAdminInfo">
         insert into qywx_admin_list(corp_id,user_id,auth_type,insert_dt,update_dt) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.corpId},#{item.userId},#{item.authType},now(),now())
        </foreach>
        ON CONFLICT(corp_id,user_id) DO UPDATE set auth_type=EXCLUDED.auth_type,update_dt=now()
    </insert>

    <update id="flushQywxUserAdminInfo">
         update qywx_user set IS_ADMIN='N' where corp_id=#{corpId}
    </update>

    <update id="updateQywxUserAdminInfo">
        update qywx_user u set IS_ADMIN='Y'
         from qywx_admin_list qa where u.user_id=qa.user_id and u.corp_id=qa.corp_id and u.corp_id=#{corpId}
    </update>
</mapper>