<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.WelcomeMapper">
    
    <resultMap id="welcomeMap" type="com.linksteady.qywx.domain.QywxWelcome">
        <result column="id" jdbcType="DECIMAL" property="id"/>
        <result column="welcome_name" jdbcType="VARCHAR" property="welcomeName"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="insert_by" jdbcType="VARCHAR" property="insertBy"/>
        <result column="insert_dt" jdbcType="TIMESTAMP" property="insertDt"/>
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl"/>
        <result column="pic_id" jdbcType="VARCHAR" property="picId"/>
        <result column="link_title" jdbcType="VARCHAR" property="linkTitle"/>
        <result column="link_picurl" jdbcType="VARCHAR" property="linkPicurl"/>
        <result column="link_desc" jdbcType="VARCHAR" property="linkDesc"/>
        <result column="link_url" jdbcType="VARCHAR" property="linkUrl"/>
        <result column="miniprogram_title" jdbcType="VARCHAR" property="miniprogramTitle"/>
        <result column="miniprogram_page" jdbcType="VARCHAR" property="miniprogramPage"/>
        <result column="valid_flag" jdbcType="VARCHAR" property="validFlag"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_dt" jdbcType="TIMESTAMP" property="updatetDt"/>
        <result column="msg_type" jdbcType="VARCHAR" property="msgType"/>
        <result column="miniprogram_image_name" jdbcType="VARCHAR" property="miniprogramImageName"/>
        <result column="miniprogram_image_path" jdbcType="VARCHAR" property="miniprogramImagePath"/>
    </resultMap>

    <select id="getValidWelcome" resultMap="welcomeMap">
        select id,
               welcome_name,
               content,
               insert_by,
               insert_dt,
               pic_url,
               pic_id,
               link_title,
               link_picurl,
               link_desc,
               link_url,
               miniprogram_title,
               miniprogram_page,
               update_dt,
               update_by,
               valid_flag,
               status,
               msg_type
         from uo_qywx_welcome
          where status='1'
        order by insert_dt desc limit 1
    </select>

    <insert id="saveData">
        <selectKey  resultType="java.lang.Long" order="BEFORE" keyProperty="id">
            select nextval('uo_qywx_welcome_id_seq'::regclass)
        </selectKey>
        insert into uo_qywx_welcome (id, welcome_name, content, insert_by, insert_dt, pic_url, pic_id, link_title, link_picurl, link_desc, link_url, miniprogram_title, miniprogram_page, msg_type,miniprogram_image_name,miniprogram_image_path)
        values (#{id}, #{welcomeName}, #{content}, #{insertBy}, now(), #{picUrl}, #{picId}::integer, #{linkTitle}, #{linkPicurl}, #{linkDesc}, #{linkUrl}, #{miniprogramTitle}, #{miniprogramPage},#{msgType},#{miniprogramImageName}, #{miniprogramImagePath})
    </insert>

    <select id="getDataCount" resultType="int">
        select count(1) from uo_qywx_welcome
    </select>

    <select id="getDataList" resultMap="welcomeMap">
        select
        id,
        welcome_name,
        content,
        insert_by,
        insert_dt,
        pic_url,
        pic_id,
        link_title,
        link_picurl,
        link_desc,
        link_url,
        miniprogram_title,
        miniprogram_page,
        update_dt,
        update_by,
        valid_flag,
        status,
        msg_type,
        miniprogram_image_name,
        miniprogram_image_path
         from uo_qywx_welcome
        order by insert_dt desc limit #{limit} offset #{offset}
    </select>

    <delete id="deleteById">
        delete from uo_qywx_welcome where id = #{id}
    </delete>

    <select id="getDataById" resultMap="welcomeMap">
        select
        id,
        welcome_name,
        content,
        insert_by,
        insert_dt,
        pic_url,
        pic_id,
        link_title,
        link_picurl,
        link_desc,
        link_url,
        miniprogram_title,
        miniprogram_page,
        update_dt,
        update_by,
        valid_flag,
        status,
        msg_type,
        miniprogram_image_name,
        miniprogram_image_path
        from uo_qywx_welcome where id = #{id}
    </select>

    <update id="updateData">
        update uo_qywx_welcome set (
        welcome_name,
        content,
        update_by,
        update_dt,
        pic_url,
        pic_id,
        link_title,
        link_picurl,
        link_desc,
        link_url,
         miniprogram_title,
         miniprogram_page,
         msg_type,
         miniprogram_image_name,
         miniprogram_image_path
         )
        =
         (
        #{welcomeName},
        #{content},
        #{updateBy},
        now(),
        #{picUrl},
        #{picId}::integer,
        #{linkTitle},
        #{linkPicurl},
        #{linkDesc},
        #{linkUrl},
        #{miniprogramTitle},
        #{miniprogramPage},
        #{msgType},
        #{miniprogramImageName},
        #{miniprogramImagePath})
        where id = #{id}
    </update>

    <update id="updateStartStatus">
        update uo_qywx_welcome set status = '1' where id = #{id};
        update uo_qywx_welcome set status = '0' where id &lt;&gt; #{id};
    </update>

    <update id="updateStopStatus">
        update uo_qywx_welcome set status = '0' where id = #{id}
    </update>

</mapper>