<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linksteady.qywx.dao.WelcomeMapper">
    
    <resultMap id="welcomeMap" type="com.linksteady.qywx.domain.QywxWelcome">
        <result column="id" jdbcType="DECIMAL" property="id"/>
        <result column="welcome_name" jdbcType="VARCHAR" property="welcomeName"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="insert_by" jdbcType="VARCHAR" property="insertBy"/>
        <result column="insert_dt" jdbcType="TIMESTAMP" property="insertDt"/>
        <result column="policy_type" jdbcType="VARCHAR" property="policyType"/>
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl"/>
        <result column="pic_id" jdbcType="VARCHAR" property="picId"/>
        <result column="link_title" jdbcType="VARCHAR" property="linkTitle"/>
        <result column="link_picurl" jdbcType="VARCHAR" property="linkPicurl"/>
        <result column="link_desc" jdbcType="VARCHAR" property="linkDesc"/>
        <result column="link_url" jdbcType="VARCHAR" property="linkUrl"/>
        <result column="miniprogram_title" jdbcType="VARCHAR" property="miniprogramTitle"/>
        <result column="miniprogram_page" jdbcType="VARCHAR" property="miniprogramPage"/>
        <result column="qywx_coupon_id" jdbcType="DECIMAL" property="qywxCouponId"/>
        <result column="qywx_product_id" jdbcType="DECIMAL" property="qywxProductId"/>
        <result column="valid_flag" jdbcType="VARCHAR" property="validFlag"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="msg_type" jdbcType="VARCHAR" property="msgType"/>
    </resultMap>

    <select id="getValidWelcome" resultMap="welcomeMap">
        select id,
               welcome_name,
               content,
               insert_by,
               insert_dt,
               policy_type,
               pic_url,
               pic_id,
               link_title,
               link_picurl,
               link_desc,
               link_url,
               miniprogram_title,
               miniprogram_page,
               qywx_coupon_id,
               qywx_product_id,
               update_dt,
               update_by,
               valid_flag,
               status,
               msg_type
         from uo_qywx_welcome
          where status='1'
        order by insert_dt desc limit 1
    </select>

    <insert id="saveData">
        <selectKey keyColumn="id" resultType="int" order="BEFORE" keyProperty="id">
            select nextval('uo_qywx_welcome_id_seq'::regclass)
        </selectKey>
        insert into uo_qywx_welcome (id, welcome_name, content, insert_by, insert_dt, policy_type, pic_url, pic_id, link_title, link_picurl, link_desc, link_url, miniprogram_title, miniprogram_page, qywx_coupon_id, qywx_product_id,msg_type)
        values (#{id}, #{welcomeName}, #{content}, #{insertBy}, now(), #{policyType}, #{picUrl}, #{picId}::integer, #{linkTitle}, #{linkPicurl}, #{linkDesc}, #{linkUrl}, #{miniprogramTitle}, #{miniprogramPage}, #{qywxCouponId}, #{qywxProductId},#{msgType})
    </insert>

    <select id="getDataCount" resultType="int">
        select count(1) from uo_qywx_welcome
    </select>

    <select id="getDataList" resultType="com.linksteady.qywx.domain.QywxWelcome">
        select id, welcome_name, content, insert_by, insert_dt, policy_type, pic_url, pic_id, link_title, link_picurl, link_desc, link_url, miniprogram_title, miniprogram_page, qywx_coupon_id, qywx_product_id, update_dt, update_by, valid_flag, status,msg_type from uo_qywx_welcome
        order by insert_dt desc limit #{limit} offset #{offset}
    </select>

    <delete id="deleteById">
        delete from uo_qywx_welcome where id = #{id}::integer
    </delete>

    <select id="getDataById" resultType="com.linksteady.qywx.domain.QywxWelcome">
        select id, welcome_name, content, insert_by, insert_dt, policy_type, pic_url, pic_id, link_title, link_picurl, link_desc, link_url, miniprogram_title, miniprogram_page, qywx_coupon_id, qywx_product_id, update_dt, update_by, valid_flag, status,msg_type from uo_qywx_welcome where id = #{id}::integer
    </select>

    <update id="updateData">
        update uo_qywx_welcome set (welcome_name, content, update_by, update_dt, policy_type, pic_url, pic_id, link_title, link_picurl, link_desc, link_url, miniprogram_title, miniprogram_page, qywx_coupon_id, qywx_product_id,msg_type)
        = (#{welcomeName}, #{content}, #{updateBy}, now(), #{policyType}, #{picUrl}, #{picId}::integer, #{linkTitle}, #{linkPicurl}, #{linkDesc}, #{linkUrl}, #{miniprogramTitle}, #{miniprogramPage}, #{qywxCouponId}, #{qywxProductId},#{msgType})
        where id = #{id}
    </update>

    <update id="updateStartStatus">
        update uo_qywx_welcome set status = '1' where id = #{id}::integer;
        update uo_qywx_welcome set status = '0' where id &lt;&gt; #{id}::integer;
    </update>

    <update id="updateStopStatus">
        update uo_qywx_welcome set status = '0' where id = #{id}::integer
    </update>

</mapper>