<link rel="icon" data-th-href="@{/images/favicon.ico}" type="image/x-icon"/>

<link rel="stylesheet" data-th-href="@{/plugins/bootstrap-select/bootstrap-select.min.css}">
<!--时间选择插件-->
<link rel="stylesheet" data-th-href="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css}">
<!--日期选择插件-->
<link rel="stylesheet" data-th-href="@{/plugins/bootstrap-datepicker/bootstrap-datepicker3.css}">
<!-- bootstrapTable -->
<link rel="stylesheet" data-th-href="@{/plugins/bootstrap-table/bootstrap-table.min.css}">
<!--表单验证-->
<link rel="stylesheet"  data-th-href="@{/plugins/confirm/jquery-confirm.min.css}">
<link rel="stylesheet" data-th-href="@{/css/common.css}"/>
<link rel="stylesheet" data-th-href="@{/css/iconfont.css}"/>
<link rel="stylesheet" data-th-href="@{/plugins/font-awesome-4.7.0/css/font-awesome.css}"/>
<!--------------------------------------------------------------------------------------------->
<!-- 加载公共组件 -->
<script data-th-src="@{/js/common/jquery.min.js}"></script>
<script data-th-src="@{/js/common/bootstrap.min.js}"></script>
<script data-th-src="@{/js/common/perfect-scrollbar.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-select/defaults-zh_CN.min.js}"></script>
<script data-th-src="@{/js/common/bootstrap-notify.min.js}"></script>
<!--时间选择插件-->
<script data-th-src="@{/plugins/bootstrap-datetimepicker/moment.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-datetimepicker/locale/zh-cn.js}"></script>
<!--日期选择插件-->
<script data-th-src="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
<!-- bootstrapTable -->
<script data-th-src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script data-th-src="@{/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script data-th-src="@{/plugins/jquery-validate/jquery.validate.min.js}"></script>
<script data-th-src="@{/plugins/jquery-validate/additional-methods.min.js}"></script>
<script data-th-src="@{/plugins/jquery-validate/messages_zh.min.js}"></script>
<script data-th-src="@{/js/common/main.min.js}"></script>
<script data-th-src="@{/js/common/lightyear.js}"></script>
<script data-th-src="@{/plugins/confirm/jquery-confirm.min.js}"></script>
<script data-th-src="@{/js/common/accounting.min.js}"></script>
<script data-th-src="@{/js/app/common.js}"></script>
<script data-th-src="@{/js/app/init.js}"></script>