<!--头部信息-->
<header class="lyear-layout-header">
    <nav class="navbar navbar-default">
        <div class="topbar">
            <div class="topbar-left">
                <div class="lyear-aside-toggler">
                    <span class="lyear-toggler-bar"></span>
                    <span class="lyear-toggler-bar"></span>
                    <span class="lyear-toggler-bar"></span>
                </div>
                <span class="navbar-page-title" id="pageTitle"></h5> </span>
            </div>
            <div class="text-right"><h6 style="color:red">本环境数据非真实数据！</h6></div>
            <ul class="topbar-right">
                <li class="dropdown dropdown-profile">
                    <a href="javascript:void(0)" data-toggle="dropdown">
                        <img class="img-avatar img-avatar-48 m-r-10" data-th-src="@{/images/avatar/20180414165840.jpg}" alt="用户成长系统" />
                        <span id="loginUser"><span class="caret"></span></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li> <a data-toggle="modal" data-target="#update-password"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                        <li> <a id="logoutbtn"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                    </ul>
                </li>
                <li id="selectSys">
                    <a id="navigatorUrl" href=""><i class="mdi mdi-login"></i>返回系统导航页</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div data-th-include="@{user/updatePassword}"></div>
<!--End 头部信息-->