<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>群日历</title>
    <th:block th:include="common/include :: common-css" />
    <th:block th:include="common/include::jstree-css" />
    <th:block th:include="common/include::bootstrap-table-css" />
    <th:block th:include="common/include::bootstrap-select-css" />
    <th:block th:include="common/include::jquery-confirm-css" />
    <script data-th-src="@{/plugins/clipboard.min.js}"></script>
</head>

<body class="gray-bg">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div data-th-include="common/aside"></div>
        <!-- 头部信息 -->
        <div data-th-include="common/header"></div>
        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-div ui-layout-center">
                <div class="row">
                    <div class="col-sm-12 search-collapse">
                        <div class="row">
                            <h5 class="navbar-page-title">群日历</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="hr m-t-0 m-b-5"/>
                            </div>
                        </div>
                        <form id="activity-form">
                            <div class="select-list">
                                <ul>
                                    <li>
                                        <a class="btn btn-primary btn-save" href="/page/addGroupCalendar">&nbsp;创建日历</a>
                                    </li>
                                    <li>
                                        &nbsp&nbsp&nbsp&nbsp群名称：<input type="text" name="baseName" id="name"/>
                                    </li>
                                    <li class="pull-right">
                                        <a class="btn btn-primary btn-rounded btn-sm" onclick="searchActivity()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                        <a class="btn btn-warning btn-rounded btn-sm" onclick="resetActivity()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 select-table table-striped">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn-group-sm" id="toolbar" role="group">
                                    <a class="btn btn-success btn-edit" id="btn_GroupChat">
                                        <i class="fa fa-pencil"></i>添加群聊
                                    </a>
                                    <a class="btn btn-primary btn-edit" id="btn_Details">
                                        <i class="fa fa-check-square-o"></i> 详情
                                    </a>
                                    <a class="btn btn-danger btn-edit" id="btn_delete">
                                        <i class="fa fa-check-square-o"></i> 删除
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-sm-12 table-striped">
                                <table id="baseTable" class="table table-striped table-bordered text-nowrap"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div data-th-include="qywx/groupChat/groupChat"></div>
<th:block th:include="common/include::footer" />
<th:block th:include="common/include::perfect-scrollbar" />
<th:block th:include="common/include::jquery-validate-js" />
<th:block th:include="common/include::common-js" />
<th:block th:include="common/include::jstree-js" />
<th:block th:include="common/include::bootstrap-table-js" />
<th:block th:include="common/include::bootstrap-select-js" />
<th:block th:include="common/include::jquery-confirm-js" />
<script data-th-src="@{/js/app/qywx/common/template.js}"></script>
<script data-th-src="@{/js/app/qywx/groupCalendar/groupCalendarList.js}"></script>
<script data-th-src="@{/js/app/qywx/groupChat/groupChat.js}"></script>
</body>
</html>
