<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <th:block th:include="common/include :: common-css" />
    <th:block th:include="common/include::datepicker-css" />
    <th:block th:include="common/include::bootstrap-select-css" />
    <th:block th:include="common/include::bootstrap-table-css" />
    <th:block th:include="common/include::jquery-confirm-css" />
</head>
<body class="gray-bg">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div data-th-include="common/aside"></div>
        <!-- 头部信息 -->
        <div data-th-include="common/header"></div>
        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-div ui-layout-center">
                <div class="row">
                    <div class="col-sm-12 search-collapse">
                        <div class="row">
                            <h5 class="navbar-page-title">应用可见范围</h5>
                        </div>
                    </div>
                    <div class="col-sm-12 select-table table-striped">
                        <div class="row table-responsive" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <table id="deptTable" class="table  table-striped table-bordered"></table>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 select-table table-striped">
                        <div class="row table-responsive" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <table id="userTable" class="table  table-striped table-bordered"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<th:block th:include="common/include::footer" />
<th:block th:include="common/include::perfect-scrollbar" />
<th:block th:include="common/include::jquery-validate-js" />
<th:block th:include="common/include::datepicker-js" />
<th:block th:include="common/include::common-js" />
<th:block th:include="common/include::bootstrap-select-js" />
<th:block th:include="common/include::bootstrap-table-js" />
<th:block th:include="common/include::jquery-confirm-js" />
<script>
    getUserTableData();
    getDeptTableData();

    function getUserTableData() {
        var settings = {
            url: "/qywxBaseData/getFollowUserList",
            pagination: true,
            title: '应用可见的成员列表(配置了客户联系功能)',
            sidePagination: "server",
            pageList: [10, 25, 50, 100],
            queryParams: function (params) {
                return {
                    limit: params.limit,
                    offset: params.offset
                };
            },
            columns: [{
                    field: 'userId',
                    title: '成员ID',
                    align: 'center',
                    width: 150
                }, {
                    field: 'name',
                    title: '成员名称',
                    align: 'center'
                }, {
                field: 'operateFlag',
                title: '是否运营',
                align: 'center',
                formatter: function (value, row, index) {
                    var res = "";
                    value == 'Y' ? res = "<span class=\"badge bg-success\">运营</span>" : res = "<span class=\"badge bg-warning\">不运营</span>";
                    return res;
                }
                }
            ]
        };
        $MB.initTable('userTable', settings);
    }

    function getDeptTableData() {
        var settings = {
            url: "/qywxBaseData/getDeptList",
            title: '应用的可见部门列表',
            pageSize: 10,
            pagination: true,
            sidePagination: "server",
            pageList: [10, 25, 50, 100],
            queryParams: function (params) {
                return {
                    limit: params.limit,
                    offset: params.offset
                };
            },
            columns: [{
                    field: 'id',
                    title: '部门ID',
                    align: 'center',
                    width: 150
                }, {
                    field: 'name',
                    title: '部门名称',
                    align: 'center'
                }
            ]
        };
        $MB.initTable('deptTable', settings);
    }
</script>
</body>
</html>