<div class="modal fade" id="role-permit" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title" id="role-add-modal-title">用户授权</h5>
            </div>
            <div class="modal-body">
                <form id="role-add-form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-7">
                            <div id="userRoleTree"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save" id="role-add-button" onclick="saveUserRole()">保存</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/role/rolePermit.js}"></script>